{%comment%}
<div class="container margB40">
    <div class="row">
        <div class="col-xs-6 col-sm-3 text-center"><img src="{{'ico-freeshipping.png' | asset_url}}" alt=""></div>
        <div class="col-xs-6 col-sm-3 text-center"><img src="{{'ico-120nights.png' | asset_url}}" alt=""></div>
        <div class="col-xs-6 col-sm-3 text-center"><img src="{{'ico-madeincali.png' | asset_url}}" alt=""></div>
        <div class="col-xs-6 col-sm-3 text-center"><a href="tel:+18559791416"><img src="{{'ico-callus.png' | asset_url}}" alt=""></a></div>
    </div>
</div>
{%endcomment%}

<div class="container margB40">
    <div class="row">
        <div class="col-xs-3 text-center">
            <div class="fticon-ship clearfix"><img src="{{'icon-freeshipping.svg' | asset_url}}" alt=""><span>Free Shipping <em>- Both Ways -</em></span></div>
        </div>
        <div class="col-xs-3 text-center">
            <div class="fticon-120n clearfix"><img src="{{'icon-120night.svg' | asset_url}}" alt=""><span>120-Night <em>Guarantee</em></span></div>
        </div>
        <div class="col-xs-3 text-center">
            <div class="fticon-clai clearfix"><img src="{{'icon-madeincali.svg' | asset_url}}" alt=""><span class="hidden-xs">Handcrafted <em>in California</em></span><span class="visible-xs">Handcrafted <em>in LA</em></span></div>
        </div>
        <div class="col-xs-3 text-center">
            <div class="fticon-callus clearfix"><img src="{{'icon-callus.svg' | asset_url}}" alt=""><span class="hidden-xs">Need Help?<em>855.979.1416</em></span><span class="visible-xs">Call Us<em>855.979.1416</em></span></div>
        </div>
    </div>
</div>