<style>
    /* see version B only */
    @media (max-width: 991px) {
        body #offcanvas.control{display:none} 
        body #offcanvasb.b-version{display:block} 
        .toggle-menu .navbar-toggle{
            font-size: 40px;
            background-color: #57667E;
            position: absolute;
            top: 4px;
            left: 4px;
            height: 48px;
            width: 48px;
            color: white;
            display: block;
            border-radius: 62px;
            line-height: 62px;
        } 
    }
    
    /* see version B only, hide descriptions */
    @media (max-width: 991px) {
        body #offcanvas.control{display:none} 
        body #offcanvasb.b-version{display:block} 
        .toggle-menu .navbar-toggle{
            font-size: 40px;
            background-color: #57667E;
            position: absolute;
            top: 4px;
            left: 4px;
            height: 48px;
            width: 48px;
            color: white;
            display: block;
            border-radius: 62px;
            line-height: 62px;
        }
        ul li.lvl1 ul li.lvl2 A.description{display: none !important;}
        ul li.lvl1 A.description{display: none !important;}
        section#offcanvasb  ul li{margin: 21px 0;} 

    }
</style>
<section id="offcanvasb" class="megamenu-canvas b-version">
	<nav class="offcanvas-mainnav">
		<div id="off-canvas-buttonb">
            <span class="off-canvas-nav"><img src="{{ 'icon-nav-close.svg' | asset_url }}" alt="Close"></span>
		</div>
		<ul class="nav navbar-nav megamenu">
            <li class="lvl1">
                <a href="/pages/sale" class="navico sale">{{mobile_sale_name}}</a>
                <a href="/pages/sale" class="description">Explore our deals on mattresses, yoga pillows and pet beds. {{ enddate}}.</a>
            </li>
            <li class="lvl1">
                <a href="/collections/mattresses" class="navico mattresses">Mattresses</a>
                <ul>
                    <li class="lvl2">
                        <a href="/products/oceano-mattress">Oceano Mattress <sup>best-selling</sup></a>
                        <a href="/products/oceano-mattress" class="description">#1 rated luxury mattress, 9 layers of premium materials. Medium-plush feel.</a>
                    </li>
                    <li class="lvl2">
                        <a href="/products/crystal-cove-mattress">Crystal Cove Mattress <sup>vegan</sup></a>
                        <a href="/products/crystal-cove-mattress" class="description">For the active lifestyle, dual-feel, charcoal infused foam &amp; latex. Promotes therapeutic recovery &amp; restorative sleep.</a>
                    </li>
                    <li class="lvl2">
                        <a href="/products/cedar-natural-luxe-mattress">Cedar Mattress <sup>organic</sup></a>
                        <a href="/products/cedar-natural-luxe-mattress" class="description">The pinnacle of eco-conscious green mattress design. Medium to moderately plush experience.</a>
                    </li>
                    <li class="lvl2">
                        <a href="/products/cypress-memory-foam-mattress">Cypress Memory Foam Mattress <sup>new</sup></a>
                        <a href="/products/cypress-memory-foam-mattress" class="description">Our best-selling and most affordable charcoal-foam mattress now available in hybrid.</a>
                    </li>
                    {% comment %}
                    <li class="lvl2">
                        <a href="/products/ojai-mattress">Ojai Hybrid Mattress</a>
                        <a href="/products/ojai-mattress" class="description">Our most affordable hybrid with cooling gel memory foam. Medium feel.</a>
                    </li>
                    {% endcomment %}
                    <li class="lvl2 text-center pills">
                        <p class="text-center">
                            <a href="/collections/mattresses" class="navpill">See All</a>
                            &nbsp;|&nbsp;
                            <a href="/pages/mattress-comparison" class="navpill">Compare</a>
                        </p>
                    </li>
                </ul>
            </li>
            <li class="lvl1">
                <a href="/pages/sale" class="navico bedding">Bedding</a>
                <ul>
                    <li class="lvl2">
                        <a href="/collections/foundations-frames-bases">Foundations, Frames &amp; Bases</a>
                        <a href="/collections/foundations-frames-bases" class="description">Complete your set with our minimalist foundation, frame or adjustable base.</a>
                    </li>
                    <li class="lvl2">
                        <a href="/collections/luxury-sheets-and-mattress-protectors">Sheets, Blankets & Protectors</a>
                    </li>
                    <li class="lvl2">
                        <a href="/collections/luxury-memory-foam-pillows">Pillows</a>
                        <a href="/collections/pillows" class="description">Natural and cooling memory foam pillows matching your mattress.</a>
                    </li>
                    <li class="lvl2">
                        <a href="/collections/mattress-toppers">Mattress Toppers</a>
                        <a href="/collections/mattress-toppers" class="description">Add softness and luxury to your existing mattress with our GreenGuard Gold certified latex or memory foam toppers.</a>
                    </li>
                    <li class="lvl2 text-center pills">
                        <p class="text-center">
                            <a href="/collections/bedding" class="navpill">See All Bedding</a>
                        </p>
                    </li>
                </ul>
            </li>
            <li class="lvl1">
                <a href="/collections/crystal-cove-yoga" class="navico yoga">Crystal Cove Yoga</a>
                <a href="/collections/crystal-cove-yoga" class="description">The Crystal Cove Yoga pillow collection is 100% Certified Vegan by Vegan Action.</a>
            </li>
            <li class="lvl1">
                <a href="/collections/baby-kids" class="navico babies">Babies & Kids</a>
                <a href="/collections/baby-kids" class="description">A beautiful collection of natural and non-toxic mattresses and pillows for the little ones.</a>
            </li>
            <li class="lvl1">
                <a href="/collections/pets" class="navico pets">Pet Beds</a>
                <a href="/collections/pets" class="description">Stylish therapeutic and waterproof pet beds, easy to clean, and beautiful in your home.</a>
            </li>
            <li class="lvl1">
                <a role="button" data-toggle="collapse" href="#collapseLearn" aria-expanded="false" aria-controls="collapseLearn" class="navico learn defaultCollapsed">Learn</a>
                <ul class="collapse" id="collapseLearn">
                    {% for child_link in linklists.learn.links %}
                        <li class="lvl2">
                            <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li class="lvl1">
                <a href="/blogs/news" class="navico blog">Blog</a>
            </li>
            <li class="lvl1 search">
                <a href="/search?type=product" class="navico search">Search</a>
                <form action="/search" method="get" class="input-group search-bar" role="search">
                    {% comment %}
                    Uncomment the following hidden input to only show products in your search results
                    {% endcomment %}
                    <input type="hidden" name="type" value="product">
                    <input type="text" name="q" placeholder="Product, feature, ..." value=""  onclick="this.value=='{{ settings.search_placeholder }}'?this.value='':''" onblur="this.value==''?this.value='{{ settings.search_placeholder }}':''" class="input-group-field" aria-label="Search Site" autocomplete="off">
                    <span class="searchIco">
                        <input type="submit" class="nav-search" value="Search">
                    </span>
                </form>
            </li>
        </ul>
    </nav>
</section>

{% comment %}
<section id="offcanvas" class="megamenu-canvas control">
    <nav class="offcanvas-mainnav">
        <div id="off-canvas-button">
            <span class="off-canvas-nav"><i class="icon_close"></i></span>
        </div>
        <ul class="nav navbar-nav megamenu">
          <li class="currency-mobile">{% include 'currencies-mobile' %}</li>
			{% for link in linklists.main-menu.links %}
                {% assign hasMega = false %}
                {% assign intMega = 0 %}
                {% assign link_title = link.title | downcase %}
                {% assign fullwidth = '' %}
                {% for i in (1..5) %}
                    {% capture apmegamenu %}apmenuitem_enable_{{ i }}{% endcapture %}
                    {% capture apmegamenu_title %}apmenuitem_title_{{ i }}{% endcapture %}
                    {% assign megamenu_title = settings[apmegamenu_title] | strip | downcase %}
                    {% if settings[apmegamenu] %}
                        {% if link_title == megamenu_title %}
                            {% assign hasMega = true %}
                            {% assign intMega = i %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if hasMega %}
                    {% capture apfullwidth %}apmenuitem_fullwidth_{{ intMega }}{% endcapture %}
                    {% if settings[apfullwidth] %}
                        {% assign fullwidth = 'full-width' %}
                    {% else %}
                        {% assign fullwidth = 'aligned-center' %}
                    {% endif %}
                    <li class="parent dropdown {{ fullwidth }} {% if link.active %}active{% endif %}">
                      	<i class="icon_plus"></i>
                        <a class="dropdown-toggle has-category" href="{{ link.url }}" title="{{ link.title }}">
                            <span class="menu-title">{{ link.title }}</span>
                        </a>
                        {% assign mega_link_handle = link.handle %}

                    </li>
                {% else %}
                    {% if linklists[link.handle] != empty %}
                        <li class="parent dropdown {% if link.active %}active{% endif %}">
                            <p class="h3">
                              <i class="icon_plus"></i>
                              <a class="dropdown-toggle has-category" href="{{ link.url }}" title="{{ link.title }}">
                                  <span class="">{{ link.title }}</span>
                              </a>
                            </p>
                            <ul class="level-1">
                              {% for child_link in linklists[link.handle].links %}
                              {% if linklists[child_link.handle] != empty %}
                              <li class="parent dropdown-submenu {% if child_link.active %}active{% endif %}">
                                <p class="h3"><i class="icon_plus"></i>
                                  <a class="dropdown-toggle" data-toggle="dropdown" href="{{ child_link.url }}" title="{{ child_link.title }}">
                                    <span class="">{{ child_link.title }}</span>
                                  </a>
                                </p>
                                      <ul class="level-2">
                                        {% for child_link1 in linklists[child_link.handle].links %}
                                        {% if linklists[child_link1.handle] != empty %}
                                        <li class="parent dropdown-submenu {% if child_link1.active %}active{% endif %}">
                                        <p class="h3"><i class="icon_plus"></i>
                                          <a class="dropdown-toggle" href="{{ child_link1.url }}" title="{{ child_link1.title }}">
                                            <span class="">{{ child_link1.title }}</span>
                                          </a>
                                          </p>
                                                <ul class="level-3">
                                                  {% for child_link2 in linklists[child_link1.handle].links %}
                                                  <li class="{% if child_link2.active %}active{% endif %}">
                                                    <a class="" href="{{ child_link2.url }}" title="{{ child_link2.title }}">
                                                      <span class="">{{ child_link2.title }}</span>
                                                    </a>
                                                  </li>
                                                  {% endfor %}
                                                </ul>
                                        </li>
                                        {% else %}
                                        <li class="{% if child_link1.active %}active{% endif %}">
                                          <a class="" href="{{ child_link1.url }}" title="{{ child_link1.title }}">
                                            <span class="">{{ child_link1.title }}</span>
                                          </a>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                      </ul>
                              </li>
                              {% else %}
                              <li class="{% if child_link.active %}active{% endif %}">
                                <a class="" href="{{ child_link.url }}" title="{{ child_link.title }}">
                                  <span class="">{{ child_link.title }}</span>
                                </a>
                              </li>
                              {% endif %}
                              {% endfor %}
                            </ul>

                        </li>
                    {% else %}
                        <li class="{% if link.active %}active{% endif %}">
                            <a class="" href="{{ link.url }}" title="{{ link.title }}" target="_self">
                                <span class="">{{ link.title }}</span>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
          <li class="search-mobile">
          	{% include 'search-bar' %}
          </li>
        </ul>
	</nav>
</section>
{% endcomment %}

<script>
    /*
  jQuery('.btn-menu-canvas').click(function(){
  	if(jQuery('#offcanvas').hasClass('active')){
		jQuery('body').removeClass('off-canvas-active');
      	jQuery('#offcanvas').removeClass('active');
      	jQuery('.wrapper-container').removeClass('offcanvas-push');
      }else{
        jQuery('body').addClass('off-canvas-active');
        jQuery('#offcanvas').addClass('active');
        jQuery('.wrapper-container').addClass('offcanvas-push');
      }
  });
  jQuery('#off-canvas-button').click(function(){
  		jQuery('#offcanvas').removeClass('active');
      	jQuery('.wrapper-container').removeClass('offcanvas-push');
  });

    jQuery(document).mouseup(function (e){

     var container = jQuery("#offcanvas");

    if (!container.is(e.target) // if the target of the click isn't the container...
        && container.has(e.target).length === 0) // ... nor a descendant of the container
    {
        jQuery('#offcanvas').removeClass('active');
      	jQuery('.wrapper-container').removeClass('offcanvas-push');
    }

  });
    
    
    

  jQuery("#offcanvas .navbar-nav ul").hide();
    jQuery("#offcanvas .navbar-nav li p.h3 i").addClass("accordion-show");

    //var iconAccordion = jQuery("#offcanvas .navbar-nav li h3 i");

    jQuery("#offcanvas .navbar-nav li p.h3 A").click(function(e){
        e.preventDefault();
        if(jQuery(this).parent().next().is(":visible")){
            jQuery(this).parent().addClass("accordion-show");
        }else{
            jQuery(this).parent().removeClass("accordion-show");
        }
        jQuery(this).parent().next().toggle(400);
        if(jQuery(this).siblings().hasClass("icon_plus")){
            jQuery(this).siblings().removeClass("icon_plus");
            jQuery(this).siblings().addClass("icon_minus-06");
        }else{
            jQuery(this).siblings().removeClass("icon_minus-06");
            jQuery(this).siblings().addClass("icon_plus");
        }
    });
    */
</script>

<script>
    /*
$(document).ready(function() {
    function checkWidth() {
        var windowSize = $(window).width();
        if (windowSize < 991) {
            $("p.h3 i:first-of-type").removeClass( "icon_plus" ).addClass( "icon_minus-06" );
            $(".level-1 p.h3 i").addClass( "icon_plus" );
            $("ul.level-1:first-of-type").css("display", "block");
            $("ul.level-1 li.parent:first-of-type p.h3 i:first-of-type").removeClass( "icon_plus" ).addClass( "icon_minus-06" );
            $("li.parent:first-of-type ul.level-2:first-of-type").css("display", "block");
        }
    }
    // Execute on load
    checkWidth();
    // Bind event listener
    $(window).resize(checkWidth);
});
*/
</script>



<script>
    //NEW NAV
    jQuery('.btn-menu-canvas').click(function(){
        if(jQuery('#offcanvasb').hasClass('active')){
            jQuery('body').removeClass('off-canvas-active');
            jQuery('#offcanvasb').removeClass('active');
            jQuery('.wrapper-container').removeClass('offcanvas-push');
        }else{
            jQuery('body').addClass('off-canvas-active');
            jQuery('#offcanvasb').addClass('active');
            jQuery('.wrapper-container').addClass('offcanvas-push');
        }
    });
    jQuery('#off-canvas-buttonb').click(function(){
        jQuery('#offcanvasb').removeClass('active');
        jQuery('.wrapper-container').removeClass('offcanvas-push');
    });

    jQuery(document).mouseup(function (e){

        var container = jQuery("#offcanvasb");

        if (!container.is(e.target) // if the target of the click isn't the container...
            && container.has(e.target).length === 0) // ... nor a descendant of the container
        {
            jQuery('#offcanvasb').removeClass('active');
            jQuery('.wrapper-container').removeClass('offcanvas-push');
        }

    });
    $(document).ready(function() {
        $('#collapseLearn').collapse({
            toggle: false
        });
        $('#collapseLearn').on('show.bs.collapse', function () {
            $("a.learn").addClass("open");
        });
        $('#collapseLearn').on('hide.bs.collapse', function () {
            $("a.learn").removeClass("open");
        });
    });
</script>