{% if settings.display_blog_home %}	
<div class="main-blog">
    {% if settings.blog_title != blank %}<p class="title">{{ settings.blog_title }}</p></div>{% endif %}

   <style>
       #latest-blogs A{
           /*text-decoration: underline;*/
       }
       #latest-blogs A:HOVER{
           text-decoration: underline !important;
       }
</style>
    <div class="box-content">
      <div id="latest-blogs" class="owl-carousel owl-theme">

        {% for article in blogs.news.articles limit:settings.blog_limit %}
          
        <div class="item">
          <div class="blog-item">     
            {% if article.image %}
              <a href="{{ article.url }}" title="{{ article.title }}" style="display: block;margin-bottom: 20px;">
                  {% assign imgName = article.image.src | remove: 'articles/' | split:'?' | first %}
                  
                  <img data-src="https://brentwood-home-blog.imgix.net/{{ imgName }}?ch=Width,DPR&w=480&dpr=1&fit=clip" alt="{{ article.title | escape }}" class="lazy">
               </a>
                {% endif %}
                
              <p class="hpblog-title"><a href="{{ article.url }}" title="{{ article.title }}" class="underline">{{ article.title | truncate: 40 }}</a></p>
            
                <div class="short-des">
                    {%comment%}{% if article.excerpt.size > 0 %}
                        {{ article.excerpt }}
                    {% else %}
                        <p>{{ article.content | strip_html | truncatewords: 15 }}</p>
                    {% endif %}{%endcomment%}

                    <p>{{ article.content | strip_html | truncatewords: 15 }} <a href="{{ article.url }}" title="{{ article.title }}" class="underline"><strong>Continue Reading</strong></a></p>
                </div>
            
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
   <!--<p class="text-center"><a href="/blog" class="cta" title="Read more on our blog">Read more on our blog</a></p>-->
    <p class="text-center"><a href="/blog" title="Read more on our blog" class="cta solid text-center">Read more on our blog</a></p>
   </div>
{% endif %}
