<!-- FLEXSLIDER -->
<style>
    .flexslider .slides > li{
        background-color: #f9f9f9;
    }
    .embed-container { 
        position: relative;
        left: 0; 
        right: 0;
        top: 50%;
        /* video height / video width */
        /*padding-bottom: 66.2%;*/
        /* the above value * 0.5 */
        /*margin-top: -28.1%;*/
        height: 0;
        overflow: hidden;
    } 
    .embed-container iframe, .embed-container object, .embed-container embed { 
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%; 
    }
</style>

{% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
{% assign imgName = featured_image | remove: 'products/' %}
<div class="col-xs-12 col-md-7 col-lg-7" id="product-image-main">
    <section class="slider" style="position: relative;">
        {% if sale %}
        <div class="sale-badge-wrap testB">
            <div class="sale-badge">
                <p>{{ sale }}</p>
            </div>
        </div>
        {% endif %}
        <!-- -->
        <div id="flexPlaceholder">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://brentwood-home-products.imgix.net/{{ imgName }}?ch=Width,DPR&w=767&dpr=1&fit=clip">
                <source media="(min-width: 768px)" data-srcset="https://brentwood-home-products.imgix.net/{{ imgName }}?ch=Width,DPR&w=1024&dpr=1&fit=clip">
                <img src="https://brentwood-home-products.imgix.net/{{ imgName }}?w=1024&q=50" alt="{{product.title}}" alt="{{product.title}}" loading="eager">
            </picture>
        </div>
        {% if product.handle == "foundation" %}
           {% comment %}Embed copy in images for foundation only {% endcomment %}
            <div class="flexslider">
                <ul class="slides">
                    {% for image in product.images %}
                        {% assign videotag = image.alt | escape %}
                        {% assign imgName = image | remove: 'products/' | split:'?' | first %}
                        <li data-thumb="https://brentwood-home-products.imgix.net/{{ imgName }}?ch=Width,DPR&w=150&h=150">   
                            {% if videotag contains 'vimeo' %}
                            <div class='embed-container '>
                                <!--https://player.vimeo.com/video/###-->
                                <iframe src="{{ image.alt }}?title=0&byline=0&portrait=0" width="640" height="360" id="video_1" frameborder="0"></iframe>
                            </div>
                            {% else %}
                                <picture>
                                    <source media="(max-width: 767px)" data-srcset="https://brentwood-home-products.imgix.net/{{ imgName }}?w=1024&txtalign=right,bottom&txt=*Foundation%20only.%20Bed%20frame%20and%20mattress%20not%20included.&txtclr=454545&txtsize=14 1x,
                                                                                    https://brentwood-home-products.imgix.net/{{ imgName }}?w=767&fit=max&q=40&dpr=2&txtalign=right,bottom&txt=*Foundation%20only.%20Bed%20frame%20and%20mattress%20not%20included.&txtclr=454545&txtsize=16 2x,
                                                                                    https://brentwood-home-products.imgix.net/{{ imgName }}?w=767&fit=max&q=20&dpr3&txtalign=right,bottom&txt=*Foundation%20only.%20Bed%20frame%20and%20mattress%20not%20included.&txtclr=454545&txtsize=16 3x">
                                    <source media="(min-width: 768px)" data-srcset="https://brentwood-home-products.imgix.net/{{ imgName }}?w=1024&txtalign=right,bottom&txt=*Foundation%20only.%20Bed%20frame%20and%20mattress%20not%20included.&txtclr=454545&txtsize=14 1x,
                                                                                    https://brentwood-home-products.imgix.net/{{ imgName }}?w=1024&fit=max&q=40&dpr=2&txtalign=right,bottom&txt=*Foundation%20only.%20Bed%20frame%20and%20mattress%20not%20included.&txtclr=454545&txtsize=16 2x,
                                                                                    https://brentwood-home-products.imgix.net/{{ imgName }}?w=1024&fit=max&q=20&dpr3&txtalign=right,bottom&txt=*Foundation%20only.%20Bed%20frame%20and%20mattress%20not%20included.&txtclr=454545&txtsize=16 3x">
                                    <!--{% if forloop.first == true %}
                                    <img src="https://brentwood-home-products.imgix.net/{{ imgName }}?ch=Width,DPR&w=1024&dpr=1&fit=clip&txtalign=right,bottom&txt=*Foundation%20only.%20Bed%20frame%20and%20mattress%20not%20included.&txtclr=454545&txtsize=14" alt="{{ product.title | escape }} View {{ forloop.index }}" loading="eager">
                                    {% else %}
                                    <img data-src="https://brentwood-home-products.imgix.net/{{ imgName }}?ch=Width,DPR&w=1024&dpr=1&fit=clip&txtalign=right,bottom&txt=*Foundation%20only.%20Bed%20frame%20and%20mattress%20not%20included.&txtclr=454545&txtsize=14" src="https://brentwood-home-products.imgix.net/{{ imgName }}?w=1024&blur=500&q=10" alt="{{ product.title | escape }} View {{ forloop.index }}" loading="lazy">
                                    {% endif %}-->


                                    <img srcset="https://brentwood-home-products.imgix.net/{{ imgName }}?w=834&txtalign=right,bottom&txt=*Foundation%20only.%20Bed%20frame%20and%20mattress%20not%20included.&txtclr=454545&txtsize=14 1x,
                                https://brentwood-home-products.imgix.net/{{ imgName }}?w=834&fit=max&q=40&dpr=2&txtalign=right,bottom&txt=*Foundation%20only.%20Bed%20frame%20and%20mattress%20not%20included.&txtclr=454545&txtsize=14 2x,
                                https://brentwood-home-products.imgix.net/{{ imgName }}?w=834&fit=max&q=20&dpr=3&txtalign=right,bottom&txt=*Foundation%20only.%20Bed%20frame%20and%20mattress%20not%20included.&txtclr=454545&txtsize=14 3x"
                                src="https://brentwood-home-products.imgix.net/{{ imgName }}?w=834&txtalign=right,bottom&txt=*Foundation%20only.%20Bed%20frame%20and%20mattress%20not%20included.&txtclr=454545&txtsize=14" alt="{{product.title}}">
                                </picture>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <div class="flexslider">
                            <ul class="slides">
                                {% for image in product.images %}
                                {% assign videotag = image.alt | escape %}
                                    {% assign imgName = image | remove: 'products/' | split:'?' | first %}
                                <li data-thumb="https://brentwood-home-products.imgix.net/{{ imgName }}?ch=Width,DPR&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&w=160&h=120&crop=focalpoint&dpr=1 1x,
                                    https://brentwood-home-products.imgix.net/{{ imgName }}?ch=Width,DPR&crop=focalpoint&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&w=160&h=120&fit=crop&dpr=2 2x,
                                    https://brentwood-home-products.imgix.net/{{ imgName }}?ch=Width,DPR&crop=focalpoint&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&w=160&h=120&fit=crop&dpr=3 3x">
                                    {% if videotag contains 'vimeo' %}
                                        <div class='embed-container '>
                                            <!--https://player.vimeo.com/video/###-->
                                            <iframe src="{{ image.alt }}?title=0&byline=0&portrait=0" width="640" height="360" id="video_1" frameborder="0"></iframe>
                                        </div>
                                    {% else %}

                                            <picture>
                                                <source data-srcset="https://brentwood-home-products.imgix.net/{{ imgName }}?w=834&auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 1x,
                                                                     https://brentwood-home-products.imgix.net/{{ imgName }}?w=834&auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 2x,
                                                                     https://brentwood-home-products.imgix.net/{{ imgName }}?w=834&auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 3x" 
                                                                     media="(min-width: 768px)">

                                                <source data-srcset="https://brentwood-home-products.imgix.net/{{ imgName }}?w=767&auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 1x,
                                                                     https://brentwood-home-products.imgix.net/{{ imgName }}?w=767&auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 2x,
                                                                     https://brentwood-home-products.imgix.net/{{ imgName }}?w=767&auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 3x" 
                                                                     media="(min-width: 480px) and (max-width: 767px)">

                                                <source data-srcset="https://brentwood-home-products.imgix.net/{{ imgName }}?w=480&auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 1x,
                                                                     https://brentwood-home-products.imgix.net/{{ imgName }}?w=480&auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 2x,
                                                                     https://brentwood-home-products.imgix.net/{{ imgName }}?w=480&auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 3x" 
                                                                     media="(min-width: 320px) and (max-width: 479px)">


                                                <img class="lazy" src="https://brentwood-home-products.imgix.net/{{ imgName }}?w=834&blur=500&q=10" data-src="https://brentwood-home-products.imgix.net/{{ imgName }}?w=834 1x,
                                        https://brentwood-home-products.imgix.net/{{ imgName }}?w=1660&fit=max&auto=compress,format&q=40&dpi=72&dpr=2 2x,
                                        https://brentwood-home-products.imgix.net/{{ imgName }}?w=2490&fit=max&auto=compress,format&q=20&dpi=72&dpr=3 3x"
                                         alt="{{ product.title | escape }} View {{ forloop.index }}">

                                            </picture>


{% comment %}
                                        <picture>
                                                <source data-srcset="https://brentwood-home-products.imgix.net/{{ imgName }}?w=834&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 1x,
                                                                     https://brentwood-home-products.imgix.net/{{ imgName }}?w=834&fit=crop&dpr=2&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 2x,
                                                                     https://brentwood-home-products.imgix.net/{{ imgName }}?w=834&fit=crop&dpr=3&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 3x" 
                                                                     media="(min-width: 768px)">

                                                <source data-srcset="https://brentwood-home-products.imgix.net/{{ imgName }}?w=767&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 1x,
                                                                     https://brentwood-home-products.imgix.net/{{ imgName }}?w=767&fit=crop&dpr=2&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 2x,
                                                                     https://brentwood-home-products.imgix.net/{{ imgName }}?w=767&fit=crop&dpr=3&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 3x" 
                                                                     media="(min-width: 480px) and (max-width: 767px)">

                                                <source data-srcset="https://brentwood-home-products.imgix.net/{{ imgName }}?w=480&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 1x,
                                                                     https://brentwood-home-products.imgix.net/{{ imgName }}?w=480&fit=crop&dpr=2&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 2x,
                                                                     https://brentwood-home-products.imgix.net/{{ imgName }}?w=480&fit=crop&dpr=3&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 3x" 
                                                                     media="(min-width: 320px) and (max-width: 479px)">


                                                <img class="lazy" src="https://brentwood-home-products.imgix.net/{{ imgName }}?w=834&blur=500&q=10" data-src="https://brentwood-home-products.imgix.net/{{ imgName }}?w=834 1x,
                                        https://brentwood-home-products.imgix.net/{{ imgName }}?w=1660&fit=max&q=40&dpr=2 2x,
                                        https://brentwood-home-products.imgix.net/{{ imgName }}?w=2490&fit=max&q=20&dpr=3 3x"
                                         alt="{{ product.title | escape }} View {{ forloop.index }}">

                                            </picture>

{% endcomment %}
                                    {% endif %}
                                </li>
                                {% endfor%}
                              </ul>
                        </div>
        {% endif %}
    </section>
</div>
