<div class="container section">
    <div class="row">
        <div class="col-xs-12 col-sm-10 text-center col-sm-offset-1">
           <h2 class="quote">“Our Hybrid Latex Mattress is the New Benchmark for Comfort, with a Revolutionary Use of Alternative Materials and Environmental Responsibility.”</h2>
        </div>
        <div class="col-xs-12">
           <div class="embed-container text-center" style="padding-top: 0;">
                <iframe src="https://player.vimeo.com/video/437199288?muted=1&autoplay=1&loop=1&title=0&byline=0&autopause=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center wow fadeInRight">
           <div class="badge_price">
               <p class="text-center">
                   <span>from</span>
                   $799
               </p>
           </div>



            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_flower_natural.jpg?flip=h&rect=910,150,1192,1192&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_flower_natural.jpg?flip=h&rect=910,0,1192,1649&w=555">
                <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_flower_natural.jpg?flip=h&rect=910,0,1192,1649&w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_flower_natural.jpg?flip=h&rect=910,0,1192,1649&w=555" alt="A Better Memory Foam Mattress For Less">
            </picture>

<!-- <img
    alt="A Better Memory Foam Mattress For Less"
    class="lazy"
    src="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_flower_natural.jpg?flip=h&rect=910,0,1192,1649&w=555"
    data-src="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_flower_natural.jpg?rect=910,0,1192,1649&w=555&blur=500&q=10"
    data-srcset="ttps://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_flower_natural.jpg?flip=h&rect=910,150,1192,1192&w=768&ch=Width,DPR&q=55 767w, https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_flower_natural.jpg?flip=h&rect=910,0,1192,1649&w=555 555w"
    data-sizes="220px"
/> -->


        </div>
        <div class="col-xs-12 col-sm-6 flexV wow fadeInLeft">
            <div>
                <h3>alternative, natural & recycled materials</h3>
                <h2>The Most Affordable,<br>Eco-Friendly Hybrid<br>Latex Mattress</h2>
                <p><strong>Introducing an eco-smart alternative to disposable mattresses.</strong> Upcycled denim, performance fibers from recycled water bottles, flax seed pads — our Hybrid Latex Mattress reimagines how a luxury mattress can be made. It’s also robustly supportive and incredibly comfortable. A zone-targeted, 100% GOLS organic certified latex foam core, an ActivEdge™ Quantum® Edge Coil Unit with up to 975 8-inch coils, and 100% GOTS organic certified cotton ensure the sustainable, revolutionary materials are only half the story. Its innovative design is a rebuke to low-quality, landfill-bound mattresses made with extractive, environmentally damaging materials.   
            </div>
        </div>
    </div>
</div>


<div class="container section mattress19_cutout">
    <div class="inside">
        <div class="beautiful pos2">
            <h2 class="text-center">The Perfect Medium Feel</h2>
            <p><img src="https://s3-brentwoodhome.imgix.net/products/feels/5_feel_scale.svg" alt="Medium feel"></p>
        </div>
        <picture>
            <source media="(max-width: 520px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_medium_feel.jpg?w=768&rect=334,0,1300,1300&ch=Width,DPR&q=55">
            <source media="(min-width: 521px) and (max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_medium_feel.jpg?w=768ch=Width,DPR&q=55">
            <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_medium_feel.jpg?w=1280">
            <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_medium_feel.jpg?w=1280&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_medium_feel.jpg?w=1280" alt="{{ product.title }} medium feel">
        </picture>
    </div>
</div>

<div class="container section">
    <div class="row">
        <div class="col-xs-12 col-sm-10 text-center col-sm-offset-1">
           <h2 class="title-break">Eco-Luxury Materials & Details</h2>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_material_layers_latex.jpg?rect=3151,144,2931,2931&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_material_layers_latex.jpg?rect=3151,144,2931,4056&w=555&flip=h">
                <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_material_layers_latex.jpg?rect=3151,144,2931,4056&w=555&blur=300&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_material_layers_latex.jpg?rect=3151,144,2931,4056&w=555" alt="Materials in the hybrid latex mattress">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV">
            <div>
                <h3>on the inside</h3>
                <h2>Natural, Alternative<br>&amp; Recycled Materials</h2>
                <p>
                    <strong>100% Natural Plush Wool</strong><br>
                    A natural thermoregulating and fire retardant layer adds plush comfort. STANDARD 100 by OEKO-TEX® certified. 
                </p>
                <p>
                    <strong>4 Inches of 100% GOLS Organic Certified Latex + Patent-Pending Zones</strong><br>
                    Sourced from real rubber trees, this contoured, articulated foam core has three zones of targeted support for your body’s natural curves. GOLS, FSC®, eco-INSTITUT®, and Rainforest Alliance® certified.
                </p>
                <p>
                    <strong>Renewable Flax Seed Fiber Pad</strong><br>
                    Works as an amazing transition layer, essential to our Hybrid Latex Mattress. The flax pad rests between our comfort and support layers, buffering the two systems effortlessly. 
                </p>
                <p>
                    <strong>Up to 975 Supportive Coils from Recycled Steel</strong><br>
                    Individually-wrapped coils provide optimal pressure relief and spinal support, all the way to the edge!
                </p>
                <p>
                    <strong>100% Recycled Denim Base Layer</strong><br>
                    Upcycled scrap denim for a supportive yet breathable base layer made from waste-reducing materials.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_organic_natural_numbers.jpg?rect=125,550,1487,1487&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_organic_natural_numbers.jpg?rect=125,210,1487,2058&w=555">
                <img class="lazy" loading="lazy" src="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_organic_natural_numbers.jpg?rect=125,210,1487,2058&w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_organic_natural_numbers.jpg?rect=125,210,1487,2058&w=555" alt="Organic, Recycled  & Functional hybrid latex mattress">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6 flexV">
            <div>
                <h3>On the outside</h3>
                <h2>Organic, Recycled &amp; Functional</h2>
                <ol class="numbers">
                    <li><strong>Breathable Organic Cotton</strong><br>
                    100% GOTS organic certified cotton from India adds breathability and a gentle, luxurious feel.</li>
                    <li><strong>Gorgeous Panels from Recycled Plastic</strong><br>
                    Recycled ocean-bound plastic water bottles from REPREVE® are repurposed into a ludicrously soft, durable performance fiber with water repellency. Compared to making what's called virgin fiber, this innovative fiber requires no new petroleum, emitting fewer greenhouse gases and conserving water and energy in the process.</li>
                    <li><strong>Six Hand-Stitched Handles</strong><br>
                    Because a quality mattress can be heavy, six reinforced, handsewn handles simplify moving and rotating your new mattress.</li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="container section">
    <div class="row">
        <div class="col-xs-12 col-sm-10 text-center col-sm-offset-1">
           <h2 class="title-break">An Inside Story Like No Other!</h2>
        </div>
    </div>
</div>

<div class="container section matBorder" style="background-color: antiquewhite;">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center">
            <!-- <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_3zones_latex.jpg?rect=2043,1500,2606,2606&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_3zones_latex.jpg?rect=2043,785,2606,3606&w=555">
                <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_3zones_latex.jpg?rect=2043,785,2606,3606&w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_3zones_latex.jpg?rect=2043,785,2606,3606&w=555" alt="Patent-Pending Zoned Latex Foam">
            </picture> -->
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_latex_tree.jpg?rect=0,227,1583,1583&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_latex_tree.jpg?rect=0,0,1518,2100&w=555">
                <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_latex_tree.jpg?rect=0,0,1518,2100&w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_latex_tree.jpg?rect=0,0,1518,2100&w=555" alt="Patent-Pending Zoned Latex Foam">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV">
            <div>
                <h3>100% NATURAL LATEX FROM TREES</h3>
                <h2>Patent-Pending<br>Zoned Latex Foam</h2>
                <p><strong>We built a better foam core.</strong> Using 100% GOLS organic certified natural Dunlop latex, our innovative, patent-pending foam makes waves. Literally. We cut the foam to create zig-zagging waves that reduce motion transfer and create targeted support. At the bottom and top thirds of the latex, the contours elongate to reduce pressure points in the shoulder and hips and allow for a more contouring shape. In the middle third, they tighten, for ideal spinal support.
                </p>
                <p class="text-center">
                    <img src="{{ 'rainforest-alliance-certified.svg' | asset_url}}" alt="Forest Alliance Certified" style="max-width: 100px;">
                    <img src="{{ 'gols-logo.png' | asset_url}}" alt="GOLS organic certified latex" style="max-width: 100px;">
                    <img src="{{ 'fsc-logo-small.png' | asset_url}}" alt="FSC logo" style="max-width: 100px;">
                    <img src="{{ 'oeko-tex-logo-hin.png' | asset_url}}" alt="Oeko-Tex Standard" style="max-width: 110px;">
                </p>
            </div>
        </div>
    </div>
</div>


<div class="container section matBorder" style="background-color: aliceblue;">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_denim_layer.jpg?rect=2043,1500,2606,2606&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_denim_layer.jpg?rect=2043,785,2606,3606&w=555">
                <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_denim_layer.jpg?rect=2043,785,2606,3606&w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_denim_layer.jpg?rect=2043,785,2606,3606&w=555" alt="Recycled Denim from Blue Jeans">
            </picture>
            <!-- <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_recycled_denim.jpg?rect=0,227,1583,1583&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_recycled_denim.jpg?rect=0,0,1518,2100&w=555">
                <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_recycled_denim.jpg?rect=0,0,1518,2100&w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_recycled_denim.jpg?rect=0,0,1518,2100&w=555" alt="Recycled Denim from Blue Jeans">
            </picture> -->
        </div>
        <div class="col-xs-12 col-sm-6 flexV">
            <div>
                <h3>airy and cool</h3>
                <h2>Recycled Denim<br> from Blue Jeans</h2>
                <p><strong>We upcycle denim scraps — the byproduct from when all cotton denim jeans are cut — to create a support layer that is natural, breathable, and reduces waste.</strong> Our recycled denim pad is a high-performance thermoregulating material. So it isn’t stuffy, keeping your mattress airy and cool. It’s also free from volatile organic compounds (VOCs), which contribute to indoor air pollution. By upcycling this natural material, we prevent the denim scraps from ending up in the landfill. 
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container section matBorder" style="background-color: seashell;">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_natural_cover.jpg?rect=2400,1800,2606,2606&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_natural_cover.jpg?rect=2400,785,2606,3606&w=555">
                <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_natural_cover.jpg?rect=2400,785,2606,3606&w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_natural_cover.jpg?rect=2400,785,2606,3606&w=555" alt="Recycled Plastic Made Soft & Beautiful">
            </picture>
            <!-- <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_repreveplastic.jpg?rect=0,227,1583,1583&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_repreveplastic.jpg?rect=0,0,1518,2100&w=555">
                <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_repreveplastic.jpg?rect=0,0,1518,2100&w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_repreveplastic.jpg?rect=0,0,1518,2100&w=555" alt="RRecycled Plastic Made Soft & Beautiful">
            </picture> -->
        </div>
        <div class="col-xs-12 col-sm-6 flexV">
            <div>
                <h3>durable and breathable</h3>
                <h2>Recycled Plastic<br>Made Soft & Beautiful</h2>
                <p><strong>We use REPREVE® in the gentle cover of each Hybrid Latex Mattress. The material harnesses up to 57 ocean-bound plastic bottles per mattress to create a recycled polyester performance fabric.</strong> It’s durable, soft, and breathable. REPREVE® is used for activewear, swimwear, and outerwear — among brands like Patagonia®, Quicksilver®, and Toms® — and now mattresses. The effort reduces waste while repurposing single-use plastic bottles, buoying its functionality while preventing them from entering our waste streams and waterways.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container section matBorder" style="background-color: whitesmoke;">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_flax_fiber_flower.jpg?rect=0,227,1583,1583&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_flax_fiber_flower.jpg?rect=0,0,1518,2100&w=555">
                <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_flax_fiber_flower.jpg?rect=0,0,1518,2100&w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_flax_fiber_flower.jpg?rect=0,0,1518,2100&w=555" alt="Recycled Plastic Made Soft & Beautiful">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV">
            <div>
                <h3>STRONG & ECO-FRIENDLY</h3>
                <h2>Eco Amazing Flax Fiber Pad</h2>
                <p><strong>We've fallen in love with this beautiful, durable fiber — one of the oldest cultivated plants in human history — derived from a blue flowering annual.</strong> It’s a hardy, renewable resource that grows with little water in even the harshest of environments. Flax seed fiber is inherently eco-friendly and hardy, requiring sunshine and almost no water to thrive. Ours is processed without chemicals and breathes naturally. 
                </p>
            </div>
        </div>
    </div>
</div>


<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_natural_greenguard_certified.jpg?rect=1565,0,2880,2880&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_natural_greenguard_certified.jpg?rect=1565,0,3018,4176&w=555">
                <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_natural_greenguard_certified.jpg?rect=1565,0,3018,4176&w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_natural_greenguard_certified.jpg?rect=1565,0,3018,4176&w=555" alt="Greenguard Gold Certified Mattress">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6 flexV">
            <div>
                <h3>GREENGUARD GOLD CERTIFIED</h3>
                <h2>Kick Toxins Out of Bed</h2>
                <p><strong>We don’t use nasty flame retardants, heavy metals, formaldehyde, or phthalates.</strong> Natural materials like latex, wool, cotton, and flax seed mean our Hybrid Latex Mattress is luxurious, safe, and eco-friendly. A GREENGUARD Gold certification validates the mattress has been independently tested and verified to meet the most rigorous standards for chemical emissions and volatile organic compounds (VOCs).
                </p>
                <p class="text-center"><img src="{{ 'greenguard-logo-full.svg' | asset_url }}" alt="Greenguard Gold Certified" style="max-width: 100px; width: 100px;margin-top: 30px;" ></p>
            </div>
        </div>
    </div>
</div>
<div id="bio"></div>
<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/GOTSGOLS_factory_brentwood.jpg?rect=0,500,1080,1080&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/GOTSGOLS_factory_brentwood.jpg?rect=0,62,1080,1494&w=555">
                <img class="lazy" loading="lazy" src="https://s3-brentwoodhome.imgix.net/GOTSGOLS_factory_brentwood.jpg?rect=0,62,1080,1494&w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/GOTSGOLS_factory_brentwood.jpg?rect=0,62,1080,1494&w=555" alt="Handmade in  the City of Angels">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV">
            <div>
                <h3>OUR ORGANIC CERTIFIED FACTORY</h3>
                <h2>Handmade in <br>the City of Angels</h2>
                <p><strong>Our GOTS & GOLS certified factory means our valued team receives fair wages, comprehensive benefits, and safe working conditions.</strong> GOTS also prohibits the use of the kinds of toxic chemicals commonly used in textile processing that can cause cancer, birth defects, and other serious illnesses. We are passionate about protecting the environment, our factory team, and you.</p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row">
        <div class="col-xs-12 col-sm-10 text-center col-sm-offset-1">
           <h2 class="quote">“Brentwood Delivers an Affordable<br>Alternative to the Disposable Mattress”</h2>
        </div>
    </div>
</div>

<div class="container section">
    <picture>
        <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_couple-view-03.jpg?w=768&rect=600,0,2102,2102">
        <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_couple-view-03.jpg?w=1480">
        <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_couple-view-03.jpg?w=1280&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_couple-view-03.jpg?w=1480" alt="Brentwood Delivers an Affordable Alternative to the Disposable Mattress">
    </picture>
</div>
{% assign isLastSectionLeft = false %}
