<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center wow fadeInRight">
           <div class="badge_price">
               <p class="text-center">
                   <span>from</span>
                   $399
               </p>
           </div>
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/temp/2E4A2757.JPG?rect=820,200,1307,1307&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/temp/2E4A2757.JPG?rect=820,0,1307,1809&w=555">
                <img loading="lazy" src="https://s3-brentwoodhome.imgix.net/products/temp/2E4A2757.JPG?rect=820,0,1307,1809&w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/temp/2E4A2757.JPG?rect=820,0,1307,1809&w=555" alt="A Better Memory Foam Mattress For Less">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV wow fadeInLeft">
            <div>
                <h3>Simply the best sleep</h3>
                <h2>A Better Memory Foam Mattress For Less</h2>
                <p><strong>The Cypress Memory Foam Mattress costs less than the competition while providing more comfort and quality.</strong> Our breathable, charcoal-infused memory foam is CertiPUR-US® certified, which means you can trust our memory foam was made without ozone depleters, flame retardants, mercury, lead, formaldehyde, and other dangerous materials. 
                </p>
                <p class="text-center"><img src="{{ 'certipur-badge.png' | asset_url}}" alt="CertiPUR-US® certified" style="max-width: 80px; width: 80px;margin-top: 30px;"></p>
            </div>
        </div>
    </div>
</div>


<div class="container section cypress_2020_cutout">
    <div class="inside">
        <div class="beautiful">
            <h2 class="text-center">Beautiful Inside&nbsp;&amp;&nbsp;Out</h2>
        </div>
        <picture>
            <source media="(max-width: 520px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/temp/cypressmattress-cutoutlayers.jpg?w=768&rect=480,0,1920,1920&ch=Width,DPR&q=55">
            <source media="(min-width: 521px) and (max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/temp/cypressmattress-cutoutlayers.jpg?w=768ch=Width,DPR&q=55">
            <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/temp/cypressmattress-cutoutlayers.jpg?w=1280">
            <img loading="lazy" src="https://s3-brentwoodhome.imgix.net/products/temp/cypressmattress-cutoutlayers.jpg?w=1280&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/temp/cypressmattress-cutoutlayers.jpg?w=1280" alt="{{ product.title }} construction">
        </picture>
    </div>
    <br>
    <h2 class="text-center">All-foam or Hybrid</h2>
    <div class="row">
        <div class="col-xs-12 col-md-5 col-lg-5 col-md-offset-1">
            <p class="h3 subs text-left" style="text-align: left;">charcoal-infused foam for cooling</p>
            <p class="line-right-a"><strong>Charcoal is full of beneficial properties that are perfect for mattresses, like temperature and moisture control.</strong> Plus, it’s completely natural. The Cypress Memory Foam mattress is charcoal-infused, so while the bed has plush contouring comfort, it is also hyper-functional. The charcoal-infused foam works hard so all you do is stay dry, cool, and comfortable — all night long.</p>
        </div>
        <div class="col-xs-12 col-md-5 col-lg-5">
            <p class="h3 subs text-left" style="text-align: left;">hybrid for more support &amp; breathability</p>
            <p class="line-right-b">Want extra firmness and breathability? <strong>Our hybrid upgrade includes all the benefits of the Memory Foam Mattress plus our innerspring unit with coil support.</strong> Precision crafted, pocketed coils effortlessly distribute your body’s weight, absorb partner movement, and relieve aching pressure points, while structurally reinforcing the perimeter to eliminate that “roll-off-the-edge” feeling.</p>
        </div>
    </div>
    <br><br>
    <h2 class="text-center">Classic 11" or Luxe 13"</h2>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="row">
                <div class="col-xs-6">
                    <p class="h3 subs">Classic 11" All-Foam</p>
                </div>
                <div class="col-xs-6">
                    <p class="h3 subs">Classic 11" Hybrid</p>
                </div>
            </div>
            <div class="text-center">
                <picture>
                    <source media="(max-width: 520px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/cypressmattress-classic-sketch.png?w=550&ch=Width,DPR&q=55">
                    <source media="(min-width: 521px) and (max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/cypressmattress-classic-sketch.png?w=550=Width,DPR&q=55">
                    <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/cypressmattress-classic-sketch.png?w=550">
                    <img loading="lazy" src="https://s3-brentwoodhome.imgix.net/products/cypress/cypressmattress-classic-sketch.png?w=550&blur=500&q=10" data-src="/products/cypress/cypressmattress-classic-sketch.png?w=550" alt="{{ product.title }} construction">
                </picture>
            </div>
            <br><br>
            <p class="line-right-a">The Cypress Memory Foam Mattress comes in two heights — 11 and 13 inches. <strong>The 11-inch-thick Classic mattress has ample support and is suitable for most sleepers. Available in all-foam or hybrid.</strong></p>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="row">
                <div class="col-xs-6">
                    <p class="h3 subs">Luxe 13" All-Foam</p>
                </div>
                <div class="col-xs-6">
                    <p class="h3 subs">Luxe 13" Hybrid</p>
                </div>
            </div>
            <div class="text-center">
                <picture>
                    <source media="(max-width: 520px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/cypressmattress-luxe-sketch.png?w=550&ch=Width,DPR&q=55">
                    <source media="(min-width: 521px) and (max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/cypressmattress-luxe-sketch.png?w=550=Width,DPR&q=55">
                    <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/cypressmattress-luxe-sketch.png?w=550">
                    <img loading="lazy" src="https://s3-brentwoodhome.imgix.net/products/cypress/cypressmattress-luxe-sketch.png?w=550&blur=500&q=10" data-src="/products/cypress/cypressmattress-luxe-sketch.png?w=550" alt="{{ product.title }} construction">
                </picture>
            </div>
            <br><br>
            <p class="line-right-b">Upgrade to the 13-inch Luxe version for increased pressure relief and plush comfort. It’s <strong>ideal for couples, heavier individuals, or side-sleepers</strong> or others who need a thicker mattress with more support from the <strong>two extra inches of charcoal-infused memory foam.</strong></p>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row warranties margTB30">
        <div class="col-xs-6 col-sm-2 col-sm-offset-1">
            <img loading="lazy" data-src="https://brentwood-home.imgix.net/iconv2-gelmemoryfoam.svg" alt="Gel Memory Foam">
            <p>Gel<br> Memory Foam</p>
        </div>
        <div class="col-xs-6 col-sm-2">
            <img loading="lazy" data-src="https://brentwood-home.imgix.net/iconv2-motionisolation.svg" alt="Motion Isolation">
            <p>Motion<br>Isolation</p>
        </div>
        <div class="col-xs-6 col-sm-2">
            <img loading="lazy" data-src="https://brentwood-home.imgix.net/iconv2-certipurus.svg" alt="CertiPUR-US&reg; Foam">
            <p>CertiPUR-US&reg;<br>Foam</p>
        </div>
        <div class="col-xs-6 col-sm-2">
            <img loading="lazy" data-src="https://brentwood-home.imgix.net/iconv2-pressurerelieving.svg" alt="Pressure Relieving">
            <p>Pressure<br>Relieving</p>
        </div>
        <div class="col-xs-12 col-sm-2">
            <img loading="lazy" data-src="https://brentwood-home.imgix.net/iconv2-ecofriendly.svg" alt="Eco-friendly">
            <p>Eco-friendly</p>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center col-sm-push-6 wow fadeInLeft">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/temp/adjustableDL2A3695.jpg?rect=0,660,1920,1920&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/temp/adjustableDL2A3695.jpg?rect=0,236,1777,2459&w=555">
                <img loading="lazy" src="https://s3-brentwoodhome.imgix.net/products/temp/adjustableDL2A3695.jpg?rect=0,236,1777,2459&w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/temp/adjustableDL2A3695.jpg?rect=0,236,1777,2459&w=555" alt="Adjustable Frame Ready">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV wow col-sm-pull-6 fadeInRight">
            <div>
                <h3>make it personal</h3>
                <h2>Adjustable Frame Ready</h2>
                <p><strong>Pair your Cypress Memory Foam Mattress with our <a href="/products/adjustable-bed-frame">Adjustable Bed Frame</a>.</strong> Its design allows custom positioning for both the upper and lower body, providing the utmost personalized comfort while in bed. A wireless remote control also has presets of the three most common positions — reading, anti-snore, and zero gravity. Just tap the button and the bed will automatically reposition to the desired setting.  
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center wow fadeInRight">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/temp/cypressUL-DL2A2710.jpg?rect=0,420,1876,1876&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/temp/cypressUL-DL2A2710.jpg?rect=0,174,1876,2596&w=555">
                <img loading="lazy" src="https://s3-brentwoodhome.imgix.net/products/temp/cypressUL-DL2A2710.jpg?rect=0,174,1876,2596&w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/temp/cypressUL-DL2A2710.jpg?rect=0,174,1876,2596&w=555" alt="NGreenguard Gold Certified Mattress">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV wow fadeInLeft">
            <div>
                <h3>CERTIFIED FOR LOW EMISSIONS</h3>
                <h2>Greenguard Gold Certified Mattress</h2>
                <p>The Cypress Memory Foam Mattress is completely GREENGUARD Gold Certified by UL Environment. It means that it has been scientifically tested in environmental chambers to meet some of the world’s most rigorous, third-party emissions standards for prolonged chemical exposure and pollutants, such as volatile organic compounds (VOCs), formaldehyde and phthalates.
                </p>
                <p class="text-center"><img src="{{ 'logo-greenguard-2.svg' | asset_url }}" alt="Greenguard Gold Certified Mattress" style="max-width: 100px; width: 100px;margin-top: 30px;" ></p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <picture>
        <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/temp/DL2A3067.JPG?rect=829,0,1708,1708&w=768">
        <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/temp/DL2A3067.JPG?rect=682,289,2087,1277&w=1480">
        <img loading="lazy" src="https://s3-brentwoodhome.imgix.net/products/temp/DL2A3067.JPG?rect=682,289,2087,1277&w=1280&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/temp/DL2A3067.JPG?rect=682,289,2087,1277&w=1480" alt="Woman listening to music">
    </picture>
</div>
<div class="container section">
    <picture>
        <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/temp/2E4A3875.JPG?rect=0,470,1447,1447&w=768">
        <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/temp/2E4A3875.JPG?rect=143,165,2716,1658&w=1480">
        <img loading="lazy" src="https://s3-brentwoodhome.imgix.net/products/temp/2E4A3875.JPG?rect=143,165,2716,1658&w=1280&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/temp/2E4A3875.JPG?rect=143,165,2716,1658&w=1480" alt="Woman sitting down eating cookies">
    </picture>
</div>
{% assign isLastSectionLeft = false %}