{% include 'product-warranties' %}
  
<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center">
            <picture>
                <source media="(max-width: 767px)" srcset="https://s3-brentwoodhome.imgix.net/CrystalCove_83668.jpg?rect=3000,400,3700,4310&w=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" srcset="https://s3-brentwoodhome.imgix.net/CrystalCove_83668.jpg?rect=3000,400,3700,4310&w=555">
                <img src="https://s3-brentwoodhome.imgix.net/CrystalCove_83668.jpg?rect=3000,400,3700,4310&w=555" alt="Mindfully designed for active lifestyles">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV">
            <div>
                <h2>Mindfully designed for active lifestyles</h2>
                <p>The Crystal Cove mattress balances the latest in sleep technology — activated charcoal-infused memory foam and precision-tuned coils — with essential natural elements, such as 100% natural Dunlop latex. With its luxe stitched gray cover, the Crystal Cove mattress perfectly complements our best-selling yoga and meditation pillows; as well any healthy, California-inspired lifestyle.</p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center">
            <picture>
                <source media="(max-width: 767px)" srcset="https://s3-brentwoodhome.imgix.net/CrystalCove_83510.jpg?rect=1090,0,4684,4684&w=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" srcset="https://s3-brentwoodhome.imgix.net/CrystalCove_83510.jpg?rect=4000,220,3000,4310&w=555">
                <img src="https://s3-brentwoodhome.imgix.net/CrystalCove_83510.jpg?rect=4000,220,3000,4310&w=555" alt="One Mattress, two comfort options">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6 flexV">
            <div>
                <h2>One Mattress, <br>two comfort options</h2>
                <p>The Crystal Cove mattress features a unique dual-sided design for a customizable, ultra-luxurious sleeping experience. To change your preference, simply flip the mattress.</p>
                <p>For active recovery, choose the naturally cool activated charcoal-infused plush memory foam side. For more supportive experience, opt for the gentle-firm natural latex side.</p>
            </div>
        </div>
    </div>
</div>
<style>
    DIV.inside .matTip P STRONG{
        display: block;
        margin: 10px 0 5px 0;
        float: none;
    }
</style>
<div class="container section cc_mattress_cutout">
    <span class="text-center margTB7050"></span>
    <div class="inside">
        <div class="matTip charcoal">
            <img src="https://s3-brentwoodhome.imgix.net/activatedcharcoal.png?w=80&h=80" alt="Activated Charcoal" class="rdthumb">
            <p><strong>Luxury-Plush Side</strong><span>Activated charcoal-infused memory foam for cooling and purifying the body, plus a layer of flow foam for pressure relief.</span><span class="mobile">Activated charcoal-infused memory foam.</span></p>
            <div class="arrow">
                <div class="pointer"></div>
            </div>
        </div>
        <div class="matTip latex">
            <img src="https://s3-brentwoodhome.imgix.net/latex-closeup.png?w=80&h=80" alt="100% natural latex" class="rdthumb">
            <p><strong>Gentle-Firm Side</strong><span>100% natural Dunlop latex for uplighting and highly-responsive support.</span><span class="mobile">100% natural Dunlop latex.</span></p>
            <div class="arrow">
                <div class="pointer"></div>
            </div>
        </div>
        <div class="matTip springs">
            <img src="https://s3-brentwoodhome.imgix.net/rd-spring-closeup.png?w=80&h=80" alt="Activated Charcoal" class="rdthumb">
            <p><strong>5-Zone Support Core</strong><span>Up to 1,414 zoned springs to relieve shoulders and hips pressure.</span></p>
            <div class="arrow">
                <div class="pointer"></div>
            </div>
        </div>
        <picture>
            <source media="(max-width: 480px)" srcset="https://s3-brentwoodhome.imgix.net/products/crystalcove/crystalcove-cutout-nozip.jpg?rect=611,0,1078,611&w=480&ch=Width,DPR">
            <source media="(min-width: 768px)" srcset="https://s3-brentwoodhome.imgix.net/products/crystalcove/crystalcove-cutout-nozip.jpg?w=1170">
            <img src="https://s3-brentwoodhome.imgix.net/products/crystalcove/crystalcove-cutout-nozip.jpg?w=1170" alt="Crystal Cove mattress">
        </picture>
    </div>
</div>
<div class="container section side">
    <h2 class="text-center margTB7050">Choose your side:</h2>
    <div class="row row-eq-height">
        <div class="col-xs-12 col-sm-6">
            <div class="side charcoal">
                <div class="top">
                    <p class="h3">Luxury-Plush Side</p>
                    <h4>Active Recovery</h4>
                    <div class="thumb">
                        <img src="https://s3-brentwoodhome.imgix.net/activatedcharcoal.png?w=240&h=240" alt="Activated Charcoal" class="rdthumb">
                    </div>
                </div>
                <div class="content">
                    <h4><i>Activated Charcoal-Infused Memory Foam</i></h4>
                    <p class="text-left">
                        Activated charcoal is one of the most effective cooling and purifying minerals. Its many healing properties include trapping toxins and chemicals in the body, allowing them to be flushed out and preventing reabsorption. Our unique foam has been specifically designed to energize in response to body heat, which is the key to providing highly adaptive comfort and excellent pressure-relief.
                    </p>
                    <div class="row warranties margTB30">
                        <div class="col-xs-4">
                            <img src="https://brentwood-home.imgix.net/iconv2-gelmemoryfoam.svg" alt="Charcoal Memory Foam">
                            <p>Charcoal<br>Memory Foam</p>
                        </div>
                        <div class="col-xs-4">
                            <img src="https://brentwood-home.imgix.net/iconv2-motionisolation.svg" alt="Motion Isolation">
                            <p>Motion<br>Isolation</p>
                        </div>
                        <div class="col-xs-4">
                            <img src="https://brentwood-home.imgix.net/iconv2-certipurus.svg" alt="CertiPUR-US&reg; Foam">
                            <p>CertiPUR-US&reg;<br>Foam</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="side latex">
                <div class="top">
                    <p class="h3">Gentle-Firm Side</p>
                    <h4>Responsive Support</h4>
                    <div class="thumb">
                        <img src="https://s3-brentwoodhome.imgix.net/latex-closeup.png?w=240&h=240" alt="100% natural latex" class="rdthumb">
                    </div>
                </div>
                <div class="content">
                    <h4><i>100% Natural<br> Dunlop Latex</i></h4>
                    <p class="text-left">
                        Our 100% natural Dunlop latex is breathable, durable, naturally responsive, non-toxic, anti-microbial and eco-INSTITUT® certified. Rest easy knowing this premium, natural material is eco-friendly and healthy. Our sustainably-farmed latex provides support where you need it, for a gentle-firm night of zoned pressure-point relief.
                    </p>
                    <div class="row warranties margTB30">
                        <div class="col-xs-4">
                            <img src="https://brentwood-home.imgix.net/iconv2-naturallatex.svg" alt="Natural Latex">
                            <p>Natural<br>Latex</p>
                        </div>
                        <div class="col-xs-4">
                            <img src="https://brentwood-home.imgix.net/iconv2-pressurerelieving.svg" alt="Pressure Relieving">
                            <p>Pressure<br>Relieving</p>
                        </div>
                        <div class="col-xs-4">
                            <img src="https://brentwood-home.imgix.net/iconv2-ecofriendly.svg" alt="Eco-friendly">
                            <p>Eco-friendly</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h2 class="text-center margTB7050">At the core, precision support</h2>
<div class="container section cc_coils">
    <div class="image">
        <div class="row flex">
            <div class="col-xs-12 col-sm-6 flexV">
                <div class="drop hidden-xs">
                    <h3>5 Strategic Zones</h3>
                    <p>Precision crafted, pocketed coils — made in the US from recycled, single-tempered steel — effortlessly distribute your body’s weight and relieve aching pressure points. Made of up to 1,414 individually pocketed coils, they also provide critical zoned support for your hips and shoulders, while structurally reinforcing the perimeter to eliminate that “roll-off-the-edge” feeling.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="visible-xs-block">
        <h2>5 Strategic Zones</h2>
        <p>Precision crafted, pocketed coils — made in the US from recycled, single-tempered steel — effortlessly distribute your body’s weight and relieve aching pressure points. Made of up to 1,414 individually pocketed coils, they also provide critical zoned support for your hips and shoulders, while structurally reinforcing the perimeter to eliminate that “roll-off-the-edge” feeling.</p>
    </div>
</div>

<div class="container section text-center">
    <picture>
        <source media="(max-width: 767px)" srcset="https://s3-brentwoodhome.imgix.net/CrystalCove_83551.jpg?rect=783,0,4600,4600&h=480&ch=Width,DPR&q=55">
        <source media="(min-width: 768px)" srcset="https://s3-brentwoodhome.imgix.net/CrystalCove_83551.jpg?rect=0,582,7000,3000&w=1140">
        <img src="https://s3-brentwoodhome.imgix.net/CrystalCove_83551.jpg?rect=0,582,7000,3000&w=1140" alt="Crystal Cove mattress">
    </picture>
</div>

<div class="container section text-center">
    <picture>
        <source media="(max-width: 767px)" srcset="https://s3-brentwoodhome.imgix.net/products/crystalcove/crystalcove-sideview2.jpg?h=480&ch=Width,DPR&q=55">
        <source media="(min-width: 768px)" srcset="https://s3-brentwoodhome.imgix.net/products/crystalcove/crystalcove-sideview2.jpg?w=1140">
        <img src="https://s3-brentwoodhome.imgix.net/products/crystalcove/crystalcove-sideview2.jpg?w=1140" alt="Crystal Cove mattress side view">
    </picture>
</div>

<div class="container section margTB120">
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-sm-offset-2">
            <div>
                <h2>Details that matter</h2>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <p>Our four upholstered, high-quality handles elegantly frame all sides of the mattress, seamlessly blending into the border and ensuring ease-of-use when flipping your mattress. The luxe gray mattress cover matches style with function, and is designed in the style of our Crystal Cove Yoga Collection. </p>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center">
            <picture>
                <source media="(max-width: 767px)" srcset="https://s3-brentwoodhome.imgix.net/factory2.jpg?w=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" srcset="https://s3-brentwoodhome.imgix.net/factory2.jpg?&w=555&q=55">
                <img src="https://s3-brentwoodhome.imgix.net/factory2.jpg?w=555&q=55" alt="Handcrafted in Southern California">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV">
            <div>
                <h2>Handcrafted in Southern California</h2>
                <p>All Brentwood Home products are inspired by a passion for California living, the state’s unparalleled natural beauty and strict quality standards for manufacturing with respect to impact on health and the environment. This passion comes through in every detail of each product. All of our mattresses are handcrafted in our factory located just outside of Los Angeles.</p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center">
            <picture>
                <source media="(max-width: 767px)" srcset="https://s3-brentwoodhome.imgix.net/RubberTreeForest72dpi.jpg?rect=1200,440,3500,4310&w=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" srcset="https://s3-brentwoodhome.imgix.net/RubberTreeForest72dpi.jpg?rect=2768,0,2352,3413&w=555">
                <img src="https://s3-brentwoodhome.imgix.net/RubberTreeForest72dpi.jpg?rect=2768,0,2352,3413&w=555" alt="Natural &amp; Non-Toxic">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6 flexV">
            <div>

                <h2>Natural &amp; Non-Toxic</h2>
                <p>All of our mattresses are made with a combination of natural and non-toxic materials. We use only Certi-PUR-US® certified memory foams, eco-INSTITUT® certified natural latex, and a flame-retardant barrier made from natural silica quartz — completely free from chemical flame retardants.</p>
                <p class="text-center"><img src="{{ 'certipur-badge.png' | asset_url }}" alt="CertiPUR-US" style="max-width: 75px; width: 75px;margin-top: 30px;" >&nbsp;&nbsp;<img src="{{ 'logo-eco-institut.png' | asset_url }}" alt="Eco-institut logo" style="max-width: 75px; width: 75px;margin-top: 30px;" ></p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center">
            <picture>
                <source media="(max-width: 767px)" srcset="https://s3-brentwoodhome.imgix.net/CrystalCove_83092.jpg?rect=1200,440,3500,4310&w=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" srcset="https://s3-brentwoodhome.imgix.net/CrystalCove_83092.jpg?rect=1580,0,2727,4802&w=555">
                <img src="https://s3-brentwoodhome.imgix.net/CrystalCove_83092.jpg?rect=1580,0,2727,4802&w=555" alt="Greenguard Gold Certified Non-Toxic Mattress">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV">
            <div>
                <h2>Greenguard Gold Certified Non-Toxic Mattress</h2>
                <p>The Crystal Cove mattress is completely <strong>GREENGUARD Gold Certified</strong> by UL Environment. It means that it has been scientifically tested in environmental chambers to meet some of the world’s most rigorous, third-party emissions standards for prolonged chemical exposure and pollutants, such as volatile organic compounds (VOCs), formaldehyde and phthalates. <a href="https://intercom.help/brentwood-home-b4d83ef0a14f/health-safety-and-sustainability/are-your-mattresses-greenguard-gold-certified" title="Greenguard Gold Certified">View Certificate</a>.</p>
                <p class="text-center"><img src="{{ 'logo-greenguard-2.svg' | asset_url }}" alt="Greenguard Gold Certified Non-Toxic Mattress" style="max-width: 100px; width: 100px;margin-top: 30px;" ></p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center">
            <picture>
                <source media="(max-width: 767px)" srcset="https://s3-brentwoodhome.imgix.net/CrystalCove_83723.jpg?rect=1200,440,3500,4310&w=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" srcset="https://s3-brentwoodhome.imgix.net/CrystalCove_83723.jpg?rect=1580,0,2727,4802&w=555">
                <img src="https://s3-brentwoodhome.imgix.net/CrystalCove_83723.jpg?rect=1580,0,2727,4802&w=555" alt="Vegan Certified">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6 flexV">
            <div>
                <h2>Certified Vegan</h2>
                <p>The Crystal Cove mattress is 100% Certified Vegan by Vegan Action. This means the mattress is free from animal products (like feathers, wool and down) or byproducts that have been tested on animals. In addition, although we do manufacture some items that do use natural animal products like wool, we have stringent requirements in place for cleaning the machines in-between use, so cross-contamination will not occur. If you practice a vegan lifestyle, you can rest assured that your Crystal Cove mattress is aligned with your values. </p>
                <p class="text-center"><img src="{{ 'veganlogo.svg' | asset_url }}" alt="Vegan Certified" style="max-width: 100px; width: 100px;margin-top: 30px;" ></p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center">
            <picture>
                <source media="(max-width: 767px)" srcset="https://s3-brentwoodhome.imgix.net/CrystalCove_82688.jpg?w=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" srcset="https://s3-brentwoodhome.imgix.net/CrystalCove_82688.jpg?rect=1960,0,2686,4446&w=555">
                <img src="https://s3-brentwoodhome.imgix.net/CrystalCove_82688.jpg?rect=1960,0,2686,4446&w=555" alt="Start Your 1-Year Sleep Trial">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV">
            <div>
                <h2>Start Your 1-Year Sleep Trial</h2>
                <p>Experiencing is believing, especially when it comes to our top-rated {{ product.title }}. <strong>Try our mattress for 365 days,</strong> in the comfort of your home. Learn more about our amazing <a href="https://www.brentwoodhome.com/pages/1-year-mattress-trial">1-Year Sleep Trial Policy</a> for mattresses sold on our website.</p>
            </div>
        </div>
    </div>
</div>

<div class="container section cc_yoga" style="margin-bottom:1px;">
    <div class="image">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                <div>
                    <h3>The Essential</h3>
                    <h3>Crystal Cove Collection</h3><br>
                    <p>The Crystal Cove Yoga collection was inspired by our thriving local wellness community in Los Angeles and is beloved by yoga, meditation and wellness-seekers around the country. We wanted to create a mattress just for you, both luxurious and restorative, to meet the unique needs of an active lifestyle without sacrificing style. <a href="/pages/crystal-cove-collection">Complete your set</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 onePxR text-center">
            <picture>
                <source media="(max-width: 767px)" srcset="https://s3-brentwoodhome.imgix.net/CC_Details_025.jpg?rect=1767,698,4214,4214&w=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" srcset="https://s3-brentwoodhome.imgix.net/CC_Details_025.jpg?rect=1767,0,4200,4800&w=620">
                <img src="https://s3-brentwoodhome.imgix.net/CC_Details_025.jpg?rect=1767,0,4200,4800&w=620" alt="Crystal Cove pillows">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 onePxL text-center">
            <picture>
                <source media="(max-width: 767px)" srcset="https://s3-brentwoodhome.imgix.net/CrystalCove_83970.jpg?rect=2108,590,4212,4212&w=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" srcset="https://s3-brentwoodhome.imgix.net/CrystalCove_83970.jpg?rect=2108,0,4200,4800&w=620">
                <img src="https://s3-brentwoodhome.imgix.net/CrystalCove_83970.jpg?rect=2108,0,4200,4800&w=620" alt="Crystal Cove Yoga pillow">
            </picture>
        </div>
    </div>
</div>
{% assign isLastSectionLeft = false %}