{% assign producthandle = product.handle %}
<script>
  var allFoundationVariants = {{ all_products['foundation'].variants | json }};
  var allAdjustableVariants = {{ all_products['adjustable-bed-frame'].variants | json }};
  var variantTopperBundle = {{ all_products['cedar-natural-luxe-topper-standalone'].variants | json }};
  var variantPillowBundle = [];//create empty pillow array to prevent errors when a mattress doesn't offer pillow bundle
  var saleFlag = true; //Switch to true to activate sale price display (note that it will activate for all product listed with a sale price)
  /*TODO: ability to turn sale on and off for individual products*/
  // Easy Foundation Bundle
{% case producthandle %}
  {% when "cedar-natural-luxe-mattress" %}
  //Cedar foundation
  var variantFoundations = [
      {//Queen
          id: 19294522540094,
          price: 27500,
          sale: 0
      },
      {//King
          id: 19294522572862,
          price: 35000,
          sale: 0
      },
      {//CalKing
          id: 19294522769470,
          price: 35000,
          sale: 0
      }
  ];
   var variantAdjustableBundle = [
       
       {//Queen
           id: 31082150625342,
           price: 79900,
           sale: 0,
       },
       {//King
           id: 31123066585150,
           price: 119800,
           sale: 0,
       },
       {//CAKing
           id: 0,
           price: 0
       }
   ];
   var variantTopperBundle = [
       
       {//Queen
           id: 31529554018366,
           price: 49900,
           sale: 39900,
       },
       {//King
           id: 31529554051134,
           price: 59900,
           sale: 49900,
       },
       {//CAKing
           id: 31529554083902,
           price: 59900,
           sale: 49900,
       }
   ];
   {% when "cypress-bamboo-gel-mattress" %}
   //Cedar color foundation
   var variantFoundations = [
       {//Twin
           id: 19294522310718,
           price: 22500,
       },
       {//Twin XL
           id: 19294522441790,
           price: 25000,
       },
       {//Full
           id: 19294522474558,
           price: 25000
       },
       {//Queen
           id: 19294522540094,
           price: 27500,
       },
       {//King
           id: 19294522572862,
           price: 35000,
       },
       {//CalKing
           id: 19294522769470,
           price: 35000
       }
   ];
    {% when "oceano-mattress" %}
    //Oceano blue color foundation
    var variantFoundations = [
        {//Twin
            id: 19308085641278,
            price: 22500,
        },
        {//Twin XL
            id: 19308085772350,
            price: 25000,
        },
        {//Full
            id: 19308085805118,
            price: 25000
        },
        {//Queen
            id: 19308085837886,
            price: 27500,
        },
        {//King
            id: 19308085870654,
            price: 35000,
        },
        {//CalKing
            id: 19308085903422,
            price: 35000
        },
        {//Split K
            id: 19308085870654,
            price: 35000
        }
    ];
     //Oceano Pillow Bundle
     var variantPillowBundle = [
         {//Twin - Standard
             id: 12210708742255,
             price: 10900,
             qt: 1
         },
         {//Twin XL - Standard
             id: 12210708742255,
             price: 10900,
             qt: 1
         },
         {//Full - Standard
             id: 12210708742255,
             price: 10900,
             qt: 1
         },
         {//Queen
             id: 12210708775023,
             price: 11900,
             qt: 2
         },
         {//King
             id: 12210708807791,
             price: 12900,
             qt: 2
         },
         {//CA King
             id: 12210708807791,
             price: 12900,
             qt: 2
         }
     ];
     var variantAdjustableBundle = [
         {//Twin 
             id: 31082150559806,
             price: 59900,
             sale: 0,
         },
         {//Twin XL
             id: 31082150559806,
             price: 59900,
             sale: 0,
         },
         {//Full
             id: 0,
             price: 0
         },
         {//Queen
             id: 31082150625342,
             price: 79900,
             sale: 0,
         },
         {//King
             id: 31123066585150,
             price: 119800,
             sale: 0,
         },
         {//CAKing
             id: 0,
             price: 0
         },
         {//Split
             id: 31123066585150,
             price: 119800,
             sale: 0,
         }
     ];
     {% when "oceano-mattress-test" %}
     //Oceano blue color foundation
     var variantFoundations = [
         {//Twin
             id: 19308085641278,
             price: 22500,
         },
         {//Twin XL
             id: 19308085772350,
             price: 25000,
         },
         {//Full
             id: 19308085805118,
             price: 25000
         },
         {//Queen
             id: 19308085837886,
             price: 27500,
         },
         {//King
             id: 19308085870654,
             price: 35000,
         },
         {//CalKing
             id: 19308085903422,
             price: 35000
         },
         {//Split K
             id: 19308085870654,
             price: 35000
         }
     ];
      //Oceano Pillow Bundle
      var variantPillowBundle = [
          {//Twin
              id: 12210708742255,
              price: 10900,
              qt: 1
          },
          {//Twin XL
              id: 12210708742255,
              price: 10900,
              qt: 1
          },
          {//Full
              id: 12210708742255,
              price: 10900,
              qt: 1
          },
          {//Queen
              id: 12210708775023,
              price: 11900,
              qt: 2
          },
          {//King
              id: 12210708807791,
              price: 12900,
              qt: 2
          },
          {//CalKing
              id: 12210708807791,
              price: 12900,
              qt: 2
          },
          {//Split K
              id: 12210708807791,
              price: 12900,
              qt: 2
          }
      ];
      {% when "crystal-cove-mattress" %}
      //Crystal cove mattress foundation
      var variantFoundations = [
          {//Twin
              id: 18582182297662,
              price: 22500,
          },
          {//Twin XL
              id: 18582182330430,
              price: 25000,
          },
          {//Full
              id: 18582182363198,
              price: 25000
          },
          {//Queen
              id: 18582182395966,
              price: 27500,
          },
          {//King
              id: 18582182428734,
              price: 35000,
          },
          {//CalKing
              id: 18582182461502,
              price: 35000
          },
          {//Split King
              id: 18582182428734,
              price: 35000
          }
      ];
       var variantAdjustableBundle = [
           {//Twin 
               id: 31082150559806,
               price: 59900,
               sale: 0,
           },
           {//Twin XL
               id: 31082150559806,
               price: 59900,
               sale: 0,
           },
           {//Full
               id: 0,
               price: 0
           },
           {//Queen
               id: 31082150625342,
               price: 79900,
               sale: 0,
           },
           {//King
               id: 31123066585150,
               price: 119800,
               sale: 0,
           },
           {//CAKing
               id: 0,
               price: 0
           },
           {//Split
               id: 0,
               price: 0
           }
       ];
       //Crystal cove mattress Pillow Bundle
       var variantPillowBundle = [
           {
               id: 8119702585455,
               price: 8900,
               qt: 1
           },
           {
               id: 8119702585455,
               price: 8900,
               qt: 1
           },
           {
               id: 8119702585455,
               price: 8900,
               qt: 1
           },
           {
               id: 8119702618223,
               price: 9900,
               qt: 2
           },
           {
               id: 8119702650991,
               price: 10900,
               qt: 2
           },
           {
               id: 8119702650991,
               price: 10900,
               qt: 2
           }
       ];
       {% when "cypress-memory-foam-mattress" %}
       //Gray foundation 
       var variantFoundations = [
           {//Twin
               id: 18582182297662,
               price: 22500,
               sale: 0
           },
           {//Twin
               id: 18582182297662,
               price: 22500,
               sale: 0
           },
           {//Twin XL
               id: 18582182330430,
               price: 22500,
               sale: 0
           },
           {//Twin XL
               id: 18582182330430,
               price: 22500,
               sale: 0
           },
           {//Full
               id: 18582182363198,
               price: 25000,
               sale: 0
           },
           {//Full
               id: 18582182363198,
               price: 25000,
               sale: 0
           },
           {//Queen
               id: 18582182395966,
               price: 27500,
               sale: 0
           },
           {//Queen
               id: 18582182395966,
               price: 27500,
               sale: 0
           },
           {//King
               id: 18582182428734,
               price: 35000,
               sale: 0
           },
           {//King
               id: 18582182428734,
               price: 35000,
               sale: 0
           },
           {//CalKing
               id: 18582182461502,
               price: 35000,
               sale: 0
           },
           {//CalKing
               id: 18582182461502,
               price: 35000,
               sale: 0
           }
       ];

        var variantAdjustableBundle = [
            {//Twin 
                id: 31082150559806,
                price: 59900,
                sale: 0,
            },
            {//Twin 
                id: 31082150559806,
                price: 59900,
                sale: 0,
            },
            {//Twin XL
                id: 31082150559806,
                price: 59900,
                sale: 0,
            },
            {//Twin XL
                id: 31082150559806,
                price: 59900,
                sale: 0,
            },
            {//Full
                id: 0,
                price: 0
            },
            {//Full
                id: 0,
                price: 0
            },
            {//Queen
                id: 31082150625342,
                price: 79900,
                sale: 0,
            },
            {//Queen
                id: 31082150625342,
                price: 79900,
                sale: 0,
            },
            {//King
                id: 31123066585150,
                price: 119800,
                sale: 0,
            },
            {//King
                id: 31123066585150,
                price: 119800,
                sale: 0,
            },
            {//CAKing
                id: 0,
                price: 0
            },
            {//CAKing
                id: 0,
                price: 0
            }
        ];
      {% when "hybrid-latex-mattress" %}
      //Crystal cove mattress foundation
      var variantFoundations = [
          {//Twin
              id: 19294522310718,
              price: 22500,
          },
          {//Twin XL
              id: 19294522441790,
              price: 25000,
          },
          {//Full
              id: 19294522474558,
              price: 25000
          },
          {//Queen
              id: 19294522540094,
              price: 27500,
              sale: 0
          },
          {//King
              id: 19294522572862,
              price: 35000,
              sale: 0
          },
          {//CalKing
              id: 19294522769470,
              price: 35000,
              sale: 0
          }
      ];
       var variantAdjustableBundle = [
           {//Twin 
               id: 31082150559806,
               price: 59900,
               sale: 0,
           },
           {//Twin XL
               id: 31082150559806,
               price: 59900,
               sale: 0,
           },
           {//Full
               id: 0,
               price: 0
           },
           {//Queen
               id: 31082150625342,
               price: 79900,
               sale: 0,
           },
           {//King
               id: 31123066585150,
               price: 119800,
               sale: 0,
           },
           {//CAKing
               id: 0,
               price: 0
           }
       ];
      {% else %}
      //Gray foundation for Ojai, Crystal Cove and everything else
      var variantFoundations = [
          {//Twin
              id: 18582182297662,
              price: 22500,
          },
          {//Twin XL
              id: 18582182330430,
              price: 25000,
          },
          {//Full
              id: 18582182363198,
              price: 25000
          },
          {//Queen
              id: 18582182395966,
              price: 27500,
          },
          {//King
              id: 18582182428734,
              price: 35000,
          },
          {//CalKing
              id: 18582182461502,
              price: 35000
          },
          {//Split King
              id: 18582182428734,
              price: 35000
          }
      ];
       
       var variantAdjustableBundle = [
           {//Twin 
               id: 31082150559806,
               price: 59900,
           },
           {//Twin XL
               id: 31082150559806,
               price: 59900,
           },
           {//Full
               id: 0,
               price: 0
           },
           {//Queen
               id: 31082150625342,
               price: 79900,
           },
           {//King
               id: 31123066585150,
               price: 119800,
           }
       ];
       {% endcase %}

       {% if settings.display_subtotal and product.available %}
       //update price when changing quantity
       function updatePricing() {
           //try pattern one before pattern 2
           var regex = /([0-9]+[.|,][0-9]+[.|,][0-9]+)/g;
           var unitPriceTextMatch = jQuery('.product .price').text().match(regex);

           if (!unitPriceTextMatch) {
               regex = /([0-9]+[.|,][0-9]+)/g;
               unitPriceTextMatch = jQuery('.product .price').text().match(regex);
           }

           if (unitPriceTextMatch) {
               var unitPriceText = unitPriceTextMatch[0];
               var unitPrice = unitPriceText.replace(/[.|,]/g, '');
               var quantity = parseInt(jQuery('#quantity').val());
               var totalPrice = unitPrice * quantity;

               var sizeIndex = $('#product-selectors-option-0')[0].selectedIndex

               // Easy Foundation Bundle
               if( $('#foundation').length ){
                   //console.log("clicked foundation");
                   if (jQuery('#foundation').prop('checked') && variantFoundations[sizeIndex]) {
                       totalPrice += variantFoundations[sizeIndex].price
                   }
               }
               // Pillow Bundle
               if( $('#pillow-bundle').length ){
                   if (jQuery('#pillow-bundle').prop('checked') && variantPillowBundle[sizeIndex]) {
                       totalPrice += variantPillowBundle[sizeIndex].price
                  }
               }
               // Adjustable Bundle
               if( $('#adjustable-bundle').length ){
                   //console.log("clicked adjustable");
                   if (jQuery('#adjustable-bundle').prop('checked') && variantAdjustableBundle[sizeIndex]) {
                       totalPrice += variantAdjustableBundle[sizeIndex].price
                   }
               }
               // Cedar Luxe Topper Bundle
               if( $('#luxetopper-bundle').length ){
                   //console.log("clicked luxetopper");
                   if (jQuery('#luxetopper-bundle').prop('checked') && variantTopperBundle[sizeIndex]) {
                       totalPrice += variantTopperBundle[sizeIndex].price
                   }
               }

               var totalPriceText = Shopify.formatMoney(totalPrice, window.money_format);

               totalPriceText = totalPriceText.match(regex)[0];

               var regInput = new RegExp(unitPriceText, "g");
               var totalPriceHtml = jQuery('.product .price').html().replace(regInput, totalPriceText);

               jQuery('.product .total-price span').html(totalPriceHtml);
           }
       }

        jQuery('#quantity').on('change', updatePricing);

        {% endif %}

        var currentVariant = null;

        /* START selectCallback */
        var selectCallback = function (variant, selector) {
          currentVariant = variant

          var addToCart = jQuery('#product-add-to-cart'),
            productPrice = jQuery('.product .price'),
            comparePrice = jQuery('.product .compare-price');

          // IF VARIANT
          if (variant) {
            if (variant.available) {
              // We have a valid product variant, so enable the submit button
              addToCart.removeClass('disabled').removeAttr('disabled').val('Add to Cart');
            } else {
              // Variant is sold out, disable the submit button
              addToCart.val('Sold Out').addClass('disabled').attr('disabled', 'disabled');
            }

            var sizeIndex = $('#product-selectors-option-0')[0].selectedIndex;
            var totalPrice = variant.price;
            var compareAtPrice = variant.compare_at_price
            
/*****************FOUNDATION BUNDLE PRICE UPDATE*************************/
            if ($('#foundation').length) {
              // Update Foundation Pricing
              if (variantFoundations[sizeIndex]) {
                var foundation = variantFoundations[sizeIndex];
                
                //
                if(saleFlag && foundation.sale){
                    {% raw %}
                     jQuery("#easy-foundation-price").html("+" + Shopify.formatMoney(foundation.sale, "${{amount_no_decimals}}") + "&nbsp;<span style='text-decoration: line-through'>" + Shopify.formatMoney(foundation.price, "${{amount_no_decimals}}" + "</span>"));
                     {% endraw %} 
                }else{
                    {% raw %}
                    jQuery("#easy-foundation-price").text("+" + Shopify.formatMoney(foundation.price, "${{amount_no_decimals}}"));
                     {% endraw %} 
                }
                
              }

              // Disable checkbox if foundation is sold out
              var foundation = variantFoundations[sizeIndex];

console.log("foundation OOS1");

              for (var i = 0; i < allFoundationVariants.length; i++) {
                if (allFoundationVariants[i].id === foundation.id) {
                  console.log("foundation OOS2");
                  if (!allFoundationVariants[i].available) {
                    console.log("foundation OOS3");
                    jQuery("#foundation")
                        .prop("disabled", true)
                        .addClass("disabled")
                        .prop("checked", false).parent().addClass("disabled");
                    //jQuery(".squaredOne").addClass("disabled");
                      jQuery("#easy-foundation-price").text("Foundation Out of Stock").addClass("soldout");
                  } else {
                    jQuery("#foundation").prop("disabled", false).parent().removeClass("disabled");
                  }
                }
              }

              if (jQuery('#foundation').prop('checked') && variantFoundations[sizeIndex]) {
                  if(saleFlag && variantFoundations[sizeIndex].sale){
                      totalPrice += variantFoundations[sizeIndex].sale;
                      compareAtPrice += variantFoundations[sizeIndex].price;
                  }else{
                      totalPrice += variantFoundations[sizeIndex].price;
                      compareAtPrice += variantFoundations[sizeIndex].price;
                  }
              }
            }
                  
/*****************PILLOW BUNDLE PRICE UPDATE*************************/
            if ($('#pillow-bundle').length) {
                // Update Foundation Pricing
                if (variantPillowBundle[sizeIndex]) {
                    var pillows = variantPillowBundle[sizeIndex];
                    {% raw %}
                        jQuery("#pillow-bundle-price").text("+" + Shopify.formatMoney(pillows.price, "${{amount_no_decimals}}"));
                    {% endraw %}
                }

                if (jQuery('#pillow-bundle').prop('checked') && variantPillowBundle[sizeIndex]) {
                    totalPrice += variantPillowBundle[sizeIndex].price;
                    compareAtPrice += variantPillowBundle[sizeIndex].price;
                }
            }
/****************************************************************/

/*****************ADJUSTABLE BUNDLE PRICE UPDATE*************************/
            if ($('#adjustable-bundle').length) {
                // Update Adjustable Pricing
                if (variantAdjustableBundle[sizeIndex]) {
                    var adjustable = variantAdjustableBundle[sizeIndex];
                    //console.log(adjustable);
                    if(adjustable.id != 0){ //check if product variant exist (see id array above), if 0, deactivate box
                        jQuery("#adjustable-bundle").prop("disabled", false).parent().removeClass("disabled");
                        
                        if(saleFlag && adjustable.sale){
                            {% raw %}
                            jQuery("#adjustable-bundle-price").html("+" + Shopify.formatMoney(adjustable.sale, "${{amount_no_decimals}}") + "&nbsp;<span style='text-decoration: line-through'>" + Shopify.formatMoney(adjustable.price, "${{amount_no_decimals}}" + "</span>"));
                            {% endraw %} 
                        }else{
                            {% raw %}
                            jQuery("#adjustable-bundle-price").text("+" + Shopify.formatMoney(adjustable.price, "${{amount_no_decimals}}"));
                             {% endraw %}
                        }
                      
                     }else{
                         jQuery("#adjustable-bundle")
                             .prop("disabled", true)
                             .addClass("disabled")
                             .prop("checked", false).parent().addClass("disabled");
                         //jQuery(".squaredOne").addClass("disabled");
                         jQuery("#adjustable-bundle-price").html("Unavailable").addClass("soldout");
                     }
                }

                // Disable checkbox if sold out
              var adjustable = variantAdjustableBundle[sizeIndex];

              for (var i = 0; i < allAdjustableVariants.length; i++) {
                if (allAdjustableVariants[i].id === adjustable.id) {
                  if (!allAdjustableVariants[i].available) {
                    jQuery("#adjustable-bundle")
                        .prop("disabled", true)
                        .addClass("disabled")
                        .prop("checked", false).parent().addClass("disabled");
                    //jQuery(".squaredOne").addClass("disabled");
                      jQuery("#adjustable-bundle-price").text("Out of Stock").addClass("soldout");
                  } else {
                    jQuery("#adjustable-bundle").prop("disabled", false).parent().removeClass("disabled");
                  }
                }
              }

                if (jQuery('#adjustable-bundle').prop('checked') && variantAdjustableBundle[sizeIndex]) {
                    if(saleFlag && variantAdjustableBundle[sizeIndex].sale){
                        totalPrice += variantAdjustableBundle[sizeIndex].sale;
                        compareAtPrice += variantAdjustableBundle[sizeIndex].price;
                    }else{
                        totalPrice += variantAdjustableBundle[sizeIndex].price;
                        compareAtPrice += variantAdjustableBundle[sizeIndex].price;
                    }
                }
            }
/****************************************************************/
                    
/*****************CEDAR LUXE TOPPER PRICE UPDATE*************************/
            if ($('#luxetopper-bundle').length) {
                // Update Topper Pricing
                if (variantTopperBundle[sizeIndex]) {
                    var topper = variantTopperBundle[sizeIndex];
                    //console.log(adjustable);
                    if(topper.id != 0){ //check if product variant exist (see id array above), if 0, deactivate box
                        jQuery("#luxetopper-bundle").prop("disabled", false).parent().removeClass("disabled");
                        
                        if(saleFlag && topper.sale){
                            {% raw %}
                            //jQuery("#cedarluxe-topper-price").html("+" + Shopify.formatMoney(topper.sale, "${{amount_no_decimals}}") + "&nbsp;<span style='text-decoration: line-through'>" + Shopify.formatMoney(topper.price, "${{amount_no_decimals}}" + "</span>"));
                            jQuery("#cedarluxe-topper-price").html(Shopify.formatMoney(topper.sale, "<span style='text-decoration: line-through;display: block;'>" + Shopify.formatMoney(topper.price, "${{amount_no_decimals}}" + "</span>&nbsp;" + "+${{amount_no_decimals}}")));
                            {% endraw %} 
                        }else{
                            {% raw %}
                            jQuery("#cedarluxe-topper-price").text("+" + Shopify.formatMoney(topper.price, "${{amount_no_decimals}}"));
                             {% endraw %}
                        }
                      
                     }else{
                         jQuery("#luxetopper-bundle")
                             .prop("disabled", true)
                             .addClass("disabled")
                             .prop("checked", false).parent().addClass("disabled");
                         //jQuery(".squaredOne").addClass("disabled");
                         jQuery("#cedarluxe-topper-price").text("Base Not Available in this size").addClass("soldout");
                     }
                }

                if (jQuery('#luxetopper-bundle').prop('checked') && variantTopperBundle[sizeIndex]) {
                    if(saleFlag && variantTopperBundle[sizeIndex].sale){
                        totalPrice += variantTopperBundle[sizeIndex].sale;
                        compareAtPrice += variantTopperBundle[sizeIndex].price;
                    }else{
                        totalPrice += variantTopperBundle[sizeIndex].price;
                        compareAtPrice += variantTopperBundle[sizeIndex].price;
                    }
                }
            }
/****************************************************************/
                    
                    
            // Regardless of stock, update the product price
            {% raw %}
            productPrice.html(Shopify.formatMoney(totalPrice, "${{amount_no_decimals}}"));
            {% endraw %}

            // Also update and show the product's compare price if necessary
            if (compareAtPrice > totalPrice) {
              productPrice.addClass("on-sale")

              {% raw %}
              comparePrice
                .html(Shopify.formatMoney(compareAtPrice, "${{amount_no_decimals}}"))
                .show();
              {% endraw %}
            } else {
              comparePrice.hide();
              productPrice.removeClass("on-sale");
            }

            {% if settings.use_color_swatch %}
            // BEGIN SWATCHES
            if (selector && selector.domIdPrefix) {
              var form = jQuery('#' + selector.domIdPrefix).closest('form');
              for (var i = 0, length = variant.options.length; i < length; i++) {
                var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] + '"]');

                if (radioButton.size()) {
                    radioButton.get(0).checked = true;
                }
              }
            }
            // END SWATCHES
            {% endif %}

            {% if settings.display_subtotal and product.available %}
            updatePricing();
            {% endif %}
          // END IF VARIANT
          } else {
            // The variant doesn't exist. Just a safeguard for errors, but disable the submit button anyway
            addToCart.val('Unavailable').addClass('disabled').attr('disabled', 'disabled');
          }

          // update variant inventory
          {% if settings.display_availability %}
          if (variant && variant.available) {
            if (variant.inventory_management != null) {
              jQuery(".product-inventory span").text(variant.inventory_quantity + " in stock");
            } else {
              jQuery(".product-inventory span").text("Many in stock");
            }
          } else {
            jQuery(".product-inventory span").text("Out of stock");
          }
          {% endif %}

          // display message for sheets and quilts when out of stock
          if (variant && variant.available) {
            if (variant.inventory_management != null) {
              if (variant.inventory_quantity < 1) {
                //jQuery(".out-of-stock").show();
                //jQuery(".out-of-stock p").html("We’re currently making this item to order.<br> Please allow <b>up to 3 weeks</b> for crafting and shipping.");
                addToCart.val('Out of Stock').addClass('disabled').attr('disabled', 'disabled').html("Out of Stock");
              } else {
                //jQuery(".out-of-stock").hide();
                addToCart.val('Add to Cart').removeClass('disabled').removeAttr("disabled").html("Add to Cart");
              }
            }
          } else {
            //jQuery(".out-of-stock p").text("Out of stock");
            addToCart.val('Out of Stock').addClass('disabled').attr('disabled', 'disabled').html("Out of Stock");
          }

          /*begin variant image*/
          if (variant && variant.featured_image) {
            var originalImage = jQuery("#product-featured-image");
            var newImage = variant.featured_image;
            var element = originalImage[0];

            Shopify.Image.switchImage(newImage, element, function (newImageSizedSrc, newImage, element) {
              jQuery('#zt_list_product img').each(function () {
                var grandSize = jQuery(this).attr('src');
                grandSize = grandSize.replace('compact', 'grande');

                if (grandSize == newImageSizedSrc) {
                  jQuery(this).parent().trigger('click');
                  return false;
                }
              });
            });
          }
          /*end of variant image*/

          // updateAffirmAsLowAs(totalPrice);
          // Update affirm price
          $('.affirm-as-low-as').attr('data-amount',totalPrice);

          affirm.ui.ready(function() {
            affirm.ui.refresh();
          });
        };
        /* END selectCallback */

        jQuery(function ($) {
            
            /*$('#adjustable-bundle').change(function() {
                if($(this).is(":checked")){
                    $('#foundation').attr('checked', false);
                }    
            });

            $('#foundation').change(function() {
                if($(this).is(":checked")){
                    $('#adjustable-bundle').attr('checked', false);
                }    
            });   */
            
            
          // Pillow Bundle
          if ($('#pillow-bundle').length) {
            $("#pillow-bundle").on('change', function() {
              selectCallback(currentVariant)
            });
          }

          // Cedar topper
          if ($('#luxetopper-bundle').length) {
            $("#luxetopper-bundle").on('change', function() {
              selectCallback(currentVariant)
            });
          }

          // Easy Foundation Bundle
          if ($('#foundation').length) {
                $("#foundation").on('change', function() {
                    if($(this).is(":checked")){
                        $('#adjustable-bundle').attr('checked', false);
                    }  
                  selectCallback(currentVariant)
                });
          }
            
            // Adjustable Bundle
            if ($('#adjustable-bundle').length) {
                $("#adjustable-bundle").on('change', function() {
                    if($(this).is(":checked")){
                        $('#foundation').attr('checked', false);
                    } 
                    selectCallback(currentVariant)
                });
            }

          {% if product.available and product.variants.size > 1 %}
            new Shopify.CustomOptionSelectors('product-selectors', {
              product: {{ product | json }},
              onVariantSelected: selectCallback,
              enableHistoryState: true
            });

            {% comment %}
            Use color swatch and linked options(copyright by @carolineschnapp)
            {% endcomment %}

            {% if settings.use_color_swatch and product.available and product.options.size > 1 %}
              Shopify.linkOptionSelectors({{ product | json }});
            {% endif %}

            {% if settings.use_color_swatch != true %}
              jQuery('.single-option-selector').selectize();
              jQuery('.selectize-input input').attr("disabled", "disabled");
            {% endif %}
          {% endif %}

          // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
          {% if product.options.size == 1 and product.options.first != 'Title' %}
            $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
          {% endif %}

          // Hide selectors if we only have 1 variant and its title contains 'Default'.
          {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
            $('.selector-wrapper').hide();
          {% endif %}

          {% if settings.display_product_reviews %}
            var reviewsTimeout = setInterval(function () {
              if (jQuery(".spr-badge-caption").length > 0) {
                jQuery(".spr-badge-caption").on('click', function () {
                  jQuery('html,body').animate({
                       scrollTop: jQuery(".panel:last").offset().top
                  }, '400');

                  jQuery("#collapse-tab4").collapse('show');
                });

                clearInterval(reviewsTimeout);
              }
            }, 1000);
          {% endif %}
        });
</script>

<script>
  $(document).ready(function () {
      jQuery('#product-add-to-cart').click(function(e) {
          e.preventDefault();
          var toAdd = [];
          var sizeIndex = -1; //for products that don't have a size selector like yoga pillows or candles
          if ($('#product-selectors-option-0').length > 0){
            sizeIndex = $('#product-selectors-option-0')[0].selectedIndex;
          }
          {% case producthandle %}
              {% when "cedar-natural-luxe-mattress" %}
                  //Cedar Luxe Only because only 3 sizes are available
                  var variantFoundationIds = [19294522540094, 19294522572862, 19294522769470]
                  //var variantCedarTopperIds = [18665794601022, 18665794633790, 18665794666558] //built-in topper
                  var variantCedarTopperIds = [31529554018366, 31529554051134, 31529554083902] //standalone topper
                  //Adjustable base
                  var variantAdjustableIds = [31082150625342,31123066585150,0]
                  //uncomment to include topper automatically
                  /*toAdd = [{
                      id: variantCedarTopperIds[sizeIndex],
                      quantity: 1
                  }];*/

               {% when "oceano-mattress" %}
                   //Twin, Twin XL, Full, Q, K, CK
                   var variantFoundationIds = [19308085641278, 19308085772350, 19308085805118, 19308085837886, 19308085870654, 19308085903422, 19308085870654]
                   var variantPillowBundle = [12210708742255, 12210708742255, 12210708742255, 12210708775023, 12210708807791, 12210708807791, 12210708807791]
                   var variantPillowBundleQt = [1, 1, 1, 2, 2, 2, 2]
                   //Adjustable base
                   var variantAdjustableIds = [
                       31082150559806,                
                       31082150559806, 
                       0,
                       31082150625342, 
                       31123066585150, 
                       0,
                       31123066585150
                   ]
                {% when "hybrid-latex-mattress" %}
                   //Twin, Twin XL, Full, Q, K, CK, SPLIT
                   var variantFoundationIds = [19294522310718, 19294522441790, 19294522474558, 19294522540094, 19294522572862, 19294522769470]
                   //Adjustable base
                   var variantAdjustableIds = [
                       31082150559806,                
                       31082150559806, 
                       0,
                       31082150625342, 
                       31123066585150, 
                       0
                   ]
                   
                {% when "crystal-cove-mattress" %}
                   //Twin, Twin XL, Full, Q, K, CK
                   var variantFoundationIds = [18582182297662, 18582182330430, 18582182363198, 18582182395966, 18582182428734, 18582182461502, 18582182428734]
                   var variantPillowBundle = [8119702585455, 8119702585455, 8119702585455, 8119702618223, 8119702650991, 8119702650991, 8119702650991]
                   var variantPillowBundleQt = [1, 1, 1, 2, 2, 2, 2, 2]
                   //Adjustable base
                   var variantAdjustableIds = [
                       31082150559806,                
                       31082150559806, 
                       0,
                       31082150625342, 
                       31123066585150, 
                       0
                   ]
                   
                {% when "cypress-memory-foam-mattress" %}
                // Because drop down has 12 options, need 12 options for add-ons to match index position
                    //Twin, Twin XL, Full, Q, K, CK
                    var variantFoundationIds = [
                        18582182297662, 
                        18582182297662, 
                        18582182330430,
                        18582182330430,
                        18582182363198, 
                        18582182363198,
                        18582182395966, 
                        18582182395966,
                        18582182428734, 
                        18582182428734,
                        18582182461502, 
                        18582182461502
                    ]
                    //Adjustable base
                    //Twin 11, Twin 13, Twin XL 11, XL 11, ..., Full, Q, K, CK
                    var variantAdjustableIds = [
                        
                        31082150559806, 
                        31082150559806, 
                        
                        31082150559806, 
                        31082150559806, 
                        
                        0,
                        0,
                        
                        31082150625342, 
                        31082150625342, 
                        
                        31123066585150, 
                        31123066585150, 
                        
                        0,
                        0
                    ]
                   
               {% else %}
                   //Twin, Twin XL, Full, Q, K, CK, SplitK
                   var variantFoundationIds = [18582182297662, 18582182330430, 18582182363198, 18582182395966, 18582182428734, 18582182461502, 18582182428734]
                   
                   //Adjustable base
                   //Twin, Twin XL, Full, Q, K, CK, SPLIT
                   var variantAdjustableIds = [31082150559806, 31082150559806, 0000, 31082150625342, 31123066585150, 0000, 31123066585150]
           {% endcase %}

          // Cedar Luxe Topper
           if (jQuery('#luxetopper-bundle').prop('checked')) {
               toAdd.push({
                   id: variantCedarTopperIds[sizeIndex],
                   quantity: 1
               })
           }

           // Easy Foundation Bundle
           if (jQuery('#foundation').prop('checked')) {
               toAdd.push({
                   id: variantFoundationIds[sizeIndex],
                   quantity: 1
               })
           }

            // Pillow Bundle
            if (jQuery('#pillow-bundle').prop('checked')) {
                toAdd.push({
                    id: variantPillowBundle[sizeIndex],
                    quantity: variantPillowBundleQt[sizeIndex]
                })
            }
            
            // Adjustable Bundle
            if (jQuery('#adjustable-bundle').prop('checked')) {
                toAdd.push({
                    id: variantAdjustableIds[sizeIndex],
                    quantity: 1
                })
            }

            function moveAlong(){
                if (toAdd.length) {
                    $.ajax({
                        type: 'POST',
                        url: '/cart/add.js',
                        data: toAdd.shift(),
                        dataType: 'json',
                        success: function() {
                            moveAlong();
                        },
                        error: function(error) {
                            console.log('error', error);
                        }
                    });
                } else {
                    $('#add-to-cart-form').submit();
                }
            };

            moveAlong();
      });
  });
</script>
