{% comment %}
  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  This example has three products per column on desktop, two on
  our medium breakpoint, and a single row on small screens.
{% endcomment %}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}


{% assign lable_sale = false %}
{% if product.compare_at_price_min > product.price_min %}
  {% assign lable_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}

{% assign lable_out = true %}
{% if product.available  %}
  {% assign lable_out = false %}
{% endif %}

{% comment %}
  Set a class for sold-out and on-sale items
{% endcomment %}

{% assign productIndex = forloop.index |minus:1 %}
{% assign delayTime = 200 | times : productIndex %}
<div class=" item {% if settings.product_image_border%}grid-item-border{% endif %} grid-item product-item {% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %} " data-wow-delay="{{delayTime}}ms" id="product-{{ product.id }}">
  {% comment %}
    Link to your product with the 'within: collection' filter for the link to be aware of the collection.
    This allows you to create collection-based navigation on the product page.

    Results of using 'within: collection':
    - Instead of a URL with /products/product-handle
      you would get /collections/collection-handle/products/product-handle

    For more info on navigation within a collection
      - http://docs.shopify.com/support/your-store/collections/how-to-navigate-within-a-collection

  {% endcomment %}
  <div class="product-top">
    <div class="product-image">
          {% if lable_sale or lable_out %}
    <div class="product-label">
      {% if lable_sale %}
        {%comment%}<span class="label">Sale</span>{%endcomment%}
      {% endif %}
      {% if lable_out %}
      <strong class="sold-out-label">Sold Out</strong>
      {% endif %}
    </div>
    {% endif %}
        <a href="{{ product.url }}" class="product-grid-image">
        <img class="lazy" src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
        {% if settings.product_image_hover %}
          <span class="product-image-hover" data-idproduct="{{ product.id }}">
              {% for image in product.images %}
                  {% if forloop.first != true %}
                      <img alt="{{ product.title }}" src="{{ image.src | product_img_url: 'large' }}">
                      {% break %}
                  {% endif %}
              {% endfor %}
          </span>
       {% endif %}
      </a>
      {% comment %}
      {% if settings.enable_quick_view %}
          <div class="sca-qv-button-wrap">
            <a class="sca-qv-button" handle="{{product.handle}}" href="#sca-qv-showqv" style=""></a>
          </div>
        {% endif %}
    {% endcomment %}
    </div>
    

    

  </div>
  
  <div class="product-bottom">
    <a class="product-title" href="{{ product.url }}">{{ product.title }}</a>
      {% if product.type contains "Mattresses" %}<p class="text-center">{{product.metafields.bhsite.feel}}</p>{%endif%}
    {% if settings.display_product_reviews %}
     	 <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      {% endif %}
    
    <div class="price-box">
      {% if on_sale %}
      <p class="sale">
        <span class="old-price"> {{ product.compare_at_price_min | money }}</span>
        <span class="special-price">{% if product.price_varies %}<em>from </em>{% endif %}{{ product.price_min | money }}</span>
      </p>
      {% else %}
      <p class="regular-product">
        {% comment %}
          You can show a leading 'from' or 'up to' by checking 'product.price_varies'
          if your variants have different prices.
        {% endcomment %}
        <span >{% if product.price_varies %}<em>from </em>{% endif %}{{ product.price_min | money }}</span>
      </p>
      {% endif %}
      
      <div class="product-button">
      <div class="action">
        {% assign variantCount = product.variants | size %}
          <a class="cta2" href="{{ product.url }}">SEE IT</a>      
      </div>
      </div>
    </div>
  </div>
</div>