{% comment %}
When updating this page, update:
email at https://brentwood-home.myshopify.com/admin/email_templates/order_confirmation/edit
if line.title contains "Cedar Mattress" or line.title  contains "Ojai Mattress" or line.title  contains "Crystal Cove Mattress" 
shipping page at https://brentwood-home.myshopify.com/admin/pages/73357635
{% endcomment%}

<style>
    P.short-description.shippingtime{
        border: 1px solid #aaa;
        padding: 15px;
        border-radius: 6px;
        background-color: #FFFBF9;
        background-color: #fff;
        margin: 20px 0 25px 0;
    }
</style>
{%comment%}
{% case product.title %}
    {% when 'Cedar Natural Luxe Mattress' %}
        <p class="short-description shippingtime">Due to high demand, the handcrafting process for our <strong>{{ product.title }} is currently 3 to 7 business business days</strong>.</p>
    {% when 'Ojai Mattress' %}
        <p class="short-description shippingtime">Due to high demand, the handcrafting process for our <strong>{{ product.title }} is currently 3 to 7 business business days</strong>.</p>
    {% when 'Crystal Cove Mattress' %}
        <p class="short-description shippingtime">Due to high demand, the handcrafting process for our <strong>{{ product.title }} is currently 3 to 7 business business days</strong>.</p>
    {% when 'Cypress Bamboo Gel Mattress' %}
        <p class="short-description shippingtime">Due to high demand, the handcrafting process for our <strong>{{ product.title }} is currently 3 to 7 business business days</strong>.</p>
    {% when 'Oceano Mattress' %}
        <p class="short-description shippingtime">Due to high demand, the handcrafting process for our <strong>{{ product.title }} is currently 3 to 7 business business days</strong>.</p>
    {% else %}
    
{% endcase %}
{%endcomment%}

{% assign shipsfree = "2-3 business days" %}
{% assign trial = "false" %}

{% case product.type %}
    {% when 'Pillow' %}
        {% assign trial = "30-day trial" %}
        {% assign shipsfree = "10-15 business days" %}
    {% when 'Wedge Pillow' %}
        {% assign trial = "30-day trial" %}
        {% assign shipsfree = "5-7 business days" %}
    {% when 'Mattress Topper' %}
        {% assign trial = "30-night trial" %}
    {% when 'Mattress' %}
        {% assign trial = "1-year trial" %}
    {% when 'Bed Frames' %}
        {% assign trial = "1-year trial" %}
        {% assign shipsfree = "3-5 business days" %}
    {% when 'Mattress Topper' %}
        {% assign trial = "1-year trial" %}
        {% assign shipsfree = "3-7 business days" %}
{% endcase %}

{% case product.handle %}
    {% when 'foundation' %}
        {% assign shipsfree = "2-3 business days" %}
        {% assign trial = "1-year trial" %}
        
    {% when 'adjustable-bed-frame' %}
        {% assign shipsfree = "2-3 business days" %}
        {% assign trial = "100-night trial" %}
        
    {% when 'griffith-orthopedic-pet-bed' %}
        {% assign shipsfree = "2-3 business days" %}
        
    {% when 'runyon-deluxe-orthopedic-pet-bed' %}
        {% assign shipsfree = "2-3 business days" %}
        
    {% when 'oceano-mattress' %}
        {% assign shipsfree = "3-5 business days" %}
        
    {% when 'ojai-mattress' %}
        {% assign shipsfree = "2-3 business days" %}
        
    {% when 'crystal-cove-mattress' %}
        {% assign shipsfree = "3-5 business days" %}
 
    {% when 'cedar-natural-luxe-mattress' %}
        {% assign shipsfree = "3-5 business days" %}

    {% when 'cypress-memory-foam-mattress' %}
        {% assign shipsfree = "3-5 business days" %}

    {% when 'crystal-cove-yoga-bolster' %}
        {% assign shipsfree = "8-12 business days" %}
    {% when 'crystal-cove-meditation-pillow-square' %}
        {% assign shipsfree = "8-12 business days" %}
        
    {% when 'crystal-cove-pranayama-bolster' %}
        {% assign shipsfree = "8-12 business days" %}
        
    {% when 'crystal-cove-meditation-pillow' %}
        {% assign shipsfree = "8-12 business days" %}
        
    {% when 'crystal-cove-square-meditation-pillow' %}
        {% assign shipsfree = "8-12 business days" %}
        
    {% when 'crystal-cove-bundle' %}
        {% assign shipsfree = "8-12 business days" %}
        
    {% when 'beachwood-linen-quilt' %}
        {% assign shipsfree = "2-3 weeks" %}

   
    {% when 'luxury-organic-cotton-sheets' %}
        {% assign shipsfree = "2-3 business days" %}
        {% assign trial = "100-night trial" %}
        
{% endcase %}





{% case product.type %}
    {% when 'Pet Bed' %}
{% comment %}<p class="short-description shippingtime">Due to high demand, the handcrafting process for our {{ product.title }} is currently <strong>5 to 7 business business days</strong>.</p>{% endcomment %}
    {% when 'Wedge Pillow' %}
        <p class="short-description shippingtime">Due to high demand, the handcrafting process for our {{ product.title }} is currently <strong>3 to 7 business business days</strong>.</p>
    {% when 'Pillow' %}
        {% case product.title %}
            {% when 'Crystal Cove Activated Charcoal Pillow' %}
                <p class="short-description shippingtime">Due to high demand, the handcrafting process for our {{ product.title }} is currently <strong>3 to 7 business business days</strong>.</p>
            {% else %}
                <p class="short-description shippingtime">Due to high demand, the handcrafting process for our {{ product.title }} is currently <strong>3 to 7 business business days</strong>.</p>
        {% endcase %}
    {% when 'Crib Mattress' %}
        <p class="short-description shippingtime">Due to high demand, the handcrafting process for our {{ product.title }} is currently <strong>3 to 7 business business days</strong>.</p>
    {% when 'Changing Pads' %}
        <p class="short-description shippingtime">Due to high demand, the handcrafting process for our {{ product.title }} is currently <strong>3 to 7 business business days</strong>.</p>
    {% when 'Lounger' %}
        <p class="short-description shippingtime">Due to high demand, the handcrafting process for our {{ product.title }} is currently <strong>3 to 7 business business days</strong>.</p>
{% endcase %}


