{% if settings.collection_results_per_page != blank %}
  {% assign product_per_page = settings.collection_results_per_page %}
{% else %}
  {% assign product_per_page = 8 %}
{% endif %}



<div class="row">


    <div class="col-md-12 col-sm-12 col-xs-12 col-main">


    {% paginate collection.products by product_per_page %}




    {%comment%}
    UNCOMMENT TO USE DEFAULT OPTIONS (UPLOADING IMAGE THROUGH SITE SETTINGS)
    <header class="page-header">
      <div class="images">
      {% if settings.display_image_cat %}
        {{ 'image_category.jpg' | asset_url | img_tag }}
      {% endif %}
      </div>
      {% if collection.description != ''  %}
      <div class="rte">
        {{ collection.description }}
      </div>
      {% endif %}
    </header>
    {%endcomment%}

<style>
    .collections-block-padding H1{
        font-size: 26px;
        color: white;
        font-family: AvenirLTStd-Light,"Helvetica Neue",helvetica,sans-serif;
        letter-spacing: 1px;
        margin: 10px 0;
        line-height: 38px;
        font-style: normal;
        font-weight: 300;
    }        
</style>
        <div class="collection-list {{collection.handle}}-color">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <img src="{{ collection.image.src | collection_img_url: 'master'}}" class="img-responsive" alt="{{collection.handle}}">
                </div>
                <div class="col-xs-12 col-md-4 text-center">
                    <div class="flexVCenter collections-block-padding">
                        <div>
                           <h1>{{ collection.title }}</h1>
                            {{ collection.description }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% comment %}
      Use .grid--rev so that the collection tags appear below the products on mobile
    {% endcomment %}

    {%comment%}{% include 'toolbar' %}{%endcomment%}

    {% comment %}
      Use class grid-uniform to have evenly sized columns clear
      each other properly at each breakpoint.
    {% endcomment %}
<style>
  .yotpo .standalone-bottomline.star-clickable, .yotpo .standalone-bottomline .star-clickable{
    display: block;
  }
  .yotpo .pull-left{
    float: none !important;
    text-align: center;
  }
</style>
    <div class="products-grid">
      <div class="row">
        {% if collection.products.size > 0 %}
            {% paginate collection.products by product_per_page %}
            {% for product in collection.products %}
                {% include 'product-grid-item-category' %}
            {% endfor %}
            {% endpaginate %}
        {% else %}
            <p style="text-align: center;">There are no products in this collection.</p>
        {% endif %}
      </div>
    </div>

    {% if paginate.pages > 1 %}
    <div class="padding">
      {% include 'pagination-page' %}
    </div>
    {% endif %}

    {% endpaginate %}


  </div>
</div>

