<style>
    .bluebckg{
        background-color: #454d5a;
        padding: 40px 0;
    }
    .graytxt{
        color: gray;
        padding: 40px 0;
    }
    .graytxt P{
        color: gray;
    }
    .graytxt H2{
        color: #454d5a;
    }

    .shopify-buy-frame--product{
        background-color: #454d5a;
    }
    SECTION.sierraD-test P{
        color: white;
    }
    SECTION.sierraD-test H2{
        color: white;
        margin-bottom: 35px;
    }
    .guarantees h4{
        color: #454d5a;
        margin: 30px 0 15px 0;
    }
    
</style>
<!--<div id="followMeBar">
    <p class=""><a href="#buy" class="sscroll lp-cta" title="Buy the Sierra mattress">BUY IT</a></p>
</div>-->
<div id="followMeBar" class="stickybuy-invisible">
    <p class=""><span style="font-size: 20px;color: white;line-height: 50px;">The Ojai Mattress </span><a href="/products/ojai-mattress" class="sscroll lp-cta" title="">BUY</a></p>
</div>
<div class="landing">
    <div class="jumbtron ojai flexVCenter flexRightTop">
        <div class="tagline">
            <h1>The Ojai Mattress</h1>
            <p class="line"><i>Reasons why you should upgrade to the Ojai Mattress.</i></p>
            <p><a href="#start" class="sscroll lp-cta">Discover It</a></p>
        </div>
    </div>
    <div id="start"></div>
    <div id="" class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <p class="text-left">We got our start with the Cypress Bamboo Gel collection, and thousands of people are still enjoying great sleep on that classic memory foam model. Those same people have also given us incredible feedback over several years, so eventually we decided it was time for an upgrade.<br>
                    Meet our Ojai Hybrid Mattress. This new and improved model combines classic memory foam comfort with the unmatched support of our 5-zone coil base. <strong>Scroll to see the updates!</strong>
                </p><br>
            </div>
        </div>
    </div>
    <p class="text-center">
        <a href="/products/ojai-mattress" class="ctaStd">BUY IT</a>
    </p>
    <section class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-push-6">
                <img src="https://brentwood-home.imgix.net/ojai-internals.jpg?w=800" alt="" class="img-responsive">
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-pull-6 even">
                <h2>Hybrid Mattress Construction</h2>
                <p style="margin: 40px 0;">Coil bases breathe better, support more precisely, have the least motion transfer, and will outlast any foam bases.</p>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <img src="https://brentwood-home.imgix.net/ojai-cool.jpg?w=800" alt="" class="img-responsive">
            </div>
            <div class="col-xs-12 col-sm-6 even">
                <h2>Improved Pressure Relief and Comfort</h2>
                <p style="margin: 40px 0;">Flo Foam is our extra breathable top layer that provides a plush cloud-like feel, Higher density memory foam relieves pressure points, Natural latex actively responds to keep you supported, preventing the quicksand effect that leaves you stuck in one spot</p>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-push-6">
                <img src="https://brentwood-home.imgix.net/mattress-5zones.jpg" alt="" class="img-responsive">
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-pull-6 even">
                <h2>5-Zones of Targeted Support</h2>
                <p style="margin: 40px 0;">Individually wrapped coils move independently to always provide the right amount of support while preventing motion transfer. 3 unique zones provide targeted support to your shoulders, lower back, and hips. 2 zones reinforce the perimeter for the best edge support.</p>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <img src="https://brentwood-home.imgix.net/ojai-corner.jpg?w=800" alt="" class="img-responsive">
            </div>
            <div class="col-xs-12 col-sm-6 even">
                <h2>Increased Durability</h2>
                <p style="margin: 40px 0;">Upholstery grade fabrics are more durable. Hand-stitched edges give the mattress a more refined look while holding the layers together to prevent shifting of the layers. Hand-tufting holds the layers together without air-blocking adhesives.</p>
            </div>
        </div>
    </section>
    <p class="text-center">
        <a href="/products/ojai-mattress" class="ctaStd">BUY IT</a>
    </p>
    <section class="graytxt guarantees">
        <h2 class="text-center">Our Guarantees</h2><br><br>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                    <img src="https://brentwood-home.imgix.net/icon-120nights.svg" alt="120-Night Guarantee" />
                    <h4>120-Night Guarantee</h4>
                    <p class="hidden-xs">Sleep on your mattress for up to 120 nights. If you don’t love it, return it for a full refund.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                    <img src="https://brentwood-home.imgix.net/icon-FreeShipping2.svg" alt="Free Shipping & Return" />
                    <h4>Free Shipping & Returns</h4>
                    <p class="hidden-xs">This mattress ships for free with free pickups on returns.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                    <img src="https://brentwood-home.imgix.net/icon-California.svg" alt="Made in California" />
                    <h4>Made in California</h4>
                    <p class="hidden-xs">We design, develop, and handcraft all of our mattresses here in Los Angeles, CA.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                    <img src="https://brentwood-home.imgix.net/icon-25YearWarranty.svg" alt="25-Year Warranty" />
                    <h4>25 Year Limited Warranty</h4>
                    <p class="hidden-xs">We’re proud of our quality, so we back our mattresses with a 25 year warranty.</p>
                </div>
            </div>
        </div>
    </section>
    <div id="buy"></div>
    <section id="lp-buysection" class="sierraD-test product bluebckg">
        <h2 class="text-center">Size</h2>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-center">
                    <p><strong>Twin</strong><br/>39" x 75" x 11"<br>44 lbs.</p> 
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-center">
                    <p><strong>Twin XL</strong><br/>39" x 80" x 11"<br/>50 lbs.</p>
                </div> 
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-center">
                    <p><strong>Full</strong><br/>54" x 75" x 11"<br/>68 lbs.</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-center">
                    <p><strong>Queen</strong><br/>60" x 80" x 11"<br/>89 lbs.</p> 
                </div> 
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-center">
                    <p><strong>King</strong><br/>76" x 80" x 11"<br/>109 lbs.</p>
                </div> 
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-center">
                    <p><strong>CA King</strong><br/>72" x 84" x 11"<br/>108 lbs.</p>
                </div>
            </div>
        </div>
        {% assign product = all_products['ojai-mattress'] %}
        {%comment%}
        <form action="/cart/add" method="post" enctype="multipart/form-data" id="add-to-cart-form">
            <div id="product-variants">
                {% assign variantCount = product.variants | size %}
                {% if product.available %}
                {% if variantCount > 1 %}
                <select id="product-selectors" name="id" style="display:none">
                    {% for variant in product.variants %}
                    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                    {% endfor %}
                </select>
                {% if settings.use_color_swatch %}
                {% for option in product.options %}
                {% include 'swatch' with option %}
                {% endfor %}
                {% endif %}
                {% else %}
                <input type="hidden" name="id" value="{{ product.variants[0].id }}" />
                {% endif %}
                {% endif %}
            </div>

            {% if product.available %}
            <div class="clearfix" {% if productTags contains 'amazon' %} style="display:none;"{%endif%}>
                <input type="hidden" id="quantity" name="quantity" value="1">
                <!-- PRICE -->
                <div id="price" class="prices" style="margin: 5px;">
                    {% if product.compare_at_price > product.price %}
                    <span class="compare-price">{{ product.compare_at_price_max | money }}</span>
                    <span class="price on-sale" itemprop="price">{{ product.price | money }}</span>
                    {% else %}
                    <span itemprop="priceCurrency" content="{{ shop.currency }}"></span>
                    <span class="price" itemprop="price" content="{{ product.price | money_without_currency }}">{{ product.price | money_without_currency }}</span>
                    {% endif %}
                </div>
            </div>
            <p class="text-center">
                <input type="submit" name="add" class="btn addtocart" id="product-add-to-cart" value="Add to Cart">
            </p>
            {%endif%}
            {%endcomment%}
            {%comment%}<input type="hidden" name="properties[Coupon]" value="Use code SIERRA25 for 25% off">{%endcomment%}
        </form>
        {% assign current_variant = product.selected_or_first_available_variant %}
    </section>
    <section>
        <div class="container">
            <h2>Description</h2>
            {{product.description}}
        </div>
    </section>
    <p class="text-center">
        <a href="/products/ojai-mattress" class="ctaStd">BUY IT</a>
    </p>
    <br><br><br>
</div>
<script>
    mixpanel.track("Ojai Upgrade",{
        "ab version": 1
    });
    /*$("#product-add-to-cart").click(function(){
        mixpanel.track("Added to Cart D", {
            "name": "{{product.title}}",
            "price": '{{ product.price | money_without_currency }}',
            "variant": "{{current_variant.title}}",
            "currency":'{{shop.currency}}'
        });
    });*/
    /*$(document).ready(function(){
        $("#aboutus-continue").click(function(){
            mixpanel.track("Clicked Continue Shopping");
        });
    });*/
</script>
<script>
    $(document).ready(function(){
        $('A.sscroll').bind('click', function(event) {
            var $anchor = $(this);
            $('html, body').stop().animate({
                scrollTop: $($anchor.attr('href')).offset().top - 150
            }, 1500, 'easeInOutExpo');
            event.preventDefault();
        });
        //$("#sitewidesalebanner").css({"display":"none"});

    });
    sessionStorage.setItem("page", "SierraLP");
</script>
{{ 'jquery.sticky.js' | asset_url | script_tag }}
<script>



    //update price when changing quantity
    function updatePricing() {

        //try pattern one before pattern 2
        var regex = /([0-9]+[.|,][0-9]+[.|,][0-9]+)/g;
        var unitPriceTextMatch = jQuery('.product .price').text().match(regex);

        if (!unitPriceTextMatch) {
            regex = /([0-9]+[.|,][0-9]+)/g;
            unitPriceTextMatch = jQuery('.product .price').text().match(regex);
        }
        //console.log("unitPriceTextMatch", unitPriceTextMatch);
        if (unitPriceTextMatch) {
            var unitPriceText = unitPriceTextMatch[0];
            var unitPrice = unitPriceText.replace(/[.|,]/g,'');
            var quantity = 1;
            var totalPrice = unitPrice * quantity;

            var totalPriceText = Shopify.formatMoney(totalPrice, window.money_format);

            totalPriceText = totalPriceText.match(regex)[0];

            var regInput = new RegExp(unitPriceText, "g");
            var totalPriceHtml = jQuery('.product .price').html().replace(regInput ,totalPriceText);

            //console.log("hello", totalPriceText);

            jQuery('.product .price').html(totalPriceHtml);
        }

    }
    //jQuery('#quantity').on('change', updatePricing);


    var selectCallback = function(variant, selector) {

        var addToCart = jQuery('#product-add-to-cart'),
            productPrice = jQuery('.product .price'),
            comparePrice = jQuery('.product .compare-price');

        if (variant) {
            if (variant.available) {
                // We have a valid product variant, so enable the submit button
                addToCart.removeClass('disabled').removeAttr('disabled').val('Add to Cart');

            } else {
                // Variant is sold out, disable the submit button
                addToCart.val('Sold Out').addClass('disabled').attr('disabled', 'disabled');
            }

            // Regardless of stock, update the product price
            productPrice.html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}"));

            // Also update and show the product's compare price if necessary
            if ( variant.compare_at_price > variant.price ) {
                productPrice.addClass("on-sale")
                comparePrice
                    .html(Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}"))
                    .show();
            } else {
                comparePrice.hide();
                productPrice.removeClass("on-sale");
            }
            {% if settings.use_color_swatch %}
            // BEGIN SWATCHES
            var form = jQuery('#' + selector.domIdPrefix).closest('form');
             for (var i=0,length=variant.options.length; i<length; i++) {
                 var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
                 if (radioButton.size()) {
                     radioButton.get(0).checked = true;
                 }
             }
             // END SWATCHES
             {% endif %}


             updatePricing();



             } else {
                 // The variant doesn't exist. Just a safeguard for errors, but disable the submit button anyway
                 addToCart.val('Unavailable').addClass('disabled').attr('disabled', 'disabled');
             }

             //update variant inventory
             {% if settings.display_availability %}
             if (variant.available) {
                 if (variant.inventory_management!=null) {
                     jQuery(".product-inventory span").text(variant.inventory_quantity + " in stock");
                 } else {
                     jQuery(".product-inventory span").text("Many in stock");
                 }
             } else {
                 jQuery(".product-inventory span").text("Out of stock");
             }
              {% endif %}




              //updateAffirmAsLowAs( variant.price ); //Update affirm price
              };

              jQuery(function($) {
                  {% if product.available and product.variants.size > 1 %}
                  new Shopify.OptionSelectors('product-selectors', {
                      product: {{ product | json }},
                                              onVariantSelected: selectCallback,
                                              enableHistoryState: true
                                              });

                   {% comment %}
                   Use color swatch and linked options (copyright by @carolineschnapp)
                    {% endcomment %}
                    {% if settings.use_color_swatch and product.available and product.options.size > 1 %}
                    Shopify.linkOptionSelectors({{ product | json }});
                     {% endif %}

                     {% if settings.use_color_swatch != true %}
                     jQuery('.single-option-selector').selectize();
                      jQuery('.selectize-input input').attr("disabled","disabled");
                      {% endif %}

                      {% endif %}

                      // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
                      {% if product.options.size == 1 and product.options.first != 'Title' %}
                      $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
                       {% endif %}

                       // Hide selectors if we only have 1 variant and its title contains 'Default'.
                       {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                       $('.selector-wrapper').hide();
                        {% endif %}

                        // Auto-select first available variant on page load. Otherwise the product looks sold out.
                        {% assign found_one_in_stock = false %}
                        {% for variant in product.variants %}
                        {% if variant.available and found_one_in_stock == false %}
                        {% assign found_one_in_stock = true %}
                        {% for option in product.options %}
                        $('.single-option-selector:eq({{ forloop.index0 }})').val({{ variant.options[forloop.index0] | json }}).trigger('change');
                         {% endfor %}
                         {% endif %}
                         {% endfor %}


                         });

</script>
<script>
    /*$(document).ready(function(){
        if (window.innerWidth > 414) {
            $("#followMeBar").sticky({
                topSpacing:70,
                zIndex: 10000
            });
        }else{
            $("#followMeBar").sticky({
                topSpacing:50,
                zIndex: 10000
            });
            $("body:not(.template-index) #header-content").css({"position":"fixed", "top":0});
        }
    });*/
</script>
{{ 'jquery.sticky.js' | asset_url | script_tag }}
<script>
    $(document).ready(function(){
        $(window).scroll(function () {
            //console.log($(window).scrollTop());
            if (window.innerWidth > 414) {
                if ($(window).scrollTop() > 500) {
                    $("#followMeBar").sticky({
                        topSpacing:78,
                        zIndex: 10000
                    });
                    $('#followMeBar').removeClass('stickybuy-invisible');
                    $('#followMeBar-sticky-wrapper').removeClass('stickybuy-invisible');
                    //$('#followMeBar').addClass('stickybuy-visible');
                }
                if ($(window).scrollTop() < 501) {
                    $('#followMeBar').addClass('stickybuy-invisible');
                    $('#followMeBar-sticky-wrapper').addClass('stickybuy-invisible');
                }
            }else{
                if ($(window).scrollTop() > 1050) {
                    $("#followMeBar").sticky({
                        topSpacing:0,
                        zIndex: 10000
                    });
                    $('#followMeBar').removeClass('stickybuy-invisible');
                    $('#followMeBar-sticky-wrapper').removeClass('stickybuy-invisible');
                }
                if ($(window).scrollTop() < 1051) {
                    $('#followMeBar').addClass('stickybuy-invisible');
                    $('#followMeBar-sticky-wrapper').addClass('stickybuy-invisible');
                }
            }
        });
    });
</script>
