<style>
    DIV.standardPages .hero{
        margin-bottom: 45px;
    }
    DIV.standardPages h2{
        text-align: left !important;
        font-size: 20px !important;
        line-height: 30px;
    }
    DIV.standardPages A{
        color: #4A90E2;
    }
    DIV.standardPages A:HOVER{
        color: #4A90E2;
        text-decoration: underline;
    }
    DIV.standardPages{
        text-align: left;
    }
    
    DIV.standardPages HR{
        margin-top: 30px;
        margin-bottom: 30px;
        border-color: #dedede;
    }
    DIV.standardPages .row.sale{
        margin: 40px 0;
    }
    @media (max-width: 767px){
        DIV.standardPages{
            text-align: center;
        }
        DIV.standardPages h2{
            font-size: 18px !important;
            line-height: 26px !important;
            text-align: center !important;
        }
        DIV.standardPages .hero{
            margin-bottom: 0px;
        }
        DIV.standardPages .row.sale{
            margin: 25px 0;
        }
        DIV.standardPages .row.sale IMG{
            margin-top: 15px;
        }
    }
</style>


{% include 'nowtime' %}

<div class="standardPages">
    <div class="row hero">
        <div class="col-xs-12">
            {% if rightnowint <= currentPromoEnd %}
                <picture>
                <source media="(max-width: 414px)" srcset="https://s3-brentwoodhome.imgix.net/sale/winterhero.jpg?rect=376,0,1365,1365&bri=-8&txtalign=middle,center&txtfont=Didot,Italic&txt=Summer%20Sale&txtclr=FFFFFF&txtsize=36&w=414">
                <source media="(min-width: 415px) and (max-width: 767px)" srcset="https://s3-brentwoodhome.imgix.net/sale/winterhero.jpg?rect=0,290,2048,918&bri=-5&txtalign=middle,center&txtfont=Didot,Italic&txt=Summer%20Sale&txtclr=FFFFFF&txtsize=48&w=768">
                <source media="(min-width: 768px)" srcset="https://s3-brentwoodhome.imgix.net/sale/winterhero.jpg?rect=0,290,2048,918&bri=-5&txtalign=middle,center&txtfont=Didot,Italic&txt=Summer%20Sale&txtclr=FFFFFF&txtsize=75&w=1140">
                <img src="https://s3-brentwoodhome.imgix.net/sale/winterhero.jpg?rect=0,290,2048,918&bri=-5&txtalign=middle,center&txtfont=Didot,Italic&txt=Summer%20Sale&txtclr=FFFFFF&txtsize=75&w=1140" alt="">
                </picture>
            {% elsif rightnowint > currentPromoEnd and rightnowint <= newPromoEnd %}
                <picture>
                <source media="(max-width: 414px)" srcset="https://s3-brentwoodhome.imgix.net/sale/winterhero.jpg?rect=376,0,1365,1365&bri=-8&txtalign=middle,center&txtfont=Didot,Italic&txt=Labor%20Day%20Sale&txtclr=FFFFFF&txtsize=36&w=414">
                <source media="(min-width: 415px) and (max-width: 767px)" srcset="https://s3-brentwoodhome.imgix.net/sale/winterhero.jpg?rect=0,290,2048,918&bri=-5&txtalign=middle,center&txtfont=Didot,Italic&txt=Labor%20Day%20Sale&txtclr=FFFFFF&txtsize=48&w=768">
                <source media="(min-width: 768px)" srcset="https://s3-brentwoodhome.imgix.net/sale/winterhero.jpg?rect=0,290,2048,918&bri=-5&txtalign=middle,center&txtfont=Didot,Italic&txt=Labor%20Day%20Sale&txtclr=FFFFFF&txtsize=75&w=1140">
                <img src="https://s3-brentwoodhome.imgix.net/sale/winterhero.jpg?rect=0,290,2048,918&bri=-5&txtalign=middle,center&txtfont=Didot,Italic&txt=Labor%20Day%20Sale&txtclr=FFFFFF&txtsize=75&w=1140" alt="">
                </picture>
            {% endif %}
        </div>
    </div>

    {% if rightnowint <= currentPromoEnd %} <!--  -->
        <div class="row sale">
            <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                <h2>$400 OFF THE NEW CEDAR NATURAL LUXE<br>USE CODE <strong>“CEDAR400”</strong></h2>
                <p>For a limited time, save $400 off our handcrafted, natural and organic <a href="/products/cedar-natural-luxe-mattress" title="Cedar Natural Luxe Mattress">Cedar Natural Luxe</a> hybrid mattress.</p>
                <p><small>Offers cannot be combined. {{ enddate }}.</small></p> 
            </div>
            <div class="col-xs-12 col-sm-5">
                <img src="https://s3-brentwoodhome.imgix.net/sale/cedarluxe_coupleview2.jpg?w=760" alt="">
            </div>
        </div>
        <div class="row sale">
            <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                <h2>$175 OFF SELECT MATTRESSES<br>USE CODE <strong>“LUXURY175”</strong></h2>
                <p>For a limited time, save $175 off our handcrafted, non-toxic & dual-sided <a href="/products/crystal-cove-mattress" title="Crystal Cove Mattress">Crystal Cove</a> hybrid mattress or our best-selling luxurious <a href="/products/oceano-mattress" title="Oceano Mattress">Oceano</a> hybrid mattress.</p>
                <p><small>Offers cannot be combined. {{ enddate }}.</small></p> 
            </div>
            <div class="col-xs-12 col-sm-5">
                <img src="https://brentwood-home-products.imgix.net/crystalcove-sideview2.jpg?w=760" alt="">
            </div>
        </div>
        <div class="row sale">
            <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                <h2>20% OFF CRYSTAL COVE YOGA COLLECTION<br> USE CODE <strong>“YOGA20”</strong></h2>                
                <p>Enjoy 20% off our best selling <a href="/pages/crystal-cove-collection" title="Crystal Cove Yoga Collection">Crystal Cove Yoga Collection</a> pillows plus get free shipping & free returns.
                </p>
                <p style="line-height: 17px;"><small>Offers cannot be combined. Excludes Crystal Cove Yoga Bundle. {{ enddate }}.</small></p> 
            </div>
            <div class="col-xs-12 col-sm-5">
                <img src="https://s3-brentwoodhome.imgix.net/sale/winteryogapillows.jpg?w=760" alt="">
            </div>
        </div>
        <div class="row sale">
            <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                <h2>20% OFF PET BEDS<br> USE CODE <strong>“PETBED20”</strong></h2>                
                <p>Our best selling <a href="/products/runyon-deluxe-orthopedic-pet-bed" title="Runyon Pet Bed">Runyon</a> and <a href="/products/griffith-orthopedic-pet-bed" title="Griffith Pet Bed">Griffith</a> pet beds are on sale for 20% off while supplies last. Plus, enjoy free shipping & free returns.
                </p>
                <p><small>While supplies last. Offers can’t be combined.</small></p>
            </div>
            <div class="col-xs-12 col-sm-5">
                <img src="https://s3-brentwoodhome.imgix.net/sale/winterpetbed.jpg?w=760" alt="">
            </div>
        </div>
       {%comment%}
        <div class="row sale">
            <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                <h2>$175 OFF SELECT MATTRESSES<br>USE CODE <strong>“LUXURY175”</strong></h2>
                <p>For a limited time, save $175 off our handcrafted, non-toxic luxury <a href="/products/oceano-mattress" title="Oceano Mattress">Oceano</a>, <a href="/products/crystal-cove-mattress" title="Crystal Cove Mattress">Crystal Cove</a> and <a href="/products/cedar-natural-luxe-mattress" title="Cedar Natural Luxe Mattress">Cedar Natural Luxe</a> mattresses.</p>
                <p><small>Offers cannot be combined. Ends May 13.</small></p> 
            </div>
            <div class="col-xs-12 col-sm-5">
                <img src="https://s3-brentwoodhome.imgix.net/sale/cedarluxe_coupleview2.jpg?w=760" alt="">
            </div>
        </div>
        <div class="row sale">
            <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                <h2>20% OFF CRYSTAL COVE YOGA COLLECTION<br> USE CODE <strong>“YOGA20”</strong></h2>                
                <p>Enjoy 20% off our best selling <a href="/pages/crystal-cove-collection" title="Crystal Cove Yoga Collection">Crystal Cove Yoga Collection</a> pillows plus get free shipping & free returns.
                </p>
                <p style="line-height: 17px;"><small>Offers cannot be combined. Excludes Crystal Cove Yoga Bundle. Ends May 13.</small></p> 
            </div>
            <div class="col-xs-12 col-sm-5">
                <img src="https://s3-brentwoodhome.imgix.net/sale/winteryogapillows.jpg?w=760" alt="">
            </div>
        </div>
        <div class="row sale">
            <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                <h2>20% OFF PET BEDS<br> USE CODE <strong>“PETBED20”</strong></h2>                
                <p>Our best selling <a href="/products/runyon-deluxe-orthopedic-pet-bed" title="Runyon Pet Bed">Runyon</a> and <a href="/products/griffith-orthopedic-pet-bed" title="Griffith Pet Bed">Griffith</a> pet beds are on sale for 20% off while supplies last. Plus, enjoy free shipping & free returns.
                </p>
                <p><small>While supplies last. Offers can’t be combined.</small></p>
            </div>
            <div class="col-xs-12 col-sm-5">
                <img src="https://s3-brentwoodhome.imgix.net/sale/winterpetbed.jpg?w=760" alt="">
            </div>
        </div>
        {%endcomment%}
    {% elsif rightnowint > currentPromoEnd and rightnowint <= newPromoEnd %} 
        <div class="row sale">
            <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                <h2>$400 OFF THE NEW CEDAR NATURAL LUXE<br>USE CODE <strong>“CEDAR400”</strong></h2>
                <p>For a limited time, save $400 off our handcrafted, natural and organic <a href="/products/cedar-natural-luxe-mattress" title="Cedar Natural Luxe Mattress">Cedar Natural Luxe</a> hybrid mattress.</p>
                <p><small>Offers cannot be combined. {{ enddate }}.</small></p> 
            </div>
            <div class="col-xs-12 col-sm-5">
                <img src="https://s3-brentwoodhome.imgix.net/sale/cedarluxe_coupleview2.jpg?w=760" alt="">
            </div>
        </div>
        <div class="row sale">
            <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                <h2>$175 OFF SELECT MATTRESSES<br>USE CODE <strong>“LUXURY175”</strong></h2>
                <p>For a limited time, save $175 off our handcrafted, non-toxic & dual-sided <a href="/products/crystal-cove-mattress" title="Crystal Cove Mattress">Crystal Cove</a> hybrid mattress or our best-selling luxurious <a href="/products/oceano-mattress" title="Oceano Mattress">Oceano</a> hybrid mattress.</p>
                <p><small>Offers cannot be combined. {{ enddate }}.</small></p> 
            </div>
            <div class="col-xs-12 col-sm-5">
                <img src="https://brentwood-home-products.imgix.net/crystalcove-sideview2.jpg?w=760" alt="">
            </div>
        </div>
        <div class="row sale">
            <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                <h2>20% OFF CRYSTAL COVE YOGA COLLECTION<br> USE CODE <strong>“YOGA20”</strong></h2>                
                <p>Enjoy 20% off our best selling <a href="/pages/crystal-cove-collection" title="Crystal Cove Yoga Collection">Crystal Cove Yoga Collection</a> pillows plus get free shipping & free returns.
                </p>
                <p style="line-height: 17px;"><small>Offers cannot be combined. Excludes Crystal Cove Yoga Bundle. {{ enddate }}.</small></p> 
            </div>
            <div class="col-xs-12 col-sm-5">
                <img src="https://s3-brentwoodhome.imgix.net/sale/winteryogapillows.jpg?w=760" alt="">
            </div>
        </div>
        <div class="row sale">
            <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                <h2>20% OFF PET BEDS<br> USE CODE <strong>“PETBED20”</strong></h2>                
                <p>Our best selling <a href="/products/runyon-deluxe-orthopedic-pet-bed" title="Runyon Pet Bed">Runyon</a> and <a href="/products/griffith-orthopedic-pet-bed" title="Griffith Pet Bed">Griffith</a> pet beds are on sale for 20% off while supplies last. Plus, enjoy free shipping & free returns.
                </p>
                <p><small>While supplies last. Offers can’t be combined.</small></p>
            </div>
            <div class="col-xs-12 col-sm-5">
                <img src="https://s3-brentwoodhome.imgix.net/sale/winterpetbed.jpg?w=760" alt="">
            </div>
        </div>
    {%endif%}

</div> <!-- end standardPages -->


<script>
    mixpanel.track("Sale Page", {
        "name": "{{ page_title | handle }}"
    });
</script> 
