{% assign cedar = all_products['cedar-natural-luxe-mattress'] %}
{% assign oceano = all_products['oceano-mattress'] %}
<div class="standardPages">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">Homegrown Organic Wool</h1>
            <img src="{{ 'raw-wool.jpg' | asset_url }}" alt="wool">
        </div>
        <div class="col-xs-12 col-md-8 col-md-offset-2 description">
            <p class="quote">Wool is the highest-functioning, sustainable natural fiber in the world. It wicks away moisture and regulates body temperature, keeping you cool in the summer and warm in the winter.</p>
        </div>

    </div> 
    <div class="row">
        <!-- Left Column -->
        <div id="where" >
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="col-left-block-material" style="">
                    <p class="text-center"><img src="{{'material-pin.png'|asset_url}}" alt="Wool from India"></p>
                    <h2>Where we get it</h2>
                    <h3>India</h3>
                    <p class="text-left">In the Himachal Pradesh region of northern India, our 150,000 sheep wander among organic pastures throughout the 40,000 hectares we manage.
                    </p>
                    <p class="text-center"><img src="{{'material-map-india.png'|asset_url}}" alt="India"></p>
                </div> 
            </div>
        </div>

        <!-- Right Column -->
        <div class="col-lg-9 col-md-9 col-sm-9 right-pane">
            <h2>Unparalleled Performance</h2>
            <p>Wool is a completely natural, sustainable, and biodegradable material that’s collected by shearing sheep to relieve them of their winter fleece. Because they produce new coats each year, wool is a renewable and biodegradable fiber. No technology can outperform it. Its breathable, fine fibers make it naturally thermoregulating — keeping you insulated and warm when it’s cold and cool when it’s hot. Wool also provides a natural odor management and flame retardant. The fibers can singe and char, but are very hard to ignite.</p>
            <p><img src="{{'materials_wool.jpg'|asset_url}}" alt="wool"></p>

            <h2>From Our Farm</h2>
            <p>In the Himachal Pradesh region of northern India, our 150,000 sheep wander among organic pastures throughout the 40,000 hectares we manage. A lot of companies use wool in their products — but few own their own sheep herds and processing facilities. By managing the entire supply chain, we can ensure sustainable farming practices, humane treatment of the sheep, and safe, ethical employment for our herders, farmers, and factory workers.  </p>

            <h2>Certified Organic and Responsible</h2>
            <p>We are pending approval by the <a href="https://responsiblewool.org/" target="_blank">Responsible Wool Standard</a>, a third-party certification awarded to farms that practice welfare to sheep and the land they graze on. Our wool is also certified organic, which means we don’t practice mulesing or cruel tail-docking. It also confirms that all feed is organic, the herd has access to the outdoors at all times, and that we don’t use genetic engineering or synthetic pesticides or hormones. </p>

            <p>Our commitment to the <a href="https://www.global-standard.org/" target="_blank">Global Organic Textile Standard</a> validates clean processing — and social responsibility. Sitting along the white-water Sutlej River in Rampur, India, our GOTS organic certified wool factory helps marginalized women gain independence. Inside, we don’t use any harmful chemicals. The raw fibers are naturally cleaned, carded, and combed — creating some of the best quality wool in the world. </p>
            <h2>Where we use it</h2>
            <div class="where-we-use-products">
                <div class="col-xs-12 col-md-4">
                    <a href="{{ cedar.url }}" class="product-grid-image" title="{{cedar.title}}">
                        <picture>
                            <source media="(min-width: 768px)" srcset="https://brentwood-home-products.imgix.net/cedarfrontcover-2.jpg?w=360&fit=crop&auto=format&q=75">

                            <source media="(min-width: 320px)" srcset="https://brentwood-home-products.imgix.net/cedarfrontcover-2.jpg?w=414&fit=crop&auto=format&q=40&dpr=2">
                            <img src="https://brentwood-home-products.imgix.net/cedarfrontcover-2.jpg?w=752&fit=crop&auto=format&q=75" alt="Cedar NAtural Luxe">
                        </picture>
                    </a>
                    <p><a href="{{ cedar.url }}" title="{{cedar.title}}"><h3>{{cedar.title}}</h3></a></p>
                    <p>Made with eco-friendly and organic materials, our Cedar mattress is the answer to your search for all natural comfort.</p>
                </div>
                <div class="col-xs-12 col-md-4">
                    <a href="{{ oceano.url }}" class="product-grid-image" title="">
                        <picture>
                            <source media="(min-width: 768px)" srcset="https://brentwood-home-products.imgix.net/oceano2017-_0002_Oceano79006.jpg?w=360&fit=crop&auto=format&q=75">
                            <source media="(max-width: 320px)" srcset="hhttps://brentwood-home-products.imgix.net/oceano2017-_0002_Oceano79006.jpg?w=414&fit=crop&auto=format&q=40&dpr=2">
                            <img src="https://brentwood-home-products.imgix.net/oceano2017-_0002_Oceano79006.jpg?w=752&fit=crop&auto=format&q=75" alt="">
                        </picture>
                    </a>
                    <p><a href="{{ oceano.url }}" title="{{oceano.title}}"><h3>{{oceano.title}}</h3></a></p>
                    <p>The Oceano is where traditional craftsmanship meets new sleep technology for endless nights of luxury comfort.</p>
                </div>
            </div>
            <p class="text-center" style="margin: 40px 0;"><a href="/pages/materials" title="Back to materials" class="cta2">Back to materials</a></p>
        </div>
    </div> 
</div>       
<script>
    mixpanel.track("Materials Page", {
        "name": "{{ page_title | handle }}"
    });
</script> 