
<div class="standardPages">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">Natural Latex</h1>
            <img src="{{ 'naturallatex-tree.jpg' | asset_url }}" alt="Natural Latex">
        </div>
        <div class="col-xs-12 col-md-8 col-md-offset-2 description">
            <p class="quote">Natural latex is a sustainable and renewable material, harvested from rubber trees in tropical regions, that provides uplifting support in our mattresses and pillows.</p>
        </div>

    </div> 
    <div class="row">
        <!-- Left Column -->
        <div id="where" >
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="col-left-block-material" style="">
                    <p class="text-center"><img src="{{'material-pin.png'|asset_url}}" alt=""></p>
                    <h2>Where we get it</h2>
                    <h3>Vietnam</h3>
                    <p class="text-left">Our natural latex is sourced from the southern parts of Vietnam, where the climate for rubber trees is ideal.</p>
                    <p class="text-center"><img src="{{'material-map-vietnam.png'|asset_url}}" alt="Vietnam"></p>
                </div> 
            </div>
        </div>

        <!-- Right Column -->
        <div class="col-lg-9 col-md-9 col-sm-9 right-pane">
            <h2>The material</h2>
            <p>Natural Latex is a material sourced from rubber trees, usually found in tropical regions. The trees are tapped for their rubber polymer sap, which is then mixed with a small amount of organic compounds to reach a gel-like state, then poured into a mold where it takes its shape. Compared to synthetic latex, Natural Latex takes less energy to produce, lasts longer, and eliminates health concerns that come along with synthetic materials.</p>
            <p>The Natural Latex we use is free of synthetic ingredients and contaminants.</p>
            <p><img src="{{'materials_latex.jpg'|asset_url}}" alt="latex"></p>

            <h2>Why we use it</h2>
            <p>Natural Latex is a more durable, and energy-efficient material than its synthetic latex alternatives. Natural latex is soft but supportive, making it a popular choice for use in mattresses, pillows, toppers, crib mattresses, and other bedding. </p>
            <p>Its high elasticity, provides a “bounce back” feeling, pushing back on the parts of your body that push down harder while you sleep. It’s also a very healthy and breathable material, allowing for increased airflow that keeps you cool through the night. It has hypo-allergenic and antimicrobial properties, resisting mold and dust mites.</p>

            <h2>Where we use it</h2>
            <div class="where-we-use-products">
                <div class="col-xs-12 col-md-4">
                    <p><a href="/products/helena-pillow" title="Helena Pillow"><img src="https://cdn.shopify.com/s/files/1/0911/6592/products/carmel_1024x1024_b0e636e8-e2e0-4b32-90cb-d63297678800_1024x1024.jpg?v=1478547795" alt=""></a></p>
                    <p><a href="/products/helena-pillow" title="Helena Pillow"><h3>Helena Pillow</h3></a></p>
                    <p>Filled with a combination of 100% natural latex ribbons and silky-smooth kapok fibers, this pillow is both fluffy and supportive.</p>
                </div>
                <div class="col-xs-12 col-md-4">
                    <p><a href="/products/cedar-mattress" title="Cedar Mattress"><img src="https://brentwood-home.imgix.net/cedar-front-modelfree.jpg?w=480&fit=crop&auto=format&q=75" alt=""></a></p>
                    <p><a href="/products/cedar-mattress" title="Cedar Mattress"><h3>Cedar Mattress</h3></a></p>
                    <p>Made with only the finest natural and organic materials: eco-INSTITUT® certified natural latex, OEKO-TEX® certified wool, a flaxseed fiber pad, and GOTS® certified organic cotton.</p>
                </div>
                <div class="col-xs-12 col-md-4">
                    <p><a href="/products/crystal-cove-mattress" title="Crystal Cove Mattress"><img src="https://s3-brentwoodhome.imgix.net/crystalcove-compare.jpg?w=480&fit=crop&auto=format&q=75" alt=""></a></p>
                    <p><a href="/products/crystal-cove-mattress" title="Crystal Cove Mattress"><h3>Crystal Cove Mattress</h3></a></p>
                    <p>The Crystal Cove Mattress is an innovative dual-sided hybrid mattress specifically designed to promote therapeutic recovery and deep, restorative sleep.</p>
                </div>
            </div>
        </div>
    </div> 
    <p class="text-center" style="margin: 40px 0;"><a href="/pages/materials" title="Back to materials" class="btn">Back to materials</a></p>
</div>        
<script>
    mixpanel.track("Materials Page", {
        "name": "{{ page_title | handle }}"
    });
</script>