<div class="landing">
    <div class="jumbtron giftguide flexVCenter">
        <div class="tagline hidden-sm hidden-md hidden-lg">
            <h1>Holiday Guide</h1>
            <p class="hidden-xs line"><i></i></p>
            <p><a href="#start" class="sscroll lp-cta">SHOP THE GUIDE</a></p>
        </div>
        <a href="#start" class="ctalandinghook sscroll lp-cta hidden-xs" style=""></a>
    </div>
    <div id="start"></div>
    <div id="" class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <h2 class="text-center"></h2>
            </div>
        </div>
    </div>
    {%comment%}
    <div id="" class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <h2 class="text-center">Babies & Kids</h2>
            </div>
        </div>
    </div>
    <section class="container" id="">
        <div class="row">
            <div class="col-xs-12 col-sm-4 ">
                <a href="/products/wildfern-crib-and-toddler-mattress" title="Wildfern 2-Stage Crib Mattress"><img src="{{ 'collection-pets-runyon.jpg' | asset_url }}" alt="Wildfern 2-Stage Crib Mattress" class="img-responsive"></a>
                <a href="/products/wildfern-crib-and-toddler-mattress" title="Wildfern 2-Stage Crib Mattress"><h3>Wildfern 2-Stage Crib Mattress</h3></a>
                {%comment%}<p class="promo">50% OFF during pre-sale</p> {%endcomment%}
                <p>For the discerning parent who wants a natural mattress for their child, the Wildfern is filled with a firm organic coconut-husk layer for infants, with a plush organic latex layer on the other side for your growing toddler.</p>
                <p class="align-center"><a href="/products/wildfern-crib-and-toddler-mattress" class="lp-cta tack">LEARN MORE</a></p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <a href="/products/honeysuckle-nursing-pillow" title="Honeysuckle Nursing Pillow"><img src="{{ 'collection-pets-griffith.jpg' | asset_url }}" alt="/products/honeysuckle-nursing-pillow" class="img-responsive"></a>
                <a href="/products/honeysuckle-nursing-pillow" title="Honeysuckle Nursing Pillow"><h3>Honeysuckle Nursing Pillow</h3></a>
                <p>Our Honeysuckle pillow is a dual nursing pillow and infant sit-up pillow, allowing your baby to rest comfortably on your belly as you nurse or sit up on their own, surrounded by soft plush. </p>
                <p class="align-center"><a href="/products/honeysuckle-nursing-pillow" class="lp-cta track">LEARN MORE</a></p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <a href="/products/sweetpea-changing-pad" title="Sweetpea Changing Pad"><img src="{{ 'collection-pets-griffith.jpg' | asset_url }}" alt="Sweetpea Changing Pad" class="img-responsive"></a>
                <a href="/products/sweetpea-changing-pad" title="Sweetpea Changing Pad"><h3>Sweetpea Changing Pad</h3></a>
                <p>Our Sweet Pea changing pad contours to your baby’s body to keep them comfortable and minimize wiggling.</p>
                <p class="align-center"><a href="/products/sweetpea-changing-pad" class="lp-cta track">LEARN MORE</a></p>
            </div>
        </div>
    </section>
    <section class="container" id="">
        <div class="row">
            <div class="col-xs-12 col-sm-6 ">
                <a href="/products/runyon-deluxe-orthopedic-pet-bed" title="Runyon Deluxe Pet Bed"><img src="{{ 'collection-pets-runyon.jpg' | asset_url }}" alt="Runyon Deluxe Pet Bed" class="img-responsive"></a>
                <a href="/products/runyon-deluxe-orthopedic-pet-bed" title="Runyon Deluxe Pet Bed"><h2 class="text-left">Runyon Deluxe Pet Bed</h2></a>
                {%comment%}<p class="promo">50% OFF during pre-sale</p> {%endcomment%}
                <p>Designed for orthopedic support, easy maintenance, and classic style, our Runyon checks all of the
                    boxes for the perfect pet bed. No matter if you’ve got a Yorkie or a Saint Bernard (or even one of each),
                    the Runyon will give them the support they need, and a sturdy place to rest their head and paws.</p>
                <p class="align-center"><a href="/products/wildfern-crib-and-toddler-mattress" class="lp-cta tack">LEARN MORE</a></p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <a href="/products/honeysuckle-nursing-pillow" title="Honeysuckle Nursing Pillow"><img src="{{ 'collection-pets-griffith.jpg' | asset_url }}" alt="/products/honeysuckle-nursing-pillow" class="img-responsive"></a>
                <a href="/products/honeysuckle-nursing-pillow" title="Honeysuckle Nursing Pillow"><h3>Griffith Pet Bed</h3></a>
                <p>Our Honeysuckle pillow is a dual nursing pillow and infant sit-up pillow, allowing your baby to rest comfortably on your belly as you nurse or sit up on their own, surrounded by soft plush. </p>
                <p class="align-center"><a href="/products/honeysuckle-nursing-pillow" class="lp-cta track">LEARN MORE</a></p>
            </div>
        </div>
    </section>
    {%endcomment%}
    
    <section class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 ">
                <a href="/collections/baby-kids" title="Babies & Kids"><img src="{{ 'giftguide17-kids.jpg' | asset_url }}" alt="Babies & Kids" class="img-responsive"></a>
            </div>
            <div class="col-xs-12 col-sm-6 even">
                <a href="/collections/baby-kids" title="Babies & Kids Product"><h2>Babies & Kids</h2></a>
                <p>Keep your kids warm, and snug! A beautiful combination of natural and non-toxic materials means the whole family can play and sleep safe and sound.</p>
                <p><a href="/collections/baby-kids" class="track ctaStd green">SEE THE COLLECTION</a></p>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-push-6">
                <a href="/collections/pets" title="Pet Beds"><img src="{{ 'giftguide17-pets.jpg' | asset_url }}" alt="Pet Beds" class="img-responsive"></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-pull-6 even">
                <a href="/collections/pets" title="Pet Beds"><h2>Pet Beds</h2></a>
                <p>Your pet is apart of your family, so treat them to a good night’s sleep with our two stylish designs, made with the same natural materials as we use in our mattresses!</p>
                <p><a href="/collections/pets" class="track ctaStd green">SEE THE COLLECTION</a></p>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 ">
                <a href="/collections/bedding" title="Pillows & Quilts"><img src="{{ 'giftguide17-pillow.jpg' | asset_url }}" alt="Pillows & Quilts" class="img-responsive"></a>
            </div>
            <div class="col-xs-12 col-sm-6 even">
                <a href="/collections/bedding" title="Pillows & Quilts"><h2>Pillows & Quilts</h2></a>
                <p>Our selection of pillows and linen quilts will be sure to refresh your bedding just in time for any guests!</p>
                <p><a href="/collections/bedding" class="track ctaStd green">SEE THE COLLECTION</a></p>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-push-6">
                <a href="/pages/crystal-cove-collection" title="Crystal Cove Collection"><img src="{{ 'giftguide17-crystalcove.jpg' | asset_url }}" alt="Crystal Cove Collection" class="img-responsive"></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-pull-6 even">
                <a href="/pages/crystal-cove-collection" title="Crystal Cove Collection"><h2>Crystal Cove Collection</h2></a>
                <p>This holiday season, give yourself the gift of peace of mind - our yoga tools will aid your practice and offer natural, and comfortable support.</p>
                <p><a href="/pages/crystal-cove-collection" class="track ctaStd green">SEE THE COLLECTION</a></p>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 ">
                <a href="/collections/mattresses" title="Mattresses"><img src="{{ 'giftguide17-mattresses.jpg' | asset_url }}" alt="Mattresses" class="img-responsive"></a>
            </div>
            <div class="col-xs-12 col-sm-6 even">
                <a href="/collections/mattresses" title="Mattresses"><h2>Mattresses</h2></a>
                <p>Traditionally hand-crafted from sustainable materials, our mattresses offer a range of comfort for any sleep styles - and did we mention they already come wrapped up in a box?</p>
                <p><a href="/collections/mattresses" class="track ctaStd green">SEE THE COLLECTION</a></p>
            </div>
        </div>
    </section>
</div>
<script>
    mixpanel.track("Gift Guide");
    $(document).ready(function(){
        $("a.lp-cta.track").click(function(){
            mixpanel.track("CTA click");
        });
    });
</script>
<script>
    $(document).ready(function(){
        $('A.sscroll').bind('click', function(event) {
            var $anchor = $(this);
            $('html, body').stop().animate({
                scrollTop: $($anchor.attr('href')).offset().top - 150
            }, 1500, 'easeInOutExpo');
            event.preventDefault();
        });
    });
</script>