
<div class="standardPages">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">Buckwheat</h1>
            <img src="{{ 'raw-buckwheat.jpg' | asset_url }}" alt="buckwheat">
        </div>
        <div class="col-xs-12 col-md-8 col-md-offset-2 description">
            <p class="quote">Buckwheat is a plant that’s farmed for its grain-like, triangular seeds, which create the perfect adjustable fill in our Crystal Cove Meditation Pillow.</p>
        </div>

    </div> 
    <div class="row">
        <!-- Left Column -->
        <div id="where" >
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="col-left-block-material" style="">
                    <p class="text-center"><img src="{{'material-pin.png'|asset_url}}" alt=""></p>
                    <h2>Where we get it</h2>
                    <h3>North Dakota</h3>
                    <p class="text-left">The Buckwheat hulls we use are sourced from North Dakota.
                    </p>
                    <p class="text-center"><img src="{{'material-map-dakota.png'|asset_url}}" alt="North Dakota"></p>
                </div> 
            </div>
        </div>

        <!-- Right Column -->
        <div class="col-lg-9 col-md-9 col-sm-9 right-pane">
            <h2>The material</h2>
            <p>Buckwheat is a natural material that’s actually not a wheat or a grain, but a seed cultivated from the Buckwheat plant. The hulls are small and sturdy, and they’re being used more frequently as a natural alternative for pillow fill. Buckwheat hulls won’t break down or crack, even after years of repeated use. When used as a fill, their size and odd shape allows the hulls to move around easily, adjusting to your body and giving support right where it’s needed.</p>
            <p><img src="{{'materials_buckwheat.jpg'|asset_url}}" alt="Buckwheat"></p>

            <h2>Why we use it</h2>
            <p>Buckwheat hulls make an ideal fill for our Crystal Cove Meditation Pillow. Because of their size and their smooth texture, they shift easily inside the pillow, adjusting to the shape of your body to support extended periods of sitting that won’t strain your back. The hulls are sturdy and won’t flatten under weight, but you can add or remove them to reach your desired height. </p>

            <h2>Where we use it</h2>
            <div class="where-we-use-products">
                <div class="col-xs-12 col-md-4">
                    <p><a href="/products/crystal-cove-meditation-pillow" title="Crystal Cove Meditation Pillow"><img src="https://cdn.shopify.com/s/files/1/0911/6592/products/Meditation_Pillow0189_1024x1024.jpg?v=1475539574" alt=""></a></p>
                    <p><a href="/products/crystal-cove-meditation-pillow" title="Crystal Cove Meditation Pillow"><h3>Crystal Cove Meditation Pillow</h3></a></p>
                    <p>Designed by Los Angeles yoga instructor Angela Kukhahn, this pillow brings just enough height and support to your meditation practice...</p>
                </div>
                <div class="col-xs-12 col-md-4">
                    <p><a href="/products/crystal-cove-pranayama-bolster" title="Crystal Cove Pranayama Pillow"><img src="https://cdn.shopify.com/s/files/1/0911/6592/products/unspecified-7_1024x1024.jpeg?v=1490921057" alt=""></a></p>
                    <p><a href="/products/crystal-cove-pranayama-bolster" title="Crystal Cove Pranayama Pillow"><h3>Crystal Cove Pranayama Pillow</h3></a></p>
                    <p>Designed for Iyengar Yoga Pranayama practice, the Crystal Cove Pranayama Pillow assists with deep breathing exercises.</p>
                </div>
                <div class="col-xs-12 col-md-4">
                    <p><a href="/products/crystal-cove-yoga-bolster" title="Crystal Cove Yoga Bolster"><img src="https://cdn.shopify.com/s/files/1/0911/6592/products/unspecified-4_1024x1024.jpeg?v=1491517507" alt=""></a></p>
                    <p><a href="/products/crystal-cove-yoga-bolster" title="Crystal Cove Yoga Bolster"><h3>Crystal Cove Yoga Bolster</h3></a></p>
                    <p>This bolster was designed to add extra support and stability during your yoga practice, making it ideal for restorative yoga.</p>
                </div>
            </div>
        </div>
    </div> 
    <p class="text-center" style="margin: 40px 0;"><a href="/pages/materials" title="Back to materials" class="btn">Back to materials</a></p>
</div>        
<script>
    mixpanel.track("Materials Page", {
        "name": "{{ page_title | handle }}"
    });
</script>