
<div class="standardPages">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">GOLS Organic Certified Latex</h1>
            <img src="{{ 'naturallatex-tree.jpg' | asset_url }}" alt="Natural Latex">
        </div>
        <div class="col-xs-12 col-md-8 col-md-offset-2 description">
            <p class="quote">Our 100% GOLS organic certified latex is a sustainable and renewable material, harvested from rubber trees in tropical regions, that provides uplifting support in our mattresses and pillows.
            </p>
        </div>

    </div> 
    <div class="row">
        <!-- Left Column -->
        <div id="where" >
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="col-left-block-material" style="">
                    <p class="text-center"><img src="{{'material-pin.png'|asset_url}}" alt=""></p>
                    <h2>Where we get it</h2>
                    <h3>India</h3>
                    <p class="text-left">Our latex is sourced from India, where the climate for rubber trees is ideal, and then processed in a GOTS and GOLS organic certified facility that we own.<br> <a href="https://cdn.shopify.com/s/files/1/0911/6592/files/GOLS_certificate_BentwoodHome.pdf?10387" target="_blank">View our Certificate</a>
                    </p>
                    <p class="text-center"><img src="{{'material-map-india.png'|asset_url}}" alt="Vietnam"></p>
                </div> 
            </div>
        </div>

        <!-- Right Column -->
        <div class="col-lg-9 col-md-9 col-sm-9 right-pane">
            <h2>The material</h2>
            <p>GOLS organic certified latex is a material sourced from rubber trees, usually found in tropical regions (and trees that do not grow in the US). The trees are tapped for their rubber polymer sap, which is then mixed with a small amount of organic compounds to reach a gel-like state, then poured into a mold where it takes its shape. Compared to synthetic latex, Organic Latex takes less energy to produce, lasts longer, and eliminates health concerns that come along with synthetic materials.
            </p>
            <p>Our 100% GOLS organic certified latex we use is free of synthetic ingredients and contaminants.
            </p>
            <p><img src="{{'materials_latex.jpg'|asset_url}}" alt="latex"></p>

            <h2>Why we use it</h2>
            <p>Our GOLS organic certified and Dunlop processed latex is a more durable, and energy-efficient material than its Talalay or synthetic latex alternatives. Latex is soft but supportive, making it a popular choice for use in mattresses, pillows, toppers, crib mattresses, and other bedding.
            </p>
            <p>Its high elasticity provides a “bounce back” feeling, pushing back on the parts of your body that push down harder while you sleep. It’s also a very healthy and breathable material, allowing for increased airflow that keeps you cool through the night. It has hypo-allergenic and antimicrobial properties, resisting mold and dust mites.</p>

            <h2>Where we use it</h2>
            <div class="where-we-use-products">
                <div class="col-xs-12 col-md-4">
                    <p><a href="/products/cedar-natural-luxe-mattress" title="Cedar Natural Luxe Mattress"><img src="https://brentwood-home-products.imgix.net/cedarluxe__0003_Brentwood_Home_-_Cedar_Mattress_web_-171.jpg?w=480&fit=crop&auto=format&q=75" alt=""></a></p>
                    <p><a href="/products/cedar-natural-luxe-mattress" title="Cedar Natural Luxe Mattress"><h3>Cedar Natural Luxe Mattress</h3></a></p>
                    <p>Made with only the finest natural and organic materials: 100% GOLS organic certified latex, 100% natural wool from New Zealand, 100% organic certified cotton from India</p>
                </div>
                <div class="col-xs-12 col-md-4">
                    <p><a href="/products/crystal-cove-mattress" title="Crystal Cove Mattress"><img src="https://s3-brentwoodhome.imgix.net/crystalcove-compare.jpg?w=480&fit=crop&auto=format&q=75" alt=""></a></p>
                    <p><a href="/products/crystal-cove-mattress" title="Crystal Cove Mattress"><h3>Crystal Cove Mattress</h3></a></p>
                    <p>The Crystal Cove Mattress is an innovative dual-sided hybrid mattress specifically designed to promote therapeutic recovery and deep, restorative sleep.</p>
                </div>
            </div>
        </div>
    </div> 
    <p class="text-center" style="margin: 40px 0;"><a href="/pages/materials" title="Back to materials" class="btn">Back to materials</a></p>
</div>        
<script>
    mixpanel.track("Materials Page", {
        "name": "{{ page_title | handle }}"
    });
</script>