<div id="followMeBar" class="sierraC-test">
    <p class=""><a href="#buy" class="sscroll lp-cta" title="Buy the Sierra mattress">BUY IT</a></p>
</div>
<div class="landing">
    <div class="jumbtron sierra flexVCenter flexRightTop">
        <div class="tagline">
            <h1>The Sierra</h1>
            <p class="line"><i>After years of customer feedback, our most popular mattress gets an upgrade.</i></p>
            <p><a href="#start" class="sscroll lp-cta">Discover It</a></p>
        </div>
    </div>
    <div id="start"></div>
    <div id="" class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <p class="text-left hidden-xs">We got our start with the Bamboo Gel collection, and thousands of people are still enjoying great sleep on that classic memory foam model. Those same people have also given us incredible feedback over several years, so eventually we decided it was time for an upgrade. </p>
                <p class="text-left">Meet our Sierra mattress. It’s got the classic memory foam comfort and support that has proven so irresistible in our Bamboo Gel beds, but this new and improved model includes enhanced features recommended by customers like you. Scroll to see the updates!</p>
            </div>
        </div>
    </div>
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                   <div class="icon-ft">
                       <p class="text-center"><i class="fa fa-dot-circle-o" aria-hidden="true"></i></p>
                        <p class="text-center">Better pressure relief <br>&amp; motion isolation</p>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="icon-ft">
                        <p class="text-center"><i class="fa fa-level-down" aria-hidden="true"></i><i class="fa fa-level-up" aria-hidden="true"></i></p>
                        <p class="text-center">Sturdier edge retention<br> for long-lasting support</p>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="icon-ft">
                        <p class="text-center"><i class="fa fa-thermometer-empty" aria-hidden="true"></i></p>
                        <p class="text-center">Updated cooling<br>technology</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        {%comment%}
        <p class="text-center sierraA-test"><a href="/products/sierra-mattress" class="lp-cta" style="padding-left: 50px;padding-right: 50px;" title="Buy the Sierra mattress">Save 25% with code sierra25</a></p>
        <p class="text-center sierraB-test"><a href="#buy" class="sscroll lp-cta" style="padding-left: 50px;padding-right: 50px;" title="Buy the Sierra mattress">Save 25% with code sierra25</a></p>
        
            <form action="/cart/add" method="post" enctype="multipart/form-data">
                {% assign product = all_products['sierra-mattress'] %}
                <p class="text-center">Size:</p>

                <div class="select">
                    {% assign variantCount = product.variants | size %}
                    {% if product.available %}
                    {% if variantCount > 1 %}
                    <select id="product-selectors" name="id" style="">
                        {% for variant in product.variants %}
                        <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                    {% endif %}
                </div>

                <!--<p class="text-center">Price: {{ product.price | money }}</p>

    <input type="hidden" name="id" value="{{ product.variants.first.id }}" />-->
                <input type="hidden" name="id" value="Use code SIERRA25 for 25% off" />
                <input type="submit" value="Buy now" class="btn" />
            </form>
        {%endcomment%}
    </section>
    <section>
       <h3 class="text-center">Watch the Sierra in action</h3><br>
        <div class="text-center videoWrapper">
            <iframe src="https://player.vimeo.com/video/193425473" width="640" height="360" frameborder="0"></iframe>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-push-6">
                <img src="{{ 'lp-sierra_foam.jpg' | asset_url }}" alt="" class="img-responsive">
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-pull-6 even">
                <h2>Better pressure relief & motion isolation</h2>
                <p style="margin: 40px 0;">Our Sierra mattresses use a higher grade memory foam with more density than our Bamboo Gel model. This means more pressure relief for sensitive joints, and more motion absorption so you won’t disturb your partner. </p>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="icon-ft">
                            <p class="text-center"><i class="fa fa-dot-circle-o" aria-hidden="true"></i></p>
                            <p class="text-center">Better pressure relief</p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="icon-ft">
                            <p class="text-center"><i class="fa fa-exchange" aria-hidden="true"></i></p>
                            <p class="text-center">Motion Isolation</p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="icon-ft">
                            <p class="text-center" style="font-size: 30px; margin: 12px 0; display: block;"><span class="text-center">4LB</span></p>
                            <p class="text-center">High Density Foam</p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="icon-ft">
                            <p class="text-center"><img src="{{ 'certipur-badge.png' | asset_url }}" alt="CertiPUR-US Certified" style="max-width: 40px;"></p>
                            <p class="text-center">CertiPUR-US Certified</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <img src="{{ 'lp-sierra-support.jpg' | asset_url }}" alt="Crystal Cove Meditation Pillow" class="img-responsive">
            </div>
            <div class="col-xs-12 col-sm-6 even">
                <h2>Improved edge retention &amp; support</h2>
                <p style="margin: 40px 0;">The Sierra mattress features double-stitched tape edges that reinforce the structure of your mattress and keep you feeling supported no matter where you sit. Built to last, our Sierra is backed by a 25-year limited warranty. </p>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="icon-ft">
                            <p class="text-center"><i class="fa fa-arrows" aria-hidden="true"></i></p>
                            <p class="text-center">Edge Support</p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="icon-ft">
                            <p class="text-center"><i class="fa fa-arrows-h" aria-hidden="true"></i></p>
                            <p class="text-center">No Sagging</p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="icon-ft">
                            <p class="text-center"><i class="fa fa-ellipsis-v" aria-hidden="true"></i>&nbsp;<i class="fa fa-ellipsis-v" aria-hidden="true"></i></p>
                            <p class="text-center">Double Stitched</p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="icon-ft">
                            <p class="text-center"><i class="fa fa-leaf" aria-hidden="true"></i></p>
                            <p class="text-center">Hypoallergenic</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-push-6">
                <img src="{{ 'lp-sierra_layers.jpg' | asset_url }}" alt="Crystal Cove bundle" class="img-responsive">
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-pull-6 even">
                <h2>Sleep cooler</h2>
                <p style="margin: 40px 0;">The improved gel memory foam in our Sierra mattress uses new, open-cell technology for better breathability and heat dissipation. On top of that, a layer of New Zealand wool wicks away moisture and helps to regulate temperature.</p>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="icon-ft">
                            <p class="text-center"><i class="fa fa-refresh" aria-hidden="true"></i></p>
                            <p class="text-center">Increased Airflow</p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="icon-ft">
                            <p class="text-center"><i class="fa fa-thermometer-empty" aria-hidden="true"></i></p>
                            <p class="text-center">Temperature Regulation</p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="icon-ft">
                            <p class="text-center"><i class="fa fa-tint" aria-hidden="true"></i></p>
                            <p class="text-center">Moisture Wicking</p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="icon-ft">
                            <p class="text-center"><i class="fa fa-sun-o" aria-hidden="true"></i></p>
                            <p class="text-center">Odor Resistance</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sierraA-test">
        <p class="text-center"><a href="/products/sierra-mattress" class="lp-cta" style="padding-left: 50px;padding-right: 50px;" title="Buy the Sierra mattress">Buy it</a></p>
    </section>
    <section class="container-fluid" id="lifestyle1" style="padding-left: 0; padding-right: 0;">
        <div id="lifestyle1"></div>
        <p class="text-center caption" style="margin-top: 15px;">A beautiful handcrafted design features 4 sturdy box-stitched handles and long-lasting furniture grade fabrics.</p>
    </section>
    <section class="sierraA-test">
       <h2 class="text-center">Our customers love the Sierra</h2>
        <div class="container sectionMarg">
            <div id="home-reviews" class=" owl-carousel owl-theme">
                <div class="item text-center">
                    <h4>Mattress is wonderful no more backache</h4>
                    <p class="text-center">
                        <i>"Mattress is wonderful no more backache! This is our first memory foam mattress and I will never go back. We liked it so much that we bought another one for our guest room..."</i>
                    </p>
                    <p class="author">
                        - Janean 8/24/16
                        <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                    </p>
                </div>
                <div class="item text-center">
                    <h4>Perfect</h4>
                    <p class="text-center">
                        <i>"... I was really concerned about sleeping hot as we live in the Phoenix area. When 90+ days are well over 100 degrees, this matters. Likewise I was worried about sinking too deeply into the bed, but it's perfect."</i>
                    </p>
                    <p class="author">
                        - Alisha 9/11/16
                        <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                    </p>
                </div>
                <div class="item text-center">
                    <h4>Brentwood and sleep well</h4>
                    <p class="text-center">
                        <i>"Would buy again, the mattress is very comfortable. This mattress works great on our adjustable head and foot bed also.. It is holding up to my 310 pound husband whom likes to sit on the edge of the mattress."</i>
                    </p>
                    <p class="author">
                        - Sarah W. 2/14/17
                        <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                    </p>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                $("#home-reviews").owlCarousel({
                    itemsCustom : [ 
                        [0, 1],
                        [450, 1],
                        [600, 2],
                        [700, 2],
                        [1000, 3],
                        [1200, 3],
                        [1400, 3],
                        [1600, 3]
                    ],
                    autoPlay : false,
                    stopOnHover : false,

                    lazyLoad : false,
                    lazyFollow : true,
                    lazyEffect : "fade",
                    pagination : true,

                    // Navigation
                    navigation : false,
                    navigationText : ['<i class="fa icon-left"></i>','<i class="fa icon-right"></i>'],
                    rewindNav : true,
                    scrollPerPage : false,

                });
            });
        </script>
    </section>
    <section class="sierraA-test">
       <h2 class="text-center">Available in all sizes</h2>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-center">
                    <p><strong>Twin</strong><br/>39" x 75" x 11"<br>44 lbs.</p> 
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-center">
                    <p><strong>Twin XL</strong><br/>39" x 80" x 11"<br/>50 lbs.</p>
                </div> 
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-center">
                    <p><strong>Full</strong><br/>54" x 75" x 11"<br/>68 lbs.</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-center">
                    <p><strong>Queen</strong><br/>60" x 80" x 11"<br/>89 lbs.</p> 
                </div> 
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-center">
                    <p><strong>King</strong><br/>76" x 80" x 11"<br/>109 lbs.</p>
                </div> 
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-center">
                    <p><strong>CA King</strong><br/>72" x 84" x 11"<br/>108 lbs.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="sierraB-test graytxt guarantees">
        <h2 class="text-center">Our Guarantees</h2><br><br>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                    <img src="{{ '120nightsguarantee-blue.svg' | asset_url}}" alt="120-Night Guarantee" />
                    <h4>120-Night Guarantee</h4>
                    <p class="hidden-xs">Sleep on your mattress for up to 120 nights. If you don’t love it, return it for a full refund.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                    <img src="{{'freeshipping-blue.svg' | asset_url}}" alt="Free Shipping & Return" />
                    <h4>Free Shipping & Returns</h4>
                    <p class="hidden-xs">This mattress ships for free with free pickups on returns.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                    <img src="{{ 'madeincali-blue.svg' | asset_url }}" alt="Made in California" />
                    <h4>Made in California</h4>
                    <p class="hidden-xs">We design, develop, and handcraft all of our mattresses here in Los Angeles, CA.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                    <img src="{{ '25year-blue.svg' | asset_url }}" alt="25-Year Warranty" />
                    <h4>25 Year Limited Warranty</h4>
                    <p class="hidden-xs">We’re proud of our quality, so we back our mattresses with a 25 year warranty.</p>
                </div>
            </div>
        </div>
    </section>
    <div id="buy"></div>
    <section id="lp-buysection" class="product sierraB-test bluebckg">
        {%comment%}<h2 class="text-center">Upgrade today and save 25%</h2>
        <p class="text-center" style="margin-bottom: 60px;">Discount reflected at checkout when you enter code <span style="background-color: #fff; color: #454d5a; display: inline-block; padding: 8px 10px 4px 10px;">SIERRA25</span></p>{%endcomment%}
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-center">
                    <p><strong>Twin</strong><br/>39" x 75" x 11"<br>44 lbs.</p> 
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-center">
                    <p><strong>Twin XL</strong><br/>39" x 80" x 11"<br/>50 lbs.</p>
                </div> 
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-center">
                    <p><strong>Full</strong><br/>54" x 75" x 11"<br/>68 lbs.</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-center">
                    <p><strong>Queen</strong><br/>60" x 80" x 11"<br/>89 lbs.</p> 
                </div> 
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-center">
                    <p><strong>King</strong><br/>76" x 80" x 11"<br/>109 lbs.</p>
                </div> 
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-center">
                    <p><strong>CA King</strong><br/>72" x 84" x 11"<br/>108 lbs.</p>
                </div>
            </div>
        </div>
        {% assign product = all_products['sierra-mattress'] %}
        <form action="/cart/add" method="post" enctype="multipart/form-data" id="add-to-cart-form">
            <div id="product-variants">
                {% assign variantCount = product.variants | size %}
                {% if product.available %}
                    {% if variantCount > 1 %}
                        <select id="product-selectors" name="id" style="display:none">
                            {% for variant in product.variants %}
                                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                            {% endfor %}
                        </select>
                        {% if settings.use_color_swatch %}
                            {% for option in product.options %}
                                {% include 'swatch' with option %}
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        <input type="hidden" name="id" value="{{ product.variants[0].id }}" />
                    {% endif %}
                {% endif %}
            </div>

            {% if product.available %}
                <div class="clearfix" {% if productTags contains 'amazon' %} style="display:none;"{%endif%}>
                    <input type="hidden" id="quantity" name="quantity" value="1">
                    <!-- PRICE -->
                    <div id="price" class="prices" style="margin: 5px;">
                        {% if product.compare_at_price > product.price %}
                        <span class="compare-price">{{ product.compare_at_price_max | money }}</span>
                        <span class="price on-sale" itemprop="price">{{ product.price | money }}</span>
                        {% else %}
                        <span itemprop="priceCurrency" content="{{ shop.currency }}"></span>
                        <span class="price" itemprop="price" content="{{ product.price | money_without_currency }}">{{ product.price | money_without_currency }}</span>
                        {% endif %}
                    </div>
                </div>
                <p class="text-center">
                    <input type="submit" name="add" class="btn addtocart" id="product-add-to-cart" value="Add to Cart">
                </p>
            {%endif%}

            {%comment%}<input type="hidden" name="properties[Coupon]" value="Use code SIERRA25 for 25% off">{%endcomment%}
        </form>
        {% assign current_variant = product.selected_or_first_available_variant %}
    </section>
    <section class="sierraB-test graytxt">
        <h2 class="text-center">Our customers love the Sierra</h2>
        <div class="container sectionMarg">
            <div id="home-reviews2" class=" owl-carousel owl-theme">
                <div class="item text-center">
                    <h4>Mattress is wonderful no more backache</h4>
                    <p class="text-center">
                        <i>"Mattress is wonderful no more backache! This is our first memory foam mattress and I will never go back. We liked it so much that we bought another one for our guest room..."</i>
                    </p>
                    <p class="author">
                        - Janean 8/24/16
                        <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                    </p>
                </div>
                <div class="item text-center">
                    <h4>Perfect</h4>
                    <p class="text-center">
                        <i>"... I was really concerned about sleeping hot as we live in the Phoenix area. When 90+ days are well over 100 degrees, this matters. Likewise I was worried about sinking too deeply into the bed, but it's perfect."</i>
                    </p>
                    <p class="author">
                        - Alisha 9/11/16
                        <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                    </p>
                </div>
                <div class="item text-center">
                    <h4>Brentwood and sleep well</h4>
                    <p class="text-center">
                        <i>"Would buy again, the mattress is very comfortable. This mattress works great on our adjustable head and foot bed also.. It is holding up to my 310 pound husband whom likes to sit on the edge of the mattress."</i>
                    </p>
                    <p class="author">
                        - Sarah W. 2/14/17
                        <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                    </p>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                $("#home-reviews2").owlCarousel({
                    itemsCustom : [ 
                        [0, 1],
                        [450, 1],
                        [600, 2],
                        [700, 2],
                        [1000, 3],
                        [1200, 3],
                        [1400, 3],
                        [1600, 3]
                    ],
                    autoPlay : false,
                    stopOnHover : false,

                    lazyLoad : false,
                    lazyFollow : true,
                    lazyEffect : "fade",
                    pagination : true,

                    // Navigation
                    navigation : false,
                    navigationText : ['<i class="fa icon-left"></i>','<i class="fa icon-right"></i>'],
                    rewindNav : true,
                    scrollPerPage : false,

                });
            });
        </script>
    </section>
    <section class="sierraA-test">
        <p class="text-center"><a href="/products/sierra-mattress" class="lp-cta" style="padding-left: 50px;padding-right: 50px;" title="Buy the Sierra mattress">BUY IT</a></p>
    </section>
    <section class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h2 class=""></h2>
            </div>
            {% include 'instagram' %}
        </div>
    </section>
</div>
<script>
    //mixpanel.track("Sierra LP");
    /*$(document).ready(function(){
        $("#aboutus-continue").click(function(){
            mixpanel.track("Clicked Continue Shopping");
        });
    });*/
</script>
<script>
    $(document).ready(function(){
        $('A.sscroll').bind('click', function(event) {
            var $anchor = $(this);
            $('html, body').stop().animate({
                scrollTop: $($anchor.attr('href')).offset().top - 150
            }, 1500, 'easeInOutExpo');
            event.preventDefault();
        });
    });
    sessionStorage.setItem("page", "SierraLP");
</script>
{{ 'jquery.sticky.js' | asset_url | script_tag }}
<script>
    

    
    //update price when changing quantity
    function updatePricing() {
        
        //try pattern one before pattern 2
        var regex = /([0-9]+[.|,][0-9]+[.|,][0-9]+)/g;
        var unitPriceTextMatch = jQuery('.product .price').text().match(regex);

        if (!unitPriceTextMatch) {
            regex = /([0-9]+[.|,][0-9]+)/g;
            unitPriceTextMatch = jQuery('.product .price').text().match(regex);
        }
        //console.log("unitPriceTextMatch", unitPriceTextMatch);
        if (unitPriceTextMatch) {
            var unitPriceText = unitPriceTextMatch[0];
            var unitPrice = unitPriceText.replace(/[.|,]/g,'');
            var quantity = 1;
            var totalPrice = unitPrice * quantity;

            var totalPriceText = Shopify.formatMoney(totalPrice, window.money_format);

            totalPriceText = totalPriceText.match(regex)[0];

            var regInput = new RegExp(unitPriceText, "g");
            var totalPriceHtml = jQuery('.product .price').html().replace(regInput ,totalPriceText);
            
            //console.log("hello", totalPriceText);
            
            jQuery('.product .price').html(totalPriceHtml);
        }
        
    }
     //jQuery('#quantity').on('change', updatePricing);
    

     var selectCallback = function(variant, selector) {

         var addToCart = jQuery('#product-add-to-cart'),
             productPrice = jQuery('.product .price'),
             comparePrice = jQuery('.product .compare-price');

         if (variant) {
             if (variant.available) {
                 // We have a valid product variant, so enable the submit button
                 addToCart.removeClass('disabled').removeAttr('disabled').val('Add to Cart');

             } else {
                 // Variant is sold out, disable the submit button
                 addToCart.val('Sold Out').addClass('disabled').attr('disabled', 'disabled');
             }

             // Regardless of stock, update the product price
             productPrice.html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}"));

             // Also update and show the product's compare price if necessary
             if ( variant.compare_at_price > variant.price ) {
                 productPrice.addClass("on-sale")
                 comparePrice
                     .html(Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}"))
                     .show();
             } else {
                 comparePrice.hide();
                 productPrice.removeClass("on-sale");
             }
             {% if settings.use_color_swatch %}
             // BEGIN SWATCHES
             var form = jQuery('#' + selector.domIdPrefix).closest('form');
              for (var i=0,length=variant.options.length; i<length; i++) {
                  var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
                  if (radioButton.size()) {
                      radioButton.get(0).checked = true;
                  }
              }
              // END SWATCHES
              {% endif %}

              
              updatePricing();
               


               } else {
                   // The variant doesn't exist. Just a safeguard for errors, but disable the submit button anyway
                   addToCart.val('Unavailable').addClass('disabled').attr('disabled', 'disabled');
               }

               //update variant inventory
               {% if settings.display_availability %}
               if (variant.available) {
                   if (variant.inventory_management!=null) {
                       jQuery(".product-inventory span").text(variant.inventory_quantity + " in stock");
                   } else {
                       jQuery(".product-inventory span").text("Many in stock");
                   }
               } else {
                   jQuery(".product-inventory span").text("Out of stock");
               }
                {% endif %}

               


                 //updateAffirmAsLowAs( variant.price ); //Update affirm price
                };

                jQuery(function($) {
                    {% if product.available and product.variants.size > 1 %}
                    new Shopify.OptionSelectors('product-selectors', {
                        product: {{ product | json }},
                                                onVariantSelected: selectCallback,
                                                enableHistoryState: true
                                                });

                     {% comment %}
                     Use color swatch and linked options (copyright by @carolineschnapp)
                      {% endcomment %}
                      {% if settings.use_color_swatch and product.available and product.options.size > 1 %}
                      Shopify.linkOptionSelectors({{ product | json }});
                       {% endif %}

                       {% if settings.use_color_swatch != true %}
                       jQuery('.single-option-selector').selectize();
                        jQuery('.selectize-input input').attr("disabled","disabled");
                        {% endif %}

                        {% endif %}

                        // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
                        {% if product.options.size == 1 and product.options.first != 'Title' %}
                        $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
                         {% endif %}

                         // Hide selectors if we only have 1 variant and its title contains 'Default'.
                         {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                         $('.selector-wrapper').hide();
                          {% endif %}

                          // Auto-select first available variant on page load. Otherwise the product looks sold out.
                          {% assign found_one_in_stock = false %}
                          {% for variant in product.variants %}
                          {% if variant.available and found_one_in_stock == false %}
                          {% assign found_one_in_stock = true %}
                          {% for option in product.options %}
                          $('.single-option-selector:eq({{ forloop.index0 }})').val({{ variant.options[forloop.index0] | json }}).trigger('change');
                           {% endfor %}
                           {% endif %}
                           {% endfor %}


                            });

</script>
<script>
    $(document).ready(function(){
        if (window.innerWidth > 414) {
            $("#followMeBar").sticky({
                topSpacing:70,
                zIndex: 10000
            });
        }else{
            $("#followMeBar").sticky({
                topSpacing:50,
                zIndex: 10000
            });
        }
    });
</script>