<style>
    #our-story .breadcrumb-wrap{
        position: relative;
        z-index: 10;
    }
    .breadcrumb a, .breadcrumb span{
        color: #444;
    }
    section.home-instagram .widget-title{
        display: none;
    }
</style>
<div class="container aboutus-v3">
    <div class="row">
        <div class="col-xs-12">
            <h1>A Comfortable Life Starts at Home</h1>
            <hr>
            <p class="tagline ">
                Healthy, luxurious home essentials at honest prices, handcrafted just for you, made in California and shipped to your doorstep.
            </p>
        </div>
    </div>
    <div class="row margin2">
        <div class="col-xs-12 col-md-3" style="margin-bottom: 25px;">
            <span class="ico"><img src="{{ 'icon-healthymaterials.png' | asset_url }}" alt="HEALTHY MATERIALS"></span>
            <h3>HEALTHY MATERIALS</h3>
            <p>From our bedroom to our cities to the planet we call home, taking care of the spaces we inhabit is the foundation of our well-being. At Brentwood Home, much of the product development process is spent researching and sourcing materials ourselves, making sure they meet Golden State standards for environmental responsibility. <a href="/pages/materials" title="Healthy Materials" class="basiclink">Learn More</a>
            </p>
        </div>
        <div class="col-xs-12 col-md-3" style="margin-bottom: 25px;">
            <span class="ico"><img src="{{ 'icon-handcrafting.png' | asset_url }}" alt="HANDCRAFTING EXCELLENCE"></span>
            <h3>HANDCRAFTING EXCELLENCE</h3>
            <p>Brentwood Home has over 30 years of handcrafting experience here in Los Angeles, and our history has left us with an artisanal approach to manufacturing. From hand-tufted wool rosettes to beautiful quilted Euro-tops, you’ll be able to feel the attention to detail in every stitch. </p>
        </div>
        <div class="col-xs-12 col-md-3" style="margin-bottom: 25px;">
            <span class="ico"><img src="{{ 'icon-honestpricing.png' | asset_url }}" alt="HONEST PRICES"></span>
            <h3>HONEST PRICES</h3>
            <p>Our manufacturing experience allows us to control every aspect of production, and a lack of middle-men means affordable, honest prices. All of our mattresses ship free to you both ways, with a 1-year sleep guarantee and a 25-year warranty. If you don’t love your purchase, return it with no questions asked. </p>
        </div>
        <div class="col-xs-12 col-md-3" style="margin-bottom: 25px;">
            <span class="ico"><img src="{{ 'icon-caliethos.png' | asset_url }}" alt="CALIFORNIA ETHOS"></span>
            <h3>CALIFORNIA ETHOS</h3>
            <p>California has always been at the forefront of environmental regulation, implementing policies that are eventually followed by the rest of the country. We meet and exceed these standards by using a combination of organic, nontoxic, and natural materials with no chemical retardants, phthalates, ozone depleters, or heavy metals.</p>
        </div>
    </div>
    <div class="row">
        <div class="aboutus-v2 aboutwide">
            <img src="{{ 'bhfamily.jpg' | asset_url }}" alt="Brentwood Home Product Family" class="img-responsive">
        </div>
    </div>
</div>



<div class="aboutus-v3 container story">
    <div class="ourstory-list">
        <div class="row">
            <div class="col-xs-12">
                <h2>Our Story</h2>
            </div>
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <p>
                    For over 30 years, we’ve been making mattresses and home essentials with a team of local artisans and fabricators in Los Angeles.  From the beginning, we’ve obsessed over creating products using healthy and ethically-sourced materials, all inspired by our love for the natural world and our home in California.
                </p>
                <h3 class="story-quotes">
                    "We strongly believe our environment, especially our homes, are at the center of our well-being, allowing us to live comfortable, happy lives."
                </h3>
                <p>
                    However, before we started the Brentwood Home brand, most of our products were sold by retailers who added hefty markups, often times more than doubling the cost of our products.  In 2012, with much thanks to the digital age, we saw an opportunity to bring that California comfort and craftsmanship directly to you. That’s why we started Brentwood Home. No more overwhelming trips to the store or pushy salespeople.  No middlemen.  No deceptive retailer markups.  This, combined with our handcrafting excellence, allows us to provide you with luxurious goods at affordable, honest prices.
                </p>
                <p>
                    We’re glad to share a piece of our home with you.  Look around, stay awhile, and enjoy a comfortable life with Brentwood Home. 
                </p>
                <p>
                    With love from California,
                </p>
                <p class="text-left">
                    <img src="{{ 'aboutus-bhlove.png' | asset_url }}" class="Brentwood Home signature" alt="With love from California">
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="aboutus-v2 aboutwide margin2">
            <img src="{{ 'palmetto-ourstory.jpg' | asset_url }}" alt="Brentwood Home Mattress" class="img-responsive">
        </div>
    </div>
</div>

<div class="aboutus-v3 container" style="margin: 25px auto 50px auto;">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="">In The Press</h2>
        </div>
        <div class="col-xs-4 col-md-2"><img src="{{ 'britco-logo.png' | asset_url }}" alt="Brit + Co"></div>
        <div class="col-xs-4 col-md-2"><img src="{{ 'buzzfeed-logo.png' | asset_url }}" alt="Buzzfeed"></div>
        <div class="col-xs-4 col-md-2"><img src="{{ 'cbs-logo.png' | asset_url }}" alt="CBS"></div>
        <div class="col-xs-4 col-md-2"><img src="{{ 'ktla-logo.png' | asset_url }}" alt="KTLA 5"></div>
        <div class="col-xs-4 col-md-2"><img src="{{ 'realsimple-logo.png' | asset_url }}" alt="Real Simple"></div>
        <div class="col-xs-4 col-md-2"><img src="{{ 'furnitureworld-logo.png' | asset_url }}" alt="Furniture World"></div>
    </div>
</div>

<div class="aboutus-v3 container">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="">Lifestyle</h2>
        </div>
        {% include 'instagram' %}
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="aboutus-v2 aboutwide margin2" style="position: relative;">
                <img src="{{ 'yoga-ourstory.jpg' | asset_url }}" alt="yoga downtoan LA rooftop" class="img-responsive">
                <p class="aboutus-relax">Make yourself a better bedroom.</p>
                <a href="/collections" title="Shop" id="aboutus-continue" class="">CONTINUE SHOPPING</a>
            </div>
        </div>
    </div>
</div>


<script>
    var elem = document.querySelector('.main-content');
    elem.classList.remove('container');
</script>
