
<div class="standardPages">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">Organic Cotton</h1>
            <img src="{{ 'raw-cotton.jpg' | asset_url }}" alt="Organic Cotton">
        </div>
        <div class="col-xs-12 col-md-8 col-md-offset-2 description">
            <p class="quote">We use Organic Cotton in much of our bedding because it’s soft, durable, and grown without toxic pesticides and synthetic fertilizers for a healthier planet and home.</p>
        </div>

    </div> 
    <div class="row">
        <!-- Left Column -->
        <div id="where" >
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="col-left-block-material" style="">
                    <p class="text-center"><img src="{{'material-pin.png'|asset_url}}" alt="Organic Cotton from Texas"></p>
                    <h2>Where we get it</h2>
                    <h3>Texas</h3>
                    <p class="text-left">We get our Organic Cotton from Texas
                    </p>
                    <p class="text-center"><img src="{{'material-map-tx.png'|asset_url}}" alt="Texas"></p>
                </div> 
            </div>
        </div>

        <!-- Right Column -->
        <div class="col-lg-9 col-md-9 col-sm-9 right-pane">
            <h2>The material</h2>
            <p>The conventional cotton that most of us are familiar with does indeed come from a plant, but in most cases there’s very little that’s “natural” about the farming process. A majority of the world’s cotton is produced using synthetic fertilizers, harmful pesticides, and chemical additives that are damaging to the soil. Organic Cotton is produced and certified by higher agricultural standards, improving the health of the affected ecosystems by choosing to go natural. Farming Organic Cotton can take a bit more time and money, but it’s worth it for the benefits it has on textile quality and on the environment. The Organic Cotton we use is certified by the <a href="http://textileexchange.org/" target="_blank">Organic Exchange.</a></p>
            <p><img src="{{'materials_cotton.jpg'|asset_url}}" alt="Cotton"></p>

            <h2>Why we use it</h2>
            <p>We find Organic Cotton to be the superior choice for our pillow covers, kids products, bedding, and more. The sheer quality of the material is one thing - we like that it’s strong and long-lasting, thanks in part to the use of natural farming processes. We also like that it’s safer for your home and the environment without the use of harmful chemicals and pesticides during production.</p>

            <h2>Where we use it</h2>
            <div class="where-we-use-products">
                <div class="col-xs-12 col-md-4">
                    <p><a href="/products/helena-pillow" title="Helena Pillow"><img src="https://cdn.shopify.com/s/files/1/0911/6592/products/carmel_1024x1024_b0e636e8-e2e0-4b32-90cb-d63297678800_1024x1024.jpg?v=1478547795" alt="Helena"></a></p>
                    <p><a href="/products/helena-pillow" title="Helena Pillow"><h3>Helena Pillow</h3></a></p>
                    <p>Filled with a combination of 100% natural latex ribbons and silky-smooth kapok fibers, this pillow is both fluffy and supportive.</p>
                </div>
                <div class="col-xs-12 col-md-4">
                    <p><a href="/products/pacifica-pillow" title="Pacifica Pillow"><img src="https://cdn.shopify.com/s/files/1/0911/6592/products/Pacifica_1024x1024.jpg?v=1478544139" alt="Pacifica"></a></p>
                    <p><a href="/products/pacifica-pillow" title="Pacifica Pillow"><h3>Pacifica Pillow</h3></a></p>
                    <p>Our Pacifica pillow combines the supportive, cushion feel of gel memory foam with a soft down alternative blend.</p>
                </div>
            </div>
        </div>
    </div> 
    <p class="text-center" style="margin: 40px 0;"><a href="/pages/materials" title="Back to materials" class="btn">Back to materials</a></p>
</div>        
<script>
    mixpanel.track("Materials Page", {
        "name": "{{ page_title | handle }}"
    });
</script>