{% include 'nowtime' %}
<div class="container-fluid" id="product">
    <div itemscope itemtype="http://schema.org/Product" class="product">
        <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
        <meta itemprop="image" src="{{ product.featured_image.src | product_img_url: 'grande' }}" alt="{{ product.title | escape }}">
        <meta itemprop="itemCondition" content="http://schema.org/NewCondition" />

        <div class="row">
            {% include 'product-flexslider' %}
            {%comment%}
            to remove the pull-left for single products
            {%endcomment%}
            {% assign multi_prd = true %}
            {% if collection.products_count <= 1 %}
                {% assign multi_prd = false %}
            {% endif %}
                                               <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-0 col-lg-5 product-shop">

              <div>
                  {% if sale %}
                  <div class="sale-badge-wrap">
                     <div class="sale-badge testA">
                          <p>{{ sale }}</p>
                      </div>
                  </div>
                  {% endif %}
                  <header class="product-title {% if collection.previous_product or collection.next_product and settings.display_prev_next_product and collection %}has-btn{% endif %}">
                      <h1 {% if settings.display_prev_next_product and collection and multi_prd %}class="pull-left"{%endif%} itemprop="name">{{ product.title }}</h1>
                      
                      {% if settings.display_prev_next_product and collection and multi_prd %}
                      <div class="product-step">
                          {% if collection.previous_product %}
                          <a class="prev-p" href="{{ collection.next_product }}" title="Prev"><span class="fa fa-angle-left"></span>Previous</a>
                          {% endif %}
                          {% if collection.next_product %}
                          <a class="next-p" href="{{ collection.next_product }}" title="Next">Next<span class=" fa fa-angle-right"></span></a>
                          {% endif %}
                      </div>
                      {%else%}
                      <div class="clearfix"></div>
                      {% endif %}
                  </header>
                  <div class="yotpo bottomLine margB20"
                       data-appkey="MoTNJx7IZaWhweNlLkQdd6AaJffubtZuHPH6w3aQ"
                       data-domain="{{ shop.permanent_domain | escape }}"
                       data-product-id="{{ product.id }}"
                       data-product-models="{{ product.id }}"
                       data-name="{{ product.title | escape }}"
                       data-url="{{ product.url }}">
                  </div>
                  {% if sale %}
                  <div class="sale-badge-wrap">
                     <div class="sale-badge control">
                      <p>{{ sale }}</p>
                      </div>
                  </div>
                  {% endif %}
                  {% if settings.display_product_reviews %}
                  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                  {% endif %}

                  {% if settings.display_availability or settings.display_product_type or settings.display_vendor %}
                      {% if settings.display_availability %}
                          <div class="availability">
                              <p class="product-inventory"> <label>Availability</label><span>
                                 {% if product.selected_or_first_available_variant.inventory_management %}
                                     {% assign first_inventory = product.selected_or_first_available_variant.inventory_quantity %}
                                     {% if first_inventory > 0 %}
                                         {{first_inventory}} in stock
                                    {% else %}
                                        Out of stock
                                    {% endif %}
                                 {% else %}
                                    Many in stock
                                 {% endif %}
                                  </span></p>
                          </div>
                      {% endif %}
                  {% endif %}

                  

                  <h3 class="text-left">{{product.metafields.bhsite.feel}}</h3>
                  <p class="short-description">{{product.metafields.bhsite.shortdesc}}</p>
                  
                  

                  <form action="/cart/add" method="post" enctype="multipart/form-data" id="add-to-cart-form">
                      
                      {% if product.id != 2028991807550 %}
                          <div id="product-variants">
                              {% assign variantCount = product.variants | size %}
                              {% if product.available %}
                              {% if variantCount > 1 %}
                              <select id="product-selectors" name="id" style="display:none">
                                  {% for variant in product.variants %}
                                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                                  {% endfor %}
                              </select>

                              {% if settings.use_color_swatch %}
                              {% for option in product.options %}
                              {% include 'swatch' with option %}
                              {% endfor %}
                              {% endif %}
                              {% else %}
                              <input type="hidden" name="id" value="{{ product.variants[0].id }}" />
                              {% endif %}
                              {% endif %}
                          </div>
                        {%endif%}

                     

                      {% if product.available and product.id != 2028991807550 %}
                      <div class="clearfix">
                          <div id="qt"><label for="Quantity" class="selectLabel">Qty: </label> <input type="text" id="quantity" name="quantity" value="1"></div>
                          <!-- PRICE -->
                          <div class="prices" itemprop="offers" itemscope itemtype="http://schema.org/Offer" style="float: right;">
                              <meta itemprop="priceCurrency" content="{{ shop.currency }}">
                              {% if product.compare_at_price > product.price %}
                              <span class="compare-price">{{ product.compare_at_price_max | money }}</span>
                              <span class="price on-sale" itemprop="price"
                                    content="{{ product.selected_or_first_available_variant.price | money_without_currency | remove: ',' }}">{{ product.selected_or_first_available_variant.price | money_without_trailing_zeros}}</span>
                              {% else %}
                              <span class="price" itemprop="price"
                                    content="{{ product.selected_or_first_available_variant.price | money_without_currency | remove: ',' }}">{{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}</span>
                              {% endif %}
                              {% if product.available %}
                              <link itemprop="availability" href="http://schema.org/InStock">
                              {% else %}
                              <link itemprop="availability" href="http://schema.org/OutOfStock">
                              {% endif %}
                          </div>
                      </div>
                      {% if product.metafields.yotpo.reviews_count and product.metafields.yotpo.reviews_count != "0" %}
                      <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                          <meta itemprop="itemReviewed" content="{{ product.title }}">
                          <meta itemprop="ratingValue" content="{{ product.metafields.yotpo.reviews_average }}"> 
                          <meta itemprop="ratingCount" content="{{ product.metafields.yotpo.reviews_count }}">
                      </div>
                      {% endif %}

                
                    {% include 'nowtime' %}
                    {% if product.type == "Crib Mattress" %}
                      {% if rightnowint > 201801180001 and rightnowint < 201801290001 %}
                            <input type="hidden" id="relief" name="properties[Gift]" value="Includes free aromatherapy candle">
                      {% endif %}
                    {%endif%}
                  
                    {% if product.id == 2028991807550 %}
                     {%comment%}Dont show add to cart button for cedar luxe topper{%endcomment%}
                      <div class="out-of-stock">
                          <p class="product-inventory">
                              This is an add-on product. Cannot be purchased separately.
                          </p>
                      </div>
                    {%else%}
                      <!--{% include 'shippingtime' %}-->
                      <input type="submit" name="add" class="cta2" id="product-add-to-cart" value="Add to Cart">
                      <p id="add2cart_shipping"><img src="https://brentwood-home.imgix.net/iconv2-freeshipping.svg" alt="Ships free in {{ shipsfree }}">Ships free in {{ shipsfree }}</p>
                      <div class="clearfix"></div>
                  
                    {% endif %}
                     
                      
                      {% else %}
                      
                          {% if product.id == 2028991807550 %}
                          {%comment%}Dont show add to cart button for cedar luxe topper{%endcomment%}
                          <div class="out-of-stock">
                              <p class="product-inventory">
                                  This is an add-on product. Cannot be purchased separately.
                              </p>
                          </div>
                          {%else%}
                              <input type="submit" name="add" class="btn" id="product-add-to-cart" disabled value="Unavailable">
                          {% endif %}
                     
                      
                      {% endif %}
                  {% assign current_variant = product.selected_or_first_available_variant %}
                  
                  </form>
            {% comment %}
                  {% include 'wishlist-product' %}
                  {% include 'product-share' %}
            {% endcomment %}

              </div>
            </div>
        </div>
    </div><!-- End Row -->
</div><!-- End Container for top part (img+buy) -->

    <div class="product-tabs container">

        <br><br>

{% comment %}
        {% include 'mattress-platforms' %}

        
      <ul class="nav nav-tabs" id="myTab">
        {% if settings.display_product_detail_description %}
        <li class="active"><a data-toggle="tab" href="#collapse-tab1">{{ settings.product_description_title }}</a></li>
        {% endif %}



        {% if settings.display_product_reviews %}
        <li><a data-toggle="tab" href="#collapse-tab2">{{ settings.product_review_title }}</a></li>
        {% endif %}
      </ul>
{% endcomment %}
     
     <div class="row">
         <div class="col-xs-12 col-sm-8 col-sm-offset-2">
             
    {% if product.description != "" %}
         <h2>Product Description</h2>
         <p class="text-center"><strong>Ships free in {{ shipsfree }}, Free Returns{% unless trial == "false"  %}, {{trial}}{% endunless %}</strong></p>
     {% endif %}
     <br>
     
      <div id="myTabContent" class="tab-content">
        {% if settings.display_product_detail_description %}
        <div id="collapse-tab1" class="tab-pane fade in active">
            
          {{ product.description }}
        </div>
        {% endif %}



      
      </div>
         </div>
        </div>
      
    </div>
    <script>
    /*jQuery('#myTab a').click(function (e) {
      e.preventDefault();
      jQuery(this).tab('show');
    })*/
    </script>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="yotpo yotpo-main-widget"
                 data-product-id="{{ product.id }}"
                 data-name="{{ product.title | escape }}"
                 data-url="{{ shop.url }}{{ product.url }}"
                 data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
                 data-description="{{ product.description | escape }}">
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% if settings.display_related_products %}
        {% if settings.related_products_type == "tags" %}
            {% include 'related-products-by-tags' %}
        {% else %}
            {% include 'related-products' %}
        {% endif %}
    {% endif %}
</div>

