
{% assign metaf = product.metafields.c_f %}
<style>
    @media all and (max-width: 480px){
        .breadcrumb-wrap{
            display: none;
        }
        .product-shop .product-title h1{
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 25px;
            margin-top: 25px;
            text-align: center !important;
            /*font-weight: 700;*/
        }
        .owl-carousel .owl-item img{
            display: inline-block;
        }
    }
    
    /*TEST*/
    .site-nav > li > a{
        padding: 21px 22px;
    }
    .header-tool {
        padding: 18px;
    }
    .logo{
        padding-top: 9px;
    }
    .breadcrumb{
        margin-top: 5px;
    }
    .flex-control-thumbs li{
        margin-right: 5px !important;
        width: 75px !important;
    }
    .flex-control-thumbs li:first-child{
        margin-left: 0 !important;
    }



    .product-shop .product-title h1, .product-shop .product-title a{
        font-size: 32px;
        line-height: 38px;
    }
    .product-shop .product-title{
        margin-bottom: 0;
    }
    @media (min-width: 1200px){
        .product-shop {
            max-width: none !important;
        }
    }
    .yotpo {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .product-shop .short-description {
        line-height: 25px;
        letter-spacing: 1px;
        margin-bottom: 5px;
        color: #666;
    }
    #product-variants {
        margin-bottom: 10px;
    }
    div.addonmodule {
        padding: 10px;
    }
    .squaredOne {
        margin: 5px auto;
    }
    div.addonmodule .column.img {
        padding: 0 15px 0 20px;
        width: 95px;
    }
    DIV.cta-module {
        margin: 20px 0 10px 0;
    }
    .cta2 {
        margin-top: 10px;
    }
    .product-shop .product-title h1{
        font-style: normal;
        letter-spacing: 1px;
    }
    #add-to-cart-form .swatch.clearfix{
        margin: 0;
    }
    @media screen and (max-width: 480px){
        div.addonmodule .column.copy {
            float: left;
            width: 60%;
        }
    }
</style>
<div id="page_product">
    <div class="container" id="product">
        <div itemscope itemtype="http://schema.org/Product" class="product">
            <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
            <meta itemprop="image"
                  src="{{ product.featured_image.src | product_img_url: 'grande' }}"
                  alt="{{ product.title | escape }}
                       ">
            <meta itemprop="itemCondition" content="http://schema.org/NewCondition"/>
            <div class="row">
                
                <!-- FLEXSLIDER -->
                {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
                {% assign imgName = featured_image | remove: 'products/' %}
                <div class="col-xs-12 col-md-7 col-lg-7" id="product-image-main">
                    <section class="slider" style="position: relative;">
                        <!-- -->
                        <div id="flexPlaceholder">
                            <picture>
                                <source media="(max-width: 767px)" data-srcset="https://brentwood-home-products.imgix.net/{{ imgName }}?ch=Width,DPR&w=767&dpr=1&fit=clip">
                                <source media="(min-width: 768px)" data-srcset="https://brentwood-home-products.imgix.net/{{ imgName }}?ch=Width,DPR&w=1024&dpr=1&fit=clip">
                                <img src="https://brentwood-home-products.imgix.net/{{ imgName }}?w=1024&q=50" alt="{{product.title}}" loading="eager">
                            </picture>
                        </div>
                        <div class="flexslider">
                            <ul class="slides">
                                {% for image in product.images %}
                                {% assign videotag = image.alt | escape %}
                                {% assign imgName = image | remove: 'products/' | split:'?' | first %}
                                <li data-thumb="https://brentwood-home-products.imgix.net/{{ imgName }}?ch=Width,DPR&w=150&h=150">   
                                    {% if videotag contains 'vimeo' %}
                                    <div class='embed-container '>
                                        <!--https://player.vimeo.com/video/###-->
                                        <iframe src="{{ image.alt }}?title=0&byline=0&portrait=0" width="640" height="360" id="video_1" frameborder="0"></iframe>
                                    </div>
                                    {% else %}
                                    <picture>
                                        <source media="(max-width: 767px)" data-srcset="https://brentwood-home-products.imgix.net/{{ imgName }}?w=767 1x,
                                                                                        https://brentwood-home-products.imgix.net/{{ imgName }}?w=767&fit=max&q=40&dpr=2 2x,
                                                                                        https://brentwood-home-products.imgix.net/{{ imgName }}?w=767&fit=max&q=20&dpr3 3x">
                                        <source media="(min-width: 768px)" data-srcset="https://brentwood-home-products.imgix.net/{{ imgName }}?w=768 1x,
                                                                                        https://brentwood-home-products.imgix.net/{{ imgName }}?w=768&fit=max&q=40&dpr=2 2x,
                                                                                        https://brentwood-home-products.imgix.net/{{ imgName }}?w=768&fit=max&q=20&dpr3 3x">
                                        {% if forloop.first == true %}
                                        <img src="https://brentwood-home-products.imgix.net/{{ imgName }}?ch=Width,DPR&w=1024&dpr=1&fit=clip" alt="{{ product.title | escape }} View {{ forloop.index }}" loading="eager">
                                        {% else %}
                                        <img data-src="https://brentwood-home-products.imgix.net/{{ imgName }}?ch=Width,DPR&w=768&dpr=1&fit=clip" src="https://brentwood-home-products.imgix.net/{{ imgName }}?w=768&blur=500&q=10" alt="{{ product.title | escape }} View {{ forloop.index }}" loading="lazy">
                                        {% endif %}
                                    </picture>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </section>
                </div>
                
                {% assign multi_prd = true %}
                {% if collection.products_count <= 1 %}
                                                   {% assign multi_prd = false %}
                                                   {% endif %}
            <div class="col-xs-12 col-md-5 col-lg-5 product-shop">
                <div>
                    {% if settings.display_prev_next_product and collection and multi_prd %}
                    <div class="product-step">
                        {% if collection.previous_product %}
                        <a class="prev-p" href="{{ collection.next_product }}"
                           title="Prev"><span
                                              class="fa fa-angle-left"></span>Previous</a>
                        {% endif %}
                        {% if collection.next_product %}
                        <a class="next-p" href="{{ collection.next_product }}"
                           title="Next">Next<span
                                                  class=" fa fa-angle-right"></span></a>
                        {% endif %}
                    </div>
                    {% else %}
                    <div class="clearfix"></div>
                    {% endif %}
                    <header class="product-title {% if collection.previous_product or collection.next_product and settings.display_prev_next_product and collection %}has-btn{% endif %}">

                        <h1 {% if settings.display_prev_next_product and collection and multi_prd %}class="pull-left"{% endif %}
                            itemprop="name">{{ product.title }}</h1>

                    </header>

                    <div class="yotpo bottomLine"
                         data-appkey="MoTNJx7IZaWhweNlLkQdd6AaJffubtZuHPH6w3aQ"
                         data-domain="{{ shop.permanent_domain | escape }}"
                         data-product-id="{{ product.id }}"
                         data-product-models="{{ product.id }}"
                         data-name="{{ product.title | escape }}"
                         data-url="{{ shop.url }}{{ product.url }}"
                         data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26' }}"
                         data-description="{{ product.description | escape }}"
                         data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                        <meta itemprop="itemReviewed"
                              content="{{ product.title }}">
                        <meta itemprop="ratingValue"
                              content="{{ product.metafields.yotpo.reviews_average }}">
                        <meta itemprop="ratingCount"
                              content="{{ product.metafields.yotpo.reviews_count }}">
                    </div>

                    {% include 'nowtime' %}

                    <p class="short-description">
                        Our best selling mattress features gel infused memory foam, New Zealand wool, a natural bamboo-derived, removable cover and ventilated support foam.
                    </p>

                    <div class="mob-dark">
                        {% if settings.display_product_reviews %}
                        <span class="shopify-product-reviews-badge"
                              data-id="{{ product.id }}"></span>
                        {% endif %}
                        {% if settings.display_availability or settings.display_product_type or settings.display_vendor %}
                        {% if settings.display_availability %}
                        <div class="availability">
                            <p class="product-inventory">
                                <label>Availability</label><span>
                                {% if product.selected_or_first_available_variant.inventory_management %}
                                {% assign first_inventory = product.selected_or_first_available_variant.inventory_quantity %}
                                {% if first_inventory > 0 %}
                                {{ first_inventory }} in stock
                                {% else %}
                                Out of stock
                                {% endif %}
                                {% else %}
                                Many in stock
                                {% endif %}
                                </span></p>
                        </div>
                        {% endif %}
                        {% endif %}
                        <form action="/cart/add" method="post" enctype="multipart/form-data" id="add-to-cart-form">
                            <label for="product-selectors" class="selectLabel">Size</label>
                            <div id="product-variants">
                                {% assign variantCount = product.variants | size %}
                                {% if product.available %}
                                {% if variantCount > 1 %}
                                <select id="product-selectors" name="id" style="display:none">
                                    {% for variant in product.variants %}
                                    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}
                                            value="{{ variant.id }}">{{ variant.title }}
                                        - {{ variant.price | money }}</option>
                                    {% endfor %}
                                </select>
                                {% if settings.use_color_swatch %}
                                {% for option in product.options %}
                                {% include 'swatch' with option %}
                                {% endfor %}
                                {% endif %}
                                {% else %}
                                <input type="hidden" name="id" value="{{ product.variants[0].id }}"/>
                                {% endif %}
                                {% endif %}

                                {% include 'productbundles-widget' %}

                            </div>
                            {% if product.available %}
                            <div class="cta-module clearfix">
                                <div class="prices" itemprop="offers" itemscope
                                     itemtype="http://schema.org/Offer"
                                     style="float: left;">
                                    <meta itemprop="priceCurrency"
                                          content="{{ shop.currency }}">
                                    {% if product.compare_at_price > product.price %}
                                    <span class="compare-price">{{ product.compare_at_price_max | money_without_trailing_zeros}}</span>
                                    <span class="price on-sale" itemprop="price"
                                          content="{{ product.price | money_without_currency | remove: ',' }}">{{ product.price | money_without_trailing_zeros}}</span>
                                    {% else %}
                                    <span class="price" itemprop="price"
                                          content="{{ product.price | money_without_currency | remove: ',' }}">{{ product.price | money_without_trailing_zeros }}</span>
                                    {% endif %}
                                    {% if product.available %}
                                    <link itemprop="availability"
                                          href="http://schema.org/InStock">
                                    {% else %}
                                    <link itemprop="availability"
                                          href="http://schema.org/OutOfStock">
                                    {% endif %}
                                </div>

                                {% include 'affirm-product' %}
                                <style>
                                    DIV.cta-module{
                                        margin: 20px 0 10px 0;
                                    }
                                    DIV.product-shop .prices{
                                        width: 49%;
                                        text-align: center;
                                        padding-top: 14px;
                                        border-right: 1px solid black;
                                    }
                                    DIV.prices SPAN.price{
                                        font-size: 32px;
                                        display: block;
                                    }
                                    DIV.affirmWrap{
                                        float: right;
                                        width: 49%;
                                        text-align: center;
                                        padding: 0 8px;
                                    }
                                    DIV.affirm{
                                        font-size: 12px;
                                        text-align: center;
                                    }
                                    DIV.affirm A#learn-more{
                                        margin-bottom: 0px;
                                        line-height: 18px;
                                    }
                                    DIV.affirm A.affirm-prequal-text{
                                        cursor: pointer;
                                        display: inline-block;
                                        text-decoration: none;
                                        background-color: #0FA0EA;
                                        color: white;
                                        padding: 5px 9px;
                                        border-radius: 5px;
                                        line-height: 14px;
                                        text-transform: capitalize;
                                    }
                                    DIV.affirm A.affirm-prequal-text:HOVER{
                                        text-decoration: none;
                                        background-color: transparent;
                                        color: #0FA0EA;

                                    }
                                </style>
                                <div class="affirmWrap">
                                    <div class="affirm" style="">
                                        <a id="learn-more" class="affirm-as-low-as" data-learnmore-show="false" data-promo-id="promo_set_brentwood_zero_percent" data-amount="{{variant.price}}"></a> <a class="affirm-prequal-text" data-promo-id="prequal_text_brentwood" style="cursor: pointer;"></a>
                                    </div>
                                </div>

                                <div id="qt" style="display: none">
                                    QTY: <input type="text"
                                                id="quantity"
                                                name="quantity"
                                                value="1"
                                                >
                                </div>
                            </div>
                            {% if product.selected_or_first_available_variant.inventory_management %}
                            {% assign first_inventory = product.selected_or_first_available_variant.inventory_quantity %}
                            {% if first_inventory < 1 %}
                                                     <div class="out-of-stock">
                            <span class="left"></span>
                            <p class="product-inventory">
                                We’re currently making this item to order.<br>
                                Please
                                allow <b>up to 3 weeks</b> for crafting and
                                shipping.
                            </p>
                            <span class="right"></span>
                            </div> 
                        {% endif %}
                        {% endif %}



                        {% else %}
                        <button type="button" class="btn" id="product-add-to-cart" disabled>Unavailable</button>
                        {% endif %}

                        {% assign current_variant = product.selected_or_first_available_variant %}
                        </form>
                    <button type="button" class="cta2" style="width: 100%;" id="product-add-to-cart">Add to Cart</button>
                    <!--{% include 'shippingtime' %}-->
                    <p id="add2cart_shipping"><img src="https://brentwood-home.imgix.net/iconv2-freeshipping.svg" alt="Ships free in {{ shipsfree }}">Ships free in {{ shipsfree }}</p>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Row --> 
</div><!-- End Container for top part (img+buy) -->

<div class="container section warranties">
    <h2 class="text-center">Try the {{ product.title }} Risk-Free</h2>
    <div class="row">
        <div class="col-xs-4 col-sm-2">
            <img loading="lazy" data-src="https://brentwood-home-36.imgix.net/iconv2-1yearguarantee.svg" alt="1-year trial">
            <p>1-Year<br>Trial</p>
        </div>
        <div class="col-xs-4 col-sm-2">
            <img loading="lazy" data-src="https://brentwood-home.imgix.net/iconv2-freeshipping.svg" alt="Free shipping and free return">
            <p>Free Shipping<br>Free Return</p>
        </div>
        <div class="col-xs-4 col-sm-2">
            <img loading="lazy" data-src="https://brentwood-home.imgix.net/iconv2-madeincalifornia.svg" alt="Made in California">
            <p>Made in<br>California</p>
        </div>
        <div class="col-xs-4 col-sm-2">
            <img loading="lazy" data-src="https://brentwood-home.imgix.net/iconv2-25yearwarranty.svg" alt="25-year warranty">
            <p>25-year<br>Warranty</p>
        </div>
        <div class="col-xs-4 col-sm-2">
            <img loading="lazy" data-src="https://brentwood-home.imgix.net/iconv2-whiteglovedelivery.svg" alt="In home delivery available">
            <p>In Home<br>Delivery</p>
        </div>
        <div class="col-xs-4 col-sm-2">
            <img loading="lazy" data-src="https://brentwood-home.imgix.net/iconv2-0percent.svg" alt="0% financing available">
            <p>0% Financing<br>Available</p>
        </div>
    </div>
</div>
<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_1104.jpg?rect=210,0,800,1152&w=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_1104.jpg?rect=210,0,800,1152&w=920">
                <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_1104.jpg?rect=210,0,800,1152&w=920" src="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_1104.jpg?rect=210,0,800,1152&w=920&blur=500&q=10" alt="Keeps you cool all night long"> 
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV">
            <div>
                <h2>Keeps you cool,<br> all night long</h2>
                <p>The key to quality sleep is staying cool. In this regard, the Cypress truly excels. The bamboo infused cover, natural wool backing, gel infused memory foam, and ventilated transition foams work together to promote airflow and cooling, all night long.</p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/bambooforest72.jpg?h=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/bambooforest72.jpg?rect=2107,500,1414,2048&w=920">
                <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/bambooforest72.jpg?rect=2107,500,1414,2048&w=920" src="https://s3-brentwoodhome.imgix.net/products/cypress/bambooforest72.jpg?rect=2107,500,1414,2048&w=920&blur=500&q=10" alt="Bamboo forest">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6 flexV">
            <div>
                <h2>Eco-Luxury Viscose Bamboo</h2>
                <p>Bamboo has environmental advantages — it's a fast growing crop that's usually grown without pesticides in areas unsuitable to forestry. Bamboo leaves and the soft, inner pith from the hard bamboo trunk are extracted using a steaming process and then mechanically crushed to extract the cellulose (a closed loop process), which is made into viscose rayon. It's naturally hypoallergenic and thermal regulating, incredibly soft, helps you sleep cooler, wicks moisture and resists odor and bacteria. </p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <h2 class="text-center margTB7050 main">The perfect combination of body contouring and cooling</h2>
    <div class="inside five text-center">
        <div class="matTip small bamboo wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
            <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/bamboocover-round.png?w=80&h=80" src="https://s3-brentwoodhome.imgix.net/products/cypress/bamboocover-round.png?w=80&h=80&blur=500&q=10" alt="Bamboo Cover" class="rdthumb">
            <p><strong>Removable Bamboo Zipper Cover</strong><span>Made from eco-friendly bamboo wood cellulose, it’s durable, luxurious and removable for cleaning.</span><span class="mobile">Eco-friendly and washable.</span></p>
            <div class="arrow">
                <div class="pointer"></div>
            </div>
        </div>
        <div class="matTip small wool wow fadeIn" data-wow-duration="1s" data-wow-delay="1.3s">
            <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/wool2-round.png?w=80&h=80" src="https://s3-brentwoodhome.imgix.net/products/cypress/wool2-round.png?w=80&h=80&blur=500&q=10" alt="Wool" class="rdthumb">
            <p><strong>Natural New Zealand Wool</strong><span>Wool lining wicks moisture, regulates temperature, and prevents odor.</span><span class="mobile">Wicks moisture and prevents odor.</span></p>
            <div class="arrow">
                <div class="pointer"></div>
            </div>
        </div>
        <div class="matTip small airflux wow fadeIn" data-wow-duration="1s" data-wow-delay="1.8s">
            <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/airflux-round.png?w=80&h=80" src="https://s3-brentwoodhome.imgix.net/products/cypress/airflux-round.png?w=80&h=80&blur=500&q=10" alt="Airflow Foam" class="rdthumb">
            <p><strong>Ventilated Airflow Zone</strong><span>Allows your mattress to breathe so that you stay cool and comfortable throughout the night.</span><span class="mobile">Allows mattress breathability to stay cool.</span></p>
            <div class="arrow">
                <div class="pointer"></div>
            </div>
        </div>
        <div class="matTip small gelfoam wow fadeIn" data-wow-duration="1s" data-wow-delay="2.3s">
            <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/gelmf-round.png?w=80&h=80" src="https://s3-brentwoodhome.imgix.net/products/cypress/gelmf-round.png?w=80&h=80&blur=500&q=10" alt="Gel Memory Foam" class="rdthumb">
            <p><strong>Gel Memory Foam</strong><span>Conforms to your body for greater pressure relief and eliminates motion transfer while keeping you cool.</span></p>
            <div class="arrow">
                <div class="pointer"></div>
            </div>
        </div>
        <div class="matTip small base wow fadeIn" data-wow-duration="1s" data-wow-delay="2.5s">
            <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/basefoam-round.png?w=80&h=80" src="https://s3-brentwoodhome.imgix.net/products/cypress/basefoam-round.png?w=80&h=80&blur=500&q=10" alt="Base Foam" class="rdthumb">
            <p><strong> Support Base Foam</strong><span>A solid support base absorbs your weight to dampen motion transfer and prevent noise.</span></p>
            <div class="arrow">
                <div class="pointer"></div>
            </div>
        </div>
        <picture class="wow fadeIn" data-wow-duration="1s">
            <source media="(max-width: 480px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/bamboo_13in_internal.jpg?w=480&ch=Width,DPR">
            <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/bamboo_13in_internal.jpg">
            <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/bamboo_13in_internal.jpg" src="https://s3-brentwoodhome.imgix.net/products/cypress/bamboo_13in_internal.jpg?blur=500&q=10" alt="Bamboo 13 mattress">
        </picture>
    </div>
</div>

<div class="container section">
    <h2 class="text-center margTB7050"></h2>
    <div class="row row-eq-height">
        <div class="col-xs-12 col-sm-6">
            <div class="side bamboo charcoal">
                <div class="top">
                    <h3>Cypress Bamboo 11"</h3>
                    <h4></h4>
                    <div class="thumb2">
                        <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/bamboo11overview.jpg?w=375" src="https://s3-brentwoodhome.imgix.net/products/cypress/bamboo11overview.jpg?w=375&blur=500&q=10" alt="Cypress Bamboo 11 Medium-Firm" class="rdrectthumb">
                    </div>
                </div>
                <div class="content bamboo">
                    <h4><i>Medium-firm feel</i></h4>
                    <p class="text-left">
                        The <strong>11-inch Cypress</strong> model features 2.5 inches of gel infused memory foam and 6.5 inches of base foam. It delivers a conforming, cool, medium-firm sleep experience. <strong>Great for back and stomach sleepers that occasionally sleep on their sides.</strong>
                    </p>
                    
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="side bamboo latex">
                <div class="top">
                    <h3>Cypress Bamboo 13"</h3>
                    <h4></h4>
                    <div class="thumb2">
                        <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/bamboo13overview.jpg?w=375" src="https://s3-brentwoodhome.imgix.net/products/cypress/bamboo13overview.jpg?w=375&blur=500&q=10" alt="Cypress Bamboo 13 Medium" class="rdrectthumb">
                    </div>
                </div>
                <div class="content bamboo">
                    <h4><i>Medium feel</i></h4>
                    <p class="text-left">
                        The <strong>13-inch Cypress</strong> model uses 3.5 inches of gel infused memory foam and 7.5 inches of base foam. It delivers deeper contouring support, relief from pressure points and a softer sleep experience. <strong>Great for side, back, and stomach sleepers or partners with different preferences.</strong>
                    </p>

                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="container section margTB7050">
    <h2 class="text-center margTB7050 main">Features everything you’re looking for in a high-quality mattress</h2>
    <div class="row warranties margTB30">
        <div class="col-xs-6 col-sm-2 col-sm-offset-1">
            <img loading="lazy" data-src="https://brentwood-home.imgix.net/iconv2-gelmemoryfoam.svg" alt="Gel Memory Foam">
            <p>Gel<br> Memory Foam</p>
        </div>
        <div class="col-xs-6 col-sm-2">
            <img loading="lazy" data-src="https://brentwood-home.imgix.net/iconv2-motionisolation.svg" alt="Motion Isolation">
            <p>Motion<br>Isolation</p>
        </div>
        <div class="col-xs-6 col-sm-2">
            <img loading="lazy" data-src="https://brentwood-home.imgix.net/iconv2-certipurus.svg" alt="CertiPUR-US&reg; Foam">
            <p>CertiPUR-US&reg;<br>Foam</p>
        </div>
        <div class="col-xs-6 col-sm-2">
            <img loading="lazy" data-src="https://brentwood-home.imgix.net/iconv2-pressurerelieving.svg" alt="Pressure Relieving">
            <p>Pressure<br>Relieving</p>
        </div>
        <div class="col-xs-12 col-sm-2">
            <img loading="lazy" data-src="https://brentwood-home.imgix.net/iconv2-ecofriendly.svg" alt="Eco-friendly">
            <p>Eco-friendly</p>
        </div>
    </div>
</div>

<div class="container section text-center">
    <picture>
        <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_0817.jpg?rect=0,598,7195,4003&h=480&ch=Width,DPR&q=55">
        <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_0817.jpg?rect=0,598,7195,4003&w=1140">
        <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_0817.jpg?rect=0,598,7195,4003&w=1140" alt="Laying on the Bamboo Mattress">
    </picture>
</div>

<div class="container section text-center">
    <div class="row">
        <div class="col-xs-6">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_0565.jpg?h=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_0565.jpg?w=555">
                <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_0565.jpg?w=555" alt="Reading on Bamboo Mattress">
            </picture>
        </div>
        <div class="col-xs-6">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_0982.jpg?h=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_0982.jpg?w=555">
                <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_0982.jpg?w=555" alt="Seating on Bamboo Mattress">
            </picture>
        </div>
    </div>
</div>

<div class="container section text-center">
    <picture>
        <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_0600.jpg?h=480&ch=Width,DPR&q=55">
        <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_0600.jpg?w=1140">
        <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_0600.jpg?w=1140" alt="Front view Bamboo Mattress">
    </picture>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center">
            <!--<picture>
                <source media="(max-width: 767px)" srcset="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_Bare_2.jpg?rect=368,0,998,998&w=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" srcset="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_Bare_2.jpg?rect=323,194,806,1229&w=555">
                <img src="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_Bare_2.jpg?rect=323,194,806,1229&w=555" alt="">
            </picture>-->
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/factory2.jpg?w=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/factory2.jpg?&w=555&q=55">
                <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/factory2.jpg?w=555&q=55" alt="Handcrafted in Southern California">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV">
            <div>
                <h2>Handcrafted in Southern California</h2>
                <p>All Brentwood Home products are inspired by a passion for California living, the state’s unparalleled natural beauty and strict quality standards for manufacturing with respect to impact on health and the environment. This passion comes through in every detail of each product. All of our mattresses are handcrafted in our factory located just outside of Los Angeles.</p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_Bare_2.jpg?rect=368,0,998,998&w=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_Bare_2.jpg?rect=323,194,806,1229&w=555">
                <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_Bare_2.jpg?rect=323,194,806,1229&w=555" alt="Eco-friendly, non-toxic materials">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6 flexV">
            <div>
                <h2>Eco-friendly,<br> non-toxic materials</h2>
                <p>The luxurious viscose rayon cover is actually made from naturally regenerated and sustainable bamboo wood cellulose. The natural JOMA® New Zealand Wool, which keeps you cool and dry, is even <strong>OEKO-TEX Standard 100 certified</strong>. And the gel infused memory foam, which helps draw heat away from the body, is <strong>Certi-PUR-US® certified</strong> to be free from harmful chemicals. No toxic flame retardants are used.</p>
                <p class="text-center"><img src="{{ 'certipur-badge.png' | asset_url }}" alt="CertiPUR-US" style="max-width: 75px; width: 75px;margin-top: 30px;" >&nbsp;&nbsp;<img src="{{ 'logo-oeko-tex.png' | asset_url }}" alt="Oeko-Tex" style="max-width: 75px; width: 75px;margin-top: 30px;" ></p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_0501.jpg?rect=1200,440,3500,4310&w=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_0501.jpg?rect=2608,0,2693,4061&w=555">
                <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_0501.jpg?rect=2608,0,2693,4061&w=555" alt="Greenguard Gold Certified Mattress">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV">
            <div>
                <h2>Greenguard Gold Certified Mattress</h2>
                <p>The {{ product.title }} is completely <strong>GREENGUARD Gold Certified</strong> by UL Environment. It means that it has been scientifically tested in environmental chambers to meet some of the world’s most rigorous, third-party emissions standards for prolonged chemical exposure and pollutants, such as volatile organic compounds (VOCs), formaldehyde and phthalates. <a href="https://intercom.help/brentwood-home-b4d83ef0a14f/health-safety-and-sustainability/are-your-mattresses-greenguard-gold-certified">View Certificate</a>.</p>
                <p class="text-center"><img src="{{ 'logo-greenguard-2.svg' | asset_url }}" alt="Greenguard Gold Certified Mattress" style="max-width: 100px; width: 100px;margin-top: 30px;" ></p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/bambootopmodels.jpg?w=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/bambootopmodels.jpg?rect=880,0,1625,2066&w=555">
                <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/bambootopmodels.jpg?rect=880,0,1625,2066&w=555" alt="Start Your 1-Year Sleep Trial">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6 flexV">
            <div>
                <h2>Start Your 1-Year Sleep Trial</h2>
                <p>Experiencing is believing, especially when it comes to our top-rated Cypress Bamboo Gel Mattress. <strong>Try our mattress for 365 days, risk-free,</strong> in the comfort of your home. Learn more about our amazing <a href="https://www.brentwoodhome.com/pages/1-year-risk-free-mattress-trial">1-Year Sleep Trial Policy</a> for mattresses sold on our website.</p>
            </div>
        </div>
    </div>
</div>

<div id="recommendationApp">

</div>

<div class="container section margTB120">
    <h2 class="text-center">{{ product.title }} Specifications</h2>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#materials" aria-controls="materials" role="tab" data-toggle="tab">Materials</a></li>
        <li role="presentation"><a href="#sizes" aria-controls="sizes" role="tab" data-toggle="tab">Sizes</a></li>
        <li role="presentation"><a href="#shipping" aria-controls="shipping" role="tab" data-toggle="tab">Shipping & Returns</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="materials">
            <div class="">
                {{ metaf.details_materials }}
                <div class="clear"></div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="sizes">
            <div class="row">

                
                <div class="col-xs-12 col-sm-6">
                    <p><strong>Twin</strong><br>
                        Mattress Dimensions: 75"L X 39"W X 13"H<br>
                        Shipping Box Size: 19"L X 19"W X 48"H<br>
                        Shipping Weight: 36 Lbs</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <p><strong>Twin XL</strong><br>
                        Mattress Dimensions: 80"L X 39"W X 13"H<br>
                        Shipping Box Size: 19"L X 19"W X 48"H<br>
                        Shipping Weight: 38 Lbs</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <p><strong>Full </strong><br>
                        Mattress Dimensions: 75"L X 54"W X 13"H<br>
                        Shipping Box Size: 19"L X 19"W X 48"H<br>
                        Shipping Weight: 40 Lbs</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <p><strong>Queen</strong><br>
                        Mattress Dimensions: 80"L X 60"W X 13"H<br>
                        Shipping Box Size: 19"L X 19"W X 48"H<br>
                        Shipping Weight: 50 Lbs</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <p><strong>King</strong><br>
                        Mattress Dimensions: 80"L X 76"W X 13"H<br>
                        Shipping Box Size: 19"L X 19"W X 48"H<br>
                        Shipping Weight: 65 Lbs</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <p><strong>California King</strong><br>
                        Mattress Dimensions: 84"L X 72"W X 13"H<br>
                        Shipping Box Size: 19"L X 19"W X 48"H<br>
                        Shipping Weight: 65 Lbs</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="shipping">
            <div class="row">

                <div class="col-xs-12 col-sm-4">
                    <p><strong>Free Standard Shipping:</strong><br>
                        The handcrafting process usually takes 3–5 days to complete, and delivery times vary depending on your distance from our Los Angeles factory.
                        {% include 'shippingtime' %} Most mattresses ship via FedEx, however, for select larger mattresses (our King and California King sized Crystal Cove, Oceano, Ojai and Cedar Mattresses) we offer free Curbside Delivery through our partner AGS.
                        <br>
                        In general, you can expect to receive your mattress within 1-3 weeks from the date of order. Once your purchase ships, we’ll send you an email with tracking information so you can follow your shipment and plan for delivery.</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <p><strong>Optional White Glove Delivery:</strong><br>
                        For an additional $199 per mattress, you can select our Premium White Glove Service through our delivery partner, AGS. This includes in-home delivery.
                        <br>

                        If you’d like to add removal of your old mattress to your Premium White Glove delivery, this is an additional $275 per mattress.<br>

                        For most White Glove deliveries, you can expect to receive your mattress within 2-3 weeks from the date of order.
                        <br>

                        For Local White Glove deliveries in/around the Los Angeles and San Diego, California areas, you can expect to receive your mattress within 1-3 weeks from the date of order.

                        <br>

                        Once your order is ready to be delivered, AGS will contact you to schedule a day and time that is convenient for you.

                    </p>

                    <p>Visit our <a href="https://intercom.help/brentwood-home-b4d83ef0a14f/shipping-and-delivery">Help center</a> for more information</p>

                </div>
                <div class="col-xs-12 col-sm-4">
                    <p><strong>Returns:</strong><br>
                        We offer a 1-year sleep guarantee with our mattresses. Sleep on your new mattress for at least 30 nights to allow your body time to adjust to the comfort and support of your new Brentwood Home mattress. If you decide the mattress isn’t the right one for you, then we will schedule a pick up and provide a full refund.
                    </p>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center">
            <picture>
                <source media="(max-width: 767px)" dara-srcset="https://s3-brentwoodhome.imgix.net/forest.jpg?rect=368,0,998,998&w=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/forest.jpg?rect=368,0,701,998&w=555">
                <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/forest.jpg?rect=368,0,701,998&w=555" alt="Supporting the National Forest Foundation">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV">
            <div>
                <h2>Supporting the National Forest Foundation</h2>
                <p>Our forests are in peril and need our help. So for every mattress sold on our website, we also make a donation to the <a href="https://www.nationalforests.org/" title="National Forest Foundation" target="_blank">National Forest Foundation</a> to plant three trees. It’s part of our ambitious effort to help stem the impact of climate change and help replant America’s forests.</p>
                <p class="text-center"><img src="{{ 'logo-nationalforest.jpg' | asset_url }}" alt="National Forest Foundation" style="max-width: 140px; width: 140px;margin-top: 30px;" ></p>
            </div>
        </div>
    </div>
</div>

<div id="yotpoReviews" class="container margTB120">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12 text-center">
            <h2 class="text-center">Reviews</h2>
        </div>
        <div class="col-xs-12">
            <div class="yotpo yotpo-main-widget"
                 data-product-id="{{ product.id }}"
                 data-name="{{ product.title | escape }}"
                 data-url="{{ shop.url }}{{ product.url }}"
                 data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
                 data-description="{{ product.description | escape }}">
            </div>
        </div>
    </div>
</div>



<span id="extole-zone-product_page"></span>
<script type="text/javascript">
    (function (c, b, f, k, a) {
        c[b] = c[b] || {};
        for (c[b].q = c[b].q || []; a < k.length;) f(k[a++], c[b])
    })(window, "extole", function (c, b) {
        b[c] = b[c] || function () {
            b.q.push([c, arguments])
        }
    }, ["createZone"], 0);
    extole.createZone({
        name: "product_page",
        element_id: "extole-zone-product_page",
        parameters: {}
    });
</script>

{% include 'productbundles' %}

</div>
