{% assign productSnippet = product.handle | prepend: 'product-' %}
{% assign metaf = product.metafields.c_f %}
{% include 'nowtime' %}
<div id="page_product">
    <div class="container-fluid" id="product">
        <div itemscope itemtype="http://schema.org/Product" class="product">
            <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
            <meta itemprop="description" content="{{ metaf.shortdesc }}">
            <meta itemprop="image" src="{{ product.featured_image.src | product_img_url: 'grande' }}" alt="{{ product.title | escape }}">
            <meta itemprop="itemCondition" content="http://schema.org/NewCondition"/>
            <meta itemprop="brand" content="{{shop.name}}"/>
            <meta itemprop="sku" content="{{product.sku}}"/>
            <div class="row">
                <!-- FLEXSLIDER -->
                {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
                {% assign imgName = featured_image | remove: 'products/' %}
                <div class="col-xs-12 col-md-7 col-lg-7" id="product-image-main">
                    <section class="slider" style="position: relative;">
                        {% if sale %}
                        <div class="sale-badge-wrap testB">
                            <div class="sale-badge">
                                <p>{{ sale }}</p>
                            </div>
                        </div>
                        {% endif %}
                        
                        <div id="flexPlaceholder">
                            <picture>
                                <source media="(max-width: 767px)" data-srcset="https://brentwood-home-products.imgix.net/{{ imgName }}?ch=Width,DPR&w=767&dpr=1&fit=clip">
                                <source media="(min-width: 768px)" data-srcset="https://brentwood-home-products.imgix.net/{{ imgName }}?ch=Width,DPR&w=830&dpr=1&fit=clip">
                                <img class="lazy" src="https://brentwood-home-products.imgix.net/{{ imgName }}?w=830&q=50" alt="{{product.title}}" loading="eager">
                            </picture>
                        </div>
                        <div class="flexslider">
                            <ul class="slides">
                                {% for image in product.images %}
                                {% assign videotag = image.alt | escape %}
                                    {% assign imgName = image | remove: 'products/' | split:'?' | first %}
                                <li data-thumb="https://brentwood-home-products.imgix.net/{{ imgName }}?ch=Width,DPR&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&w=160&h=120&crop=focalpoint&dpr=1 1x,
                                    https://brentwood-home-products.imgix.net/{{ imgName }}?ch=Width,DPR&crop=focalpoint&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&w=160&h=120&fit=crop&dpr=2 2x,
                                    https://brentwood-home-products.imgix.net/{{ imgName }}?ch=Width,DPR&crop=focalpoint&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&w=160&h=120&fit=crop&dpr=3 3x">
                                    {% if videotag contains 'vimeo' %}
                                        <div class='embed-container '>
                                            <!--https://player.vimeo.com/video/###-->
                                            <iframe src="{{ image.alt }}?title=0&byline=0&portrait=0" width="640" height="360" id="video_1" frameborder="0"></iframe>
                                        </div>
                                    {% else %}


                                        <picture>
                                                <source data-srcset="https://brentwood-home-products.imgix.net/{{ imgName }}?w=830&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 1x,
                                                                     https://brentwood-home-products.imgix.net/{{ imgName }}?w=830&fit=crop&dpr=2&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 2x,
                                                                     https://brentwood-home-products.imgix.net/{{ imgName }}?w=830&fit=crop&dpr=3&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 3x" 
                                                                     media="(min-width: 768px)">

                                                <source data-srcset="https://brentwood-home-products.imgix.net/{{ imgName }}?w=767&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 1x,
                                                                     https://brentwood-home-products.imgix.net/{{ imgName }}?w=767&fit=crop&dpr=2&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 2x,
                                                                     https://brentwood-home-products.imgix.net/{{ imgName }}?w=767&fit=crop&dpr=3&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 3x" 
                                                                     media="(min-width: 480px) and (max-width: 767px)">

                                                <source data-srcset="https://brentwood-home-products.imgix.net/{{ imgName }}?w=480&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 1x,
                                                                     https://brentwood-home-products.imgix.net/{{ imgName }}?w=480&fit=crop&dpr=2&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 2x,
                                                                     https://brentwood-home-products.imgix.net/{{ imgName }}?w=480&fit=crop&dpr=3&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 3x" 
                                                                     media="(min-width: 320px) and (max-width: 479px)">


                                                <img class="lazy" src="https://brentwood-home-products.imgix.net/{{ imgName }}?w=830&blur=500&q=10" data-src="https://brentwood-home-products.imgix.net/{{ imgName }}?w=830 1x,
                                        https://brentwood-home-products.imgix.net/{{ imgName }}?w=1660&fit=max&q=40&dpr=2 2x,
                                        https://brentwood-home-products.imgix.net/{{ imgName }}?w=2490&fit=max&q=20&dpr=3 3x"
                                         alt="{{ product.title | escape }} View {{ forloop.index }}">

                                            </picture>


                                    {% endif %}
                                </li>
                                {% endfor%}
                              </ul>
                            {%comment%}
                            <ul class="slides">
                                {% for image in product.images %}
                                    {% assign videotag = image.alt | escape %}
                                    {% assign imgName = image | remove: 'products/' | split:'?' | first %}
                                    <li data-thumb="https://brentwood-home-products.imgix.net/{{ imgName }}?ch=Width,DPR&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&w=160&h=120&crop=focalpoint&dpr=1 1x,
                                    https://brentwood-home-products.imgix.net/{{ imgName }}?ch=Width,DPR&crop=focalpoint&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&w=160&h=120&fit=crop&dpr=2 2x,
                                    https://brentwood-home-products.imgix.net/{{ imgName }}?ch=Width,DPR&crop=focalpoint&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&w=160&h=120&fit=crop&dpr=3 3x">   
                                        {% if videotag contains 'vimeo' %}
                                            <div class='embed-container '>
                                                <!--https://player.vimeo.com/video/###-->
                                                <iframe src="{{ image.alt }}?title=0&byline=0&portrait=0" width="640" height="360" id="video_1" frameborder="0"></iframe>
                                            </div>
                                        {% else %}
                                            <picture>
                                                <source data-srcset="https://brentwood-home-products.imgix.net/{{ imgName }}?w=830&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 1x,
                                                                     https://brentwood-home-products.imgix.net/{{ imgName }}?w=830&fit=crop&dpr=2&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 2x,
                                                                     https://brentwood-home-products.imgix.net/{{ imgName }}?w=830&fit=crop&dpr=3&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 3x" 
                                                                     media="(min-width: 768px)">

                                                <source data-srcset="https://brentwood-home-products.imgix.net/{{ imgName }}?w=767&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 1x,
                                                                     https://brentwood-home-products.imgix.net/{{ imgName }}?w=767&fit=crop&dpr=2&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 2x,
                                                                     https://brentwood-home-products.imgix.net/{{ imgName }}?w=767&fit=crop&dpr=3&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 3x" 
                                                                     media="(min-width: 480px) and (max-width: 767px)">

                                                <source data-srcset="https://brentwood-home-products.imgix.net/{{ imgName }}?w=480&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 1x,
                                                                     https://brentwood-home-products.imgix.net/{{ imgName }}?w=480&fit=crop&dpr=2&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 2x,
                                                                     https://brentwood-home-products.imgix.net/{{ imgName }}?w=480&fit=crop&dpr=3&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 3x" 
                                                                     media="(min-width: 320px) and (max-width: 479px)">

                                                {% if forloop.first %}
                                                    <img src="https://brentwood-home-products.imgix.net/{{ imgName }}?w=830&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 1x,
                                                                     https://brentwood-home-products.imgix.net/{{ imgName }}?w=830&fit=crop&dpr=2&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 2x,
                                                                     https://brentwood-home-products.imgix.net/{{ imgName }}?w=830&fit=crop&dpr=3&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false 3x" 
                                                                     loading="eager">
                                                {% else %}
                                                    <img data-src="https://brentwood-home-products.imgix.net/{{ imgName }}?w=555&fit=crop" 
                                                     src="https://brentwood-home-products.imgix.net/{{ imgName }}?w=555&blur=500&q=10&fit=crop" 
                                                     loading="lazy">
                                                {% endif %}
                                            </picture>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                            {%endcomment%}
                        </div>
                    </section>
                </div>

                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-0 col-lg-5 product-shop">
                    <div>
                        <!--{% if sale %}
                        <div class="sale-badge-wrap">
                           <div class="sale-badge testA">
                                <p>{{ sale }}</p>
                            </div>
                        </div>
                        {% endif %}-->
                        <header class="product-title {% if collection.previous_product or collection.next_product and settings.display_prev_next_product and collection %}has-btn{% endif %}">
                            <h1 {% if settings.display_prev_next_product and collection and multi_prd %}class="pull-left"{% endif %} itemprop="name">{{ product.title }}</h1>
                        </header>
                        <div class="yotpo bottomLine"
                             data-appkey="MoTNJx7IZaWhweNlLkQdd6AaJffubtZuHPH6w3aQ"
                             data-domain="{{ shop.permanent_domain | escape }}"
                             data-product-id="{{ product.id }}"
                             data-product-models="{{ product.id }}"
                             data-name="{{ product.title | escape }}"
                             data-url="{{ shop.url }}{{ product.url }}"
                             data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26' }}"
                             data-description="{{ product.description | escape }}"
                             data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                            <meta itemprop="itemReviewed" content="{{ product.title }}">
                            <meta itemprop="ratingValue" content="{{ product.metafields.yotpo.reviews_average }}">
                            <meta itemprop="ratingCount" content="{{ product.metafields.yotpo.reviews_count }}">
                        </div>
                        <!--{% include 'shippingtime' %}-->
                        <p class="short-description">
                            
                            {% if product.handle == "cedar-natural-luxe-mattress" %}
                                <strong>The pinnacle of eco-conscious luxury mattresses: our 100% GOTS organic certified mattress!</strong> We use the finest natural and organic certified materials and a premium hybrid latex mattress design for a medium-soft feel.
                            {% else %}
                            {{ metaf.shortdesc }}
                            {%endif%}
                        </p>
                        {% if metaf.shortdesc_more %}
                            <div class="shortdesc more">
                                <a role="button" data-toggle="collapse" href="#collapseDescription" aria-expanded="false" aria-controls="collapseDescription" class="navico productDetails defaultCollapsed">More details +</a>
                                <ul class="collapse" id="collapseDescription">
                                    {{ metaf.shortdesc_more }}
                                </ul>
                            </div>
                            <script>
                                $(document).ready(function() {
                                    $('#collapseDescription').collapse({
                                        toggle: false
                                    });
                                    $('#collapseDescription').on('show.bs.collapse', function () {
                                        $("a.productDetails").addClass("open").text("Less details -");
                                    });
                                    $('#collapseDescription').on('hide.bs.collapse', function () {
                                        $("a.productDetails").removeClass("open").text("More details +");
                                    });
                                });
                            </script>
                        {% endif %}
                        <div class="mob-dark">
                            <div id="buysection"></div>
                            <form action="/cart/add" method="post" enctype="multipart/form-data" id="add-to-cart-form">
                                <label for="product-selectors" class="selectLabel">Size</label>
                                <div id="product-variants">
                                    {% assign variantCount = product.variants | size %}
                                    {% if product.available %}
                                        {% if variantCount > 1 %}
                                            <select id="product-selectors" name="id" style="display: none;">
                                                {% for variant in product.variants %}
                                                    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}
                                                    value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                                                {% endfor %}
                                            </select>
                                            {% comment %}variables set in snippets/shippingtime.liquid{% endcomment %}
                                            <p class="short-description shipping"><img src="https://brentwood-home-2.imgix.net/icon-shippingv4.svg" alt="Ships free, free returns">Ships free in {{ shipsfree }} | free returns {% if trial %}| {{trial}}{% endif %}</p>
                                            
                                            {% if settings.use_color_swatch %}
                                                {% for option in product.options %}
                                                    {% include 'swatch' with option %}
                                                {% endfor %}
                                            {% endif %}
                                            
                                        {% else %}
                                            <input type="hidden" name="id" value="{{ product.variants[0].id }}"/>
                                        {% endif %}
                                    {% endif %}
                                    <!-- WIDGET BUNDLES (PILLOW + FOUNDATION )-->
                                    {% include 'productbundles-widget' %}
                                </div>
                                {% if product.available %}
                                    <div class="cta-module clearfix">
                                        <div class="prices" itemprop="offers" itemscope itemtype="http://schema.org/Offer" style="float: left;">
                                            <meta itemprop="priceCurrency" content="{{ shop.currency }}">
                                            {% if product.compare_at_price > product.price %}
                                                <span class="compare-price">{{ product.compare_at_price_max | money_without_trailing_zeros}}</span>
                                                <span class="price on-sale" itemprop="price" content="{{ product.selected_or_first_available_variant.price | money_without_currency | remove: ',' }}">{{ product.selected_or_first_available_variant.price | money_without_trailing_zeros}}</span>
                                            {% else %}
                                                <span class="price" itemprop="price" content="{{ product.selected_or_first_available_variant.price | money_without_currency | remove: ',' }}">{{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}</span>
                                            {% endif %}
                                            {% if product.available %}
                                                <link itemprop="availability" href="http://schema.org/InStock">
                                            {% else %}
                                                <link itemprop="availability" href="http://schema.org/OutOfStock">
                                            {% endif %}
                                        </div>
                                        {% include 'affirm-product' %}
                                        <div class="affirmWrap">
                                            <div class="affirm" style="">
                                                <a id="learn-more" class="affirm-as-low-as" data-learnmore-show="true" data-promo-id="promo_set_brentwood_zero_percent" data-amount="{{product.selected_or_first_available_variant.price}}"></a>
                                            </div>
                                        </div>
                                        <div id="qt" style="display: none">QTY: <input type="text" id="quantity" name="quantity" value="1"></div>
                                    </div>
                                {% else %}
                                    <button type="button" class="btn" id="product-add-to-cart" disabled>Unavailable</button>
                                {% endif %}
                                {% assign current_variant = product.selected_or_first_available_variant %}
                            </form>
                            <button type="button" class="cta2" style="width: 100%;" id="product-add-to-cart">Add to Cart</button>
                        </div>
                    </div>                    
                </div><!-- Right Col product-shop --> 
            </div>
        </div>
    </div><!-- End container-fluid --> 
    
 

    {%comment%} Load the appropriate snippet based on product handle{%endcomment%}
    {% assign snippet_name = "product-" | append: product.handle %}
    {% capture output %}
        {% include snippet_name %}
    {% endcapture %}
    {% unless output contains "error:" %}
        {{ output }}
    {% endunless %}
    
    
    
    <div id="materialsspecs"></div>
    
    <div class="container section margTB120">
        <h2 class="text-center">Product Specifications</h2>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingZero">
                    <h4 class="panel-title">
                        <a role="button" class="icons materials" data-toggle="collapse" href="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
                            Materials
                        </a>
                    </h4>
                </div>
                <div id="collapseZero" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingZero">
                    <div class="panel-body">
                        <div id="materialsspecs"></div>
                        {{ metaf.details_materials }}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" class="icons certifications" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Certifications
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <p class="text-center"><strong>The {{product.title}} has the following certifications:</strong></p><br>
                        {% for tag in product.tags %}
                            {% case tag %}
                                {% when 'GreenGuard' %}
                                <div class="row">
                                    <div class="col-xs-12 col-md-2">
                                        <p class="text-center"><img src="{{ 'greenguard-logo-full.svg' | asset_url}}" alt="GreenGuard Certified" style="max-width: 80px;"></p>
                                    </div>
                                    <div class="col-xs-12 col-md-10">
                                        <p><strong>GREENGUARD Gold - {{ product.type }}</strong></p>
                                        <p>The {{product.title}} is completely GREENGUARD Gold Certified by UL Environment. That means it was scientifically tested in environmental chambers to meet some of the world’s most rigorous, third-party emissions standards for prolonged chemical exposure and pollutants, such as volatile organic compounds (VOCs), formaldehyde, and phthalates. </p>
                                    </div>
                                </div>
                                
                                {% when 'Oeko' %}
                                    <div class="row">
                                        <div class="col-xs-12 col-md-2">
                                            <p class="text-center"><img src="{{ 'oeko-tex-logo-hin.png' | asset_url}}" alt="Oeko-Tex Standard" style="max-width: 100px;"></p>
                                        </div>
                                        <div class="col-xs-12 col-md-10">
                                            <p><strong>STANDARD 100 by OEKO-TEX® — Wool</strong></p>
                                            <p>The wool on the panel fabric of the {{product.title}} is STANDARD 100 by OEKO-TEX® certified (19.HIN.68466, Hohenstein HTTI), which is one of the world's best-known labels for textiles tested for harmful substances. 
                                            </p>
                                        </div>
                                    </div>
                                {% when 'Oeko-LCW' %}
                                    <div class="row">
                                        <div class="col-xs-12 col-md-2">
                                            <p class="text-center"><img src="{{ 'oeko-tex-logo-hin.png' | asset_url}}" alt="Oeko-Tex Standard" style="max-width: 100px;"></p>
                                        </div>
                                        <div class="col-xs-12 col-md-10">
                                            <p><strong>STANDARD 100 by OEKO-TEX® — Latex, Cotton, Wool</strong></p>
                                            <p>The wool on the panel fabric of the {{product.title}} is STANDARD 100 by OEKO-TEX® certified (19.HIN.68466, Hohenstein HTTI), which is one of the world's best-known labels for textiles tested for harmful substances. 
                                            </p>
                                        </div>
                                    </div>
                                {% when 'Oeko-Spring' %}
                                    <div class="row">
                                        <div class="col-xs-12 col-md-2">
                                            <p class="text-center"><img src="{{ 'oeko-tex-logo-hin-spring.png' | asset_url}}" alt="Oeko-Tex Standard" style="max-width: 100px;"></p>
                                        </div>
                                        <div class="col-xs-12 col-md-10">
                                            <p><strong>STANDARD 100 by OEKO-TEX® — Innerspring Unit</strong></p>
                                            <p>The innerspring core system used on the hybrid versions of the {{product.title}} is made of steel springs, clips and frame, and woven and non-woven fabric, using materials certified to STANDARD 100 by OEKO-TEX® (10.0.77270, Hohenstein HTTI),</p>
                                        </div>
                                    </div>
                                {% when 'CertiPUR-US Certified' %}
                                    <div class="row">
                                        <div class="col-xs-12 col-md-2">
                                            <p class="text-center"><img src="https://brentwood-home-2.imgix.net/logo-certipur-us.jpg?w=100" alt="CertiPUR-US Certified"></p>
                                        </div>
                                        <div class="col-xs-12 col-md-10">
                                            <p><strong>CertiPUR-US®</strong></p>
                                            <p>The {{product.title}} has passed the strict regulations of CertiPUR-US®. That means you can be confident that our polyurethane foam meets CertiPUR-US® standards for content, emissions, and durability, and has been analyzed by independent, accredited testing laboratories. 
                                            </p>
                                        </div>
                                    </div>
                                {% when 'vegan' %}
                                    <div class="row">
                                        <div class="col-xs-12 col-md-2">
                                            <p class="text-center"><img src="{{ 'veganlogo.svg' | asset_url}}" alt="100% Vegan" style="max-width: 100px;"></p>
                                        </div>
                                        <div class="col-xs-12 col-md-10">
                                            <p><strong>100% Certified Vegan by Vegan Action</strong></p>
                                            <p>The {{product.title}} are 100% Certified Vegan by Vegan Action. This means the products are free from animal products (like feathers, wool and down) or byproducts that have been tested on animals. In addition, although we do manufacture some items that do use natural animal products like wool, we have stringent requirements in place for cleaning the machines in-between use, so cross-contamination will not occur. If you practice a vegan lifestyle, you can rest assured that your {{product.title}} are aligned with your values.
                                            </p>
                                        </div>
                                    </div>
                                {% when 'MADESAFE' %}
                                    <div class="row">
                                        <div class="col-xs-12 col-md-2">
                                            <p class="text-center"><img src="{{ 'logo-madesafe-square-newblu.png' | asset_url}}" alt="Made Safe" style="max-width: 100px;"></p>
                                        </div>
                                        <div class="col-xs-12 col-md-10">
                                            <p><strong>MADE SAFE® Certified</strong></p>
                                            <p>Our {{product.title}} are MADE SAFE® certified — a rigorous, scientific screening process which only allows the use of ingredients that are not known or suspected to harm human health, animals, aquatic life or ecosystems.
                                            </p>
                                        </div>
                                    </div>
                                {% when 'GOTS' %}
                                    <div class="row">
                                        <div class="col-xs-12 col-md-2">
                                            <p class="text-center"><img src="{{ 'gots-logo.png' | asset_url}}" alt="GOTS" style="max-width: 100px;"></p>
                                        </div>
                                        <div class="col-xs-12 col-md-10">
                                            <p><strong>GOTS Organic Certified Product</strong></p>
                                            <p>Our {{product.title}} is a GOTS certified product, and listed on the GOTS public database under our brand name. At the material level, our organic cotton and organic wool are also certified to the Global Organic Textile Standard (GOTS). These renewable and sustainable resources are independently verified, and always ethically and responsibly sourced. They’re better for you as well as the people that grow it. And at the factory level, we are proud to operate our own GOTS certified factory in Los Angeles. License #861640.
                                            </p>
                                        </div>
                                    </div>
                                {% when 'GOTSorg' %}
                                    <div class="row">
                                        <div class="col-xs-12 col-md-2">
                                            <p class="text-center"><img src="{{ 'logo-gotsorg-cu861640.png' | asset_url}}" alt="GOTS" style="max-width: 75px;"></p>
                                        </div>
                                        <div class="col-xs-12 col-md-10">
                                            <p><strong>GOTS Organic Certified Materials</strong></p>
                                            <p>Free from harmful chemicals, our organic cotton and organic wool are certified to the Global Organic Textile Standard (GOTS). These renewable and sustainable resources are independently verified, and always ethically and responsibly sourced. They’re better for you as well as the people that grow it. We’re proud to use GOTS organic certified materials, and operate our own GOTS certified factory in Los Angeles. License #861640.
                                            </p>
                                        </div>
                                    </div>
                                {% when 'GOLS' %}
                                    <div class="row">
                                        <div class="col-xs-12 col-md-2">
                                            <p class="text-center"><img src="{{ 'gols-logo.png' | asset_url}}" alt="GOLS" style="max-width: 100px;"></p>
                                        </div>
                                        <div class="col-xs-12 col-md-10">
                                            <p><strong>GOLS Organic Certified</strong></p>
                                            <p>Our {{product.title}} uses GOLS Organic Certified latex. The Global Organic Latex Standard (GOLS) ensures that products contain more than 95% of certified organic raw material based on total weight. The GOLS standard features permissible limits for harmful substances, emission test requirements and polymer and filler percentages. Our factory in Los Angeles is also a GOLS certified facility.

                                            </p>
                                        </div>
                                    </div>
                                {% when 'ecoinstitute' %}
                                    <div class="row">
                                        <div class="col-xs-12 col-md-2">
                                            <p class="text-center"><img src="{{ 'logo-eco-institut.png' | asset_url}}" alt="eco-Institut" style="max-width: 80px;"></p>
                                        </div>
                                        <div class="col-xs-12 col-md-10">
                                            <p><strong>eco-INSTITUT Certified</strong></p>
                                            <p>Based in Germany, the <a href="http://www.eco-institut.de/en/" target="_blank">eco-INSTITUT</a> is a label marking products that meet the strictest requirements for emissions and pollutants. The eco-INSTITUT label has been developed according to the latest standards defined by the organization. 
                                            </p>
                                        </div>
                                    </div>
                                    {% when 'ecoinstitute-latex' %}
                                    <div class="row">
                                        <div class="col-xs-12 col-md-2">
                                            <p class="text-center"><img src="{{ 'logo-eco-institut.png' | asset_url}}" alt="eco-Institut" style="max-width: 80px;"></p>
                                        </div>
                                        <div class="col-xs-12 col-md-10">
                                            <p><strong>eco-INSTITUT&reg; - Latex</strong></p>
                                            <p>Based in Germany, the <a href="http://www.eco-institut.de/en/" target="_blank">eco-INSTITUT</a> is a label marking products that meet the strictest requirements for emissions and pollutants. The eco-INSTITUT label has been developed according to the latest standards defined by the organization. 
                                            <br>Our natural latex rubber foam has been certified as a result of on-site inspection and comprehensive material lab and environmental testing. eco-INSTITUT verifies that our latex contains no harmful substances, no non-natural rubber content, and meets stringent standards for emissions (VOCs, formaldehyde, Acetaldehyde).</p>
                                        </div>
                                    </div>
                                    {% when 'FSC-latex' %}
                                    <div class="row">
                                        <div class="col-xs-12 col-md-2">
                                            <p class="text-center"><img src="{{ 'fsc-logo-small.png' | asset_url}}" alt="eco-Institut" style="max-width: 110px;"></p>
                                        </div>
                                        <div class="col-xs-12 col-md-10">
                                            <p><strong>FSC - Latex</strong></p>
                                            <p>Natural latex comes from the Hevea brasiliensis tree. FSC® is considered the "gold standard" designation for resources harvested from forests that are responsibly managed, socially beneficial, environmentally conscious, and economically viable.</p>
                                        </div>
                                    </div>
                                    {% when 'Rainforest-latex' %}
                                    <div class="row">
                                        <div class="col-xs-12 col-md-2">
                                            <p class="text-center"><img src="{{ 'rainforest-alliance-certified.svg' | asset_url}}" alt="eco-Institut" style="max-width: 90px;"></p>
                                        </div>
                                        <div class="col-xs-12 col-md-10">
                                            <p><strong>Rainforest Alliance - Latex</strong></p>
                                            <p>Rainforest Alliance Certified™ latex farms are audited regularly to verify that farmers are complying with the Standard's comprehensive requirements, which require continual improvement on the journey to sustainable agriculture.</p>
                                        </div>
                                    </div>
                            {% endcase %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed icons sizes" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Sizes
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        {{ metaf.details_sizes }}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed icons shipping" role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Shipping, Returns & warranties
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        
                            {% if product.type == "Bed Sheets" %}
                                
                                    <p><strong>Free Standard Shipping:</strong><br>
                                        Our {{product.title}} ship quickly via FedEx. {% include 'shippingtime' %} Delivery times vary depending on your distance from our Los Angeles factory. Currently, they ship in <strong>{{shipsfree}}</strong>. Once your purchase ships, we’ll send you an email with tracking information so you can follow your shipment and plan for delivery.</p>
                                    <p><strong>Returns:</strong><br>
                                        We offer a 100-night sleep guarantee with our {{product.title}} and a 1 year warranty.  If you decide this product isn’t the right one for you, then we will provide a full refund. Visit our <a href="https://intercom.help/brentwood-home-b4d83ef0a14f/en/articles/3377392-what-is-the-warranty-for-your-brentwood-home-sheets" target="_blank">Help center</a> for more information.
                                    </p>
                                
                            {% else %}
                        <div class="row">
                                <div class="col-xs-12">
                                    <p><strong>Free Standard Shipping:</strong><br>
                                        The handcrafting process usually takes <strong>{{ shipsfree }}</strong> to complete. Delivery times vary depending on your distance from our Los Angeles factory. 
                                        {% if product.handle == "cedar-natural-luxe-mattress" %}
                                        Our {{product.title}} ships quickly via FedEx. It will ship in two boxes (your mattress in one box and the topper in the other box), which allows us to ship via FedEx and get your new bed to you as fast as we can!
                                        {% endif %}

                                        <br>
                                        In general, you can expect to receive your mattress within 7-10 business days from the date of order via FedEx and 2-3 weeks if you choose our White Glove service. Once your purchase ships, we’ll send you an email with tracking information so you can follow your shipment and plan for delivery.</p>
                                        <p><strong>Ships roll-packed in a Brentwood Home-branded mattress box.</strong></p>
                                </div>
                                <div class="col-xs-12">
                                    <p><strong>Optional White Glove Delivery:</strong><br>
                                        For an additional $249 per mattress, you can select our Premium White Glove Service through our delivery partner, AGS. This includes in-home delivery.
                                        <br>

                                        If you’d like to add removal of your old mattress to your Premium White Glove delivery, this is an additional $275 per mattress.<br>

                                        For most White Glove deliveries, you can expect to receive your mattress within 2-3 weeks from the date of order.
                                        <br>

                                        For Local White Glove deliveries in/around the Los Angeles and San Diego, California areas, you can expect to receive your mattress within 1-3 weeks from the date of order.

                                        <br>

                                        Once your order is ready to be delivered, AGS will contact you to schedule a day and time that is convenient for you.

                                    </p>

                                    <p>Visit our <a href="https://intercom.help/brentwood-home-b4d83ef0a14f/shipping-and-delivery">Help center</a> for more information</p>

                                </div>
                                <div class="col-xs-12">
                                    <p><strong>Returns:</strong><br>
                                        We offer a 1-year sleep guarantee with our mattresses. Sleep on your new mattress for at least 30 nights to allow your body time to adjust to the comfort and support of your new Brentwood Home mattress. If you decide the mattress isn’t the right one for you, then we will schedule a pick up and provide a full refund.
                                    </p>
                                </div>
                            <div class="clear"></div>
                        </div>
                            {% endif %}

                    </div>
                </div>
            </div>
            {% if metaf.details_care %}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed icons care" role="button" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Care instructions
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                            {{ metaf.details_care }}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if metaf.details_faq %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                        <a class="collapsed icons faq" role="button" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Frequently Asked Questions
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body">
                        {{ metaf.details_faq }}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    
    {% if product.type == "Bed Sheets" %}
        <div class="container section">
            <div class="row flex">
                <div class="col-xs-12 col-sm-6 text-center {% if isLastSectionLeft %}col-sm-push-6{% endif %} wow fadeInLeft">
                    <picture>
                        <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/organicsheets/brentwoodhome_organicsheets_00024.jpg?rect=892,199,1243,1243&w=768&ch=Width,DPR&q=55">
                        <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/organicsheets/brentwoodhome_organicsheets_00024.jpg?rect=892,199,1243,1720&w=555">
                        <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/organicsheets/brentwoodhome_organicsheets_00024.jpg?rect=892,199,1243,1720&w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/organicsheets/brentwoodhome_organicsheets_00024.jpg?rect=892,199,1243,1720&w=555" alt="Naturally Non-Toxic">
                    </picture>
                </div>
                <div class="col-xs-12 col-sm-6 flexV {% if isLastSectionLeft %}col-sm-pull-6{% endif %} wow fadeInRight">
                    <div>
                        <h2>Start Your 100-Night Trial&nbsp;Today</h2>
                        <p><strong>We offer a 100-night sleep guarantee with our bedding.</strong> If you decide our sheets aren’t right for you, then we will issue a return label and provide a full refund upon receipt of the product back at our factory. <a href="https://intercom.help/brentwood-home-b4d83ef0a14f/en/articles/3377392-what-is-the-warranty-for-your-brentwood-home-sheets" target="_blank">More info.</a>
                        </p>
                        <p class="text-center margBLarge"><a href="#buysection" class="sscroll cta2">get the set</a></p> 
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    
    
    
 <div id="compare"></div>
{% if product.handle == "cypress-memory-foam-mattress" %}
    <!-- https://codepen.io/adrianjacob/pen/KdVLXY -->
<div class="container section compare" style="margin-top: 75px;margin-bottom: 75px;">
    <h2 class="text-center">Compare to Nectar, Casper &amp; Tuft & Needle</h2>
    <article>
        <ul>
            <li class="bg-bwh active">
                <button>Brentwood Home</button>
            </li>
            <li class="bg-gray">
                <button>Nectar</button>
            </li>
            <li class="bg-gray">
                <button>Casper</button>
            </li>
            <li class="bg-gray">
                <button>Tuft & Needle</button>
            </li>
        </ul>  
        <table>
            <thead>
                <tr>
                    <th class="hide"></th>
                    <th class="bg-bwh default"><strong style="text-transform: uppercase;color:#666;">Brentwood Home</strong><span>"Cypress Mattress"</span></th>
                    <th class="bg-gray">Nectar</th>
                    <th class="bg-gray">Casper<span>"The Casper Mattress"</span></th>
                    <th class="bg-gray">Tuft & Needle<span>"Mint Mattress"</span></th>
                </tr>
            </thead>
            <tbody>
                <tr class="price">
                    <td>Price (Queen)</td>
                    <td class="default"><span class="txt-top">&dollar;</span><span class="txt-l">599</span></td>
                    <td><span class="txt-top">&dollar;</span><span class="txt-l">799</span></td>
                    <td><span class="txt-top">&dollar;</span><span class="txt-l">995</span></td>
                    <td><span class="txt-top">&dollar;</span><span class="txt-l">995</span></td>
                </tr>
                <tr class="price">
                    <td>Price Hybrid (Queen)</td>
                    <td class="default"><span class="txt-top">&dollar;</span><span class="txt-l">799</span></td>
                    <td><span class="txt-l">-</span></td>
                    <td><span class="txt-top">&dollar;</span><span class="txt-l">1,195</span></td>
                    <td><span class="txt-top">&dollar;</span><span class="txt-l">1,495</span></td>
                </tr>
                <tr>
                    <td colspan="5" class="sep"><strong>Specifications</strong></td>
                </tr>
                <tr>
                    <td>Charcoal Infused Memory Foam</td>
                    <td class="default"><span class="tick">&#10003;</span></td>
                    <td><span class="cross ">&#x2715;</span></td>
                    <td><span class="cross ">&#x2715;</span></td>
                    <td><span class="cross ">&#x2715;</span></td>
                </tr>
                <tr>
                    <td>Sleep Trial</td>
                    <td class="default"><strong>1 Year</strong></td>
                    <td>1 Year</td>
                    <td>100 Nights</td>
                    <td>100 Nights</td>
                </tr>
                <tr>
                    <td>Warranty</td>
                    <td class="default"><strong>25 Years</strong></td>
                    <td>"Lifetime"</td>
                    <td>10 Years</td>
                    <td>10 Years</td>
                </tr>
                
                <tr>
                    <td>Made in the USA</td>
                    <td class="default"><span class="tick">&#10003;</span></td>
                    <td><span class="cross ">&#x2715;</span></td>
                    <td><span class="tick ">&#10003;</span></td>
                    <td><span class="tick ">&#10003;</span></td>
                </tr>
            </tbody>
        </table>
    </article>
    <i class="text-right">Price may not reflect any current promotions or discount. Last Updated: March 2020.</i>
    <p class="text-center"><a href="#buysection" class="sscroll cta2">buy</a></p>
</div>
<script>
    $( ".compare ul" ).on( "click", "li", function() {
        var pos = $(this).index()+2;
        $("tr").find("td").hide();
        $("tr").find("td:first").show();
        $('td:nth-child('+pos+')').css('display','table-cell');
        $('li').removeClass('active');
        $(this).addClass('active');
    });

    // Initialize the media query
    var mediaQuery = window.matchMedia('(min-width: 640px)');

    // Add a listen event
    mediaQuery.addListener(doSomething);

    // Function to do something with the media query
    function doSomething(mediaQuery) {    
        if (mediaQuery.matches) {
            $('.sep').attr('colspan',5);
        } else {
            $('.sep').attr('colspan',2);
        }
    }

    // On load
    doSomething(mediaQuery);
</script>


{% elsif product.handle == "hybrid-latex-mattress" %}
    <!-- https://codepen.io/adrianjacob/pen/KdVLXY -->
<div class="container section compare" style="margin-top: 75px;margin-bottom: 75px;">
    <h2 class="text-center">Compare to Other Brands</h2>
    <article>
        <ul>
            <li class="bg-bwh active">
                <button>Brentwood<sup>&reg</sup></button>
            </li>
            <li class="bg-gray">
                <button>Awara<sup>&reg</sup></button>
            </li>
            <li class="bg-gray">
                <button>Birch<sup>&reg</sup></button>
            </li>
            <li class="bg-gray">
                <button>DreamCloud<sup>&reg</sup></button>
            </li>
            <li class="bg-gray">
                <button>Casper<sup>&reg</sup> Wave</button>
            </li>
        </ul>  
        <table>
            <thead>
                <tr>
                    <th class="hide"></th>
                    <th class="bg-bwh default"><strong style="text-transform: uppercase;color:#666;">Brentwood<sup>&reg</sup></strong><span>"Hybrid Latex Mattress"</span></th>
                    <th class="bg-gray">Awara<sup>&reg</sup></th>
                    <th class="bg-gray">Birch<sup>&reg</sup></th>
                    <th class="bg-gray">DreamCloud<sup>&reg</sup></th>
                    <th class="bg-gray">Casper<sup>&reg</sup><span>"The Wave"</span></th>
                </tr>
            </thead>
            <tbody>
                <tr class="price">
                    <td>Price (Queen)</td>
                    <td class="default"><span class="txt-top">&dollar;</span><span class="txt-l">1,099</span></td>
                    <td><span class="txt-top">&dollar;</span><span class="txt-l">1,499</span></td>
                    <td><span class="txt-top">&dollar;</span><span class="txt-l">1,499</span></td>
                    <td><span class="txt-top">&dollar;</span><span class="txt-l">1,499</span></td>
                    <td><span class="txt-top">&dollar;</span><span class="txt-l">2,595</span></td>
                </tr>
                <tr>
                    <td colspan="6" class="sep"><strong>Specifications</strong></td>
                </tr>
                <tr>
                    <td>Latex Volume</td>
                    <td class="default"><strong>4"</strong></td>
                    <td>4"</td>
                    <td>2"</td>
                    <td><span class="cross">&#x2715;</span></td>
                    <td>1.5"</td>
                </tr>
                <tr>
                    <td>Support Coils (Queen)</td>
                    <td class="default"><strong>789</strong></td>
                    <td>765</td>
                    <td>650</td>
                    <td>682</td>
                    <td>616</td>
                </tr>
                <tr>
                    <td>No Polyurethane Foams</td>
                    <td class="default"><span class="tick">&#10003;</span></td>
                    <td><span class="tick ">&#10003;</span></td>
                    <td><span class="tick ">&#10003;</span></td>
                    <td><span class="cross ">&#x2715;</span></td>
                    <td><span class="cross ">&#x2715;</span></td>
                </tr>
                <tr>
                    <td>No Flame Retardants (1)</td>
                    <td class="default"><span class="tick">&#10003;</span></td>
                    <td><span class="cross ">&#x2715;</span></td>
                    <td><span class="tick ">&#10003;</span></td>
                    <td><span class="cross ">&#x2715;</span></td>
                    <td><span class="cross ">&#x2715;</span></td>
                </tr>
                <tr>
                    <td>Handles</td>
                    <td class="default"><strong>6</strong></td>
                    <td>4</td>
                    <td><span class="cross ">&#x2715;</span></td>
                    <td>4</td>
                    <td><span class="cross ">&#x2715;</span></td>
                </tr>
                <tr>
                    <td>Recycled Materials (2)</td>
                    <td class="default"><span class="tick">&#10003;</span></td>
                    <td><span class="cross ">&#x2715;</span></td>
                    <td><span class="cross ">&#x2715;</span></td>
                    <td><span class="cross ">&#x2715;</span></td>
                    <td><span class="tick ">&#10003;</span></td>
                </tr>
                <tr>
                    <td>Greenguard Gold</td>
                    <td class="default"><span class="tick">&#10003;</span></td>
                    <td><span class="cross ">&#x2715;</span></td>
                    <td><span class="tick ">&#10003;</span></td>
                    <td><span class="cross ">&#x2715;</span></td>
                    <td><span class="cross ">&#x2715;</span></td>
                </tr>
                <tr>
                    <td>Brand-Owned Manufacturing (3)</td>
                    <td class="default"><span class="tick">&#10003;</span></td>
                    <td><span class="cross ">&#x2715;</span></td>
                    <td><span class="cross ">&#x2715;</span></td>
                    <td><span class="cross ">&#x2715;</span></td>
                    <td><span class="cross ">&#x2715;</span></td>
                </tr>
                <tr>
                    <td>Trial Period (Days) (4)</td>
                    <td class="default"><strong>365</strong></td>
                    <td>365</td>
                    <td>100</td>
                    <td>365</td>
                    <td>100 </td>
                </tr>
            </tbody>
        </table>
    </article>
    <style>
      i{
        display: block;
        margin: 0;
        padding: 0;
        line-height: 20px;
      }
    </style>
      <i class="text-left small" style="margin-top: 10px;">Price may not reflect any current promotions or discount. Last Updated: May 2020.</i>
      <i class="text-left small">(1) Brentwood and Birch use natural wool as fire barrier instead of a flame retardant or firesock. Awara, DreamCloud and Clasper use silica. </i>
      <i class="text-left small">(2) Brentwood uses upcycled denim and recycled plastic bottles. Casper also uses recycled plastic bottles in their ticking. </i>
      <i class="text-left small">(3) Brentwood has been making mattresses in Los Angeles since 1987. Many other brands subcontract their manufacturing or import their finished products.</i>
      <i class="text-left small">(4) Terms & Conditions apply.</i>
      <p class="text-center"><a href="#buysection" class="sscroll cta2">buy</a></p>
</div>
<script>
    $( ".compare ul" ).on( "click", "li", function() {
        var pos = $(this).index()+2;
        $("tr").find("td").hide();
        $("tr").find("td:first").show();
        $('td:nth-child('+pos+')').css('display','table-cell');
        $('li').removeClass('active');
        $(this).addClass('active');
    });

    // Initialize the media query
    var mediaQuery = window.matchMedia('(min-width: 640px)');

    // Add a listen event
    mediaQuery.addListener(doSomething);

    // Function to do something with the media query
    function doSomething(mediaQuery) {    
        if (mediaQuery.matches) {
            $('.sep').attr('colspan',6);
        } else {
            $('.sep').attr('colspan',2);
        }
    }

    // On load
    doSomething(mediaQuery);
</script>

{% else %}
    <p class="text-center margBLarge"><a href="#buysection" class="sscroll cta2">buy the mattress</a></p> 
{% endif %}

{% if product.type == "Mattress" %}
        <div class="container section">
            <div class="row flex">
                <div class="col-xs-12 col-sm-6 text-center {% if isLastSectionLeft %}col-sm-push-6{% endif %} wow fadeInLeft">
                    {% case product.handle %}
                    {% when "oceano-mattress" %}
                    <picture>
                        <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_oneyear.jpg?rect=1605,953,3634,3634&w=480&ch=Width,DPR&q=55">
                        <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_oneyear.jpg?rect=1815,0,3460,4788&w=555&ch=Width,DPR&q=55">
                        <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_oneyear.jpg?rect=1815,0,3460,4788&w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_oneyear.jpg?rect=1815,0,3460,4788&w=555&ch=Width,DPR&q=55" alt="Start Your 1-Year Sleep Trial">
                    </picture>
                    {% when "cedar-natural-luxe-mattress" %}
                    <picture>
                        <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe-1year.jpg?w=480&ch=Width,DPR&q=55">
                        <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe-1year.jpg?w=555&ch=Width,DPR&q=55">
                        <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe-1year.jpg?w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe-1year.jpg?w=555&ch=Width,DPR&q=55" alt="Start Your 1-Year Sleep Trial">
                    </picture>
                    {% when "cypress-memory-foam-mattress" %}
                    <picture>
                        <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/bwh_cypressmattress_daydreaming.jpg?rect=846,200,1191,1191&w=480&ch=Width,DPR&q=55&flip=h">
                        <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/bwh_cypressmattress_daydreaming.jpg?rect=846,0,1191,1648&w=555&flip=h">
                        <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/cypress/bwh_cypressmattress_daydreaming.jpg?rect=846,0,1191,1648&w=555&flip=h&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/bwh_cypressmattress_daydreaming.jpg?rect=846,0,1191,1648&w=555&flip=h" alt="Start Your 1-Year Sleep Trial">
                    </picture>
                    {% when "crystal-cove-mattress" %}
                    <picture>
                        <source media="(max-width: 767px)" srcset="https://s3-brentwoodhome.imgix.net/CrystalCove_82688.jpg?rect=1960,1000,2686,2686&w=480&ch=Width,DPR&q=55">
                        <source media="(min-width: 768px)" srcset="https://s3-brentwoodhome.imgix.net/CrystalCove_82688.jpg?rect=1960,0,2686,4446&w=555&q=50">
                        <img class="lazy" src="https://s3-brentwoodhome.imgix.net/CrystalCove_82688.jpg?rect=1960,0,2686,4446&blur=500&q=10&w=555" data-src="https://s3-brentwoodhome.imgix.net/CrystalCove_82688.jpg?rect=1960,0,2686,4446&w=555" alt="Start Your 1-Year Sleep Trial">
                    </picture>
                    {% when "hybrid-latex-mattress" %}
                    <picture>
                        <source media="(max-width: 767px)" srcset="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_pillow_throw_1year_trial.jpg?rect=1840,300,2673,2673&w=480&ch=Width,DPR&q=55">
                        <source media="(min-width: 768px)" srcset="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_pillow_throw_1year_trial.jpg?rect=1840,300,2673,3699&w=555&q=50">
                        <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_pillow_throw_1year_trial.jpg?rect=1840,300,2673,3699&blur=500&q=10&w=555" data-src="https://s3-brentwoodhome.imgix.net/products/hybridlatex/brentwood_hybrid_latex_mattress_pillow_throw_1year_trial.jpg?rect=1840,300,2673,3699&w=555" alt="Start Your 1-Year Sleep Trial">
                    </picture>
                    {% endcase %}
                </div>
                <div class="col-xs-12 col-sm-6 flexV {% if isLastSectionLeft %}col-sm-pull-6{% endif %} wow fadeInRight">
                    <div>
                        <h3>free shipping + free returns</h3>
                        <h2>One Year Sleep Trial</h2>
                        <p>Risk free means no pressure. That’s why we offer free shipping and returns and a fully-backed, risk-free 1-year trial. Try your mattress for a year and if you feel like it’s not the right mattress for you, we’ll work with you to have the mattress picked up or donated to a local charity.</p>
                        <p> Learn more about our amazing <a href="https://www.brentwoodhome.com/pages/1-year-mattress-trial">1-Year Sleep Trial Policy</a> for mattresses sold on our website.</p>
                        <p class="text-center" style="margin-top: 30px;" ><img src="https://brentwood-home-36.imgix.net/iconv2-1yearguarantee.svg" alt="1-year trial"><br>
                            1-Year Sleep Trial</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container section">
            <div class="row flex">
                <div class="col-xs-12 col-sm-6 text-center {% if isLastSectionLeft == false %}col-sm-push-6{% endif %} wow fadeInLeft">
                    <picture>
                        <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/forest.jpg?rect=368,0,998,998&w=480&ch=Width,DPR&q=55">
                        <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/forest.jpg?rect=368,0,701,998&w=555&q=60">
                        <img class="lazy" src="https://s3-brentwoodhome.imgix.net/forest.jpg?rect=368,0,701,998&w=555&q=10&blur=500" data-src="https://s3-brentwoodhome.imgix.net/forest.jpg?rect=368,0,701,998&w=555&q=60" alt="Supporting the National Forest Foundation">
                    </picture>
                </div>
                <div class="col-xs-12 col-sm-6 flexV {% if isLastSectionLeft == false %}col-sm-pull-6{% endif %} wow fadeInRight">
                    <div>
                        <h2>Supporting the National Forest Foundation</h2>
                        <p>Our forests are in peril and need our help. So for every mattress sold on our website, we also make a donation to the <a href="https://www.nationalforests.org/" title="National Forest Foundation" target="_blank">National Forest Foundation</a> to plant three trees. It’s part of our ambitious effort to help stem the impact of climate change and help replant America’s forests.</p>
                        <p class="text-center"><img src="{{ 'logo-nationalforest.jpg' | asset_url }}" alt="National Forest" style="max-width: 140px; width: 140px;margin-top: 30px;" ></p>
                    </div>
                </div>
            </div>
        </div>
        {% if product.tags contains "reliefbed" %}
            <div class="container section">
                <div class="row flex">
                    <div class="col-xs-12 col-sm-6 text-center {% if isLastSectionLeft %}col-sm-push-6{% endif %} wow fadeInRight">
                        <picture>
                            <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/BrentwoodHome-reliefbed-hero.jpg?rect=650,0,3056,2734&w=480&ch=Width,DPR&q=55">
                            <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/BrentwoodHome-reliefbed-hero.jpg?rect=932,266,1500,2731&w=555">
                            <img class="lazy" src="https://s3-brentwoodhome.imgix.net/BrentwoodHome-reliefbed-hero.jpg?rect=932,266,1500,2731&w=555&q=10&blur=500" data-src="https://s3-brentwoodhome.imgix.net/BrentwoodHome-reliefbed-hero.jpg?rect=932,266,1500,2731&w=555" alt="Relief Bed">
                        </picture>
                    </div>
                    <div class="col-xs-12 col-sm-6 flexV {% if isLastSectionLeft %}col-sm-pull-6{% endif %} wow fadeInLeft">
                        <div>
                            <h2>Buy One, Give One, Change a Life!</h2>
                            <p>We proudly support the urgent mission and vision of ReliefBed, a 501(c)(3) nonprofit. <strong>For every {{product.title}} sold on our website, we will build one <a href="https://reliefbed.com" title="ReliefBed" target="_blank">ReliefBed</a> for charity.</strong> ReliefBeds are an innovative and strategically-built mattresses designed to meet the practical needs of the homeless, impoverished, shelter residents, and victims of natural disaster. It is tangible way we can help the members of our community in their time of need. <a href="/pages/relief-bed" title="Relief Bed">Learn more about our partnership</a>.</p>
                            <!--<p class="text-center"><img src="{{ 'logo-reliefbed.png' | asset_url }}" alt="" style="max-width: 140px; width: 140px;margin-top: 30px;" ></p>-->
                            <p class="text-center"><img src="https://s3-brentwoodhome.imgix.net/reliefbed-logo-vertical.jpg" style="max-width: 140px; width: 140px;margin-top: 30px;" alt="Relief Bed"></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
    <script>
        $(document).ready(function() {

            $('#warranties').owlCarousel({
                loop:false,
                margin:10,
                responsiveClass:true,
                responsive:{
                    0:{
                        items:2,
                        loop: true,
                        stagePadding: 40,
                    },
                    480:{
                        items:4,
                        loop: true,
                        stagePadding: 40,
                    },
                    768:{
                        items:6,
                        //nav:true
                        stagePadding: 0,
                        loop: false,
                        mouseDrag: false,
                        touchDrag: false
                    }
                },
                nav : false,

            });
        });
    </script>

    
<div class="container">
    {% include 'related-products' %}
</div>

    <div id="reviewsAnchor"></div>
    <div id="yotpoReviews" class="container margTB120">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12 text-center">
                <h2 class="text-center">Reviews</h2>
            </div>
            <div class="col-xs-12">
                <div class="yotpo yotpo-main-widget"
                     data-product-id="{{ product.id }}"
                     data-name="{{ product.title | escape }}"
                     data-url="{{ shop.url }}{{ product.url }}"
                     data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
                     data-description="{{ product.description | escape }}">
                </div>
            </div>
        </div>
    </div>

    <p class="text-center"><a href="#buysection" class="sscroll cta2">buy</a></p>


    <span id="extole-zone-product_page"></span>
    <script type="text/javascript">
        (function (c, b, f, k, a) {
            c[b] = c[b] || {};
            for (c[b].q = c[b].q || []; a < k.length;) f(k[a++], c[b])
        })(window, "extole", function (c, b) {
            b[c] = b[c] || function () {
                b.q.push([c, arguments])
            }
        }, ["createZone"], 0);
        extole.createZone({
            name: "product_page",
            element_id: "extole-zone-product_page",
            parameters: {}
        });
    </script>
    <script>
        $(document).ready(function(){
            $('A.sscroll').bind('click', function(event) {
                var $anchor = $(this);
                $('html, body').stop().animate({
                    scrollTop: $($anchor.attr('href')).offset().top - 150
                }, 1500, 'easeInOutExpo');
                event.preventDefault();
            });
        });
    </script>

    {% include 'productbundles' %}

</div>
