{% assign metaf = product.metafields.c_f %}
<style>
    @media all and (max-width: 480px){
        .breadcrumb-wrap{
            display: none;
        }
        .product-shop .product-title h1{
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 25px;
            margin-top: 25px;
            text-align: center !important;
            /*font-weight: 700;*/
        }
        .owl-carousel .owl-item img{
            display: inline-block;
        }
    }
</style>
<div id="page_product">
    <div class="container-fluid" id="product">
        <div itemscope itemtype="http://schema.org/Product" class="product">
            <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
            <meta itemprop="image"
                  src="{{ product.featured_image.src | product_img_url: 'grande' }}"
                  alt="{{ product.title | escape }}
                       ">
            <meta itemprop="itemCondition" content="http://schema.org/NewCondition"/>
            <div class="row">
                {% include 'product-flexslider' %}
                
                {% assign multi_prd = true %}
                {% if collection.products_count <= 1 %}
                                                   {% assign multi_prd = false %}
                                                   {% endif %}
            <div class="col-xs-12 col-md-5 col-lg-4 product-shop">

                <div>
                    {% if settings.display_prev_next_product and collection and multi_prd %}
                    <div class="product-step">
                        {% if collection.previous_product %}
                        <a class="prev-p" href="{{ collection.next_product }}"
                           title="Prev"><span
                                              class="fa fa-angle-left"></span>Previous</a>
                        {% endif %}
                        {% if collection.next_product %}
                        <a class="next-p" href="{{ collection.next_product }}"
                           title="Next">Next<span
                                                  class=" fa fa-angle-right"></span></a>
                        {% endif %}
                    </div>
                    {% else %}
                    <div class="clearfix"></div>
                    {% endif %}
                    <header class="product-title {% if collection.previous_product or collection.next_product and settings.display_prev_next_product and collection %}has-btn{% endif %}">

                        <h1 {% if settings.display_prev_next_product and collection and multi_prd %}class="pull-left"{% endif %}
                            itemprop="name">{{ product.title }}</h1>

                    </header>

                    <div class="yotpo bottomLine"
                         data-appkey="MoTNJx7IZaWhweNlLkQdd6AaJffubtZuHPH6w3aQ"
                         data-domain="{{ shop.permanent_domain | escape }}"
                         data-product-id="{{ product.id }}"
                         data-product-models="{{ product.id }}"
                         data-name="{{ product.title | escape }}"
                         data-url="{{ shop.url }}{{ product.url }}"
                         data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26' }}"
                         data-description="{{ product.description | escape }}"
                         data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                        <meta itemprop="itemReviewed"
                              content="{{ product.title }}">
                        <meta itemprop="ratingValue"
                              content="{{ product.metafields.yotpo.reviews_average }}">
                        <meta itemprop="ratingCount"
                              content="{{ product.metafields.yotpo.reviews_count }}">
                    </div>

                    {% include 'nowtime' %}

                <p class="short-description">
                    {{ metaf.shortdesc }}
                </p>

                <div class="mob-dark">
                    {% if settings.display_product_reviews %}
                    <span class="shopify-product-reviews-badge"
                          data-id="{{ product.id }}"></span>
                    {% endif %}
                    {% if settings.display_availability or settings.display_product_type or settings.display_vendor %}
                    {% if settings.display_availability %}
                    <div class="availability">
                        <p class="product-inventory">
                            <label>Availability</label><span>
                            {% if product.selected_or_first_available_variant.inventory_management %}
                            {% assign first_inventory = product.selected_or_first_available_variant.inventory_quantity %}
                            {% if first_inventory > 0 %}
                            {{ first_inventory }} in stock
                            {% else %}
                            Out of stock
                            {% endif %}
                            {% else %}
                            Many in stock
                            {% endif %}
                            </span></p>
                    </div>
                    {% endif %}
                    {% endif %}
                    <form action="/cart/add" method="post" enctype="multipart/form-data" id="add-to-cart-form">
                        <label for="product-selectors" class="selectLabel">Size</label>
                        <div id="product-variants">
                            {% assign variantCount = product.variants | size %}
                            {% if product.available %}
                                {% if variantCount > 1 %}
                                    <select id="product-selectors" name="id" style="display:none">
                                    {% for variant in product.variants %}
                                        <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}
                                            value="{{ variant.id }}">{{ variant.title }}
                                        - {{ variant.price | money }}</option>
                                    {% endfor %}
                                    </select>
                                    {% if settings.use_color_swatch %}
                                        {% for option in product.options %}
                                            {% include 'swatch' with option %}
                                        {% endfor %}
                                    {% endif %}
                                {% else %}
                                    <input type="hidden" name="id" value="{{ product.variants[0].id }}"/>
                                {% endif %}
                            {% endif %}
                            
                            {% include 'productbundles-widget' %}
                            
                        </div>
                        {% if product.available %}
                        <div class="cta-module clearfix">
                            <div class="prices" itemprop="offers" itemscope
                                 itemtype="http://schema.org/Offer"
                                 style="float: left;">
                                <meta itemprop="priceCurrency"
                                      content="{{ shop.currency }}">
                                {% if product.compare_at_price > product.price %}
                                <span class="compare-price">{{ product.compare_at_price_max | money_without_trailing_zeros}}</span>
                                <span class="price on-sale" itemprop="price"
                                      content="{{ product.price | money_without_currency | remove: ',' }}">{{ product.price | money_without_trailing_zeros}}</span>
                                {% else %}
                                <span class="price" itemprop="price"
                                      content="{{ product.price | money_without_currency | remove: ',' }}">{{ product.price | money_without_trailing_zeros }}</span>
                                {% endif %}
                                {% if product.available %}
                                <link itemprop="availability"
                                      href="http://schema.org/InStock">
                                {% else %}
                                <link itemprop="availability"
                                      href="http://schema.org/OutOfStock">
                                {% endif %}
                            </div>

                            {% include 'affirm-product' %}
                            <style>
                                DIV.cta-module{
                                    margin: 40px 0 10px 0;
                                }
                                DIV.product-shop .prices{
                                    width: 49%;
                                    text-align: center;
                                    padding-top: 14px;
                                    border-right: 1px solid black;
                                }
                                DIV.prices SPAN.price{
                                    font-size: 32px;
                                    display: block;
                                }
                                DIV.affirmWrap{
                                    float: right;
                                    width: 49%;
                                    text-align: center;
                                    padding: 0 8px;
                                }
                                DIV.affirm{
                                    font-size: 12px;
                                    text-align: center;
                                }
                                DIV.affirm A#learn-more{
                                    margin-bottom: 0px;
                                    line-height: 18px;
                                    text-decoration: none;
                                }
                                DIV.affirm A#learn-more:HOVER{
                                    margin-bottom: 0px;
                                    line-height: 18px;
                                    text-decoration: none;
                                }
                                DIV.affirm A.affirm-modal-triggert{
                                    cursor: pointer;
                                    display: inline-block;
                                    text-decoration: none;
                                    background-color: #0FA0EA;
                                    color: white;
                                    padding: 5px 9px;
                                    border-radius: 5px;
                                    line-height: 14px;
                                    text-transform: capitalize;
                                }
                                DIV.affirm A.affirm-modal-trigger:HOVER{
                                    text-decoration: none;
                                    background-color: transparent;
                                    color: #0FA0EA;
                                    
                                }
                            </style>
                            <div class="affirmWrap">
                                <div class="affirm" style="">
                                    <a id="learn-more" class="affirm-as-low-as" data-learnmore-show="true" data-promo-id="promo_set_brentwood_zero_percent" data-amount="{{variant.price}}"></a>
                                </div>
                            </div>

                            <div id="qt" style="display: none">
                                QTY: <input type="text"
                                            id="quantity"
                                            name="quantity"
                                            value="1"
                                            >
                            </div>
                        </div>
                        {% if product.selected_or_first_available_variant.inventory_management %}
                        {% assign first_inventory = product.selected_or_first_available_variant.inventory_quantity %}
                        {% if first_inventory < 1 %}
                                                 <div class="out-of-stock">
                        <span class="left"></span>
                        <p class="product-inventory">
                            We’re currently making this item to order.<br>
                            Please
                            allow <b>up to 3 weeks</b> for crafting and
                            shipping.
                        </p>
                        <span class="right"></span>
                        </div> 
                    {% endif %}
                    {% endif %}



                    {% else %}
                    <button type="button" class="btn" id="product-add-to-cart" disabled>Unavailable</button>
                    {% endif %}

                    {% assign current_variant = product.selected_or_first_available_variant %}
                    </form>
                    <button type="button" class="cta2" style="width: 100%;" id="product-add-to-cart">Add to Cart</button>
                    <!--{% include 'shippingtime' %}-->
                    <p id="add2cart_shipping"><img src="https://brentwood-home.imgix.net/iconv2-freeshipping.svg" alt="Ships free in {{ shipsfree }}">Ships free in {{ shipsfree }}</p>
            </div>
        </div>
    </div>
</div>
</div><!-- End Row --> 
</div><!-- End Container for top part (img+buy) -->

<div class="container section warranties">
    <h2 class="text-center">Try the {{ product.title }} Risk-Free</h2>
    <div id="warranties" class=" owl-carousel owl-theme">
        <div class="item text-center">
            <img src="https://brentwood-home-36.imgix.net/iconv2-1yearguarantee.svg" alt="1-year trial">
            <p>1-Year<br>Trial</p>
        </div>
        <div class="item text-center">
            <img src="https://brentwood-home.imgix.net/iconv2-freeshipping.svg" alt="Free shipping and free return">
            <p>Free Shipping<br>Free Return</p>
        </div>
        <div class="item text-center">
            <img src="https://brentwood-home.imgix.net/iconv2-madeincalifornia.svg" alt="Made in California">
            <p>Made in<br>California</p>
        </div>
        <div class="item text-center">
            <img src="https://brentwood-home.imgix.net/iconv2-25yearwarranty.svg" alt="25-year warranty">
            <p>25-year<br>Warranty</p>
        </div>
        <div class="item text-center">
            <img src="https://brentwood-home.imgix.net/iconv2-whiteglovedelivery.svg" alt="In home delivery available">
            <p>In Home<br>Delivery Available</p>
        </div>
        <div class="item text-center">
            <img src="https://brentwood-home.imgix.net/iconv2-0percent.svg" alt="0% financing available">
            <p>0% Financing<br>Available</p>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {

        $('#warranties').owlCarousel({
            loop:false,
            margin:10,
            responsiveClass:true,
            responsive:{
                0:{
                    items:2,
                    loop: true,
                    stagePadding: 40,
                },
                480:{
                    items:4,
                    loop: true,
                    stagePadding: 40,
                },
                768:{
                    items:6,
                    //nav:true
                    stagePadding: 0,
                    loop: false,
                    mouseDrag: false,
                    touchDrag: false
                }
            },
            nav : false,
            
        });
    });
</script>



<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center wow fadeInLeft">
            <!--<picture>
                <source media="(max-width: 767px)" srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/BrentwoodHome-CedarMattress-104.jpg?rect=0,784,2880,2880&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/BrentwoodHome-CedarMattress-104.jpg?rect=0,523,2328,3795&w=555">
                <img src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/BrentwoodHome-CedarMattress-104.jpg?rect=0,523,2328,3795&w=555" alt="">
            </picture>-->
            
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/BrentwoodHome-CedarMattress-104.jpg?w=767 1x,
                                                           https://s3-brentwoodhome.imgix.net/products/cedarluxe/BrentwoodHome-CedarMattress-104.jpg?w=767&fit=max&q=40&dpr=2 2x,
                                                           https://s3-brentwoodhome.imgix.net/products/cedarluxe/BrentwoodHome-CedarMattress-104.jpg?w=767&fit=max&q=20&dpr3 3x">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/BrentwoodHome-CedarMattress-104.jpg?w=555 1x,
                                                           https://s3-brentwoodhome.imgix.net/products/cedarluxe/BrentwoodHome-CedarMattress-104.jpg?w=555&fit=max&q=40&dpr=2 2x,
                                                           https://s3-brentwoodhome.imgix.net/products/cedarluxe/BrentwoodHome-CedarMattress-104.jpg?w=555&fit=max&q=20&dpr3 3x">
                <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/BrentwoodHome-CedarMattress-104.jpg?w=555" alt="">
            </picture>                 
        </div>
        <div class="col-xs-12 col-sm-6 flexV wow fadeInRight">
            <div>
                <h2>Natural & Non-Toxic Materials</h2>
                <p>Sleep with total peace of mind on non-toxic, renewable and sustainable materials, including <strong>100% GOLS organic certified latex</strong> sourced from our own factory in India, <strong>100% natural wool</strong> from New Zealand, <strong>100% organic certified cotton</strong> from India, and <strong>100% natural imported coconut shell husk buttons</strong>, which are handmade for us in Brooklyn, New York. No polyurethane foams are used and there are no chemical adhesives or glues between the comfort layers.</p>
                <p class="text-center"><img src="{{ 'gots-gols-product.jpg' | asset_url }}" alt="GOTS &amp; GOLS Certified" style="max-width: 250px; width: 250px;margin-top: 30px;"></p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center wow fadeInRight">
            <!--<picture>
                <source media="(max-width: 767px)" srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/BrentwoodHome-CedarMattress-topview.jpg?rect=781,0,1920,1920&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/BrentwoodHome-CedarMattress-topview.jpg?rect=781,0,1388,1920&w=555">
                <img src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/BrentwoodHome-CedarMattress-topview.jpg?rect=781,0,1388,1920&w=555" alt="">
            </picture>-->
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/3zonelatexcut.jpg?rect=201,62,816,816&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/3zonelatexcut.jpg?rect=423,557,555,805&w=555">
                <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/3zonelatexcut.jpg?rect=423,557,555,805&w=555" alt="">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6 flexV wow fadeInLeft">
            <div>
                <h2>Zoned Latex Provides Articulated Support</h2>
                <p>All latex layers are not equal. The Cedar Luxe is the <strong>only green mattress on the market that uses a computer-cut layer of 100% GOLS organic certified latex</strong>. The sculpted top edge provides targeted firmness and support, which creates comfort zones, improves motion isolation and offers gentle pressure relief for your body’s natural curves. 
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center wow fadeInLeft">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/BrentwoodHome-CedarMattress-topview.jpg?rect=781,0,1920,1920&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/BrentwoodHome-CedarMattress-topview.jpg?rect=781,0,1388,1920&w=555">
                <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/BrentwoodHome-CedarMattress-topview.jpg?rect=781,0,1388,1920&w=555" alt="">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV wow fadeInRight">
            <div>
                <h2>The Perfect Medium Firmness</h2>
                <p>The Cedar Natural Luxe mattress offers a <strong>perfect medium firmness, positioned “just right”</strong> in the middle between too soft and too firm. Better still, the sleep experience is moderately plush, yet not downy or cloud-like soft. You do not sink into the mattress. Instead, it is <strong>uplighting and buoyant — well suited for all sleeping positions and body types. Yes, it is flexible enough to also perform well on an adjustable base.</strong></p>
            </div>
        </div>
    </div>
</div>

<div class="container section hidden-xs">
    <h2 class="text-center margTB7050">Handmade with<br>Eco-Conscious Materials</h2>
    <div class="inside five text-center">
        <div class="matTip small cedarluxe latex wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
            <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/latex-closeup.png?w=80&h=80" alt="100% COLS Certified Organoc Latex" class="rdthumb">
            <p><strong>100% Organic Latex</strong><span>This 100% GOLS organic certified latex is free of synthetic latex or blends and gives the topper medium feel.</span><span class="mobile">100% GOLS organic certified latex.</span></p>
            <div class="arrow">
                <div class="pointer"></div>
            </div>
        </div>
        <div class="matTip small cedarluxe wool wow fadeIn" data-wow-duration="1s" data-wow-delay="1.3s">
            <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/wool2-round.png?w=80&h=80" alt="Wool" class="rdthumb">
            <p><strong>New Zealand Joma Wool</strong><span>Untreated 100% New Zealand Joma wool wicks away moisture, allows for air circulation, and regulates temperature.</span><span class="mobile">Wicks away moisture and prevents odor.</span></p>
            <div class="arrow">
                <div class="pointer"></div>
            </div>
        </div>
        <div class="matTip small cedarluxe threezonelatex wow fadeIn" data-wow-duration="1s" data-wow-delay="1.8s">
            <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/3zonelatex-round2.png?w=80&h=80" alt="3-zone latex" class="rdthumb">
            <p><strong>Zoned Latex</strong><span>100% GOLS organic certified latex, computer designed and cut into 3 targeted zones.</span><span class="mobile">Precision cut for maximum support.</span></p>
            <div class="arrow">
                <div class="pointer"></div>
            </div>
        </div>
        <div class="matTip small cedarluxe wow springs" data-wow-duration="1s" data-wow-delay="2.3s">
            <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/rd-spring-closeup.png?w=80&h=80" alt="5-Zone spring core" class="rdthumb">
            <p><strong>5-Zone Support Core</strong><span>Up to 1,414 zoned support coils to relieve pressure points and a reinforced perimeter that supports you all the way to the edge.</span><span class="mobile">Reinforced all around</span></p>
            <div class="arrow">
                <div class="pointer"></div>
            </div>
        </div>
        <div class="matTip small cedarluxe alpaca wow fadeIn" data-wow-duration="1s" data-wow-delay="2.5s">
            <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/alpacawool-round.png?w=80&h=80" alt="Alpaca Wool" class="rdthumb">
            <p><strong>Alpaca Wool</strong><span>A lustrous and silky natural fiber that is not only soft and luxurious but also naturally hypoallergenic and flame resistant.</span><span class="mobile">Naturally hypoallergenic and flame resistant.</span></p>
            <div class="arrow">
                <div class="pointer"></div>
            </div>
        </div>
        <picture class="wow fadeIn" data-wow-duration="1s">
            <source media="(max-width: 480px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_internals.jpg?w=480&ch=Width,DPR">
            <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_internals.jpg?w=1170">
            <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_internals.jpg?w=1170" alt="Cedar Luxe Mattress">
        </picture>
    </div>
</div>


<style>
    .materialListMob H3{
        font-size: 16px;
    }
    .materialListMob P{
        font-size: 14px;
        line-height: 20px;
    }
</style>
<div class="container section visible-xs-block materialListMob">
    <h2 class="text-center margTB7050">Handmade with<br>Eco-Conscious Materials</h2>
    <h3 class="text-center features">Mattress Structure</h3>
    <picture class="wow fadeIn" data-wow-duration="1s">
        <source media="(max-width: 480px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_internals.jpg?w=480&ch=Width,DPR">
        <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_internals.jpg?w=1170">
        <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_internals.jpg?w=1170" alt="Cedar Luxe Mattress">
    </picture>
    <h3 class="text-center features">Materials</h3>
    <div id="materials" class=" owl-carousel owl-theme">
        <div class="item text-center">
            <p class="text-center" style="margin-top: 10px;"><img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/latex-closeup.png?w=160&h=160" alt="100% COLS Certified Organoc Latex" class="rdthumb"></p>
            <h3 class="text-center features">100% GOLS Organic Certified latex</h3>
            <p>This 100% GOLS organic certified latex is free of synthetic latex or blends and gives the topper medium feel.</p>
        </div>
        <div class="item text-center">
            <p class="text-center" style="margin-top: 10px;"><img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/wool2-round.png?w=160&h=160" alt="Wool" class="rdthumb"></p>
            <h3 class="text-center features">New Zealand Joma Wool</h3>
            <p>Untreated 100% New Zealand Joma wool wicks away moisture, allows for air circulation, and regulates temperature.</p>
        </div>
        <div class="item text-center">
            <p class="text-center" style="margin-top: 10px;"><img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/alpacawool-round.png?w=160&h=160" alt="Alpaca Wool" class="rdthumb"></p>
            <h3 class="text-center features">Alpaca Wool</h3>
            <p>A lustrous and silky natural fiber that is not only soft and luxurious but also naturally hypoallergenic and flame resistant.</p>
        </div>
        <div class="item text-center">
            <p class="text-center" style="margin-top: 10px;"><img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/3zonelatex-round2.png?w=160&h=160" alt="3-zone latex" class="rdthumb"></p>
            <h3 class="text-center features">Zoned GOLS Certified Latex</h3>
            <p>Computer designed and cut into 3 targeted zones to allow for greater heat dissipation and precise comfort.</p>
        </div>
        <div class="item text-center">
            <p class="text-center" style="margin-top: 10px;"><img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/rd-spring-closeup.png?w=160&h=160" alt="5-Zone spring core" class="rdthumb"></p>
            <h3 class="text-center features">5-Zone Support Core</h3>
            <p>Up to 1,414 zoned support coils to relieve pressure points and a reinforced perimeter that supports you all the way to the edge.</p>
        </div>
        <div class="item text-center">
            <p class="text-center" style="margin-top: 10px;"><img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/rd-coconut-closeup.png?w=160&h=160" alt="Cocnut Husk" class="rdthumb"></p>
            <h3 class="text-center features">Coconut Husk</h3>
            <p>An eco-friendly and sustainable layer coconut husk is bonded with GOLS® certified natural latex by hand-tufting and without the use of glue.</p>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {

        $('#materials').owlCarousel({
            loop:false,
            margin:10,
            responsiveClass:true,
            responsive:{
                0:{
                    items:2,
                    loop: true,
                    stagePadding: 40,
                }
            },
            nav : false,

        });
    });
</script>

<!--
<div class="container section">
    <h2 class="text-center margTB7050">It's all in the details</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-4  wow fadeIn">
            <p class="text-center"><img src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_tuftingdetail.jpg?w=480" alt=""></p>
            <h3 class="text-center features">Wool Tufting</h3>
            <p>We button-tuft the Cedar Natural Luxe by hand not only because it adds a nice luxurious touch but it is also functional — it keeps the different layers together without the use of chemical adhesives between the comfort layers.
            </p>
        </div>
        <div class="col-xs-12 col-sm-4  wow fadeIn">
            <p class="text-center"><img src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_strapsdetail.jpg?w=480" alt=""></p>
            <h3 class="text-center features">Coconut Buttons</h3>
            <p>The buttons on our Cedar Natural Luxe are cut from imported coconut husks and finished by hand. They’re sourced from a small Veteran-owned button shop in Brooklyn, New York, that has been in continuous operation since 1939.
            </p>
        </div>
        <div class="col-xs-12 col-sm-4  wow fadeIn">
            <p class="text-center"><img src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_removetopperdetail.jpg?w=480" alt=""></p>
            <h3 class="text-center features">Hand-Stitched Handles</h3>
            <p>We outfitted this mattress with eight hand-stitched and reinforced handles for easy moving. These handles are also designed to attach your Euro-designed topper to the mattress and hold it firmly in place.
            </p>
        </div>
    </div>
</div>
-->
<div class="container section">
    <h2 class="text-center margTB7050">It's all in the details</h2>
    <div id="details" class=" owl-carousel owl-theme">
        <div class="item text-center">
            <p class="text-center"><img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_tuftingdetail.jpg?w=480" alt="Wool Tufting"></p>
            <h3 class="text-center features">Wool Tufting</h3>
            <p class="hidden-xs">We button-tuft the Cedar Natural Luxe by hand not only because it adds a nice luxurious touch but it is also functional — it keeps the different layers together without the use of chemical adhesives between the comfort layers.
            </p>
        </div>
        <div class="item text-center">
            <p class="text-center"><img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_strapsdetail.jpg?w=480" alt="Coconut Buttons"></p>
            <h3 class="text-center features">Coconut Buttons</h3>
            <p class="hidden-xs">The buttons on our Cedar Natural Luxe are cut from imported coconut husks and finished by hand. They’re sourced from a small Veteran-owned button shop in Brooklyn, New York, that has been in continuous operation since 1939.
            </p>
        </div>
        <div class="item text-center">
            <p class="text-center"><img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_removetopperdetail.jpg?w=480" alt="Hand-Stitched Handles"></p>
            <h3 class="text-center features">Hand-Stitched Handles</h3>
            <p class="hidden-xs">We outfitted this mattress with eight hand-stitched and reinforced handles for easy moving. These handles are also designed to attach your Euro-designed topper to the mattress and hold it firmly in place.
            </p>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {

        $('#details').owlCarousel({
            loop:false,
            margin:10,
            responsiveClass:true,
            responsive:{
                0:{
                    items:1,
                    loop: true,
                    stagePadding: 40,
                },
                768:{
                    items:2,
                    loop: true,
                    stagePadding: 40,
                },
                1024:{
                    items:3,
                    stagePadding: 0,
                    loop: false,
                    mouseDrag: false,
                    touchDrag: false
                }
            },
            nav : false,
            
        });
    });
</script>

<h2 class="text-center margTB7050">At the core, precision support</h2>

<div class="container section cc_coils wow fadeIn">
    <div class="image">
        <div class="row flex">
            <div class="col-xs-12 col-sm-5 flexV">
                <div class="drop hidden-xs">
                    <h3>5 Strategic Zones</h3>
                    <p>Precision crafted, pocketed coils — made in the US from recycled, single-tempered steel — effortlessly distribute your body’s weight and relieve aching pressure points. Made of up to 1,414 individually pocketed coils, they also provide critical zoned support for your hips and shoulders, while structurally reinforcing the perimeter to eliminate that “roll-off-the-edge” feeling.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="visible-xs-block">
        <h2>5 Strategic Zones</h2>
        <p>Precision crafted, pocketed coils — made in the US from recycled, single-tempered steel — effortlessly distribute your body’s weight and relieve aching pressure points. Made of up to 1,414 individually pocketed coils, they also provide critical zoned support for your hips and shoulders, while structurally reinforcing the perimeter to eliminate that “roll-off-the-edge” feeling.</p>
    </div>
</div>


<div class="container section text-center">
    <picture>
        <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_book_00008.jpg?rect=240,0,1834,1834&h=480&ch=Width,DPR&q=55">
        <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_book_00008.jpg?w=1140">
        <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_book_00008.jpg?w=1140" alt="">
    </picture>
</div>

<div class="container section text-center">
    <div class="row">
        <div class="col-xs-6">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_book_00000.jpg?rect=240,0,1834,1834&h=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_book_00000.jpg?w=760&rect=500,0,1900,1900">
                <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_book_00000.jpg?w=760&rect=500,0,1900,1900" alt="">
            </picture>
        </div>
        <div class="col-xs-6">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_book_00001.jpg?w=480&rect=0,179,2880,2880&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_book_00001.jpg?w=760&rect=0,179,2880,2880">
                <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_book_00001.jpg?w=760&rect=0,179,2880,2880" alt="">
            </picture>
        </div>
    </div>
</div>

<div class="container section text-center">
    <picture>
        <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_book_00002.jpg?rect=240,0,1834,1834&h=480&ch=Width,DPR&q=55">
        <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_book_00002.jpg?w=1140">
        <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_book_00002.jpg?w=1140" alt="">
    </picture>
</div>

<h2 class="text-center margTB7050">Our Eco-Conscious<br> materials</h2>
<div class="container section mountains">
    <div class="image">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                <div>
                    <h3></h3>
                    <p>We sourced the finest materials mother nature has to offer. We traveled around the world to find our latex, wool, and other components that will make the Cedar Natural Luxe unique. We carefully select small businesses that believe in our mission.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 text-center">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/materialsource1.jpg?&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/materialsource1.jpg?w=620">
                <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/materialsource1.jpg?&w=620" alt="">
            </picture>

        </div>
        <div class="col-xs-12 col-sm-6 text-center">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe-latex3.jpg?rect=746,350,1388,1388&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe-latex3.jpg?rect=840,0,1679,1920&w=620">
                <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe-latex3.jpg?rect=746,0,1388,1920&w=620" alt="">
            </picture>

        </div>
    </div>
</div>



<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center wow fadeInLeft">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/factory2.jpg?w=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/factory2.jpg?w=555&q=55">
                <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/factory2.jpg?w=555&q=55" alt="Handcrafted in Southern California">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV wow fadeInRight">
            <div>
                <h2>Handcrafted in Southern California</h2>
                <p><strong>The Cedar Natural Luxe mattress is lovingly handmade in California with renewable, sustainable and natural materials.</strong> Our GOLS organic certified latex is sourced from India and processed in a facility that we own. The facility uses wind power, rainwater collection pools, and even the biomass from trees at the end of their lifecycle to create steam (which bakes our latex). Our wool comes from New Zealand farmers who abide by strict rules and regulations around animal welfare. And our GOTS organic cotton is ethically sourced directly from farmers in India.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center wow fadeInRight">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe-greengaurd.jpg?rect=796,235,1218,1686&w=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe-greengaurd.jpg?rect=796,235,1218,1686&w=555">
                <img loading="lazy" src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe-greengaurd.jpg?rect=796,235,1218,1686&w=555&q=10&blur=500" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe-greengaurd.jpg?rect=796,235,1218,1686&w=555" alt="Greenguard Gold Certified Non-Toxic Mattress">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6 flexV wow fadeInLeft">
            <div>
                <h2>Greenguard Gold Certified</h2>
                <p>According to the <a href="https://www.epa.gov/report-environment" target="_blank">EPA</a>, Indoor air quality is 5 times more polluted than outside air. And since we spend <a href="https://www.epa.gov/report-environment/indoor-air-quality" target="_blank">90% of our time</a> living, working, and playing indoors, indoor air quality is an important consideration.
                </p>
                <p>That’s why the Cedar Natural Luxe mattress is <strong>GREENGUARD Gold Certified by UL Environment for Low Emissions</strong>. It means that it has been scientifically tested in environmental chambers to meet the most rigorous emissions standards for chemical exposure and pollutants, such as Volatile Organic Compounds (VOCs), formaldehyde and phthalates. <a href="https://spot.ul.com/main-app/products/detail/5c75b6e755b0e822ac81cff5?page_type=Products%20Catalog" target="_blank" title="Greenguard Gold Certified">View Profile</a>.</p>
                <p class="text-center"><img src="{{ 'greenguard-logo-full.svg' | asset_url }}" alt="Greenguard Gold Certified" style="max-width: 100px; width: 100px;margin-top: 30px;" ></p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center wow fadeInLeft">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe-1year.jpg?w=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe-1year.jpg?w=555&ch=Width,DPR&q=55">
                <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe-1year.jpg?w=555&ch=Width,DPR&q=55" alt="Start Your 1-Year Sleep Trial">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV wow fadeInRight">
            <div>
                <h2>Start Your 1-Year Sleep Trial</h2>
                <p>Experiencing is believing, especially when it comes to our top-rated {{ product.title }}. Sleep soundly knowing you can try our mattress for <strong>365 days, risk-free, in the comfort of your home</strong>. Learn more about our amazing <a href="https://www.brentwoodhome.com/pages/1-year-risk-free-mattress-trial">1-Year Sleep Trial Policy</a> for mattresses sold on our website.
                </p>
                <p class="text-center" style="margin-top: 30px;" ><img src="https://brentwood-home-36.imgix.net/iconv2-1yearguarantee.svg" alt="1-year trial"><br>
                1-Year Trial</p>
            </div>
        </div>
    </div>
</div>

<div class="container section margTB120">
    <h2 class="text-center">{{ product.title }} Specifications</h2>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#materials" aria-controls="materials" role="tab" data-toggle="tab">Materials</a></li>
        <li role="presentation"><a href="#sizes" aria-controls="sizes" role="tab" data-toggle="tab">Sizes</a></li>
        <li role="presentation"><a href="#shipping" aria-controls="shipping" role="tab" data-toggle="tab">Shipping & Returns</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="materials">
            <div class="">
                {{ metaf.details_materials }}
                <div class="clear"></div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="sizes">
            <div class="row">
                {{ metaf.details_sizes }}
                <div class="clear"></div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="shipping">
            <div class="row">

                <div class="col-xs-12 col-sm-4">
                    <p><strong>Free Standard Shipping:</strong><br>
                        The handcrafting process usually takes 3–5 days to complete.{% include 'shippingtime' %} Delivery times vary depending on your distance from our Los Angeles factory. Our Cedar Natural Luxe mattress ships quickly via FedEx. It will ship in two boxes (your mattress in one box and the topper in the other box), which allows us to ship via FedEx and get your new bed to you as fast as we can!

                        <br>
                        In general, you can expect to receive your mattress within 7-10 business days from the date of order via FedEx and 2-3 weeks if you choose our White Glove service. Once your purchase ships, we’ll send you an email with tracking information so you can follow your shipment and plan for delivery.</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <p><strong>Optional White Glove Delivery:</strong><br>
                        For an additional $199 per mattress, you can select our Premium White Glove Service through our delivery partner, AGS. This includes in-home delivery.
                        <br>

                        If you’d like to add removal of your old mattress to your Premium White Glove delivery, this is an additional $275 per mattress.<br>

                        For most White Glove deliveries, you can expect to receive your mattress within 2-3 weeks from the date of order.
                        <br>

                        For Local White Glove deliveries in/around the Los Angeles and San Diego, California areas, you can expect to receive your mattress within 1-3 weeks from the date of order.

                        <br>

                        Once your order is ready to be delivered, AGS will contact you to schedule a day and time that is convenient for you.

                    </p>

                    <p>Visit our <a href="https://intercom.help/brentwood-home-b4d83ef0a14f/shipping-and-delivery">Help center</a> for more information</p>

                </div>
                <div class="col-xs-12 col-sm-4">
                    <p><strong>Returns:</strong><br>
                        We offer a 1-year sleep guarantee with our mattresses. Sleep on your new mattress for at least 30 nights to allow your body time to adjust to the comfort and support of your new Brentwood Home mattress. If you decide the mattress isn’t the right one for you, then we will schedule a pick up and provide a full refund.
                    </p>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center wow fadeInLeft">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/forest.jpg?rect=368,0,998,998&w=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/forest.jpg?rect=368,0,701,998&w=555&q=60">
                <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/forest.jpg?rect=368,0,701,998&w=555&q=60" alt="Supporting the National Forest Foundation">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV wow fadeInRight">
            <div>
                <h2>Supporting the National Forest Foundation</h2>
                <p>Our forests are in peril and need our help. So for every mattress sold on our website, we also make a donation to the <a href="https://www.nationalforests.org/" title="National Forest Foundation" target="_blank">National Forest Foundation</a> to plant three trees. It’s part of our ambitious effort to help stem the impact of climate change and help replant America’s forests.</p>
                <p class="text-center"><img src="{{ 'logo-nationalforest.jpg' | asset_url }}" alt="National Forest" style="max-width: 140px; width: 140px;margin-top: 30px;" ></p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center wow fadeInRight">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/BrentwoodHome-reliefbed-hero.jpg?rect=650,0,3056,2734&w=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/BrentwoodHome-reliefbed-hero.jpg?rect=932,266,1500,2731&w=555">
                <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/BrentwoodHome-reliefbed-hero.jpg?rect=932,266,1500,2731&w=555" alt="Relief Bed">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6 flexV wow fadeInLeft">
            <div>
                <h2>Buy One, Give One, Change a Life!</h2>
                <p>We proudly support the urgent mission and vision of ReliefBed, a 501(c)(3) nonprofit. <strong>For every Cedar Natural Luxe mattress sold on our website, we will build one <a href="https://reliefbed.com" title="ReliefBed" target="_blank">ReliefBed</a> for charity.</strong> ReliefBeds are an innovative and strategically-built mattresses designed to meet the practical needs of the homeless, impoverished, shelter residents, and victims of natural disaster. It is tangible way we can help the members of our community in their time of need. <a href="/pages/relief-bed" title="Relief Bed">Learn more about our partnership</a>.</p>
                <!--<p class="text-center"><img src="{{ 'logo-reliefbed.png' | asset_url }}" alt="" style="max-width: 140px; width: 140px;margin-top: 30px;" ></p>-->
                <p class="text-center"><img src="https://s3-brentwoodhome.imgix.net/reliefbed-logo-vertical.jpg" style="max-width: 140px; width: 140px;margin-top: 30px;" alt="Relief Bed"></p>
            </div>
        </div>
    </div>
</div>

<div id="yotpoReviews" class="container margTB120">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12 text-center">
            <h2 class="text-center">Reviews</h2>
        </div>
        <div class="col-xs-12">
            <div class="yotpo yotpo-main-widget"
                 data-product-id="{{ product.id }}"
                 data-name="{{ product.title | escape }}"
                 data-url="{{ shop.url }}{{ product.url }}"
                 data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
                 data-description="{{ product.description | escape }}">
            </div>
        </div>
    </div>
</div>



<span id="extole-zone-product_page"></span>
<script type="text/javascript">
    (function (c, b, f, k, a) {
        c[b] = c[b] || {};
        for (c[b].q = c[b].q || []; a < k.length;) f(k[a++], c[b])
    })(window, "extole", function (c, b) {
        b[c] = b[c] || function () {
            b.q.push([c, arguments])
        }
    }, ["createZone"], 0);
    extole.createZone({
        name: "product_page",
        element_id: "extole-zone-product_page",
        parameters: {}
    });
</script>

    {% include 'productbundles' %}

</div>
