{% assign metaf = product.metafields.c_f %}
<style>
    .site-nav > li > a{
        padding: 21px 22px;
    }
    .header-tool {
        padding: 18px;
    }
    .logo{
        padding-top: 9px;
    }
    .breadcrumb{
        margin-top: 5px;
    }
    .flex-control-thumbs li{
        margin: 0 5px 0 0 !important;
        width: 70px !important;
        min-height: 51px !important;
    }
    .flex-control-thumbs li:first-child{
        margin-left: 0 !important;
    }



    .product-shop .product-title h1, .product-shop .product-title a{
        font-size: 32px !important;
        line-height: 48px;
        font-style: normal;
        letter-spacing: 1px;
    }
    .product-shop .product-title{
        margin-bottom: 0;
    }
    @media (min-width: 1200px){
        .product-shop {
            max-width: auto;
        }
    }
    .yotpo {
        margin-bottom: 10px;
    }
    .product-shop .short-description {
        line-height: 25px;
        letter-spacing: 1px;
        color: #666;
    }
    #product-variants {
        margin-bottom: 10px;
    }
    div.addonmodule {
        padding: 10px;
    }
    .squaredOne {
        margin: 5px auto;
    }
    div.addonmodule .column.img {
        padding: 0 15px 0 20px;
        width: 95px;
    }
    DIV.cta-module {
        margin: 20px 0 10px 0;
    }
    .cta2 {
        margin-top: 10px;
    }
    DIV.affirm A {
        line-height: 14px;
    }
    DIV.cta-module {
        margin-top: 20px !important;
    }
    .cta2 {
        margin-top: 10px;
    }
    @media (min-width: 1024px){
        .buycontent {
            /*margin-left: 6%;*/
        }
    }
    @media (max-width: 768px){
        .header-tool {
            padding: 0px 18px 0 0;
        }
    }
    @media (max-width: 991px) and (min-width: 768px){
        .header.is-ticky .site-nav > li > a {
            padding: 20px 5px 20px;
        }
        .flex-control-thumbs li{
            width: 60px !important;
            height: 44px !important;
            overflow: hidden;
        }
        .header-tool {
            padding: 10px;
        }
        .header.is-ticky #search-top .icon_search, .header.is-ticky #header-content .header-inner p.top-cart {
            line-height: 18px;
        }
        .product-shop>DIV {
            margin: 0;
        }
        #page_product .product-shop h1{
            text-align: left;
            font-size: 32px !important;
        }
    }
</style>

<div id="page_product">
    <div class="container-fluid" id="product">
        <div itemscope itemtype="http://schema.org/Product" class="product">
            <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
            <meta itemprop="image"
                  src="{{ product.featured_image.src | product_img_url: 'grande' }}"
                  alt="{{ product.title | escape }}
                       ">
            <meta itemprop="itemCondition" content="http://schema.org/NewCondition"/>
            <div class="row">
                
                <!-- FLEXSLIDER -->
                {% include 'product-flexslider' %}
                
                {% assign multi_prd = true %}
                {% if collection.products_count <= 1 %}
                                                   {% assign multi_prd = false %}
                                                   {% endif %}
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-0 col-lg-5 product-shop">

                <div>
                    {% if settings.display_prev_next_product and collection and multi_prd %}
                    <div class="product-step">
                        {% if collection.previous_product %}
                        <a class="prev-p" href="{{ collection.next_product }}"
                           title="Prev"><span
                                              class="fa fa-angle-left"></span>Previous</a>
                        {% endif %}
                        {% if collection.next_product %}
                        <a class="next-p" href="{{ collection.next_product }}"
                           title="Next">Next<span
                                                  class=" fa fa-angle-right"></span></a>
                        {% endif %}
                    </div>
                    {% else %}
                    <div class="clearfix"></div>
                    {% endif %}
                    <header class="product-title {% if collection.previous_product or collection.next_product and settings.display_prev_next_product and collection %}has-btn{% endif %}">

                        <h1 {% if settings.display_prev_next_product and collection and multi_prd %}class="pull-left"{% endif %}
                            itemprop="name">{{ product.title }}</h1>

                    </header>

                    <div style="margin-bottom: 20px;" class="yotpo bottomLine"
                         data-appkey="MoTNJx7IZaWhweNlLkQdd6AaJffubtZuHPH6w3aQ"
                         data-domain="{{ shop.permanent_domain | escape }}"
                         data-product-id="{{ product.id }}"
                         data-product-models="{{ product.id }}"
                         data-name="{{ product.title | escape }}"
                         data-url="{{ shop.url }}{{ product.url }}"
                         data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26' }}"
                         data-description="{{ product.description | escape }}"
                         data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                        <meta itemprop="itemReviewed"
                              content="{{ product.title }}">
                        <meta itemprop="ratingValue"
                              content="{{ product.metafields.yotpo.reviews_average }}">
                        <meta itemprop="ratingCount"
                              content="{{ product.metafields.yotpo.reviews_count }}">
                    </div>
                    
                    {% include 'nowtime' %}
                    <!--{% include 'shippingtime' %}-->
                    <p class="short-description">
                        {{ metaf.shortdesc }}
                    </p>
                    {% if metaf.shortdesc_more %}
                    <div class="shortdesc more">
                        <a role="button" data-toggle="collapse" href="#collapseDescription" aria-expanded="false" aria-controls="collapseDescription" class="navico productDetails defaultCollapsed">More details +</a>
                        <ul class="collapse" id="collapseDescription">
                            {{ metaf.shortdesc_more }}
                        </ul>
                    </div>
                    <script>
                        $(document).ready(function() {
                            $('#collapseDescription').collapse({
                                toggle: false
                            });
                            $('#collapseDescription').on('show.bs.collapse', function () {
                                $("a.productDetails").addClass("open").text("Less details -");
                            });
                            $('#collapseDescription').on('hide.bs.collapse', function () {
                                $("a.productDetails").removeClass("open").text("More details +");
                            });
                        });
                    </script>
                    {% endif %}

                    <div class="mob-dark">
                        <div id="buysection"></div>
                        <form action="/cart/add" method="post" enctype="multipart/form-data" id="add-to-cart-form">
                            <label for="product-selectors" class="selectLabel">Size</label>
                            <div id="product-variants">
                                {% assign variantCount = product.variants | size %}
                                {% if product.available %}
                                {% if variantCount > 1 %}
                                <select id="product-selectors" name="id" style="display: none;">
                                    {% for variant in product.variants %}
                                    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}
                                            value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                                    {% endfor %}
                                </select>
                                {% comment %}variables set in snippets/shippingtime.liquid{% endcomment %}
                                <p class="short-description shipping"><img src="https://brentwood-home-2.imgix.net/icon-shippingv4.svg" alt="">Ships free in {{ shipsfree }} | free returns {% unless trial == "false"  %}| {{trial}}{% endunless %}</p>

                                {% if settings.use_color_swatch %}
                                {% for option in product.options %}
                                {% include 'swatch' with option %}
                                {% endfor %}
                                {% endif %}

                                {% else %}
                                <input type="hidden" name="id" value="{{ product.variants[0].id }}"/>
                                {% endif %}
                                {% endif %}
                                <!-- WIDGET BUNDLES (PILLOW + FOUNDATION )-->
                                {% include 'productbundles-widget' %}
                            </div>
                            {% if product.available %}
                            <div class="cta-module clearfix">
                                <div class="prices" itemprop="offers" itemscope itemtype="http://schema.org/Offer" style="float: left;">
                                    <meta itemprop="priceCurrency" content="{{ shop.currency }}">
                                    {% if product.compare_at_price > product.price %}
                                    <span class="compare-price">{{ product.compare_at_price_max | money_without_trailing_zeros}}</span>
                                    <span class="price on-sale" itemprop="price" content="{{ product.selected_or_first_available_variant.price | money_without_currency | remove: ',' }}">{{ product.selected_or_first_available_variant.price | money_without_trailing_zeros}}</span>
                                    {% else %}
                                    <span class="price" itemprop="price" content="{{ product.selected_or_first_available_variant.price | money_without_currency | remove: ',' }}">{{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}</span>
                                    {% endif %}
                                    {% if product.available %}
                                    <link itemprop="availability" href="http://schema.org/InStock">
                                    {% else %}
                                    <link itemprop="availability" href="http://schema.org/OutOfStock">
                                    {% endif %}
                                </div>
                                {% include 'affirm-product' %}
                                <div class="affirmWrap">
                                    <div class="affirm" style="">
                                        <a id="learn-more" class="affirm-as-low-as" data-learnmore-show="true" data-promo-id="promo_set_brentwood_zero_percent" data-amount="{{variant.price}}"></a>
                                    </div>
                                </div>
                                <div id="qt" style="display: none">QTY: <input type="text" id="quantity" name="quantity" value="1"></div>
                            </div>
                        <button type="button" class="cta2" style="width: 100%;" id="product-add-to-cart">Add to Cart</button>
                            {% else %}
                            <button type="button" class="btn" id="product-add-to-cart" disabled>Unavailable</button>
                            {% endif %}
                            {% assign current_variant = product.selected_or_first_available_variant %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Row --> 
</div><!-- End Container for top part (img+buy) -->
<div class="product-tabs container">
   
    {% if metaf.product_tagline or metaf.story %}
        <div class="overlays overlays-2">
            <h2 class="overlays-title">
                {{ metaf.product_tagline }}
            </h2>
            <div class="row">
                {% if metaf.story_video %}
                    <div class="content col-xs-12 col-md-6">
                        <p>{{ metaf.story }}</p>
                    </div>
                    <div class="content col-xs-12 col-md-6">
                        <div class="text-center videoWrapper">
                            {% if metaf.story_video %}
                            {{ metaf.story_video }}
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <div class="content col-xs-12 col-md-10 col-md-offset-1">
                        <p>{{ metaf.story }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    
    {% if product.type == "Box Foundation" or product.type == "Bed Frames" %}
       <style>
           .warranties IMG{
               max-width: 60px;
           }
           /*H2{
               font-size: 32px;
           }*/
    </style>
        <div class="container section warranties first">
            <h2 class="text-center margTB50">Try {{ product.title }} Risk-Free</h2>
            <div class="row">
                <div class="col-xs-3 col-md-2 col-md-offset-2">
                    {% if product.handle == "adjustable-bed-frame" %}
                        <img src="https://brentwood-home-2.imgix.net/iconv2-100nightguarantee.svg" alt="100-night Trial" style="max-height: 55px;">
                        <p>100-Night<br>Trial</p>
                    {% else %}
                        <img src="https://brentwood-home-2.imgix.net/iconv2-1yearguarantee90.svg" alt="1-Year Trial">
                        <p>1-Year<br>Trial</p>
                    {% endif %}
                </div>
                <div class="col-xs-3 col-md-2">
                    <img src="https://brentwood-home-2.imgix.net/iconv2-freeshipping90.svg" alt="Free Shipping Free Return">
                    <p>Free Shipping<br>Free Return</p>
                </div>
                <div class="col-xs-3 col-md-2">
                    <img src="https://brentwood-home-2.imgix.net/iconv2-10yearwarranty.svg" alt="10-year Warranty">
                    <p>10-year<br>Warranty</p>
                </div>
                <div class="col-xs-3 col-md-2">
                    <img src="https://brentwood-home.imgix.net/iconv2-0percent.svg" alt="0% Financing Available">
                    <p>0% Financing<br>Available</p>
                </div>
            </div>
        </div>
    {% else %}
        <div class="overlays overlays-1" style="margin: 50px 0;">
            <h2 class="overlays-title">Peace of mind guarantee</h2>
            <div class="items row">
                <div class="item col-xs-6 col-md-3">
                    <img src="{{ 'icon-FreeShipping2.svg' | asset_url }}"/>
                    <br/>
                    <label>Free Shipping</label>
                </div>
                <div class="item col-xs-6 col-md-3">
                    <img src="{{ 'icon-FreeReturns.svg' | asset_url }}"/>
                    <br/>
                    <label>Free Returns</label>
                </div>
                <div class="item col-xs-6 col-md-3">
                    <img src="{{ 'icon-California.svg' | asset_url }}"/>
                    <br/>
                    <label>Made in California</label>
                </div>
                <div class="item col-xs-6 col-md-3">
                    <img src="{{ 'icon-3YearWarranty.svg' | asset_url }}"/>
                    <br/>
                    <label>3-year Warranty</label>
                </div>
            </div>
        </div>
    {% endif %}
    <br>
    {% if metaf.feature1_title %}
    <section class="overlays overlays-5 container" style="margin-top: 30px;">
        <div class="row flex">
            <div class="col-xs-12 col-sm-6">
                <picture>
                    <source media="(max-width: 767px)" data-srcset="https://brentwood-home-2.imgix.net/{{ metaf.feature1_img }}?w=555&ch=Width,DPR&q=55">
                    <source media="(min-width: 768px)" data-srcset="https://brentwood-home-2.imgix.net/{{ metaf.feature1_img }}?w=555">
                    <img loading="lazy" src="https://brentwood-home-2.imgix.net/{{ metaf.feature1_img }}?w=555&blur=500&q=10" data-src="https://brentwood-home-2.imgix.net/{{ metaf.feature1_img }}?w=555" alt="{{metaf.feature1_title | escape}}" class="feature-img img-responsive img">
                </picture>
            </div>
            <div class="col-xs-12 col-sm-6 flexV">
                <div>
                    <h2 class="overlays-title">{{metaf.feature1_title}}</h2>
                    <p>{{metaf.feature1}}</p>
                    <div class="row">
                        {{ metaf.feature1_icons }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    {% if metaf.feature2_title %}
    <section class="overlays overlays-5 container">
        <div class="row flex">
            <div class="col-xs-12 col-sm-6 col-sm-push-6">
                <picture>
                    <source media="(max-width: 767px)" data-srcset="https://brentwood-home-2.imgix.net/{{ metaf.feature2_img }}?w=555&ch=Width,DPR&q=55">
                    <source media="(min-width: 768px)" data-srcset="https://brentwood-home-2.imgix.net/{{ metaf.feature2_img }}?w=555">
                    <img loading="lazy" src="https://brentwood-home-2.imgix.net/{{ metaf.feature2_img }}?w=555&blur=500&q=10" data-src="https://brentwood-home-2.imgix.net/{{ metaf.feature2_img }}?w=555" alt="{{metaf.feature2_title | escape}}" class="feature-img img-responsive img">
                </picture>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-pull-6 flexV">
                <div>
                    <h2 class="overlays-title">{{metaf.feature2_title}}</h2>
                    <p>{{metaf.feature2}}</p>
                    <div class="row">
                        {{ metaf.feature2_icon }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    {% if metaf.feature3_title != "" and metaf.feature3_title != "NA" %}
    <section class="overlays overlays-6 container">
        <div class="row flex">
            <div class="col-xs-12 col-sm-6">
                {% if metaf.feature3_img contains "-video" %}
                    <div class="videoWrapper2 vimeo">
                        <video playsinline autoplay loop muted poster="https://brentwood-home-2.imgix.net/{{ metaf.feature3_img }}.jpg" preload="none">
                            <source src="https://s3.us-east-2.amazonaws.com/brentwoodhome/imgix/{{ metaf.feature3_img }}.mp4" type="video/mp4">
                            <source src="https://s3.us-east-2.amazonaws.com/brentwoodhome/imgix/{{ metaf.feature3_img }}.webm" type='video/webm; codecs="vp8, vorbis"' />
                            <img alt="{{metaf.feature3_title | escape }}" src="https://brentwood-home-2.imgix.net/{{ metaf.feature3_img }}?w=555">
                        </video>
                    </div>
                {% else %}
                <picture>
                    <source media="(max-width: 767px)" data-srcset="https://brentwood-home-2.imgix.net/{{ metaf.feature3_img }}?w=555&ch=Width,DPR&q=55">
                    <source media="(min-width: 768px)" data-srcset="https://brentwood-home-2.imgix.net/{{ metaf.feature3_img }}?w=555">
                    <img loading="lazy" src="https://brentwood-home-2.imgix.net/{{ metaf.feature3_img }}?w=555&blur=500&q=10" data-src="https://brentwood-home-2.imgix.net/{{ metaf.feature3_img }}?w=555" alt="{{metaf.feature3_title | escape}}" class="feature-img img-responsive img">
                </picture>
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-6 flexV">
                <div>
                    <h2 class="overlays-title">{{metaf.feature3_title}}</h2>
                    <p>{{metaf.feature3}}</p>
                    <div class="row">
                        {{ metaf.feature3_icons }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    {% if metaf.feature4_title != "" and metaf.feature4_title != "NA" %}
    <section class="overlays overlays-5 container">
        <div class="row flex">
            <div class="col-xs-12 col-sm-6 col-sm-push-6">
                {% if metaf.feature4_img contains "gif" %}
                    <img src="{{ 'easyframegif555.gif' | asset_url }}" alt="">
                {% else %}
                <picture>
                    <source media="(max-width: 767px)" data-srcset="https://brentwood-home-2.imgix.net/{{ metaf.feature4_img }}?w=555&ch=Width,DPR&q=55">
                    <source media="(min-width: 768px)" data-srcset="https://brentwood-home-2.imgix.net/{{ metaf.feature4_img }}?w=555">
                    <img loading="lazy" src="https://brentwood-home-2.imgix.net/{{ metaf.feature4_img }}?w=555&blur=500&q=10" data-src="https://brentwood-home-2.imgix.net/{{ metaf.feature4_img }}?w=555" alt="{{metaf.feature4_title | escape}}" class="feature-img img-responsive img">
                </picture>
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-pull-6 flexV">
                <div>
                    <h2 class="overlays-title">{{metaf.feature4_title}}</h2>
                    <p>{{metaf.feature4}}</p>
                    <div class="row">
                        {{ metaf.feature4_icons }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    {% if metaf.feature5_title %}
    <section class="overlays overlays-5 container">
        <div class="row flex">
            <div class="col-xs-12 col-sm-6">
                <picture>
                    <source media="(max-width: 767px)" data-srcset="https://brentwood-home-2.imgix.net/{{ metaf.feature5_img }}?w=555&ch=Width,DPR&q=55">
                    <source media="(min-width: 768px)" data-srcset="https://brentwood-home-2.imgix.net/{{ metaf.feature5_img }}?w=555">
                    <img loading="lazy" src="https://brentwood-home-2.imgix.net/{{ metaf.feature5_img }}?w=555&blur=500&q=10" data-src="https://brentwood-home-2.imgix.net/{{ metaf.feature5_img }}?w=555" alt="{{metaf.feature5_title | escape}}" class="feature-img img-responsive img">
                </picture>
            </div>
            <div class="col-xs-12 col-sm-6 flexV">
                <div>
                    <h2 class="overlays-title">{{metaf.feature5_title}}</h2>
                    <p>{{metaf.feature5}}</p>
                    <div class="row">
                        {{ metaf.feature5_icons }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    {% if metaf.feature6_title %}
    <section class="overlays overlays-5 container">
        <div class="row flex">
            <div class="col-xs-12 col-sm-6 col-sm-push-6">
                <picture>
                    <source media="(max-width: 767px)" data-srcset="https://brentwood-home-2.imgix.net/{{ metaf.feature6_img }}?w=555&ch=Width,DPR&q=55">
                    <source media="(min-width: 768px)" data-srcset="https://brentwood-home-2.imgix.net/{{ metaf.feature6_img }}?w=555">
                    <img loading="lazy" src="https://brentwood-home-2.imgix.net/{{ metaf.feature6_img }}?w=555&blur=500&q=10" data-src="https://brentwood-home-2.imgix.net/{{ metaf.feature6_img }}?w=555" alt="{{metaf.feature6_title | escape}}" class="feature-img img-responsive img">
                </picture>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-pull-6 flexV">
                <div>
                    <h2 class="overlays-title">{{metaf.feature6_title}}</h2>
                    <p>{{metaf.feature6}}</p>
                    <div class="row">
                        {{ metaf.feature6_icons }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    
    {% if metaf.ecommimage_tagline %}
        <section class="overlays overlays-7 only-desktop">
            <img class="col-xs-12" src="{{ metaf.ecommimage | asset_url }}"/>
            <p>
                {{ metaf.ecommimage_tagline }}
            </p>
        </section>
    {% endif %}
    
    {% if product.type == "Pet Bed" %}
        <section class="overlays overlays-11">
            <h2 class="overlays-title">
                What people say about us
            </h2>
            <div class="container sectionMarg">
                <div id="home-reviews" class=" owl-carousel owl-theme">
                    <div class="item text-center">
                        <p class="text-center">
                            <i>I have spent thousands on Pet beds in the 8 years we've had our precious golden retriever. For a while we always purchased the large pet couches from Frontgate and Orvis. I have to say this has been the best bed.</i>
                        </p>
                        <p class="author">
                            - Tiffany H.
                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                        </p>
                    </div>
                    <div class="item text-center">
                        <p class="text-center">
                            <i>We bought two of these for our three huskies. Fit well style-wise in our living room. The fabric cleans very well and people comment on how nice it is.</i>
                        </p>
                        <p class="author">
                            - Joseph T.
                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                        </p>
                    </div>
                    <div class="item text-center">
                        <p class="text-center">
                            <i>I purchased this bed for my dog, she has knee problems and has had surgery. She would always limp when she got up from her other bed. With this bed, she does so much better and doesn't limp when getting up from this bed.</i>
                        </p>
                        <p class="author">
                            - Gina S.
                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    <script>
        $(document).ready(function() {
            $("#home-reviews").owlCarousel({
                loop:false,
                margin:10,
                responsiveClass:true,
                responsive:{
                    0:{
                        items:1,
                        //nav:true
                    },
                    768:{
                        items:2,
                        //nav:true
                    },
                    1024:{
                        items:3,
                        //nav:true
                    }
                },
                nav : false
            });
        });
    </script>

  
    {% if product.type == "Box Foundation" %}
        <section class="overlays overlays-5 container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <h2 class="overlays-title text-center" style="text-align: center;">From Box to Foundation in Minutes</h2>
                    <div class="embed-container ">
                        <!--https://player.vimeo.com/video/###-->
                        <iframe src="https://player.vimeo.com/video/315913679?title=0&amp;byline=0&amp;portrait=0" width="640" height="360" id="video_1" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
   
    <div id="materialsspecs"></div>

    {% if product.handle == "metal-bed-frame" or product.handle == "foundation" or product.handle == "adjustable-bed-frame" %}
    <div class="container section margTB120">
        <h2 class="text-center">Product Specifications</h2>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {% if product.description %}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingZero">
                        <h4 class="panel-title">
                            <a role="button" class="icons prddescription" data-toggle="collapse" href="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
                                Description
                            </a>
                        </h4>
                    </div>
                    <div id="collapseZero" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingZero">
                        <div class="panel-body">
                            {{ product.description }}
                        </div>
                    </div>
                </div>
            {%endif%}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" class="icons materials" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Materials & Certifications
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div id="materialsspecs"></div>
                        {{ metaf.details_materials }}

                        <p class="text-center" id="certification-specs">
                            {% for tag in product.tags %}
                            {% case tag %}
                            {% when 'GreenGuard' %}
                            <img src="{{ 'logo-greenguard-2.svg' | asset_url}}" alt="GreenGuard Certified" style="max-width: 100px;">
                            {% when 'GOTS' %}
                            <img src="{{ 'gots-logo.png' | asset_url}}" alt="GOTS" style="max-width: 100px;">
                            {% when 'GOTSorg' %}
                            <img src="{{ 'logo-gotsorg-cu861640.png' | asset_url}}" alt="GOTS" style="max-width: 75px;">
                            {% when 'GOLS' %}
                            <img src="{{ 'gols-logo.png' | asset_url}}" alt="GOLS" style="max-width: 100px;">
                            {% when 'ecoinstitute' %}
                            <img src="{{ 'logo-eco-institut.png' | asset_url}}" alt="eco-Institut" style="max-width: 100px;">
                            {% when 'Oeko' %}
                            <img src="{{ 'oeko-tex-logo-hin.png' | asset_url}}" alt="Oeko-Tex Standard" style="max-width: 190px;">
                            {% when 'CertiPUR-US Certified' %}
                            <img src="{{ 'certipur-badge.png' | asset_url}}" alt="CertiPUR-US Certified" style="max-width: 100px;">
                            {% when 'vegan' %}
                            <img src="{{ 'veganlogo.svg' | asset_url}}" alt="100% Vegan" style="max-width: 100px;">
                            {% when 'MADESAFE' %}
                            <img src="{{ 'logo-madesafe-square-newblu.png' | asset_url}}" alt="Made Safe" style="max-width: 100px;">
                            {% endcase %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed icons sizes" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Sizes
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        {{ metaf.details_sizes }}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed icons shipping" role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Shipping, Returns & warranties
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <div class="row">
                            {% if product.type == "Pet Bed" %}
                            <div class="col-xs-12 col-sm-6">
                                <p><strong>Free Standard Shipping:</strong><br>
                                    This product is handcrafted to order in approximately 5-7 business days. Once your purchase ships, we’ll send you an email with tracking information so you can follow your shipment and plan for delivery.</p>
                                {% include 'shippingtime' %}
                            </div>

                            <div class="col-xs-12 col-sm-6">
                                <p><strong>Returns:</strong><br>
                                    We offer free returns for 30 days with our pet beds.</p>
                            </div>
                            {% else %}
                            {{ metaf.details_shipping }}
                            {% endif %}

                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            {% if metaf.details_care %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="collapsed icons care" role="button" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Care instructions
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                        {{ metaf.details_care }}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if metaf.details_faq %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="collapsed icons faq" role="button" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Frequently Asked Questions
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                        {{ metaf.details_faq }}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% else %}
    

    <section class="overlays overlays-tabs container">
        <div id="exTab1" class="">
        <h2 class="overlays-title">Details</h2>
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#1a" data-toggle="tab">Description</a>
                </li>
                <li>
                    <a href="#2a" data-toggle="tab">Materials</a>
                </li>
                <li>
                    <a href="#3a" data-toggle="tab">Sizes</a>
                </li>
                <li>
                    <a href="#4a" data-toggle="tab">Shipping & Returns</a>
                </li>
                {%comment%}
                <li>
                    <a href="#5a" data-toggle="tab">Certifications</a>
                </li>
                {%endcomment%}
            </ul>
            <div class="tab-content clearfix">
                <div class="tab-pane active" id="1a">
                    <div class="description text-left">
                        {{ product.description }}
                    </div>
                </div>
                <div class="tab-pane" id="2a">
                    <div class="description text-left">
                        {{ metaf.details_materials }}
                    </div>
                </div>
                <div class="tab-pane" id="3a">
                    <div class="description">
                        <div class="container">
                            <div class="row">
                                {{ metaf.details_sizes }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="4a">
                    <div class="description">
                        <div class="container">
                            <div class="row">
                                {% if product.type == "Pet Bed" %}
                                <div class="col-xs-12 col-sm-6">
                                    <p><strong>Free Standard Shipping:</strong><br>
                                        This product is handcrafted to order in approximately 5-7 business days. Once your purchase ships, we’ll send you an email with tracking information so you can follow your shipment and plan for delivery.</p>
                                        {% include 'shippingtime' %}
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <p><strong>Returns:</strong><br>
                                        We offer free returns for 30 days with our pet beds.</p>
                                </div>
                                {% else %}
                                {% if shipsfree %}
                                    <p class="text-left"><strong>Note: Currently shipping out for free in {{ shipsfree }}.</strong></p>
                                {% endif %}
                                    {{ metaf.details_shipping }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {%comment%}
                <div class="tab-pane" id="5a">
                    <div class="description">description for [Certifications]</div>
                </div>{%endcomment%}
            </div>
        </div>
    </section>
    
    {% endif %}

    {% if product.tags contains "1-Year Sleep Trial" %}
        <div class="container section">
            <div class="row flex">
                <div class="col-xs-12 col-sm-6 text-center {% if isLastSectionLeft %}col-sm-push-6{% endif %} wow fadeInLeft">
                    <picture>
                        <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_oneyear.jpg?rect=1605,953,3634,3634&w=480&ch=Width,DPR&q=55">
                        <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_oneyear.jpg?rect=1815,0,3460,4788&w=555&ch=Width,DPR&q=55">
                        <img loading="lazy" src="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_oneyear.jpg?rect=1815,0,3460,4788&w=555&blur=500q=10" data-src="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_oneyear.jpg?rect=1815,0,3460,4788&w=555&ch=Width,DPR&q=55" alt="Start Your 1-Year Sleep Trial">
                    </picture>
                </div>
                <div class="col-xs-12 col-sm-6 flexV {% if isLastSectionLeft %}col-sm-pull-6{% endif %} wow fadeInRight">
                    <div>
                        <h2>Start Your 1-Year Sleep&nbsp;Trial</h2>
                        <p>Experiencing is believing, especially when it comes to our top-rated {{ product.title }}. Sleep soundly knowing you can try our mattress for <strong>365 days, risk-free, in the comfort of your home</strong>. Learn more about our amazing <a href="https://www.brentwoodhome.com/pages/1-year-risk-free-mattress-trial">1-Year Sleep Trial Policy</a> for mattresses sold on our website.
                        </p>
                        <p class="text-center" style="margin-top: 30px;" ><img src="https://brentwood-home-36.imgix.net/iconv2-1yearguarantee.svg" alt="1-year trial"><br>
                            1-Year Trial</p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
<div id="yotpoReviews" class="container margTB120">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12 text-center">
            <h2 class="text-center">Reviews</h2>
        </div>
        <div class="col-xs-12">
            <div class="yotpo yotpo-main-widget"
                 data-product-id="{{ product.id }}"
                 data-name="{{ product.title | escape }}"
                 data-url="{{ shop.url }}{{ product.url }}"
                 data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
                 data-description="{{ product.description | escape }}">
            </div>
        </div>
    </div>
</div>

<p class="text-center"><a href="#buysection" class="sscroll cta2">back to top</a></p>

<script>
    $(document).ready(function(){
        $('A.sscroll').bind('click', function(event) {
            var $anchor = $(this);
            $('html, body').stop().animate({
                scrollTop: $($anchor.attr('href')).offset().top - 150
            }, 1500, 'easeInOutExpo');
            event.preventDefault();
        });
    });
</script>
<span id="extole-zone-product_page"></span>
<script type="text/javascript">
    

    (function (c, b, f, k, a) {
        c[b] = c[b] || {};
        for (c[b].q = c[b].q || []; a < k.length;) f(k[a++], c[b])
    })(window, "extole", function (c, b) {
        b[c] = b[c] || function () {
            b.q.push([c, arguments])
        }
    }, ["createZone"], 0);
    extole.createZone({
        name: "product_page",
        element_id: "extole-zone-product_page",
        parameters: {}
    });
</script>

{% include 'productbundles' %}

</div>

