
<style>
  #accordion H2{
    text-align: left;
    font-size: 21px;
  }
  .product-shop #add-to-cart-form #product-add-to-cart, .product-shop A.cta4amz{
    line-height: 70px;
    padding: 0;
  }
</style>

<div class="container-fluid" id="product">
  <div itemscope itemtype="http://schema.org/Product" class="product">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" src="{{ product.featured_image.src | product_img_url: 'grande' }}" alt="{{ product.title | escape }}">
    <meta itemprop="itemCondition" content="http://schema.org/NewCondition" />
    <div class="row">
      {%comment%}
      {% include 'product-flexslider' %}
      to remove the pull-left for single products
      {%endcomment%}
      <style>
    .flexslider .slides > li{
        background-color: #f9f9f9;
    }
    .embed-container { 
        position: relative;
        left: 0; 
        right: 0;
        top: 50%;
        /* video height / video width */
        /*padding-bottom: 66.2%;*/
        /* the above value * 0.5 */
        /*margin-top: -28.1%;*/
        height: 0;
        overflow: hidden;
    } 
    .embed-container iframe, .embed-container object, .embed-container embed { 
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%; 
    }
</style>

{% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
{% assign imgName = featured_image | remove: 'products/' %}
<div class="col-xs-12 col-md-7 col-lg-7" id="product-image-main">
    <section class="slider" style="position: relative;">
        {% if sale %}
        <div class="sale-badge-wrap testB">
            <div class="sale-badge">
                <p>{{ sale }}</p>
            </div>
        </div>
        {% endif %}
        <!-- -->
        <div id="flexPlaceholder">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://brentwood-home-products.imgix.net/{{ imgName }}?ch=Width,DPR&w=767&dpr=1&fit=clip">
                <source media="(min-width: 768px)" data-srcset="https://brentwood-home-products.imgix.net/{{ imgName }}?ch=Width,DPR&w=1024&dpr=1&fit=clip">
                <img src="https://brentwood-home-products.imgix.net/{{ imgName }}?w=1024&q=50" alt="{{product.title}}" alt="{{product.title}}" loading="eager">
            </picture>
        </div>
      <div class="flexslider">
                            <ul class="slides">
                                {% for image in product.images %}
                                {% assign videotag = image.alt | escape %}
                                    {% assign imgName = image | remove: 'products/' | split:'?' | first %}
                                <li data-thumb="https://brentwood-home-products.imgix.net/{{ imgName }}?ch=Width,DPR&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&w=160&h=120&crop=focalpoint&dpr=1 1x,
                                    https://brentwood-home-products.imgix.net/{{ imgName }}?ch=Width,DPR&crop=focalpoint&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&w=160&h=120&fit=crop&dpr=2 2x,
                                    https://brentwood-home-products.imgix.net/{{ imgName }}?ch=Width,DPR&crop=focalpoint&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&w=160&h=120&fit=crop&dpr=3 3x">
                                    {% if videotag contains 'vimeo' %}
                                        <div class='embed-container '>
                                            <!--https://player.vimeo.com/video/###-->
                                            <iframe src="{{ image.alt }}?title=0&byline=0&portrait=0" width="640" height="360" id="video_1" frameborder="0"></iframe>
                                        </div>
                                    {% else %}





<picture>
<source
media="(max-width: 767px)"
sizes="(max-width: 1534px) 100vw, 1534px"
srcset="
https://brentwood-home-products.imgix.net/{{ imgName }}?auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&ar=1:1&w=320 320w,
https://brentwood-home-products.imgix.net/{{ imgName }}?auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&ar=1:1&w=452 452w,
https://brentwood-home-products.imgix.net/{{ imgName }}?auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&ar=1:1&w=565 565w,
https://brentwood-home-products.imgix.net/{{ imgName }}?auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&ar=1:1&w=655 655w,
https://brentwood-home-products.imgix.net/{{ imgName }}?auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&ar=1:1&w=766 766w,
https://brentwood-home-products.imgix.net/{{ imgName }}?auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&ar=1:1&w=852 852w,
https://brentwood-home-products.imgix.net/{{ imgName }}?auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&ar=1:1&w=920 920w,
https://brentwood-home-products.imgix.net/{{ imgName }}?auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&ar=1:1&w=1031 1031w,
https://brentwood-home-products.imgix.net/{{ imgName }}?auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&ar=1:1&w=1033 1033w,
https://brentwood-home-products.imgix.net/{{ imgName }}?auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&ar=1:1&w=1327 1327w,
https://brentwood-home-products.imgix.net/{{ imgName }}?auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&ar=1:1&w=135 1357w,
https://brentwood-home-products.imgix.net/{{ imgName }}?auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&ar=1:1&w=1442 1442w,
https://brentwood-home-products.imgix.net/{{ imgName }}?auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&ar=1:1&w=1523 1523w,
https://brentwood-home-products.imgix.net/{{ imgName }}?auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&ar=1:1&w=1534 1534w">
<img
sizes="(max-width: 5120px) 40vw, 2048px"
srcset="
https://brentwood-home-products.imgix.net/{{ imgName }}?auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&w=308 308w,
https://brentwood-home-products.imgix.net/{{ imgName }}?auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&w=525 525w,
https://brentwood-home-products.imgix.net/{{ imgName }}?auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&w=700 700w,
https://brentwood-home-products.imgix.net/{{ imgName }}?auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&w=838 838w,
https://brentwood-home-products.imgix.net/{{ imgName }}?auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&w=981 981w,
https://brentwood-home-products.imgix.net/{{ imgName }}?auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&w=1151 1151w,
https://brentwood-home-products.imgix.net/{{ imgName }}?auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&w=1234 1234w,
https://brentwood-home-products.imgix.net/{{ imgName }}?auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&w=1364 1364w,
https://brentwood-home-products.imgix.net/{{ imgName }}?auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&w=1440 1440w,
https://brentwood-home-products.imgix.net/{{ imgName }}?auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&w=1603 1603w,
https://brentwood-home-products.imgix.net/{{ imgName }}?auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&w=1730 1730w,
https://brentwood-home-products.imgix.net/{{ imgName }}?auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&w=1831 1831w,
https://brentwood-home-products.imgix.net/{{ imgName }}?auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&w=1945 1945w,
https://brentwood-home-products.imgix.net/{{ imgName }}?auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&w=2038 2038w,
https://brentwood-home-products.imgix.net/{{ imgName }}?auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&w=2048 2048w"
src="https://brentwood-home-products.imgix.net/{{ imgName }}?auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false&w=2048"
alt="">
</picture>



                                    {% endif %}
                                </li>
                                {% endfor%}
                              </ul>
                            </div>
    </section>
</div>



        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-0 col-lg-5 product-shop">
          <div>
            <header class="product-title">
              <h1 itemprop="name">{{ product.title }}</h1>
              
                <div class="clearfix"></div>

            </header>
          <h3 class="text-left">{{product.metafields.bhsite.feel}}</h3>
          <p class="short-description">{{product.metafields.bhsite.shortdesc}}</p>
          <form action="/cart/add" method="post" enctype="multipart/form-data" id="add-to-cart-form">
            <a href="{{product.metafields.bhsite.link}}" target="_blank" class="cta2" style="width: 100%;text-align: center;">Buy it at Costco.com</a>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div><!-- End Row -->
  </div><!-- product -->
</div><!-- End Container for top part (img+buy) -->



{% comment %}
{% if product.metafields.bhsite.materials %}
  <section class="overlays product-tabs overlays-tabs container">
      <div id="exTab1" class="">
          <h2 class="overlays-title">Product Description</h2>
          <ul class="nav nav-pills">
              <li class="active">
                  <a href="#1a" data-toggle="tab">Description</a>
              </li>
              <li>
                  <a href="#2a" data-toggle="tab">Materials</a>
              </li>
          </ul>
          <div class="tab-content clearfix">
              <div class="tab-pane active" id="1a">
                  <div class="description text-left">
                      {{ product.description }}
                  </div>
              </div>
              <div class="tab-pane" id="2a">
                  <div class="description text-left">
                      {{ product.metafields.bhsite.materials }}
                  </div>
              </div>
          </div>
      </div>
  </section>
{% else %}
  <div class="product-tabs container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h2>Product Description</h2>
        <div id="myTabContent" class="tab-content">
          {% if settings.display_product_detail_description %}
          <div id="collapse-tab1" class="tab-pane fade in active">
            {{ product.description }}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endcomment %}

<div class="container section margTB120">
    <h2 class="text-center">Product Specifications</h2>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingZero">
                <h4 class="panel-title">
                    <a role="button" class="icons prddescription" data-toggle="collapse" href="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
                        Description
                    </a>
                </h4>
            </div>
            <div id="collapseZero" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingZero">
                <div class="panel-body">
                    {{ product.description }}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" class="icons certifications" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Materials
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    {{ product.metafields.bhsite.materials }}
                </div>
            </div>
        </div>
    </div>
</div>



