{% assign productTags = product.tags | join:',' %}
{% include 'nowtime' %}
<div class="container-fluid" id="product">
    <div itemscope itemtype="http://schema.org/Product" class="product">
        <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
        <meta itemprop="name" content="{{ product.title }}">
        <meta itemprop="image" content="https:{{ product | img_url: '1024x' }}">
        <meta itemprop="itemCondition" content="http://schema.org/NewCondition" />

        <div class="row">
            {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
            
            <!-- FLEXSLIDER -->
            {% include 'product-flexslider' %}
            
            {%comment%}
            to remove the pull-left for single products
            {%endcomment%}
            {% assign multi_prd = true %}
            {% if collection.products_count <= 1 %}
                                               {% assign multi_prd = false %}
                                               {% endif %}
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-0 col-lg-5 product-shop">
            <div>
                {% if sale %}
                <div class="sale-badge-wrap">
                    <div class="sale-badge testA">
                        <p>{{ sale }}</p>
                    </div>
                </div>
                {% endif %}
                <header class="product-title {% if collection.previous_product or collection.next_product and settings.display_prev_next_product and collection %}has-btn{% endif %}">
                    <h1 {% if settings.display_prev_next_product and collection and multi_prd %}class="pull-left"{% endif %} itemprop="name">{{ product.title }}</h1>
                </header>
                <div class="yotpo bottomLine"
                     data-appkey="MoTNJx7IZaWhweNlLkQdd6AaJffubtZuHPH6w3aQ"
                     data-domain="{{ shop.permanent_domain | escape }}"
                     data-product-id="{{ product.id }}"
                     data-product-models="{{ product.id }}"
                     data-name="{{ product.title | escape }}"
                     data-url="{{ shop.url }}{{ product.url }}"
                     data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26' }}"
                     data-description="{{ product.description | escape }}"
                     data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                    <meta itemprop="itemReviewed" content="{{ product.title }}">
                    <meta itemprop="ratingValue" content="{{ product.metafields.yotpo.reviews_average }}">
                    <meta itemprop="ratingCount" content="{{ product.metafields.yotpo.reviews_count }}">
                </div>
                {% if sale %}
                <div class="sale-badge-wrap">
                    <div class="sale-badge control">
                        <p>{{ sale }}</p>
                    </div>
                </div>
                {% endif %}
                
                {% if product.metafields.bhsite.feel %}<h3 class="text-left">{{product.metafields.bhsite.feel}}</h3>{% endif %}
                <!--{% include 'shippingtime' %}-->
                <p class="short-description">
                    {{product.metafields.bhsite.shortdesc}}
                </p>
                {% if productTags contains 'amazon' %}
                    <p><img src="{{ 'exclusiveAmz.png' | asset_url }}" alt="Amazon only" style="max-width: 150px;"></p>
                {%endif%}
                
                {% if metaf.shortdesc_more %}
                <div class="shortdesc more">
                    <a role="button" data-toggle="collapse" href="#collapseDescription" aria-expanded="false" aria-controls="collapseDescription" class="navico productDetails defaultCollapsed">More details +</a>
                    <ul class="collapse" id="collapseDescription">
                        {{ metaf.shortdesc_more }}
                    </ul>
                </div>
                <script>
                    $(document).ready(function() {
                        $('#collapseDescription').collapse({
                            toggle: false
                        });
                        $('#collapseDescription').on('show.bs.collapse', function () {
                            $("a.productDetails").addClass("open").text("Less details -");
                        });
                        $('#collapseDescription').on('hide.bs.collapse', function () {
                            $("a.productDetails").removeClass("open").text("More details +");
                        });
                    });
                </script>
                {% endif %}
                <div class="mob-dark">
                    <div id="buysection"></div>
                    <form action="/cart/add" method="post" enctype="multipart/form-data" id="add-to-cart-form">
                        {% if product.available %}
                            {% for option in product.options %}
                                {% if option contains "Size" %}
                                    <label for="product-selectors" class="selectLabel">Size</label>
                                {% elsif option contains "Option" %}
                                    <label for="product-selectors" class="selectLabel">Choose an option</label>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <div id="product-variants">
                            {% assign variantCount = product.variants | size %}
                            {% if product.available %}
                                {% if variantCount > 1 %}
                                    <select id="product-selectors" name="id" style="display: none;">
                                        {% for variant in product.variants %}
                                        <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}
                                                value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                                        {% endfor %}
                                    </select>
                                    {% comment %}variables set in snippets/shippingtime.liquid{% endcomment %}
                                    <p class="short-description shipping"><img src="https://brentwood-home-2.imgix.net/icon-shippingv4.svg" alt="Ships free in {{ shipsfree }} | free returns {% if trial %}| {{trial}}{% endif %}">Ships free in {{ shipsfree }} | free returns {% if trial %}| {{trial}}{% endif %}</p>
                                    {% if settings.use_color_swatch %}
                                        {% for option in product.options %}
                                            {% include 'swatch' with option %}
                                        {% endfor %}
                                    {% endif %}
                                    <div id="qt"><label for="Quantity" class="selectLabel">Qty: </label> <input type="text" id="quantity" name="quantity" value="1"></div>
                                {% else %}
                                    {%comment%}No variant products like yoga pillows, we still want to display shipping and qty{%endcomment%}
                                    {% comment %}variables set in snippets/shippingtime.liquid{% endcomment %}
                            <p class="short-description shipping"><img src="https://brentwood-home-2.imgix.net/icon-shippingv4.svg" alt="Ships free in {{ shipsfree }} | free returns {% if trial %}| {{trial}}{% endif %}">Ships free in {{ shipsfree }} | free returns {% if trial %}| {{trial}}{% endif %}</p>
                                    <div id="qt"><label for="Quantity" class="selectLabel">Qty: </label> <input type="text" id="quantity" name="quantity" value="1"></div>
                                    <input type="hidden" name="id" value="{{ product.variants[0].id }}"/>
                                {% endif %}
                            {% endif %}
                            <!-- WIDGET BUNDLES (PILLOW + FOUNDATION )-->
                            {% include 'productbundles-widget' %}
                        </div>
                        {% if product.available %}
                            <link itemprop="availability" href="http://schema.org/InStock">
                            <div class="cta-module clearfix">
                                <div class="prices" itemprop="offers" itemscope itemtype="http://schema.org/Offer" style="float: left;">
                                    <meta itemprop="priceCurrency" content="{{ shop.currency }}">
                                    {% if product.compare_at_price > product.price %}
                                    <span class="compare-price">{{ product.compare_at_price_max | money_without_trailing_zeros}}</span>
                                    <span class="price on-sale" itemprop="price" content="{{ product.selected_or_first_available_variant.price | money_without_currency | remove: ',' }}">{{ product.selected_or_first_available_variant.price | money_without_trailing_zeros}}</span>
                                    {% else %}
                                    <span class="price" itemprop="price" content="{{ product.selected_or_first_available_variant.price | money_without_currency | remove: ',' }}">{{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}</span>
                                    {% endif %}
                                </div>
                                {% include 'affirm-product' %}
                                <div class="affirmWrap">
                                    <div class="affirm">
                                        <a id="learn-more" class="affirm-as-low-as" data-learnmore-show="true" data-promo-id="promo_set_brentwood_zero_percent" data-amount="{{ product.selected_or_first_available_variant.price }}"></a>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <link itemprop="availability" href="http://schema.org/OutOfStock">                           
                            {% if product.tags contains "korea" %}
                                <input type="submit" name="add" class="btn" id="product-add-to-cart" disabled value="For Korea Market Only">
                            {% elsif productTags contains 'amazon' %}
                                <a href="{{product.metafields.bhsite.amazonlink}}" class="cta4amz" target="_blank" title="See it on Amazon">BUY IT</a>
                            {% elsif productTags contains 'Costco' %}
                                <h3>OUT OF STOCK</h3>
                            {% else %}
                                <input type="submit" name="add" class="btn" id="product-add-to-cart" disabled value="Out of stock">
                            {% endif %}
                        {% endif %}
                        {% assign current_variant = product.selected_or_first_available_variant %}
                    </form>
                    {% if product.available %}
                        <button type="button" class="cta2" style="width: 100%;" id="product-add-to-cart">Add to Cart</button>
                    {% endif %}
                </div>
            </div>
        </div><!-- Right Col product-shop --> 
           
           
           
    </div>
</div><!-- End Row -->
</div><!-- End Container -->

{%comment%}
<!-- list ids for bundles. needed in productbundles.liquid -->
{% for variant in product.variants %}
{<br>
id: {{ variant.id }},<br>
price: {{variant.price}},<br>
qt: 1<br>
},<br>
{% endfor %}

{% for variant in product.variants %}
 {{ variant.id }},
{% endfor %}

{%endcomment%}
<div class="product-tabs ">
    {% if product.metafields.bhsite.tagline != "0" %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
                {% if product.metafields.bhsite.tagline contains "vimeo" %}
                    <div class="embed-container ">
                        {{product.metafields.bhsite.tagline}}
                    </div>
                {% else %}
                    <h2 class="product-tagline">{{product.metafields.bhsite.tagline}}</h2>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if product.type == 'Pillow' %}{%comment%}
        <div class="container section warranties" style="margin: 100px auto;">
            <h2 class="text-center">Try the {{ product.title }} Risk-Free</h2>
            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <img src="https://brentwood-home-2.imgix.net/iconv2-1yearguarantee.svg" alt="">
                    <p>30-day<br>Trial</p>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <img src="https://brentwood-home.imgix.net/iconv2-freeshipping.svg" alt="">
                    <p>Free Shipping<br>Free Return</p>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <img src="https://brentwood-home.imgix.net/iconv2-madeincalifornia.svg" alt="">
                    <p>Made in<br>California</p>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <img src="https://brentwood-home.imgix.net/iconv2-3yearwarranty.svg" alt="">
                    <p>1-year<br>Limited Warranty</p>
                </div>
            </div>
    </div>{%endcomment%}
    {% endif %}
    {% if product.type == 'Mattress' %}
       <style>
           .product-tabs .overlays-1 {
               padding: 40px 30px;
               display: table;
               width: 100vw;
               height: 320px;
               background: center no-repeat;
               background-size: cover;
           }
           .product-tabs .overlays-1 .items .item label {
               margin-top: 10px;
               text-align: center;
               font-size: 15px;
               color: #454D5B;
               letter-spacing: 0.14px;
           }
           .product-tabs .overlays-1 .items .item {
               vertical-align: top;
               display: inline-block;
               text-align: center;
           }
    </style>
    {% if product.tags contains "korea" %}
        <div class="overlays overlays-1" style="background-image: url({{ 'overlays-1-bg.jpg' | asset_url }})">
            <h2 class="overlays-title">Sleep with peace of mind</h2>
            <div class="items row">
                <div class="item col-xs-6 col-md-3">
                    <img src="https://brentwood-home.imgix.net/icon-CertiPUR-US.svg"/>
                    <br/>
                    <label>CertiPUR-US&reg; Certified</label>
                </div>
                <div class="item col-xs-6 col-md-3">
                    <img src="https://brentwood-home.imgix.net/icon-NoFRChemicals.svg"/>
                    <br/>
                    <label>No Flame Retardant Chemicals</label>
                </div>
                <div class="item col-xs-6 col-md-3">
                    <img src="https://brentwood-home.imgix.net/icon-Wool.svg"/>
                    <br/>
                    <label>New Zealand Wool</label>
                </div>
                <div class="item col-xs-6 col-md-3">
                    <img src="{{ 'icon-California.svg' | asset_url }}"/>
                    <br/>
                    <label>Made in California</label>
                </div>
            </div>
        </div>
        {% else %}
            <div class="overlays overlays-1" style="background-image: url({{ 'overlays-1-bg.jpg' | asset_url }})">
                <h2 class="overlays-title">Sleep with peace of mind</h2>
                <div class="items row">
                    <div class="item col-xs-6 col-md-2 col-md-offset-1">
                        <img src="https://brentwood-home-2.imgix.net/iconv2-1yearguarantee.svg"/>
                        <br/>
                        <label>1-Year Trial</label>
                    </div>
                    <div class="item col-xs-6 col-md-2">
                        <img src="{{ 'icon-FreeShipping2.svg' | asset_url }}"/>
                        <br/>
                        <label>Free Shipping</label>
                    </div>
                    <div class="item col-xs-6 col-md-2">
                        <img src="{{ 'icon-FreeReturns.svg' | asset_url }}"/>
                        <br/>
                        <label>Free Returns</label>
                    </div>
                    <div class="item col-xs-6 col-md-2">
                        <img src="{{ 'icon-California.svg' | asset_url }}"/>
                        <br/>
                        <label>Made in California</label>
                    </div>
                    <div class="item col-xs-12 col-md-2">
                        <img src="{{ 'icon-25YearWarranty.svg' | asset_url }}"/>
                        <br/>
                        <label>25-year Warranty</label>
                    </div>
                </div>
            </div>
    {% endif %}
    {% elsif product.type == 'Mattress Topper' %}
       
    <div class="container section warranties">
        <h2 class="text-center">Start Your 1-Year Sleep Trial</h2>
        <div class="row">
            <div class="col-xs-4 col-sm-3">
                <img src="https://brentwood-home-2.imgix.net/iconv2-1yearguarantee.svg" alt="1-year sleep trial">
                <p>1-year<br>Trial</p>
            </div>
            <div class="col-xs-4 col-sm-3">
                <img src="https://brentwood-home.imgix.net/iconv2-freeshipping.svg" alt="Free shipping & Returns">
                <p>Free Shipping<br>Free Return</p>
            </div>
            <div class="col-xs-4 col-sm-3">
                <img src="https://brentwood-home.imgix.net/iconv2-madeincalifornia.svg" alt="Made in California">
                <p>Made in<br>California</p>
            </div>
            <div class="col-xs-4 col-sm-3">
                <img src="https://brentwood-home-2.imgix.net/iconv2-10yearwarranty.svg" alt="10-year Warranty">
                <p>10-year<br>Warranty</p>
            </div>
        </div>
    </div>
    
    {% endif %}

    <div class="" id="description">
        {% if product.metafields.bhsite.outside %}
            <div class="row flexVCenter" style="background-color: #4a4a4a;">
                <div class="col-xs-12 col-md-6" style="background-color: #fff;padding-right:0px;padding-bottom:0;">
                    
                    <img class="lazy" data-src="https://brentwood-home-2.imgix.net/{{product.metafields.bhsite.outsideimg }}?w=960&q=55&auto=compress,format" src="https://brentwood-home-2.imgix.net/{{product.metafields.bhsite.outsideimg }}?w=960&auto=compress,format&blur=500&q=10" alt="{{product.title}}">
                </div>
                <div class="col-xs-12 col-md-6" style="padding-left: 0px;padding-bottom:0;">
                    <div class="" id="description-outside">
                        {{product.metafields.bhsite.outside}}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if product.metafields.bhsite.inside %}
        <div class="row flexVCenter" style="background-color: #9b9b9b;">
            <div class="col-xs-12 col-md-6 col-md-push-6" style="background-color: #fff;padding-left:0px;padding-top:0;">
                <img class="lazy" data-src="https://brentwood-home-2.imgix.net/{{product.metafields.bhsite.insideimg }}?w=960&q=55&auto=compress,format" src="https://brentwood-home-2.imgix.net/{{product.metafields.bhsite.insideimg }}?w=960&auto=compress,format&blur=500&q=10" class="" alt="{{product.title}}">
            </div>
            <div class="col-xs-12 col-md-6 col-md-pull-6" style="padding-right:0px;">
                <div id="description-inside">
                    {{product.metafields.bhsite.inside}}
                </div>
            </div>
        </div>
        {% endif %}
        {% if product.metafields.bhsite.feature3 %}
        <div class="row flexVCenter" style="background-color: #4a4a4a;">
            <div class="col-xs-12 col-md-6" style="background-color: #fff;padding-top:0;padding-right: 0;">

                <img class="lazy" data-src="https://brentwood-home-2.imgix.net/{{product.metafields.bhsite.feature3b }}?w=960&q=55&auto=compress,format" src="https://brentwood-home-2.imgix.net/{{product.metafields.bhsite.feature3b }}?w=960&auto=compress,format&blur=500&q=10" class="" alt="{{product.title}}">

            </div>
            <div class="col-xs-12 col-md-6">
                <div class="" id="description-outside">
                    {{product.metafields.bhsite.feature3}}
                </div>
            </div>
        </div>
        {% endif %}
        {% if product.tags contains "yoga" %}
        <div class="row flexVCenter" style="background-color: #4a4a4a;">
            <div class="col-xs-12 col-md-6 {% if product.metafields.bhsite.feature3 %}col-md-push-6{% endif %}" style="background-color: #fff;padding:0;">
                <img class="lazy" data-src="https://s3-brentwoodhome.imgix.net/ccyoga/yogagirl-trio.jpg?rect=305,0,3972,3972&w=960&q=55&auto=compress,format" src="https://s3-brentwoodhome.imgix.net/ccyoga/yogagirl-trio.jpg?rect=305,0,3972,3972&w=960&auto=compress,format&blur=500&q=10" alt="{{product.title}} Vegan Certified">
            </div>
            <div class="col-xs-12 col-md-6 {% if product.metafields.bhsite.feature3 %}col-md-pull-6{% endif %}" style="padding-left: 0px;padding-bottom:0;">
                <div class="" id="description-outside">
                   <h4>VEGAN CERTIFIED</h4>
                    <p>The {{product.title}} is 100% Certified Vegan by Vegan Action. This means it is free from animal products (like feathers, wool and down) or byproducts that have been tested on animals. In addition, although we do manufacture some items that do use natural animal products like wool, we have stringent requirements in place for cleaning the machines in-between use, so cross-contamination will not occur. If you practice a vegan lifestyle, you can rest assured that your Crystal Cove products are aligned with your values.</p>
                    <p class="text-center"><img src="{{ 'veganlogo.svg' | asset_url}}" alt="Certified Vegan" style="max-width: 75px;background-color: white;border-radius: 38px;padding: 2px;"></p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <br><br>
    
    {% if product.metafields.bhsite.section1 %}
        
    
    <div class="container section" style="margin-top: 60px;margin-bottom:60px;">
        <div class="row flex">
            <div class="col-xs-12 col-sm-6">
                <picture>
                    <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/caleyalyssa3.jpg?w=480&ch=Width,DPR&q=55">
                    <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/caleyalyssa3.jpg?w=920">
                    <img class="lazy" data-src="https://s3-brentwoodhome.imgix.net/caleyalyssa3.jpg?w=920" src="https://s3-brentwoodhome.imgix.net/caleyalyssa3.jpg?w=920&blur=500&q=10" alt="Greenguard Gold Certified Non-Toxic">
                </picture>
            </div>
            <div class="col-xs-12 col-sm-6 flexV">
                <div>
                    <h2>Greenguard Gold Certified Non-Toxic</h2>
                    <p>The Crystal Cove pillow is completely <strong>GREENGUARD Gold Certified</strong> by UL Environment. It means that it has been scientifically tested in environmental chambers to meet some of the world’s most rigorous, third-party emissions standards for prolonged chemical exposure and pollutants, such as volatile organic compounds (VOCs), formaldehyde and phthalates. <a href="https://intercom.help/brentwood-home-b4d83ef0a14f/health-safety-and-sustainability/are-your-mattresses-pillows-greenguard-gold-certified" title="Greenguard Gold Certified">View Certificate.</a></p>
                    <p class="text-center"><img src="https://brentwood-home-2.imgix.net/greenguard-logo-full.svg" alt="Greenguard Gold Certified Non-Toxic" style="max-width: 100px; width: 100px;margin-top: 30px;" ></p>
                </div>
            </div>
        </div>
    </div>
    
{% endif %}
   
    {% if product.tags contains "GreenGuard" and product.type == "Mattress Topper" %}
    <div class="container section margTBLarge">
        <div class="row flex">
            <div class="col-xs-12 col-sm-6 text-center">
                <picture>
                    <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/naturel-ul.jpg?rect=796,235,1218,1686&w=480&ch=Width,DPR&q=55">
                    <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/naturel-ul.jpg?rect=796,235,1218,1686&w=555">
                    <img class="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/naturel-ul.jpg?w=555" alt="Greenguard Gold Certified">
                </picture>
            </div>
            <div class="col-xs-12 col-sm-6 flexV">
                <div>
                    <h2>Greenguard Gold Certified</h2>
                    <p>According to the <a href="https://www.epa.gov/report-environment" target="_blank">EPA</a>, Indoor air quality is 5 times more polluted than outside air. And since we spend <a href="https://www.epa.gov/report-environment/indoor-air-quality" target="_blank">90% of our time</a> living, working, and playing indoors, indoor air quality is an important consideration.
                    </p>
                    <p>That’s why the {{product.title}} is <strong>GREENGUARD Gold Certified by UL Environment for Low Emissions</strong>. It means that it has been scientifically tested in environmental chambers to meet the most rigorous emissions standards for chemical exposure and pollutants, such as Volatile Organic Compounds (VOCs), formaldehyde and phthalates. <a href="https://spot.ul.com/main-app/products/catalog/?keywords=brentwood+home" target="_blank" title="Greenguard Gold Certified">View Profile</a>.</p>
                    <p class="text-center"><img src="{{ 'greenguard-logo-full.svg' | asset_url }}" alt="Greenguard Gold Certified" style="max-width: 100px; width: 100px;margin-top: 30px;" ></p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    
    <div class="container description">
        <div class="row">
           <div class="col-xs-12">
               <h2 style="text-align: center;">Description</h2>
           </div>
            <div class="col-md-offset-2 col-md-8">
                <p class="short-description shipping">Ships free in {{ shipsfree }} | free returns {% if trial %}| {{trial}}{% endif %}</p>
                {{product.description}}
            </div>
        </div>
    </div>
    <br>
    
</div>

<br><br>

<div class="container">
    {% include 'related-products' %}
</div>

{% unless productTags contains "korea" %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 style="text-align: center;">Reviews</h2>
        </div>
        <div class="col-xs-12">
            <div class="yotpo yotpo-main-widget"
                 data-product-id="{{ product.id }}"
                 data-name="{{ product.title | escape }}"
                 data-url="{{ shop.url }}{{ product.url }}"
                 data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
                 data-description="{{ product.description | escape }}">
            </div>
        </div>
    </div>
</div>
{% endunless %}
<script>
    /*jQuery('#myTab a').click(function (e) {
        e.preventDefault();
        jQuery(this).tab('show');
    })*/
</script>


<br>
<p class="text-center"><a href="#buysection" class="sscroll cta2">BUY</a></p>


<script>
    /*$(document).ready(function(){
        $('A.sscroll').bind('click', function(event) {
            var $anchor = $(this);
            $('html, body').stop().animate({
                scrollTop: $($anchor.attr('href')).offset().top - 150
            }, 1500, 'easeInOutExpo');
            event.preventDefault();
        });
    });*/
</script>



<div class="container">
    {% include 'related-products' %}
</div>
<script type="text/javascript">
    //console.log("{{ product.created_at }}");
</script>