{% assign metaf = product.metafields.c_f %}
<style>
    @media all and (max-width: 480px){
        .breadcrumb-wrap{
            display: none;
        }
        .product-shop .product-title h1{
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 25px;
            margin-top: 25px;
            text-align: center !important;
            /*font-weight: 700;*/
        }
        .owl-carousel .owl-item img{
            display: inline-block;
        }
    }
</style>
<style>
    .site-nav > li > a{
        padding: 21px 22px;
    }
    .header-tool {
        padding: 18px;
    }
    .logo{
        padding-top: 9px;
    }
    .breadcrumb{
        margin-top: 5px;
    }
    .flex-control-thumbs li{
        margin: 0 5px 0 0 !important;
        width: 70px !important;
        min-height: 51px !important;
    }
    .flex-control-thumbs li:first-child{
        margin-left: 0 !important;
    }



    .product-shop .product-title h1, .product-shop .product-title a{
        font-size: 32px !important;
        line-height: 48px;
        font-style: normal;
        letter-spacing: 1px;
    }
    .product-shop .product-title{
        margin-bottom: 0;
    }
    @media (min-width: 1200px){
        .product-shop {
            max-width: auto;
        }
    }
    .yotpo {
        margin-bottom: 10px;
    }
    .product-shop .short-description {
        line-height: 25px;
        letter-spacing: 1px;
        color: #666;
    }
    #product-variants {
        margin-bottom: 10px;
    }
    div.addonmodule {
        padding: 10px;
    }
    .squaredOne {
        margin: 5px auto;
    }
    div.addonmodule .column.img {
        padding: 0 15px 0 20px;
        width: 95px;
    }
    DIV.cta-module {
        margin: 20px 0 10px 0;
    }
    .cta2 {
        margin-top: 10px;
    }
    DIV.affirm A {
        line-height: 14px;
    }
    DIV.cta-module {
        margin-top: 20px !important;
    }
    .cta2 {
        margin-top: 10px;
    }
    @media (min-width: 1024px){
        .buycontent {
            /*margin-left: 6%;*/
        }
    }
    @media (max-width: 768px){
        .header-tool {
            padding: 0px 18px 0 0;
        }
    }
    @media (max-width: 1199px) and (min-width: 768px){
        .site-nav > li > a{
            padding: 20px 12px;
        }
        .header.is-ticky .site-nav > li > a {
            padding: 20px 5px 20px;
        }
        .flex-control-thumbs li{
            width: 60px !important;
            height: 44px !important;
            overflow: hidden;
        }
        .header-tool {
            padding: 10px;
        }
        .header.is-ticky #search-top .icon_search, .header.is-ticky #header-content .header-inner p.top-cart {
            line-height: 18px;
        }
        .product-shop>DIV {
            margin: 0;
        }
        #page_product .product-shop h1{
            text-align: left;
            font-size: 32px !important;
        }
    }
    LABEL.selectLabel{
        display: none;
    }
    H2{
        font-style: normal;
        font-size: 36px;
        margin-bottom: 25px;
        font-family: AvenirLTStd-Roman, 'Helvetica Neue', helvetica, sans-serif;
        line-height: 48px;
    }
    #page_product H3{
        text-transform: capitalize;
        text-align: left;
        /*font-size: 22px;*/
        font-size: 16px;
        font-family: AvenirLTStd-Roman, 'Helvetica Neue', helvetica, sans-serif;
        color: #4a4a4a;
        letter-spacing: 1px;
        line-height: 33px;
        margin: 0 0 16px 0;
        text-transform: uppercase;
    }
    strong{
        /*font-family: AvenirLTStd-Roman, 'Helvetica Neue', helvetica, sans-serif;*/
    }
    P{
        line-height: 26px;
    }
    #productPrice span, .product-shop .short-description{
        margin-bottom: 10px;
    }
    
    .panel-default>.panel-heading {
        border-color: transparent;
        padding: 10px 20px;
        border-bottom: 1px solid #aaa;
        color: #333;
        background-color: #f5f5f5;
        border-color: #ddd;
    }
    .panel .panel-title {
        font-size: 15px;
        color: #666;
        text-align: left;
        font-weight: bold;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
    }
    .container.section .panel-title>A {
        text-decoration: none;
        display: block;
        line-height: 50px;
        height: 50px;
        text-decoration: none;
    }
    div.oceanomaterials{
        background-image: url({{ 'oceanowaves-pattern4.svg' | asset_url }});
        background-position: top left;
        background-repeat: repeat-x;
        padding-top: 140px;
        margin-bottom: 110px;
    }
    div.oceanomaterials section{
        background-color: #76BAE9;
        background-color: #fafafa;
        padding-bottom: 80px;
        margin-bottom: 40px;
        border-bottom: 1px solid #eef7fd;
    }
    /*div.oceanomaterials section H2, div.oceanomaterials section DIV.inside .matTip P STRONG{
        color: white;
    }
    div.oceanomaterials section DIV.inside .matTip P{
        color: white;
    }
    DIV.inside .matTip DIV.arrow{
        background-color: white;
    }
    DIV.inside .matTip DIV.arrow DIV.pointer{
        background-color: white;
    }*/
    DIV.inside .matTip P STRONG{
        display: inline;
        margin: 10px 0px 5px 37px;
        color: #4A4A4A;
        float: left;
        line-height: 20px;
    }
    DIV.inside .matTip P{
        margin-top: 20px;
    }
    DIV.inside .matTip.cedarluxe.wool {
        top: -90px;
        left: 570px;
    }
    

    DIV.inside .matTip.cedarluxe.springs {
        bottom: -100px;
        left: 20px;
        width: 360px;
    }
    DIV.inside .matTip.cedarluxe.springs DIV.arrow {
        height: 130px;
        bottom: 45px;
        left: 45px;
    }
    DIV.inside .matTip.oceano.tencel {
        bottom: -157px;
        left: 390px;
        width: 300px;
    }

    DIV.inside .matTip.oceano.tencel DIV.arrow {
        height: 140px;
        bottom: -75px;
        left: 45px;
    }
    DIV.inside .matTip.oceano.tencel DIV.pointer {
        bottom: 0;
        left: -5px;
    }
    DIV.inside .matTip.oceano.tencel {
        top: -60px;
        bottom: auto;
        left: 170px;
    }
    DIV.inside .matTip.oceano.wool {
        top: -60px;
        left: 570px;
        right: 170px;
    }
    DIV.inside .matTip.oceano.wool DIV.arrow {
        height: 192px;
        top: 45px;
        left: 45px;
    }
    DIV.inside .matTip.oceano.gel {
        bottom: -100px;
        left: 690px;
    }
    DIV.inside .matTip.oceano.gel DIV.arrow {
        height: 245px;
        bottom: 45px;
        left: 45px;
    }
    DIV.inside .matTip.oceano.gel DIV.pointer {
        top: 0;
        left: -5px;
    }
    DIV.inside .matTip.oceano.microcoils {
        bottom: -100px;
        left: 380px;
        width: 300px;
    }
    DIV.inside .matTip.oceano.microcoils DIV.arrow {
        height: 222px;
        bottom: 45px;
        left: 45px;
    }
    DIV.inside .matTip.oceano.microcoils DIV.pointer {
        top: 0;
        left: -5px;
    }
    DIV.inside{
        margin: 140px 0 130px;
    }
    
    .boxMat{
        background-color: white; padding: 40px 15px; border-radius: 6px;
    }
    .boxMat .icons P{
        line-height: 18px;
        font-size: 14px;
    }
    .update-ui #bk-localnav.bk-localnav-top.bk-localnav-light.custom-box-shadow{
        /*display: none;*/
    }
    .matnumber, .matnumberSmall{
        background-color: #38414F;
        color: white;
        border-radius: 100px;
        display: inline-block;
        padding: 10px 16px;
        font-weight: bold;
        font-family: AvenirLTStd-Roman, 'Helvetica Neue', helvetica, sans-serif;
        margin-top: 10px;
    }
    .matnumberSmall{
        padding: 3px 8px;
        font-style: normal;
        font-size: 14px;
        position: absolute;
    }
    
    .owl-carousel.owl-drag .owl-item h3{
        text-align:center !important;
        line-height: 20px !important;
    }
    @media (max-width: 1199px){
        DIV.inside .matTip.cedarluxe.springs{
            width: 290px;
        }
        DIV.inside .matTip.oceano.gel{
            width: 270px;
            left: 620px;
        }
        DIV.inside .matTip.oceano.wool{
            left: 500px;
        }
        DIV.inside .matTip.oceano.wool DIV.arrow{
            height: 160px;
        }
        DIV.inside .matTip.oceano.microcoils{
            left: 310px;
        }
        DIV.inside .matTip.oceano.microcoils DIV.arrow{
            height: 195px;
        }
        DIV.inside .matTip.oceano.gel DIV.arrow{
            height: 212px;
        }
    }
    @media (max-width: 991px){
        DIV.inside {
            margin: 40px 0;
            position: relative;
        }
        H2{
            font-size: 28px;
            line-height: 38px;
        }
        
        .boxMat{
            background-color: transparent;
            padding-top: 0;
            padding-bottom: 0;
        }
        div.oceanomaterials section{
            padding-bottom: 20px;
        }
        .section{
            margin-top: 40px;
            margin-bottom: 40px;
        }
        
        .section.materialListMob{
            margin-top: 0;
        }
        .owl-carousel.owl-drag .owl-item .item{
            padding: 15px 0;
        }
        .materialListMob H3{
            margin: 15px 0;
        }
        .flexV div{
            padding: 0;
        }
        #page_product H3{
            line-height: 20px;
        }
        #product-image-main{
            margin-bottom: 30px;
        }
        
    }
    @media (min-width: 768px) and (max-width: 991px){ /* bootstrap SM */
        .owl-carousel.owl-drag .owl-item {
            min-height: 250px;   
        }
        .flex-control-thumbs{
            display: inline-block !important;
            width: auto;
            left: 50%;
            top: 0;
            margin-left: calc(-30%);
            position: relative;
        }
        BODY.template-product .product-shop .yotpo .pull-left{
            float: none !important;
            text-align: center;
        }
        div.oceanomaterials{
            padding-top: 115px;
            margin-bottom: 110px;
            margin-top: -40px;
        }
        H2.margTB7050 {
            margin-top: 20px;
            margin-bottom: 50px;
        }
        .product-shop .product-title h1{
            text-align: center !important;
        }
        body:not(.template-index) #header-content {
            position: relative;
            box-shadow: 0 6px 15px #aeaeae;
        }
    }
    @media (max-width: 768px){
        #page_product H3{
            line-height: 24px;
            margin: 0 0 16px 0;
            text-transform: uppercase;
            background-color: white;
            margin: -42px 20px 0 20px;
            border-radius: 6px 6px 0 0;
            padding: 10px;
            text-align: center;
        }
        #product-image-main{
            margin-bottom: 0px;
        }
        .product-shop .product-title h1{
            margin: 10px 0;
        }
        .owl-carousel.owl-drag .owl-item {
             min-height: 320px;   
        }
    }
    .owl-carousel .owl-stage-outer{
        padding: 15px 0 15px;
    }
    .owl-carousel.owl-drag .owl-item {
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-user-select: none;
        padding: 15px;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: white;
        box-shadow: 0 0 8px #aaa;
        border-radius: 6px;
        min-height: 320px;   
    }
    
    #warranties.owl-carousel.owl-drag .owl-item {
        min-height: 230px;
    }
    #materials-desk.owl-carousel.owl-drag .owl-item{
        min-height: 260px;
    }
</style>

<div id="page_product">
    <div class="container-fluid" id="product">
        <div itemscope itemtype="http://schema.org/Product" class="product">
            <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
            <meta itemprop="image"
                  src="{{ product.featured_image.src | product_img_url: 'grande' }}"
                  alt="{{ product.title | escape }}
                       ">
            <meta itemprop="itemCondition" content="http://schema.org/NewCondition"/>
            <div class="row">
                <!-- FLEXSLIDER -->
                {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
                {% assign imgName = featured_image | remove: 'products/' %}
                <div class="col-xs-12 col-md-7 col-lg-7" id="product-image-main">
                    <section class="slider" style="position: relative;">
                        <!-- -->
                        <div id="flexPlaceholder">
                            <picture>
                                <source media="(max-width: 767px)" data-srcset="https://brentwood-home-products.imgix.net/{{ imgName }}?ch=Width,DPR&w=767&dpr=1&fit=clip">
                                <source media="(min-width: 768px)" data-srcset="https://brentwood-home-products.imgix.net/{{ imgName }}?ch=Width,DPR&w=1024&dpr=1&fit=clip">
                                <img src="https://brentwood-home-products.imgix.net/{{ imgName }}?w=1024&q=50" alt="{{product.title}}" loading="eager">
                            </picture>
                        </div>
                        <div class="flexslider">
                            <ul class="slides">
                                {% for image in product.images %}
                                {% assign videotag = image.alt | escape %}
                                {% assign imgName = image | remove: 'products/' | split:'?' | first %}
                                <li data-thumb="https://brentwood-home-products.imgix.net/{{ imgName }}?ch=Width,DPR&w=150&h=150">   
                                    {% if videotag contains 'vimeo' %}
                                    <div class='embed-container '>
                                        <!--https://player.vimeo.com/video/###-->
                                        <iframe src="{{ image.alt }}?title=0&byline=0&portrait=0" width="640" height="360" id="video_1" frameborder="0"></iframe>
                                    </div>
                                    {% else %}
                                    <picture>
                                        <source
                                                data-srcset="https://brentwood-home-products.imgix.net/{{ imgName }}?w=960 1x,
                                                             https://brentwood-home-products.imgix.net/{{ imgName }}?w=1920&dpr=2 2x"
                                                media="(min-width: 768px)"
                                                >
                                        <source
                                                data-srcset="https://brentwood-home-products.imgix.net/{{ imgName }}?w=767&fit=crop 1x,
                                                             https://brentwood-home-products.imgix.net/{{ imgName }}?w=767&&fit=crop&dpr=2 2x"
                                                media="(min-width: 480px)"
                                                >
                                        <source
                                                data-srcset="https://brentwood-home-products.imgix.net/{{ imgName }}?w=480&fit=crop 1x,
                                                             https://brentwood-home-products.imgix.net/{{ imgName }}?w=480&fit=crop&dpr=2 2x"
                                                media="(min-width: 320px)"
                                                >
                                        {% if forloop.first == true %}
                                        <img src="https://brentwood-home-products.imgix.net/{{ imgName }}?w=960&fit=crop 1x,
                                                  https://brentwood-home-products.imgix.net/{{ imgName }}?w=1920&fit=crop&dpr=2 2x" loading="eager">
                                        {% else %}
                                        <img data-src="https://brentwood-home-products.imgix.net/{{ imgName }}?w=555&fit=crop" src="https://brentwood-home-products.imgix.net/{{ imgName }}?w=555&blur=500&q=10&fit=crop" loading="lazy">
                                        {% endif %}
                                    </picture>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </section>
                </div>
                
                {% assign multi_prd = true %}
                {% if collection.products_count <= 1 %}
                                                   {% assign multi_prd = false %}
                                                   {% endif %}
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-0 col-lg-5 product-shop">

                <div>
                    {% if settings.display_prev_next_product and collection and multi_prd %}
                    <div class="product-step">
                        {% if collection.previous_product %}
                        <a class="prev-p" href="{{ collection.next_product }}"
                           title="Prev"><span
                                              class="fa fa-angle-left"></span>Previous</a>
                        {% endif %}
                        {% if collection.next_product %}
                        <a class="next-p" href="{{ collection.next_product }}"
                           title="Next">Next<span
                                                  class=" fa fa-angle-right"></span></a>
                        {% endif %}
                    </div>
                    {% else %}
                    <div class="clearfix"></div>
                    {% endif %}
                    <header class="product-title {% if collection.previous_product or collection.next_product and settings.display_prev_next_product and collection %}has-btn{% endif %}">

                        <h1 {% if settings.display_prev_next_product and collection and multi_prd %}class="pull-left"{% endif %}
                            itemprop="name">{{ product.title }}</h1>

                    </header>

                    <div class="yotpo bottomLine"
                         data-appkey="MoTNJx7IZaWhweNlLkQdd6AaJffubtZuHPH6w3aQ"
                         data-domain="{{ shop.permanent_domain | escape }}"
                         data-product-id="{{ product.id }}"
                         data-product-models="{{ product.id }}"
                         data-name="{{ product.title | escape }}"
                         data-url="{{ shop.url }}{{ product.url }}"
                         data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26' }}"
                         data-description="{{ product.description | escape }}"
                         data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                        <meta itemprop="itemReviewed"
                              content="{{ product.title }}">
                        <meta itemprop="ratingValue"
                              content="{{ product.metafields.yotpo.reviews_average }}">
                        <meta itemprop="ratingCount"
                              content="{{ product.metafields.yotpo.reviews_count }}">
                    </div>

                    {% include 'nowtime' %}
                    <!--{% include 'shippingtime' %}-->
                <p class="short-description">
                    Our best-selling luxury hybrid bed that combines the responsive comfort of a premium 5-zone coil support system with pressure relieving + cooling gel memory foam. Sleep peacefully on our ultra soft plant-based Tencel stretch knit cover and hand-tufted Euro-top design.
                </p>
                    <p class="short-description"><strong>Ships free in {{ shipsfree }} + free returns and&nbsp;1-year&nbsp;trial.</strong></p>

                <div class="mob-dark">
                    {% if settings.display_product_reviews %}
                    <span class="shopify-product-reviews-badge"
                          data-id="{{ product.id }}"></span>
                    {% endif %}
                    {% if settings.display_availability or settings.display_product_type or settings.display_vendor %}
                    {% if settings.display_availability %}
                    <div class="availability">
                        <p class="product-inventory">
                            <label>Availability</label><span>
                            {% if product.selected_or_first_available_variant.inventory_management %}
                            {% assign first_inventory = product.selected_or_first_available_variant.inventory_quantity %}
                            {% if first_inventory > 0 %}
                            {{ first_inventory }} in stock
                            {% else %}
                            Out of stock
                            {% endif %}
                            {% else %}
                            Many in stock
                            {% endif %}
                            </span></p>
                    </div>
                    {% endif %}
                    {% endif %}
                    <div id="buysection"></div>
                    <form action="/cart/add" method="post" enctype="multipart/form-data" id="add-to-cart-form">
                        <label for="product-selectors" class="selectLabel">Size</label>
                        <div id="product-variants">
                            {% assign variantCount = product.variants | size %}
                            {% if product.available %}
                                {% if variantCount > 1 %}
                                    <select id="product-selectors" name="id" style="display:none">
                                    {% for variant in product.variants %}
                                        <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}
                                            value="{{ variant.id }}">{{ variant.title }}
                                        - {{ variant.price | money }}</option>
                                    {% endfor %}
                                    </select>
                                    {% if settings.use_color_swatch %}
                                        {% for option in product.options %}
                                            {% include 'swatch' with option %}
                                        {% endfor %}
                                    {% endif %}
                                {% else %}
                                    <input type="hidden" name="id" value="{{ product.variants[0].id }}"/>
                                {% endif %}
                            {% endif %}
                            
                            {% include 'productbundles-widget' %}
                            
                        </div>
                        {% if product.available %}
                        <div class="cta-module clearfix">
                            <div class="prices" itemprop="offers" itemscope
                                 itemtype="http://schema.org/Offer"
                                 style="float: left;">
                                <meta itemprop="priceCurrency"
                                      content="{{ shop.currency }}">
                                {% if product.compare_at_price > product.price %}
                                <span class="compare-price">{{ product.compare_at_price_max | money_without_trailing_zeros}}</span>
                                <span class="price on-sale" itemprop="price"
                                      content="{{ product.selected_or_first_available_variant.price | money_without_currency | remove: ',' }}">{{ product.selected_or_first_available_variant.price | money_without_trailing_zeros}}</span>
                                {% else %}
                                <span class="price" itemprop="price"
                                      content="{{ product.selected_or_first_available_variant.price | money_without_currency | remove: ',' }}">{{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}</span>
                                {% endif %}
                                {% if product.available %}
                                <link itemprop="availability"
                                      href="http://schema.org/InStock">
                                {% else %}
                                <link itemprop="availability"
                                      href="http://schema.org/OutOfStock">
                                {% endif %}
                            </div>

                            {% include 'affirm-product' %}
                            <style>
                                DIV.cta-module{
                                    margin: 40px 0 10px 0;
                                }
                                DIV.product-shop .prices{
                                    width: 49%;
                                    text-align: center;
                                    padding-top: 14px;
                                    border-right: 1px solid black;
                                }
                                DIV.prices SPAN.price{
                                    font-size: 32px;
                                    display: block;
                                }
                                DIV.affirmWrap{
                                    float: right;
                                    width: 49%;
                                    text-align: center;
                                    padding: 0 8px;
                                }
                                DIV.affirm{
                                    font-size: 12px;
                                    text-align: center;
                                }
                                DIV.affirm A#learn-more{
                                    margin-bottom: 0px;
                                    line-height: 18px;
                                    text-decoration: none;
                                }
                                DIV.affirm A#learn-more:HOVER{
                                    margin-bottom: 0px;
                                    line-height: 18px;
                                    text-decoration: none;
                                }
                                DIV.affirm A.affirm-modal-triggert{
                                    cursor: pointer;
                                    display: inline-block;
                                    text-decoration: none;
                                    background-color: #0FA0EA;
                                    color: white;
                                    padding: 5px 9px;
                                    border-radius: 5px;
                                    line-height: 14px;
                                    text-transform: capitalize;
                                }
                                DIV.affirm A.affirm-modal-trigger:HOVER{
                                    text-decoration: none;
                                    background-color: transparent;
                                    color: #0FA0EA;
                                    
                                }
                            </style>
                            <div class="affirmWrap">
                                <div class="affirm" style="">
                                    <a id="learn-more" class="affirm-as-low-as" data-learnmore-show="true" data-promo-id="promo_set_brentwood_zero_percent" data-amount="{{variant.price}}"></a>
                                </div>
                            </div>

                            <div id="qt" style="display: none">
                                QTY: <input type="text"
                                            id="quantity"
                                            name="quantity"
                                            value="1"
                                            >
                            </div>
                        </div>
                 
                    {% else %}
                    <button type="button" class="btn" id="product-add-to-cart" disabled>Unavailable</button>
                    {% endif %}

                    {% assign current_variant = product.selected_or_first_available_variant %}
                    </form>
                    <button type="button" class="cta2" style="width: 100%;" id="product-add-to-cart">Add to Cart</button>
                   
            </div>
        </div>
    </div>
</div>
</div><!-- End Row --> 
</div><!-- End Container for top part (img+buy) -->

<div class="oceanomaterials">
    <section>
        <div class="container">
            <h2 class="text-center margTB7050">Nine Luxe Layers of Premium Materials</h2>
            <div class="inside five">
                <div class="hidden-xs hidden-sm matTip small oceano tencel wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
                    <img src="https://s3-brentwoodhome.imgix.net/tencel_round.png?w=80&h=80" alt="Plant-Based Tencel™ Blended Fabric Cover" class="rdthumb">
                    <p><em class="matnumberSmall">1</em><strong>Plant-Based Tencel™ Blended Fabric Cover</strong></p>
                    <div class="arrow">
                        <div class="pointer"></div>
                    </div>
                </div>
                <div class="hidden-xs hidden-sm matTip small oceano wool wow fadeIn" data-wow-duration="1s" data-wow-delay="1.3s">
                    <img src="https://s3-brentwoodhome.imgix.net/products/cypress/wool2-round.png?w=80&h=80" alt="GOTS Organic Certified Wool" class="rdthumb">
                    <p><em class="matnumberSmall">2</em><strong>GOTS Organic Certified Wool</strong></p>
                    <div class="arrow">
                        <div class="pointer"></div>
                    </div>
                </div>
                <div class="hidden-xs hidden-sm matTip small oceano microcoils wow fadeIn" data-wow-duration="1s" data-wow-delay="1.8s">
                    <img src="https://s3-brentwoodhome.imgix.net/microcoils_round.png?w=80&h=80" alt="Responsive Micro-Support Coils" class="rdthumb">
                    <p><em class="matnumberSmall">4</em><strong>Responsive Micro-Support Coils</strong></p>
                    <div class="arrow">
                        <div class="pointer"></div>
                    </div>
                </div>
                <div class="hidden-xs hidden-sm matTip small cedarluxe wow springs" data-wow-duration="1s" data-wow-delay="2.3s">
                    <img src="https://s3-brentwoodhome.imgix.net/rd-spring-closeup.png?w=80&h=80" alt="5-Zone spring core" class="rdthumb">
                    <p><em class="matnumberSmall">3</em><strong>5-Zone Support Core</strong></p>
                    <div class="arrow">
                        <div class="pointer"></div>
                    </div>
                </div>
                <div class="hidden-xs hidden-sm matTip small oceano gel wow fadeIn" data-wow-duration="1s" data-wow-delay="2.5s">
                    <img src="https://s3-brentwoodhome.imgix.net/products/cypress/gelmf-round.png?w=80&h=80" alt="CertiPUR-US® certified Cooling Gel Memory Foam" class="rdthumb">
                    <p><em class="matnumberSmall">5</em><strong>CertiPUR-US® certified Cooling Gel Memory Foam</strong></p>
                    <div class="arrow">
                        <div class="pointer"></div>
                    </div>
                </div>
                <picture>
                    <source media="(max-width: 480px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_side_materials_mobile.jpg?w=480 1x,
                                                                    https://s3-brentwoodhome.imgix.net/products/oceano/oceano_side_materials_mobile.jpg?w=960&fit=max&q=40&dpr=2 2x,
                                                                    https://s3-brentwoodhome.imgix.net/products/oceano/oceano_side_materials_mobile.jpg?w=1440&fit=max&q=20&dpr3 3x">
                    <source media="(max-width: 991px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_side_materials_tablet.jpg?w=767 1x,
                                                                    https://s3-brentwoodhome.imgix.net/products/oceano/oceano_side_materials_tablet.jpg?w=767&fit=max&q=40&dpr=2 2x,
                                                                    https://s3-brentwoodhome.imgix.net/products/oceano/oceano_side_materials_tablet.jpg?w=767&fit=max&q=20&dpr3 3x">
                    <source media="(min-width: 992px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_side_materials_desktop2b.jpg?w=1170 1x,
                                                                    https://s3-brentwoodhome.imgix.net/products/oceano/oceano_side_materials_desktop2b.jpg?w=1170&fit=max&q=40&dpr=2 2x,
                                                                    https://s3-brentwoodhome.imgix.net/products/oceano/oceano_side_materials_desktop2b.jpg?w=1170&fit=max&q=20&dpr3 3x">
                    <img loading="lazy" src="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_side_materials_desktop2b.jpg?w=1170&q=10&blur=500" data-src="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_side_materials_desktop2b.jpg?w=1170" alt="Oceano Materials">
                </picture>         
            </div>
        </div>
        <style>
            .materialListMob H3{
                font-size: 16px !important;
                line-height: 20px !important;
                margin: 15px 0 !important;
            }
            .materialListMob P{
                font-size: 14px;
                line-height: 20px;
                text-align: center;
            }
        </style>
        <div class="container visible-md-block visible-lg-block section materialListMob">
           <br><h3 class="text-center" style="text-align: center">our natural layers</h3>
            <div id="materials-desk" class=" owl-carousel owl-theme">
                <div class="item text-center">
                    <p class="text-center matnumber">1</p>
                    <h3 class="text-center features">Plant-Based Tencel™ Blended Fabric Cover</h3>
                    <p>Sustainably-produced, airy and soft to the skin with unique moisture-absorbing abilities.</p>
                </div>
                <div class="item text-center">
                    <p class="text-center matnumber">2</p>
                    <h3 class="text-center features">GOTS Organic Certified Wool</h3>
                    <p>100% organic, keeps you cool in the summer and warm in the winter.
                    </p>
                </div>
                <div class="item text-center">
                    <p class="text-center matnumber">3</p>
                    <h3 class="text-center features">5 Zones, Up to 1,441 Support Coils</h3>
                    <p>Premium support unit strategically designed to support hips, back and shoulders.
                    </p>
                </div>
                <div class="item text-center">
                    <p class="text-center matnumber">4</p>
                    <h3 class="text-center features">Responsive Micro-Support</h3>
                    <p>Up to 1,722 comfort coils for ultra-responsive comfort for precise support.
                    </p>
                </div>
                <div class="item text-center">
                    <p class="text-center matnumber">5</p>
                    <h3 class="text-center features">Cooling Gel-Infused Swirl Memory Foam</h3>
                    <p>Contouring and cooling for pressure-point relief and deep rest.
                    </p>
                </div>
                <div class="item text-center">
                    <p class="text-center matnumber">6</p>
                    <h3 class="text-center features">Luxurious Natural Poly-Silk Fiber
                    </h3>
                    <p>A premium and unique fiber blend for lightness and enhanced breathability that only natural silk provides.
                    </p>
                </div>

                <div class="item text-center">
                    <p class="text-center matnumber">7</p>
                    <h3 class="text-center features">Serene Cool Air Luxe Foam™</h3>
                    <p>2-inches of deep comfort for pressure-point relief, that is notably airy and cool.
                    </p>
                </div>

                <div class="item text-center">
                    <p class="text-center matnumber">8</p>
                    <h3 class="text-center features">Premium Base Support Foam
                    </h3>
                    <p>1-inch of luxe CertiPUR-US® Certified High-Density support foam.</p>
                </div>
                <div class="item text-center">
                    <p class="text-center matnumber">9</p>
                    <h3 class="text-center features">Organic Cotton Canvas Base
                    </h3>
                    <p>100% GOTS organic certified cotton canvas base in a beautiful Herringbone pattern.
                    </p>
                </div>
            </div>
        </div>

       
        <div class="container section visible-xs-block visible-sm-block materialListMob">
            <div id="materials" class=" owl-carousel owl-theme">
                <div class="item text-center">
                    <p class="text-center matnumber">1</p>
                    <h3 class="text-center features">Plant-Based Tencel™ Blended Fabric Cover</h3>
                    <p>Sustainably-produced, airy and soft to the skin with unique moisture-absorbing abilities.</p>
                </div>
                <div class="item text-center">
                    <p class="text-center matnumber">2</p>
                    <h3 class="text-center features">GOTS Organic Certified Wool</h3>
                    <p>100% organic, keeps you cool in the summer and warm in the winter.
                    </p>
                </div>
                <div class="item text-center">
                    <p class="text-center matnumber">3</p>
                    <h3 class="text-center features">Luxurious Natural Poly-Silk Fiber
                    </h3>
                    <p>A premium and unique fiber blend for lightness and enhanced breathability that only natural silk provides.
                    </p>
                </div>
                <div class="item text-center">
                    <p class="text-center matnumber">4</p>
                    <h3 class="text-center features">Cooling Gel-Infused Swirl Memory Foam</h3>
                    <p>Contouring and cooling for pressure-point relief and deep rest.
                    </p>
                </div>
                <div class="item text-center">
                    <p class="text-center matnumber">5</p>
                    <h3 class="text-center features">Responsive Micro-Support</h3>
                    <p>Up to 1,722 comfort coils for ultra-responsive comfort for precise support.
                    </p>
                </div>
                <div class="item text-center">
                    <p class="text-center matnumber">6</p>
                    <h3 class="text-center features">Serene Cool Air Luxe Foam™</h3>
                    <p>2-inches of deep comfort for pressure-point relief, that is notably airy and cool.
                    </p>
                </div>
                <div class="item text-center">
                    <p class="text-center matnumber">7</p>
                    <h3 class="text-center features">5 Zones, Up to 1,441 Support Coils</h3>
                    <p>Premium support unit strategically designed to support hips, back and shoulders.
                    </p>
                </div>
                <div class="item text-center">
                    <p class="text-center matnumber">8</p>
                    <h3 class="text-center features">Premium Base Support Foam
                    </h3>
                    <p>1-inch of luxe CertiPUR-US® Certified High-Density support foam.</p>
                </div>
                <div class="item text-center">
                    <p class="text-center matnumber">9</p>
                    <h3 class="text-center features">Organic Cotton Canvas Base
                    </h3>
                    <p>100% GOTS organic certified cotton canvas base in a beautiful Herringbone pattern.
                    </p>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function() {

                $('#materials-desk').owlCarousel({
                    loop:false,
                    margin:10,
                    responsiveClass:true,
                    responsive:{
                        991:{
                            items:3,
                            loop: true,
                            stagePadding: 40,
                        },
                        1280:{
                            items:4,
                            stagePadding: 40,
                        }
                    },
                    nav : false,
                });

                $('#materials').owlCarousel({
                    loop:false,
                    margin:10,
                    responsiveClass:true,
                    responsive:{
                        0:{
                            items:1,
                            loop: true,
                            stagePadding: 40,
                        },
                        480:{
                            items:2,
                            loop: true,
                            stagePadding: 40,
                        },
                        991:{
                            items:3,
                            loop: true,
                            stagePadding: 40,
                        },
                        1280:{
                            items:4,
                            loop: true,
                            stagePadding: 40,
                        }
                    },
                    nav : false,
                });
            });
        </script>
        {%comment%}
        <div class="container margTB7050 text-center boxMat">
            <div class="hidden-xs row">
                <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                    <h3 style="text-align: center !important;">Non-Toxic Materials</h3>
                    <p>Our non-toxic materials include <strong>CertiPUR-US®</strong> certified cooling, gel-infused memory foam, silk fibers, <strong>GOTS organic certified cotton and wool</strong>, and sustainably-sourced plant-based Tencel fibers from eucalyptus trees. Better still, no chemical or synthetic fiber flame retardants are used. 
                    </p><br>
                </div>
            </div>
            <div class="hidden-xs row text-center icons">
                <div class="col-xs-6 col-sm-2 col-sm-offset-1">
                    <img loading="lazy" data-src="https://brentwood-home.imgix.net/iconv2-gelmemoryfoam.svg" alt="Gel Memory Foam">
                    <p>Gel<br> Memory Foam</p>
                </div>
                <div class="col-xs-6 col-sm-2">
                    <img loading="lazy" data-src="https://brentwood-home.imgix.net/iconv2-motionisolation.svg" alt="Motion Isolation">
                    <p>Motion<br>Isolation</p>
                </div>
                <div class="col-xs-6 col-sm-2">
                    <img loading="lazy" data-src="https://brentwood-home.imgix.net/iconv2-certipurus.svg" alt="CertiPUR-US&reg; Foam">
                    <p>CertiPUR-US&reg;<br>Foam</p>
                </div>
                <div class="col-xs-6 col-sm-2">
                    <img loading="lazy" data-src="https://brentwood-home.imgix.net/iconv2-pressurerelieving.svg" alt="Pressure Relieving">
                    <p>Pressure<br>Relieving</p>
                </div>
                <div class="col-xs-12 col-sm-2">
                    <img loading="lazy" data-src="https://brentwood-home.imgix.net/iconv2-ecofriendly.svg" alt="Eco-friendly">
                    <p>Eco-friendly</p>
                </div>
            </div><br>
            
        </div>
        {%endcomment%}
        <p class="text-center"><a href="#materialsspecs" class="sscroll cta2">see full materials specs</a></p>
    </section>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center wow fadeInRight">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/oceano/dualspringunit_mattress.jpg?rect=0,63,2248,2248&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/oceano/dualspringunit_mattress.jpg?w=555">
                <img loading="lazy" src="https://s3-brentwoodhome.imgix.net/products/oceano/dualspringunit_mattress.jpg?w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/oceano/dualspringunit_mattress.jpg?w=555" alt="Two Innerspring Units, 5 Zones, Up to 3,163 Coils!">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6 flexV wow fadeInLeft">
            <div>
                <h3>Two Innerspring Units, 5 Zones, Up to 3,163&nbsp;Coils!</h3>
                <h2>Maximum Coils, Essential&nbsp;Support</h2>
                <p>A good night’s rest depends on lasting support. We offer not one, but <strong>two premium innerspring units, with up to 3,163 individually-wrapped coils</strong>, to give you <strong>more support than any other hybrid mattress on the market.</strong> Our high-end units are strategically placed to offer precise support and respond to your body’s shape and subtle movements.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center wow fadeInLeft">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_woman_greenery.jpg?rect=0,360,4912,4912&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_woman_greenery.jpg?rect=0,360,4912,6797&w=555">
                <img loading="lazy" src="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_woman_greenery.jpg?rect=0,360,4912,6797&w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_woman_greenery.jpg?rect=0,360,4912,6797&w=555" alt="">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV wow fadeInRight">
            <div>
                <h3>Temperature-Regulating and Moisture-Wicking</h3>
                <h2>Sleep Cool, Wake&nbsp;Refreshed</h2>
                <p>Our Air Luxe cooling Gel Memory Foam uses open-cell technology to <strong>regulate temperature and wick moisture</strong> for a comfortable night’s sleep. Rest assured our foam is CertiPUR-US® certified for <strong>non-toxic materials.</strong></p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center wow fadeInRight">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_feel.jpg?rect=1980,0,3459,3459&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_feel.jpg?rect=1980,0,3459,4787&w=555">
                <img loading="lazy" src="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_feel.jpg?rect=1980,0,3459,4787&w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_feel.jpg?rect=1980,0,3459,4787&w=555" alt="Medium-Plush Hybrid">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6 flexV wow fadeInLeft">
            <div>
                <h3>Most Luxurious in its&nbsp;Class</h3>
                <h2>Medium-Plush Hybrid</h2>
                <p><strong>The combination of foam and coils in hybrid mattresses offers elevated support, increased airflow and lasting durability.</strong> For the Oceano, we took our pressure-relieving, breathable, gel-infused memory foam and combined it with our responsive layers of individually-wrapped microcoils that keep your spine in healthy alignment to create our most-luxurious and best-selling hybrid mattress.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center wow fadeInLeft">    
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/sunnycal-shoreline2.jpg?rect=450,0,2104,2104&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/sunnycal-shoreline2.jpg?rect=450,0,2104,2912&w=555">
                <img loading="lazy" src="https://s3-brentwoodhome.imgix.net/sunnycal-shoreline2.jpg?rect=450,0,2104,2912&w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/sunnycal-shoreline2.jpg?rect=450,0,2104,2912&w=555" alt="">
            </picture>            
        </div>
        <div class="col-xs-12 col-sm-6 flexV wow fadeInRight">
            <div>
                <h3>Unsurpassed Quality Since 1987</h3>
                <h2>Handmade in Sunny&nbsp;California</h2>
                <p><strong>Handcrafted in our own GOTS & GOLS organic certified factory just outside of Los Angeles.</strong> Most other mattresses are shipped from overseas, where environmental and quality standards are low. Not ours. We make our own mattresses (few brands do!) and our valued team members (many of whom have been with us for more than 20 years) are paid living wages and provided comprehensive benefits.</p>
                <p class="text-center"><img src="{{ 'gots-gols-logo-factory.png' | asset_url }}" alt="GOTS &amp; GOLS Certified Factory" style="max-width: 250px; width: 250px;margin-top: 30px;"></p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center wow fadeInLeft">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/BrentwoodHome-CedarMattress-topview.jpg?rect=781,0,1920,1920&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/BrentwoodHome-CedarMattress-topview.jpg?rect=781,0,1388,1920&w=555">
                <img loading="lazy" src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/BrentwoodHome-CedarMattress-topview.jpg?rect=781,0,1388,1920&w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/BrentwoodHome-CedarMattress-topview.jpg?rect=781,0,1388,1920&w=555" alt="">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6 flexV wow fadeInRight">
            <div>
                <h3>Sleep with Peace of&nbsp;Mind</h3>
                <h2>Non-Toxic Materials</h2>
                <p>Our non-toxic materials include <strong>CertiPUR-US®</strong> certified cooling, gel-infused memory foam, silk fibers, <strong>GOTS organic certified cotton and wool</strong>, and sustainably-sourced plant-based Tencel fibers from eucalyptus trees. Better still, no chemical or synthetic fiber flame retardants are used. 
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center wow fadeInRight">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_details_cover.jpg?rect=2853,0,2999,2999&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_details_cover.jpg?rect=2853,0,2999,4150&w=555">
                <img loading="lazy" src="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_details_cover.jpg?rect=2853,0,2999,4150&w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_details_cover.jpg?rect=2853,0,2999,4150&w=555" alt="">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV wow fadeInLeft">
            <div>
                <h3>Lab Tested for Low Emissions</h3>
                <h2>Greenguard Gold&nbsp;Certified</h2>
                <p>The Oceano mattress is <strong>GREENGUARD Gold Certified by UL Environment</strong> for low emissions. This certification means it has been scientifically tested in environmental chambers to <strong>meet some of the world’s most rigorous, third-party emissions standards for prolonged chemical exposure and pollutants</strong>, such as volatile organic compounds (VOCs), formaldehyde and phthalates. <a href="https://spot.ul.com/main-app/products/detail/5c75b6e755b0e822ac81cff5?page_type=Products%20Catalog" target="_blank" title="Greenguard Gold Certified">View Profile</a>.</p>
                <p class="text-center"><img src="{{ 'greenguard-logo-full.svg' | asset_url }}" alt="Greenguard Gold Certified" style="max-width: 100px; width: 100px;margin-top: 30px;" ></p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center col-sm-push-6 wow fadeInLeft">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_oneyear.jpg?rect=1605,953,3634,3634&w=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_oneyear.jpg?rect=1815,0,3460,4788&w=555&ch=Width,DPR&q=55">
                <img loading="lazy" src="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_oneyear.jpg?rect=1815,0,3460,4788&w=555&blur=500q=10" data-src="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_oneyear.jpg?rect=1815,0,3460,4788&w=555&ch=Width,DPR&q=55" alt="Start Your 1-Year Sleep Trial">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV col-sm-pull-6 wow fadeInRight">
            <div>
                <h2>Start Your 1-Year Sleep&nbsp;Trial</h2>
                <p>Experiencing is believing, especially when it comes to our top-rated {{ product.title }}. Sleep soundly knowing you can try our mattress for <strong>365 days, risk-free, in the comfort of your home</strong>. Learn more about our amazing <a href="https://www.brentwoodhome.com/pages/1-year-risk-free-mattress-trial">1-Year Sleep Trial Policy</a> for mattresses sold on our website.
                </p>
                <p class="text-center" style="margin-top: 30px;" ><img src="https://brentwood-home-36.imgix.net/iconv2-1yearguarantee.svg" alt="1-year trial"><br>
                1-Year Trial</p>
            </div>
        </div>
    </div>
</div>
<div id="materialsspecs"></div>
<div class="container section margTB120">
    <h2 class="text-center">{{ product.title }} Specifications</h2>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Materials
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div id="materialsspecs"></div>
                    {{ metaf.details_materials }}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Sizes
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    {{ metaf.details_sizes }}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Shipping & Returns
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <div class="row">

                        <div class="col-xs-12 col-sm-4">
                            <p><strong>Free Standard Shipping:</strong><br>
                                The handcrafting process usually takes 3–5 days to complete.{% include 'shippingtime' %} Delivery times vary depending on your distance from our Los Angeles factory. Our {{product.title}} ships quickly via FedEx. It will ship in two boxes (your mattress in one box and the topper in the other box), which allows us to ship via FedEx and get your new bed to you as fast as we can!

                                <br>
                                In general, you can expect to receive your mattress within 7-10 business days from the date of order via FedEx and 2-3 weeks if you choose our White Glove service. Once your purchase ships, we’ll send you an email with tracking information so you can follow your shipment and plan for delivery.</p>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p><strong>Optional White Glove Delivery:</strong><br>
                                For an additional $199 per mattress, you can select our Premium White Glove Service through our delivery partner, AGS. This includes in-home delivery.
                                <br>

                                If you’d like to add removal of your old mattress to your Premium White Glove delivery, this is an additional $275 per mattress.<br>

                                For most White Glove deliveries, you can expect to receive your mattress within 2-3 weeks from the date of order.
                                <br>

                                For Local White Glove deliveries in/around the Los Angeles and San Diego, California areas, you can expect to receive your mattress within 1-3 weeks from the date of order.

                                <br>

                                Once your order is ready to be delivered, AGS will contact you to schedule a day and time that is convenient for you.

                            </p>

                            <p>Visit our <a href="https://intercom.help/brentwood-home-b4d83ef0a14f/shipping-and-delivery">Help center</a> for more information</p>

                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p><strong>Returns:</strong><br>
                                We offer a 1-year sleep guarantee with our mattresses. Sleep on your new mattress for at least 30 nights to allow your body time to adjust to the comfort and support of your new Brentwood Home mattress. If you decide the mattress isn’t the right one for you, then we will schedule a pick up and provide a full refund.
                            </p>
                        </div>

                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p class="text-center"><a href="#buysection" class="sscroll cta2">buy the mattress</a></p>
<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center wow fadeInLeft">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/forest.jpg?rect=368,0,998,998&w=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/forest.jpg?rect=368,0,701,998&w=555&q=60">
                <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/forest.jpg?rect=368,0,701,998&w=555&q=60" alt="Supporting the National Forest Foundation">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV wow fadeInRight">
            <div>
                <h2>Supporting the National Forest Foundation</h2>
                <p>Our forests are in peril and need our help. So for every mattress sold on our website, we also make a donation to the <a href="https://www.nationalforests.org/" title="National Forest Foundation" target="_blank">National Forest Foundation</a> to plant three trees. It’s part of our ambitious effort to help stem the impact of climate change and help replant America’s forests.</p>
                <p class="text-center"><img src="{{ 'logo-nationalforest.jpg' | asset_url }}" alt="National Forest" style="max-width: 140px; width: 140px;margin-top: 30px;" ></p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center wow fadeInRight">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/BrentwoodHome-reliefbed-hero.jpg?rect=650,0,3056,2734&w=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/BrentwoodHome-reliefbed-hero.jpg?rect=932,266,1500,2731&w=555">
                <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/BrentwoodHome-reliefbed-hero.jpg?rect=932,266,1500,2731&w=555" alt="Relief Bed">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6 flexV wow fadeInLeft">
            <div>
                <h2>Buy One, Give One, Change a Life!</h2>
                <p>We proudly support the urgent mission and vision of ReliefBed, a 501(c)(3) nonprofit. <strong>For every {{product.title}} sold on our website, we will build one <a href="https://reliefbed.com" title="ReliefBed" target="_blank">ReliefBed</a> for charity.</strong> ReliefBeds are an innovative and strategically-built mattresses designed to meet the practical needs of the homeless, impoverished, shelter residents, and victims of natural disaster. It is tangible way we can help the members of our community in their time of need. <a href="/pages/relief-bed" title="Relief Bed">Learn more about our partnership</a>.</p>
                <!--<p class="text-center"><img src="{{ 'logo-reliefbed.png' | asset_url }}" alt="" style="max-width: 140px; width: 140px;margin-top: 30px;" ></p>-->
                <p class="text-center"><img src="https://s3-brentwoodhome.imgix.net/reliefbed-logo-vertical.jpg" style="max-width: 140px; width: 140px;margin-top: 30px;" alt="Relief Bed"></p>
            </div>
        </div>
    </div>
</div>

<div class="container section warranties">
    <h2 class="text-center">Try the {{ product.title }} Risk-Free</h2>
    <div id="warranties" class=" owl-carousel owl-theme">
        <div class="item text-center">
            <img src="https://brentwood-home-36.imgix.net/iconv2-1yearguarantee.svg" alt="1-year trial">
            <p>1-Year<br>Trial</p>
        </div>
        <div class="item text-center">
            <img src="https://brentwood-home.imgix.net/iconv2-freeshipping.svg" alt="Free shipping and free return">
            <p>Free Shipping<br>Free Return</p>
        </div>
        <div class="item text-center">
            <img src="https://brentwood-home.imgix.net/iconv2-madeincalifornia.svg" alt="Made in California">
            <p>Made in<br>California</p>
        </div>
        <div class="item text-center">
            <img src="https://brentwood-home.imgix.net/iconv2-25yearwarranty.svg" alt="25-year warranty">
            <p>25-year<br>Warranty</p>
        </div>
        <div class="item text-center">
            <img src="https://brentwood-home.imgix.net/iconv2-whiteglovedelivery.svg" alt="In home delivery available">
            <p>In Home<br>Delivery Available</p>
        </div>
        <div class="item text-center">
            <img src="https://brentwood-home.imgix.net/iconv2-0percent.svg" alt="0% financing available">
            <p>0% Financing<br>Available</p>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {

        $('#warranties').owlCarousel({
            loop:false,
            margin:10,
            responsiveClass:true,
            responsive:{
                0:{
                    items:2,
                    loop: true,
                    stagePadding: 40,
                },
                480:{
                    items:4,
                    loop: true,
                    stagePadding: 40,
                },
                768:{
                    items:6,
                    //nav:true
                    stagePadding: 0,
                    loop: false,
                    mouseDrag: false,
                    touchDrag: false
                }
            },
            nav : false,

        });
    });
</script>



<div id="yotpoReviews" class="container margTB120">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12 text-center">
            <h2 class="text-center">Reviews</h2>
        </div>
        <div class="col-xs-12">
            <div class="yotpo yotpo-main-widget"
                 data-product-id="{{ product.id }}"
                 data-name="{{ product.title | escape }}"
                 data-url="{{ shop.url }}{{ product.url }}"
                 data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
                 data-description="{{ product.description | escape }}">
            </div>
        </div>
    </div>
</div>

<p class="text-center"><a href="#buysection" class="sscroll cta2">buy the mattress</a></p>

<span id="extole-zone-product_page"></span>
<script type="text/javascript">
    (function (c, b, f, k, a) {
        c[b] = c[b] || {};
        for (c[b].q = c[b].q || []; a < k.length;) f(k[a++], c[b])
    })(window, "extole", function (c, b) {
        b[c] = b[c] || function () {
            b.q.push([c, arguments])
        }
    }, ["createZone"], 0);
    extole.createZone({
        name: "product_page",
        element_id: "extole-zone-product_page",
        parameters: {}
    });
</script>
<script>
    $(document).ready(function(){
        $('A.sscroll').bind('click', function(event) {
            var $anchor = $(this);
            $('html, body').stop().animate({
                scrollTop: $($anchor.attr('href')).offset().top - 150
            }, 1500, 'easeInOutExpo');
            event.preventDefault();
        });
    });
</script>

    {% include 'productbundles' %}

</div>
